<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
    <div class="container-row-wrapper">
        <app-menu class="menu"></app-menu>
        <div class="col section content">
            <div class="tools">
                <div class="button-tools">
                <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
                    <mat-icon>compare_arrows</mat-icon>
                </button>
                <mat-form-field class="select-create setting-field" appearance="outline">
                    <mat-label>Выбрать вид</mat-label>
                    <mat-select>
                        <mat-option (click)="changeCurrentView(0)">Структурный вид
                        </mat-option>
                        <mat-option (click)="changeCurrentView(1)">Табличный вид
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="getCurrentViewState === viewStates.WBS" class="select-create setting-field"
                                appearance="outline"
                >
                    <mat-label>Раскрыть до уровня</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let levelName of this.levelNames, let i = index"
                                (click)="toggleToLevel(i-1)"
                        >
                        {{levelName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field  *ngIf="true"
                class="select-create setting-field" id="find-field" appearance="outline">
                    <input matInput placeholder="Введите название или код сдр" oninput=""
                        [(ngModel)]="nameFilter"
                    >
                    <button title="Сбросить" mat-icon-button matSuffix
                            (click)="resetFound()">
                    <mat-icon matSuffix >delete_outline</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="col tools-wrapper">
                <span class="tools-title">Проект ЗИМОНО</span>
                <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
            </div>
        </div>
        <div class="col" style="padding: 10px;overflow-x: hidden;">
            <div class="row">
                <div class="col">
                    <mat-card class="example-card widget change-pass">
                        <mat-card-header *ngIf="getCurrentLoadingState">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-card-header>
                        <mat-card-content *ngIf="!getCurrentLoadingState">
                            <div class="row">
                                <mat-tab-group animationDuration="0ms">
                                    <mat-tab label="Проект ЗИМОНО">
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </mat-card-content>
                        <mat-card-footer *ngIf="!getCurrentLoadingState">
                            <div class="border-card"></div>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>