.content {
    overflow-y: scroll;
    height: 94vh;
  }
  .wbs {
    position: fixed;
    overflow: auto;
    padding: 25px;
    top: 0px;
    right: 0px;
    width: 70vw;
    height: 100vh;
    background: rgb(255 255 255);
    box-shadow: -8px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
    display: none;
    z-index: 2;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  ::ng-deep.mat-panel-title:hover {
    color: red; /* Измените цвет текста на желаемый */
  }
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #eb8b2d;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
  }

  ::ng-deep .mat-progress-bar {
    border-radius: 2px;
  }
::ng-deep .gTaskInfo {
  background-color: #e8994d;
  width: 400px;
  border: #eb8b2d 1px solid;
  border-radius: 10px;
  padding: 4px 6px 4px 6px;
  float: left;
}
.mat-form-field-wrapper {
  padding-bottom: 0!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0!important;
}
::ng-deep .gTaskLabel {
  color: #000000;
}
::ng-deep .gTaskText {
  padding-left: 10px;
  color: #000000;
}
::ng-deep .gTtTitle {
  color: #000000;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0px;
  align-items: flex-start;
}
::ng-deep .select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep .select-create .mat-form-field-label-wrapper { top: -1.3em; }

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #eb8b2d;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #eb8b2d;
}