<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <div class="button-tools">
            <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
              <mat-icon>compare_arrows</mat-icon>
            </button>
            <button mat-stroked-button class="chevron" type="button"
              style="margin-bottom: 15px;  margin-right: 5px;" (click)="show.toggleShowBlockTrue(0)">
              <span class="d-flex align-items-center">Фильтр
                <mat-icon>library_add</mat-icon>
              </span>
            </button>
            <mat-form-field class="select-create setting-field" style="margin: 0!important; padding: 0!important;" appearance="outline">
              <mat-label>Раскрыть до уровня</mat-label>
              <mat-select>
                <mat-option *ngFor="let levelName of this.scheduleLevels, let i = index" (click)="this.toggleToLevel(i)">
                  {{levelName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-radio-group aria-label="Percent selection" class="radio-group" style="margin-left: 5px;">
              <mat-radio-button value="1" (change)="this.setSelectedData(this.financingPlanData, this.financingFactData)" 
              [checked]="true">
                Процент финансирования
              </mat-radio-button>
              <mat-radio-button value="2" (change)="this.setSelectedData(this.utilizationPlanData, this.utilizationFactData)">
                Процент освоения
              </mat-radio-button>
            </mat-radio-group>
            <mat-radio-group aria-label="Budget selection" class="radio-group"  style="margin-left: 5px;">
              <mat-radio-button value="1" (change)="this.changeBudget(this.currentBudgets)" 
                [checked]="true">
                Текущий бюджет
              </mat-radio-button>
              <mat-radio-button value="2" (change)="this.changeBudget(this.baseBudgets)">
                Базовый бюджет
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">График проекта</span>
          <span class="tools-inner">Информационный раздел главной страницы</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <h2>График проекта</h2>
                <ng-gantt [options]="editorOptions" [data]="dataSourceArray" #editor></ng-gantt>
              </mat-card-content>
              <mat-card-actions>
              </mat-card-actions>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="create" [ngClass]="{'show': show.showBlock[0]}">
      <div class="col text-end">
        <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2>Фильтры</h2>
  
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <mat-form-field class="select-create setting-field" appearance="outline">
              <mat-label>Фильтр проектов</mat-label>
              <mat-select [formControl]="selectedProjects" multiple>
                <mat-option *ngFor="let project of this.projectsSource" [value]="project.code_wbs" (click)="this.collectDirectionsBySelectedProjects(this.selectedProjects.value)">
                  {{project.code_wbs + " " + project.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="select-create setting-field" appearance="outline">
              <mat-label>Фильтр направлений</mat-label>
              <mat-select [formControl]="selectedDirections" multiple>
                <mat-option *ngFor="let direction of this.directionsSource" [value]="direction.code_wbs">
                  {{direction.code_wbs + " " + direction.name}}
                </mat-option>
              </mat-select>
              <mat-hint *ngIf="this.selectedProjects.value?.length === 0">Проекты не выбраны, список пуст</mat-hint>
            </mat-form-field>
          </div> 
          <div class="mb-3 col-6">
            <h3>Проекты:</h3>
            <mat-list>
              <mat-list-item *ngFor="let project of this.selectedProjects.value">
                {{project}}
              </mat-list-item>
            </mat-list>
          </div>
          <div class="mb-3 col-6">
            <h3>Направления:</h3>
            <mat-list>
              <mat-list-item *ngFor="let direction of this.selectedDirections.value">
                {{direction}}
              </mat-list-item>
            </mat-list>
          </div>
          <div class="col-12">
            <button mat-stroked-button class="mat-btn-recolor" (click)="this.setWbsCodeFilters()">Применить</button>
          </div> 
          <div class="col-12 mt-1">
            <button mat-stroked-button class="mat-btn-recolor" (click)="this.resetWbsCodeFilters()">Сбросить фильтры</button>
          </div>
        </div>
    </div>
  </div>
</div>
