<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <mat-form-field class="select-create" style="margin: -5px 0px -15px 0px" appearance="outline">
            <mat-label>Выберите статус:</mat-label>
            <mat-select [(ngModel)]="selectStatus" (selectionChange)="onStatusSelected()">
              <mat-option [value]="pkAll">Не выбрано</mat-option>
              <mat-option [value]="success">Готово</mat-option>
              <mat-option [value]="inProcess">В процессе</mat-option>
              <mat-option [value]="inDevelopment">В разработке</mat-option>
              <!-- <mat-option *ngFor="let option of getProjectBudget" [value]="option.id">{{option.name}}</mat-option> -->
            </mat-select>
          </mat-form-field>
          
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Укрупнение сметных позиций</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="budget">
              <mat-card-content>

                <table mat-table [dataSource]="dataSources">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let node;">
                      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.code_wbs}} . {{node.name}} 
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>№</span>
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="estimate_status">
                    <th mat-header-cell *matHeaderCellDef> Оценка статуса </th>
                    <td mat-cell *matCellDef="let node"> {{node.estimate_status}} </td>
                  </ng-container>

                  <ng-container matColumnDef="estimate_cost_2001">
                    <th mat-header-cell *matHeaderCellDef> Стоимость на 2001 год </th>
                    <td mat-cell *matCellDef="let node"> {{node.estimate_cost_2001}} </td>
                  </ng-container>

                  <ng-container matColumnDef="estimate_cost_current_prices">
                    <th mat-header-cell *matHeaderCellDef> Текущая стоимость </th>
                    <td mat-cell *matCellDef="let node"> {{node.estimate_cost_current_prices}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu #actions_menu="matMenu">
                          <!-- <button mat-menu-item *ngIf="!element.editing" (click)="showDetails(element.id)">
                            <mat-icon>sort</mat-icon>
                            <span>Подробнее</span>
                          </button> -->
                        <!-- <button mat-menu-item (click)="editRegisterBudget(element); show.toggleShowBlock(1)">
                          <mat-icon>edit</mat-icon>
                          Редактировать
                        </button> -->
                        <!-- <button mat-menu-item (click)="deleteRegisterBudget(element.id)">
                          <mat-icon>clear</mat-icon>
                          Удалить
                        </button> -->
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>