<div class="menu" [ngClass]="themeService.getMenu()"  [ngClass]="{ 'menu-min': themeService.isCollapsed,'full-menu-min': themeService.isFull }">
  <div class="main-menu" #body>
    <div class="aside-wrapper" #inp [ngClass]="themeService.getMenu()" [ngClass]="{ 'menu-min': themeService.isCollapsed,'full-menu-min': themeService.isFull }">
      <div class="title-box">
        <span class="nav-head">Проект</span>
      </div>

      <mat-accordion>
      <mat-expansion-panel [expanded]="themeService.accordionStates['accordion11']"
          (opened)="themeService.onAccordionOpened('accordion11')"
          (closed)="themeService.onAccordionClosed('accordion11')" hideToggle
          [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-register"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-portfolio"></div>
              <mat-icon class="icon-no-active">cases</mat-icon>
              <span class="text">Портфель проектов</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">cases</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Портфель проектов</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/project-register">Реестр проектов</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/project-portfolio">Отчет по портфелю</a>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/project-register"><p>Реестр проектов</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/project-portfolio"><p>Отчет по портфелю</p></a>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion1']"
          (opened)="themeService.onAccordionOpened('accordion1')"
          (closed)="themeService.onAccordionClosed('accordion1')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-options"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/schedule"></div>
                <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-options">timeline</mat-icon>
              <span class="text">Проект</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">timeline</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Проект</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/params-project">Параметры проекта</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/schedule">График проекта</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/wbs">СДР</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/team-handbook">Команда проекта</a>
                  <!-- <a class="text-link">План контрактации и поставки</a>
                  <a class="text-link">Операционные затраты</a> -->
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-options"></div>
            <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/schedule"></div>
            <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/wbs"><p>СДР</p></a>
            <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/params-project"><p>Параметры проекта</p></a>
            <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/schedule"><p>График проекта</p></a>
            <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/team-handbook"><p>Команда проекта</p></a>
            <!-- <a class="text-link"><p>План контрактации и поставки</p></a>
            <a class="text-link"><p>Операционные затраты</p></a> -->
        </mat-expansion-panel>

        <div class="title-box">
          <span class="nav-head">Бюджет проекта</span>
        </div>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion9']"
          (opened)="themeService.onAccordionOpened('accordion9')"
          (closed)="themeService.onAccordionClosed('accordion9')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-budget"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/nma"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/registry-obj"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/wbs"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/estimated"></div>
              <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj">attach_money</mat-icon>
              <span class="text">Бюджет</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj">attach_money</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Бюджет</h2>
                  <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/svz">СВЗ</a> -->
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/project-budget">Реестр бюджета</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/card-obj">Реестр объектов</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/total-project-costs">Общепроектные затраты</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/reserve-management">Управление резервами</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/nma">Нематериальные активы</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/operating-costs">Операционные затраты</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/risk">Бюджет рисков</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/estimated">Оценочный бюджет</a>
                  <!-- <a class="text-link">Сравнение бюджетов</a> -->
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/svz-documents">Формы</a>
                  <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/registry">Текущий бюджет</a> -->
                  <!-- <a class="text-link">Управление изменениями</a>
                  <a class="text-link">Управление лимитами</a> -->
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/project-budget"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/nma"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/card-obj"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/registry-obj"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/wbs"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/estimated"></div>
          <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/svz"><p>СВЗ</p></a> -->
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/project-budget"><p>Реестр бюджета</p></a>

          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/card-obj"><p>Реестр объектов</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/svz-documents"><p>Формы</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/total-project-costs"><p>Общепроектные затраты</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/reserve-management"><p>Управление резервами</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/nma"><p>Нематериальные активы</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/operating-costs"><p>Операционные затраты</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/risk"><p>Бюджет рисков</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/estimated"><p>Оценочный бюджет</p></a>
          <!-- <a class="text-link"><p>Сравнение бюджетов</p></a> -->
          <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/registry"><p>Текущий бюджет</p></a> -->
          <!-- <a class="text-link"><p>Управление изменениями</p></a>
          <a class="text-link"><p>Управление лимитами</p></a> -->

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion10']"
          (opened)="themeService.onAccordionOpened('accordion10')"
          (closed)="themeService.onAccordionClosed('accordion10')" hideToggle
          [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon-no-active">account_balance_wallet</mat-icon>
              <span class="text">Финансирование</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn"><mat-icon class="icon-no-active">account_balance_wallet</mat-icon></button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Финансирование</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/financing-plan">Финансирование план</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/financing-fact">Финансирование факт</a>
                  <a>Реестр платежей</a>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/financing-plan"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/financing-fact"></div>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/financing-plan"><p>Финансирование план</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/financing-fact"><p>Финансирование факт</p></a>
          <p class="text-link">Реестр платежей</p>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion2']"
          (opened)="themeService.onAccordionOpened('accordion2')"
          (closed)="themeService.onAccordionClosed('accordion2')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon-no-active">insert_drive_file</mat-icon>
              <span class="text">Освоение</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">insert_drive_file</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Освоение</h2>

                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/utilization-plan">Освоение план</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/utilization-fact">Освоение факт</a>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/utilization-fact"></div>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/utilization-plan"><p>Освоение план</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/utilization-fact"><p>Освоение факт</p></a>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion4']"
          (opened)="themeService.onAccordionOpened('accordion4')"
          (closed)="themeService.onAccordionClosed('accordion4')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon-no-active">report</mat-icon>
              <span class="text">Отчетность</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">report</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Отчетность</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/mastering">Освоение</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/mastering-cause">Освоение: причины отклонений</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/reporting-financing">Финансирование</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/reporting-financing-cause">Финансирование: причины отклонений</a>
                  <a class="text-link">Отчет по проекту</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/portfolio-report">Отчет по портфелю</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/factor-analysis">Факторный анализ</a>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/mastering"><p>Освоение</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/mastering-cause"><p>Освоение: причины отклонений</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/reporting-financing"><p>Финансирование</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/reporting-financing-cause"><p>Финансирование: причины отклонений</p></a>
          <a class="text-link" ><p>Отчет по проекту</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/portfolio-report"><p>Отчет по портфелю</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/factor-analysis"><p>Факторный анализ</p></a>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion6']"
          (opened)="themeService.onAccordionOpened('accordion6')"
          (closed)="themeService.onAccordionClosed('accordion6')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon-no-active">vertical_split</mat-icon>
              <span class="text">Сметы</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">vertical_split</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Сметы</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/new-estimated">Реестр смет</a>
                  <a>Пакетная загрузка</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/estimated-positions">Укрупнение сметных позиций</a>
                  <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/new-estimated">Новый модуль смет</a> -->

                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/new-estimated"><p>Реестр смет</p></a>
          <p class="text-link">Пакетная загрузка</p>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/estimated-positions"><p class="text-link">Укрупнение сметных позиций</p></a>
          <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/new-estimated"><p class="text-link">Новый модуль смет</p></a> -->

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion5']"
          (opened)="themeService.onAccordionOpened('accordion5')"
          (closed)="themeService.onAccordionClosed('accordion5')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon-no-active">receipt_long</mat-icon>
              <span class="text">Контрактация</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">receipt_long</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Контрактация</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/contract-packages">Контрактные пакеты</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/separation-sheet">Разделительная ведомость</a>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/contract-packages"><p>Контрактные пакеты</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/separation-sheet"><p>Разделительная ведомость</p></a>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion8']"
          (opened)="themeService.onAccordionOpened('accordion8')"
          (closed)="themeService.onAccordionClosed('accordion8')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts"></div>
              <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts">description</mat-icon>
              <span class="text">Управление договорами</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active" [routerLinkActive]="['icon-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts">description</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Управление договорами</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/register-contracts">Реестр договоров</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/sdr-contracts">СДР по договорам</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/balance-under-contracts">Остаток по договорам</a>
                  <!-- <a>Разделительные ведомости</a>
                  <a>Создание контрактного пакета</a> -->
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/register-contracts"></div>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/register-contracts"><p>Реестр договоров</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/sdr-contracts"><p>СДР по договорам</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/balance-under-contracts"><p>Остаток по договорам</p></a>

          <!-- <p class="text-link">Разделительные ведомости</p>
          <p class="text-link">Создание контрактного пакета</p> -->
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion3']"
          (opened)="themeService.onAccordionOpened('accordion3')"
          (closed)="themeService.onAccordionClosed('accordion3')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="icon-no-active">clear_all</mat-icon>
              <span class="text">ГПКС / ГПФКС</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">clear_all</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">ГПКС / ГПФКС</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gpcs-documents">Реестр ГПКС</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gpcs">ГПКС</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gpfcs">ГПФКС</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gkr">План ГКР</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/ppo">План поставки оборудования</a>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gpcs-documents"><p>Реестр ГПКС</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gpcs"><p>ГПКС</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gpfcs"><p>ГПФКС</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/gkr"><p>План ГКР</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/ppo"><p>План поставки оборудования</p></a>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="themeService.accordionStates['accordion7']"
          (opened)="themeService.onAccordionOpened('accordion7')"
          (closed)="themeService.onAccordionClosed('accordion7')" hideToggle [disabled]="themeService.isButtonDisabled">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/macro"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/analogy"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/difficulty-factor"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/team-handbook"></div>
              <div [routerLinkActive]="['active-sl']" [routerLinkActiveOptions]="{exact:true}" routerLink="/general-project-costs"></div>
              <mat-icon class="icon-no-active">book</mat-icon>
              <span class="text">Справочники</span>
              <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                <button class="dropbtn">
                  <mat-icon class="icon-no-active">book</mat-icon>
                </button>
                <div class="dropdown-content">
                  <h2 class="title-drop">Справочники</h2>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/analogy">Справочник объектов аналогов</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/difficulty-factor">Справочник коэффициентов сложности</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/source-value">Справочник источников стоимости</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/macro">Справочник макропоказателей</a>
                  <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/general-project-costs">Справочник общепроектных затрат</a> -->
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/category">Справочник категорий</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/currency">Справочник валюты</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/regions">Справочник регионов</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/intangible-assets">Справочник нематериальных активов</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/typical-assets">Справочник общепроектных затрат</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/role-reference">Справочник ролей</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/directory-of-unit-prices">Справочник единичных расценок</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/units">Справочник единиц измерения</a>
                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/zimono">ЗИМОНО</a>

                  <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/directory-resources">Справочник ресурсов</a>

                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/macro"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/analogy"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/difficulty-factor"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/team-handbook"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/intangible-assets"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/typical-assets"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/general-project-costs"></div>
          <div [routerLinkActive]="['sub-active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/directory-unit-prices"></div>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/analogy"><p>Справочник объектов аналогов</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/difficulty-factor"><p>Справочник коэффициентов сложности</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/source-value"><p>Справочник источников стоимости</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/macro"><p>Справочник макропоказателей</p></a>
          <!-- <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/general-project-costs"><p>Справочник общепроектных затрат</p></a> -->
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/category"><p>Справочник категорий</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/currency"><p>Справочник валюты</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/regions"><p>Справочник регионов</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/intangible-assets"><p>Справочник нематериальных активов</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/typical-assets"><p>Справочник общепроектных затрат</p></a>
          <p class="text-link">Справочник укрупнения сметных позиций</p>
          <p class="text-link">Справочник типовых пакетов работ</p>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/role-reference"><p>Справочник ролей</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/directory-unit-prices"><p>Справочник единичных расценок</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/units"><p>Справочник единиц измерения</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/zimono"><p>ЗИМОНО</p></a>
          <a class="text-link" [routerLinkActive]="['link-active']" routerLink="/directory-resources"><p>Справочник ресурсов</p></a>

        </mat-expansion-panel>

        <!-- <mat-expansion-panel [expanded]="themeService.accordionStates['accordion5']" (opened)="themeService.onAccordionOpened('accordion5')" (closed)="themeService.onAccordionClosed('accordion5')" hideToggle [disabled]="themeService.isButtonDisabled">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icon-no-active">call_merge</mat-icon>
                  <span class="text">Управление изменениями</span>
                <div class="dropdown" #drop [ngClass]="{ 'drop-up': themeService.isDropUp }">
                  <button class="dropbtn"><mat-icon class="icon-no-active">call_merge</mat-icon></button>
                  <div class="dropdown-content">
                    <h2 class="title-drop">Управление изменениями</h2>
                    <a>Управление изменениями</a>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="text-link">Управление изменениями</p>
          </mat-expansion-panel> -->

      </mat-accordion>

      <div class="col set-wrapper-max" [ngClass]="{ 'set-wrapper-min': themeService.isButton }">
        <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron arrow bnt-help--tools" #btn_1 (click)="theme.setWidthMin()">
          <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
          <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
        </button>
        <button matTooltip="Скрыть боковое меню" class="chevron arrow bnt-help--tools" (click)="theme.toggleCollapseFull()">
          <mat-icon>compare_arrows</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
