/* @media screen and (max-height: 840px){
  .dropdown-content {
    top: 284px;
  }
} */
.set-wrapper-max {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 25px;
}
.set-wrapper-min {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 25px;
  padding-right: 15px;
  flex-direction: column;
}
.arrow {
  border: none;
  margin-bottom: 5px;
}
.nav-head {
  /* padding: 12px 15px; */
  color: #919DA8;
  font-size: 13px;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
}
.main-menu {
  padding: 0px;
  max-width: 220px;
}
.main-menu {
  padding: 0px;
  max-width: 220px;
  transition: all .2s ease-in-out;
}
.custom-menu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.custom-menu.open {
  max-height: 500px; /* Здесь укажите желаемую максимальную высоту меню */
}
.active-sl {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 6cqh;
  background: #eb8b2d;
  width: 5px;
}
.title-drop {
  color: #eb8b2d;
  text-align: center;
  padding: 10px;
  margin: 0px;
}
.link-active {
  color: #eb8b2d !important;
}
.sub-active {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100cqh;
  background: #eb8b2d;
  width: 5px;
}
.icon-active {
  color: #eb8b2d;
  margin-right: 19px;
  font-size: 24px;
}
.section {
  padding: 0px;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.title-box {
  height: 50px;
  display: flex;
  padding: 5px 14px;
  align-items: center;
}
.dropdown {
display: none;
}
.drop-dwn {display: inline-block;}
.drop-up {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 48px;
  display: inline-block;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-radius: 0px;
  box-shadow: none
}
::ng-deep .mat-expansion-panel:hover {
  background-color:  var(--theme-panel-bg);
}
.full-menu-min {
  width: 0px !important;
  display: block !important;
}
.full-menu-max {
  width: 220px;
}
.menu-min {
  width: 80px;
  /* display: block; */
}
.menu-max {
  width: 220px;
}
.drop-display {
  display: block;
}
.menu {
  transition: width 0.3s ease; /* Анимация перехода ширины */
}

.dropdown:hover
.dropdown-content {
  display: block;
}
.dropdown-content a {
  color: var(--theme-menu-a-bg);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--theme-menu-content-bg);
}
.dropdown-content {
  height: 100vh;
  opacity: 0; /* измените display: none на opacity: 0 */
  top: 115px;
  position: fixed;
  background-color: var(--theme-menu-dropdown-bg);
  min-width: 200px;
  max-width: 300px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 2;
  margin-left: 73px;
  margin-top: -58px;
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: opacity 0.005s ease; /* добавьте это для анимации прозрачности */
  pointer-events: none; /* чтобы скрытый элемент не блокировал другие элементы */
}

.dropdown:hover .dropdown-content {
  opacity: 1; /* измените display: block на opacity: 1 */
  pointer-events: auto; /* позволит взаимодействовать с элементом при наведении */
}
