<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addEditUnitPrices" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addEditUnitPrices" (click)="add()">

            <span class="d-flex align-items-center">Добавить еденичную расценку
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addEditCategoryUnitPrices" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addEditCategoryUnitPrices" (click)="add()">
            <span class="d-flex align-items-center">Добавить категорию
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addEditResourceUnitPrices" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addEditResourceUnitPrices" (click)="add()">
            <span class="d-flex align-items-center">Добавить ресурс
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Справочник единичных расценок</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-tab-group>
                  <mat-tab class="mat-elevation-z8" label="Единичные расценки. Общий вывод">
                    <table *ngIf="FullUnitPricesTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="FullUnitPricesTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>

                      <!-- Код категории единичной расценки -->
                      <ng-container matColumnDef="unit_rate_category_cypher">
                        <th mat-header-cell *matHeaderCellDef>Код категории единичной расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_category_cypher}} </td>
                      </ng-container>

                      <!-- Категория единичной расценки -->
                      <ng-container matColumnDef="unit_rate_category_title">
                        <th mat-header-cell *matHeaderCellDef>Категория единичной расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_category_title}} </td>
                      </ng-container>

                      <!-- Шифр единичной расценки -->
                      <ng-container matColumnDef="unit_rate_cypher">
                        <th mat-header-cell *matHeaderCellDef>Шифр единичной расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_cypher}} </td>
                      </ng-container>

                      <!-- Наименование единичной расценки -->
                      <ng-container matColumnDef="unit_rate_title">
                        <th mat-header-cell *matHeaderCellDef>Наименование единичной расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_title}} </td>
                      </ng-container>

                      <!-- Объем единичной расценки -->
                      <ng-container matColumnDef="unit_rate_volume">
                        <th mat-header-cell *matHeaderCellDef>Объем единичной расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_volume}} </td>
                      </ng-container>

                      <!-- Единица измерения -->
                      <ng-container matColumnDef="unit_rate_measure">
                        <th mat-header-cell *matHeaderCellDef>Единица измерения</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_measure}} </td>
                      </ng-container>

                      <!-- Код ресурса -->
                      <ng-container matColumnDef="unit_rate_resource_cypher">
                        <th mat-header-cell *matHeaderCellDef>Код ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_resource_cypher}} </td>
                      </ng-container>

                      <!-- Наименование ресурса -->
                      <ng-container matColumnDef="resource_title">
                        <th mat-header-cell *matHeaderCellDef>Наименование ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.resource_title}} </td>
                      </ng-container>



                      <!-- Тип ресурса -->
                      <ng-container matColumnDef="resource_type">
                        <th mat-header-cell *matHeaderCellDef>Тип ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.resource_type}} </td>
                      </ng-container>

                      <!-- ТЗ, чел.-час. -->
                      <ng-container matColumnDef="h_h">
                        <th mat-header-cell *matHeaderCellDef>ТЗ, чел.-час.</th>
                        <td mat-cell *matCellDef="let element"> {{element.h_h}} </td>
                      </ng-container>

                      <!-- ТЗМ, маш.-час. -->
                      <ng-container matColumnDef="m_h">
                        <th mat-header-cell *matHeaderCellDef>ТЗМ, маш.-час.</th>
                        <td mat-cell *matCellDef="let element"> {{element.m_h}} </td>
                      </ng-container>

                      <!-- Описание -->
                      <ng-container matColumnDef="comments">
                        <th mat-header-cell *matHeaderCellDef>Описание</th>
                        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id', 'unit_rate_category_cypher', 'unit_rate_category_title', 'unit_rate_cypher', 'unit_rate_title', 'unit_rate_volume', 'unit_rate_measure', 'unit_rate_resource_cypher', 'resource_title', 'resource_type', 'h_h', 'm_h', 'comments']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id', 'unit_rate_category_cypher', 'unit_rate_category_title', 'unit_rate_cypher', 'unit_rate_title', 'unit_rate_volume', 'unit_rate_measure', 'unit_rate_resource_cypher', 'resource_title', 'resource_type', 'h_h', 'm_h', 'comments']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorUnitPrices>
                    </mat-paginator>
                  </mat-tab>




                  <!-- Единичные расценки-->
                  <mat-tab class="mat-elevation-z8" label="Единичные расценки">
                    <table *ngIf="UnitPricesTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="UnitPricesTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Наименование расценки -->
                      <ng-container matColumnDef="unit_rate_title">
                        <th mat-header-cell *matHeaderCellDef>Наименование расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_title}} </td>
                      </ng-container>

                      <!-- Код расценки -->
                      <ng-container matColumnDef="unit_rate_cypher">
                        <th mat-header-cell *matHeaderCellDef>Код расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_cypher}} </td>
                      </ng-container>

                      <!-- Категория расценки -->
                      <ng-container matColumnDef="unit_rate_category">
                        <th mat-header-cell *matHeaderCellDef>Категория расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_category}} </td>
                      </ng-container>

                      <!-- Комментарии -->
                      <ng-container matColumnDef="comments">
                        <th mat-header-cell *matHeaderCellDef>Комментарии</th>
                        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                      </ng-container>

                      <!-- Объем единичной расценки -->
                      <ng-container matColumnDef="volume">
                        <th mat-header-cell *matHeaderCellDef>Объем единичной расценки</th>
                        <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                      </ng-container>

                      <!-- Ед. изм. -->
                      <ng-container matColumnDef="unit_of_measure">
                        <th mat-header-cell *matHeaderCellDef>Ед. изм.</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_of_measure}} </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <p>{{element.id}}</p>
                            <button mat-menu-item (click)="deleUnitPrices(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addEditUnitPrices" (click)="editUnitPrices(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id', 'unit_rate_title', 'unit_rate_cypher', 'unit_rate_category', 'comments', 'volume', 'unit_of_measure', 'action']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id', 'unit_rate_title', 'unit_rate_cypher', 'unit_rate_category', 'comments', 'volume', 'unit_of_measure', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorUnitPrices>
                    </mat-paginator>
                  </mat-tab>

                  <!-- Категория единичных расценок-->
                  <mat-tab class="mat-elevation-z8" label="Категория единичных расценок">
                    <table *ngIf="CategoryUnitPricesTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="CategoryUnitPricesTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Наименование ресурса-->
                      <ng-container matColumnDef="unit_rate_category_title">
                        <th mat-header-cell *matHeaderCellDef>Наименование категории</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_category_title}} </td>
                      </ng-container>

                      <!-- Наименование ресурса-->
                      <ng-container matColumnDef="unit_rate_category_code">
                        <th mat-header-cell *matHeaderCellDef>Код категории</th>
                        <td mat-cell *matCellDef="let element"> {{element.unit_rate_category_code}} </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <p>{{element.id}}</p>
                            <button mat-menu-item (click)="deleCategoryUnitPrices(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addEditCategoryUnitPrices" (click)="editCategoryUnitPrices(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id','unit_rate_category_title','unit_rate_category_code', 'action']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id','unit_rate_category_title','unit_rate_category_code', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #paginatorForСategoryUnitPrices>
                    </mat-paginator>


                  </mat-tab>


                  <mat-tab class="mat-elevation-z8" label="Ресурс единичных расценок">
                    <table *ngIf="ResourceUnitPricesTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="ResourceUnitPricesTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Наименование ресурса -->
                      <ng-container matColumnDef="resource_title">
                        <th mat-header-cell *matHeaderCellDef>Наименование ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.resource_title}} </td>
                      </ng-container>

                      <!-- Код ресурса -->
                      <ng-container matColumnDef="resource_code">
                        <th mat-header-cell *matHeaderCellDef>Код ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.resource_code}} </td>
                      </ng-container>

                      <!-- Тип ресурса -->
                      <ng-container matColumnDef="resource_type">
                        <th mat-header-cell *matHeaderCellDef>Тип ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.resource_type}} </td>
                      </ng-container>

                      <!-- ТЗ, чел.-час. -->
                      <ng-container matColumnDef="h_h">
                        <th mat-header-cell *matHeaderCellDef>ТЗ, чел.-час.</th>
                        <td mat-cell *matCellDef="let element"> {{element.h_h}} </td>
                      </ng-container>

                      <!-- ТЗМ, маш.-час. -->
                      <ng-container matColumnDef="m_h">
                        <th mat-header-cell *matHeaderCellDef>ТЗМ, маш.-час.</th>
                        <td mat-cell *matCellDef="let element"> {{element.m_h}} </td>
                      </ng-container>

                      <!-- Описание -->
                      <ng-container matColumnDef="comments">
                        <th mat-header-cell *matHeaderCellDef>Описание</th>
                        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                      </ng-container>

                      <!-- Единичная расценка -->
                      <!-- <ng-container matColumnDef="resource_code">
                        <th mat-header-cell *matHeaderCellDef>Единичная расценка</th>
                        <td mat-cell *matCellDef="let element"> {{element.resource_code}} </td>
                      </ng-container> -->

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <p>{{element.id}}</p>
                            <button mat-menu-item (click)="deleResourceUnitPrices(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addEditResourceUnitPrices" (click)="editResourceUnitPrices(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id', 'resource_title', 'resource_code', 'resource_type', 'h_h', 'm_h', 'comments', 'action']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id', 'resource_title', 'resource_code', 'resource_type', 'h_h', 'm_h', 'comments', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #paginatorResourceUnitPrices>
                    </mat-paginator>


                  </mat-tab>



                </mat-tab-group>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

          </div>
        </div>
      </div>



      <!-- Добавить/Изменить единичную расценку-->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="addEditUnitPrices" aria-labelledby="addScrollingLabel" style="width: 25%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="addEditUnitPrices">{{ editMode ? 'Изменить' : 'Добавить' }} единичную расценку
          </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <form [formGroup]="FormAddEditUnitPrices">
            <div class="container row gx-3">

              <!-- unit_rate_title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Наименование расценки:</mat-label>
                <input matInput formControlName="unit_rate_title" required>
              </mat-form-field>

              <!-- unit_rate_cypher -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> Код расценки:</mat-label>
                <input type="number" matInput formControlName="unit_rate_cypher" required>
              </mat-form-field>


              <!-- Категория -->
              <mat-form-field appearance="outline">
                <mat-label>Категория единичной расценки:</mat-label>
                <mat-select formControlName="unit_rate_category" required>
                  <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'unit_rate_category_title'"
                    [array]="SelectCategoryUnitPrices"
                    (filteredReturn)="filteredSelectCategoryUnitPrices=$event"></mat-select-filter>

                  <mat-option *ngFor="let Category of filteredSelectCategoryUnitPrices" [value]="Category.id">
                    {{ Category.unit_rate_category_title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Комментарии:</mat-label>
                <textarea matInput formControlName="comments"></textarea>
              </mat-form-field>


              <!-- volume -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> Объем единичной расценки:</mat-label>
                <input type="number" matInput formControlName="volume" required>
              </mat-form-field>

              <!-- ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,-->
              <!-- Ед.изм -->
              <mat-form-field appearance="outline">
                <mat-label>Ед.изм:</mat-label>
                <mat-select formControlName="unit_of_measure" required>
                  <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'title'"
                    [array]="SelectUnitOfMeasure"
                    (filteredReturn)="filteredSelectUnitOfMeasure=$event"></mat-select-filter>

                  <mat-option *ngFor="let Category of filteredSelectUnitOfMeasure" [value]="Category.id">
                    {{ Category.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>





              <div class="col-12">
                <button (click)="AddEditUnitPrices()" mat-stroked-button class="mat-btn-recolor"
                  [disabled]="!FormAddEditUnitPrices.valid">
                  <span class="align-text-center">
                    {{ editMode ? 'Изменить' : 'Добавить' }}
                  </span>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>



      <!-- Добавить/Изменить категорию единичных расценок-->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="addEditCategoryUnitPrices" aria-labelledby="addScrollingLabel" style="width: 25%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="addEditCategoryUnitPrices">{{ editMode ? 'Изменить' : 'Добавить' }} категорию
            единичных расценок
          </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <form [formGroup]="FormAddEditCategoryUnitRate">
            <div class="container row gx-3">

              <!-- unit_rate_title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Наименование категории:</mat-label>
                <input matInput formControlName="unit_rate_category_title" required>
              </mat-form-field>

              <!-- unit_rate_cypher -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> Код категории:</mat-label>
                <input matInput formControlName="unit_rate_category_code" required>
              </mat-form-field>


              <div class="col-12">
                <button (click)="AddEditCategoryUnitPrices()" mat-stroked-button class="mat-btn-recolor"
                  [disabled]="!FormAddEditCategoryUnitRate.valid">
                  <span class="align-text-center">
                    {{ editMode ? 'Изменить' : 'Добавить' }}
                  </span>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>





      <!-- Добавить/Изменить ресурс единичных расценок-->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="addEditResourceUnitPrices" aria-labelledby="addScrollingLabel" style="width: 25%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="addEditResourceUnitPrices">{{ editMode ? 'Изменить' : 'Добавить' }} ресурс
            единичных расценок
          </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <form [formGroup]="FormAddEditResourceUnitPrices">
            <div class="container row gx-3">

              <!-- unit_rate_title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Код ресурса:</mat-label>
                <input type="text" matInput formControlName="resource_code" required>
              </mat-form-field>

              <!-- h_h -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> ТЗ, чел.-час:</mat-label>
                <input type="number" matInput formControlName="h_h" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-12">
                <mat-label> ТЗМ, маш.-час:</mat-label>
                <input type="number" matInput formControlName="m_h" required>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Комментарии:</mat-label>
                <textarea matInput formControlName="comments"></textarea>
              </mat-form-field>

              <!-- ..................................................................... -->
              <!-- Наименование единичной расценки -->
              <mat-form-field appearance="outline">
                <mat-label>Наименование единичной расценки:</mat-label>
                <mat-select formControlName="unit_rate" required>
                  <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'unit_rate_title'"
                    [array]="SelectUnitPrices" (filteredReturn)="filteredSelectUnitPrices=$event"></mat-select-filter>

                  <mat-option *ngFor="let UnitPrices of filteredSelectUnitPrices" [value]="UnitPrices.id">
                    {{ UnitPrices.unit_rate_title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <!-- ..................................................................... -->

              <!-- Ресурс -->
              <mat-form-field appearance="outline">
                <mat-label>Ресурс:</mat-label>
                <mat-select formControlName="resource" required>
                  <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'title'"
                    [array]="SelectResourceUnitPrices"
                    (filteredReturn)="filteredSelectResourceUnitPrices=$event"></mat-select-filter>

                  <mat-option *ngFor="let Resourc of filteredSelectResourceUnitPrices" [value]="Resourc.id">
                    {{ Resourc.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>



              <div class="col-12">
                <button (click)="AddEditResourceUnitPrices()" mat-stroked-button class="mat-btn-recolor"
                  [disabled]="!FormAddEditResourceUnitPrices.valid">
                  <span class="align-text-center">
                    {{ editMode ? 'Изменить' : 'Добавить' }}
                  </span>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>




    </div>
  </div>
</div>