<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <form [formGroup]="select2" style="display: inline;">
              <input formControlName="level" [ngModel]="2" style="display: none;">
            <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(2); getSelect2()">
              <mat-icon>library_add</mat-icon>
            </button>
          </form>
          <mat-form-field class="select-filter" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Filter:</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (selectionChange)="applyFilters()">
              <mat-option value="All">Все</mat-option>
              <mat-option *ngFor="let currency of codeWbs" [value]="currency">{{ currency }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <mat-select>
              <mat-option *ngFor="let op of codeWbs" [value]="op">
                {{ op }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
      </div>
      <div class="col tools-wrapper">
        <span class="tools-title">План ГКР</span>
        <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
      </div>
    </div>
    <div class="col" style="padding: 10px;overflow-x: hidden;">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <mat-card-content>

              <table mat-table [dataSource]="filteredContracts">
                <ng-container matColumnDef="serial_number">
                  <th mat-header-cell *matHeaderCellDef> № </th>
                  <td mat-cell *matCellDef="let i = index">
                    <span>
                      {{i+1}}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Наименование </th>
                  <td mat-cell *matCellDef="let node;">
                    <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.name}} 
                    <form [formGroup]="select1" style="display: inline;" *ngIf="node.level === 0">
                      <input formControlName="parent_id" [ngModel]="node.wbs" style="display: none;">
                      <button mat-button matTooltip="Добавить систему" (click)="show.toggleShowBlock(0); getSelect1()">
                        <mat-icon class="material-symbols-outlined">add</mat-icon>
                      </button>
                    </form>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="code_wbs">
                  <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                  <td mat-cell *matCellDef="let node"> {{node.code_wbs}} </td>
                </ng-container>

                <ng-container matColumnDef="p_m">
                  <th mat-header-cell *matHeaderCellDef> П.м </th>
                  <td mat-cell *matCellDef="let node"> {{node.p_m}} </td>
                </ng-container>

                <ng-container matColumnDef="code_assoi">
                  <th mat-header-cell *matHeaderCellDef> Код ASSOI </th>
                  <td mat-cell *matCellDef="let node"> {{node.code_assoi}} </td>
                </ng-container>

                <ng-container matColumnDef="cubic_meter">
                  <th mat-header-cell *matHeaderCellDef> М.куб </th>
                  <td mat-cell *matCellDef="let node"> {{node.cubic_meter}} </td>
                </ng-container>
            
                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef> Тыс.руб </th>
                  <td mat-cell *matCellDef="let node"> {{node.cost}} </td>
                </ng-container>
            
                <ng-container matColumnDef="cost_total">
                  <th mat-header-cell *matHeaderCellDef> Стоимость тыс.руб/м.куб </th>
                  <td mat-cell *matCellDef="let node"> {{node.cost_total}} </td>
                </ng-container>
  
                <ng-container matColumnDef="1"><td mat-footer-cell *matFooterCellDef></td></ng-container>
                <ng-container matColumnDef="2"><td mat-footer-cell *matFooterCellDef></td></ng-container>
                <ng-container matColumnDef="3"><td mat-footer-cell *matFooterCellDef></td></ng-container>
                <ng-container matColumnDef="4"><td mat-footer-cell *matFooterCellDef></td></ng-container>
                <ng-container matColumnDef="5"><td mat-footer-cell *matFooterCellDef></td></ng-container>
                
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef> Item </th>
                  <td mat-cell *matCellDef="let transaction"> {{ total }} </td>
                  <td mat-footer-cell *matFooterCellDef> Итого </td>
                </ng-container>

                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef> Item </th>
                  <td mat-footer-cell *matFooterCellDef> {{ total }} </td>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>
                    <span>Действия</span>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                      <mat-icon>
                        more_vert
                      </mat-icon>
                    </button>
                    <mat-menu #actions_menu="matMenu">
                      <button mat-menu-item (click)="editGkr(element); show.toggleShowBlock(1)">
                        <mat-icon>edit</mat-icon>
                        Редактировать
                      </button>
                      <button mat-menu-item (click)="delGkr(element)">
                        <mat-icon>clear</mat-icon>
                        Удалить
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTime"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTime;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
              </table>

            </mat-card-content>
            <mat-card-footer>
              <div class="border-card"></div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>

<!-- Добавить -->
    <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <div class="row d-flex flex-row-reverse">
          <div class="col">
            <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="col text-start"><h2>Добавить систему</h2></div>
        </div>
            <form [formGroup]="createGkrForm">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>	П.м:</mat-label>
                <input matInput formControlName="p_m">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>М.куб:</mat-label>
                <input matInput formControlName="cubic_meter">

              </mat-form-field>
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Тыс.руб:</mat-label>
                <input matInput formControlName="cost">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Стоимость:</mat-label>
                <input matInput formControlName="cost_total">

              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Узел СДР:</mat-label>
                <mat-select formControlName="wbs" [(ngModel)]="wbsList1">
                  <mat-option *ngFor="let option of getWbsLevel1" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button class="btn-table mat-btn-recolor" (click)="addGkr()" matTooltip="Сохранить" mat-stroked-button type="submit">
                <span class="d-flex align-items-center">Добавить</span>
              </button>
            </form>
      </div>
    </div>

<!-- Редактировать -->
    <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <div class="row d-flex flex-row-reverse">
          <div class="col">
            <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="col-8 text-start"><h2>Редактировать систему</h2></div>
        </div>
            <form [formGroup]="editGkrForm">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>	П.м:</mat-label>
                <input matInput formControlName="p_m">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>М.куб:</mat-label>
                <input matInput formControlName="cubic_meter">

              </mat-form-field>
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Тыс.руб:</mat-label>
                <input matInput formControlName="cost">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Стоимость:</mat-label>
                <input matInput formControlName="cost_total">

              </mat-form-field>

              <button class="btn-table mat-btn-recolor" (click)="saveGkr()" matTooltip="Сохранить" mat-stroked-button type="submit">
                <span class="d-flex align-items-center">Сохранить</span>
              </button>
            </form>
      </div>
    </div>

<!-- Добавить -->
    <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
      <div class="col text-end" style="margin-bottom: 15px;">
          <div class="row d-flex flex-row-reverse">
            <div class="col">
              <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(2)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="col text-start"><h2>Добавить систему</h2></div>
          </div>
        
            <form [formGroup]="createGkrMainForm">
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>	П.м:</mat-label>
                <input matInput formControlName="p_m">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>М.куб:</mat-label>
                <input matInput formControlName="cubic_meter">

              </mat-form-field>
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Тыс.руб:</mat-label>
                <input matInput formControlName="cost">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Стоимость:</mat-label>
                <input matInput formControlName="cost_total">

              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Узел СДР:</mat-label>
                <mat-select formControlName="wbs" [(ngModel)]="wbsList2">
                  <mat-option *ngFor="let option of getWbsLevel2" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <button class="btn-table mat-btn-recolor" (click)="addMainGkr()" matTooltip="Сохранить" mat-stroked-button type="submit">
                <span class="d-flex align-items-center">Добавить</span>
              </button>
            </form>
      </div>
    </div>