/* .create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: translateX(1920px);
  z-index: 2;
}
.create.show {
  display: block;
  transform: translateX(0px);
} */
.example-full-width {
  width: 100%;
}