<!-- Оборудование2 (Вывод) -->
<div class="card col" style="margin-top: 15px;padding: 15px;">
  <h2>Оборудование</h2>
  <div class="col" >

    <table class="table table-striped" style="font-size: 12px;" *ngIf="estimated.getEquipment.length > 0">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Название</th>
          <th scope="col">Производитель</th>
          <th scope="col">Технические характеристики</th>
          <th scope="col">Цена</th>
          <th scope="col">Описание</th>
          <th scope="col">Проект</th>
          <th scope="col">Типовой раздел</th>
          <th scope="col">Валюта</th>
          <th scope="col">Действия </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of estimated.getEquipment; let i = index">
          <th scope="row"><span >{{i+1}}</span></th>
          <td><span >{{ item.title }}</span></td>
          <td><span >{{ item.manufacturer }}</span></td>
          <td><span >{{ item.tech_description }}</span></td>
          <td><span >{{ item.cost }}</span></td>
          <td><span >{{ item.description }}</span></td>
          <td><span >{{ item.analog_project }}</span></td>
          <td><span >{{ item.type }}</span></td>
          <td><span >{{ item.currency }}</span></td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  (click)="editEquipment(item); show.toggleShowBlock(8); estimated.toggleStyleFalse()">
                <mat-icon>edit</mat-icon>
                <span>Редактировать</span>
              </button>
              <button mat-menu-item (click)="delEquipment(item)">
                <mat-icon>clear</mat-icon>
                <span>Удалить</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>



    <!-- <p style="color: red;"> {{ item.title }}</p> -->
  </div>
</div>

<!-- Оборудование (Редактирование2) -->
  <div class="col create" [ngClass]="{'show': show.showBlock[8]}">
    <div class="d-flex col-12 justify-content-between">
      <div class="col">
        <h2>Оборудование</h2>
      </div>
      <div class="col text-end">
        <button class="btn-table mat-btn-exit" mat-stroked-button (click)="closed()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <form [formGroup]="editEquipmenForm">
      <div class="col">
        <div class="col">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Название:</mat-label>
            <input matInput formControlName="title">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Производитель:</mat-label>
            <input matInput formControlName="manufacturer">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Технические характеристики:</mat-label>
            <input matInput formControlName="tech_description">

          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Цена:</mat-label>
            <input matInput formControlName="cost">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Описание:</mat-label>
            <input matInput formControlName="description">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Проект:</mat-label>
            <input matInput formControlName="analog_project">

          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Типовой раздел:</mat-label>
            <mat-select formControlName="type" [(ngModel)]="AnalogTypeEquipment">
              <mat-option *ngFor="let option of getAnalogTypeEquipment" [value]="option.id">{{ option.title}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Валюта:</mat-label>
            <mat-select formControlName="currency" [(ngModel)]="CurrencyList">
              <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{option.title}}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-12">
          <div class="d-flex justify-content-start">
            <button (click)="saveEquipment(estId)" style="margin-bottom: 15px;" mat-stroked-button
              class="mat-btn-recolor">
              <span class="d-flex align-items-center">Сохранить</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>