<app-header></app-header>
<app-alert></app-alert>
<div class="alert alert-ind alert-info" *ngIf="project">
  Выбран проект: {{ project }}
</div>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Добавить проект" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)"><mat-icon>library_add</mat-icon>
          </button>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр проектов</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-content *ngIf="!loading">
                <table mat-table [dataSource]="dataProjectsTableSource">

                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- WBS_code Column -->
                  <ng-container matColumnDef="code_wbs">
                    <th mat-header-cell *matHeaderCellDef style="width: 5%;"> СДР </th>
                    <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef style="width: 80%;"> Название проекта </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>


                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <!-- ВООБЩЕ ТУТ ССЫЛКИ МОГУУТ БЫТЬ  -->
                        <button mat-menu-item type="button"
                          (click)="setWbs(element);">
                          <mat-icon>playlist_add_check</mat-icon>
                          <span>Выбрать проект</span>
                        </button>
                        <button mat-menu-item type="button"
                          (click)="show.toggleShowBlock(1); setUpdatedFields(element);">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item routerLink="/wbs">
                          <mat-icon>clear</mat-icon>
                          <span>СДР</span>
                        </button>

                        <button mat-menu-item (click)="removeProject(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>

                      </mat-menu>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsProjects"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsProjects;"></tr>
                </table>
              </mat-card-content>
              <mat-card-footer *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[0]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Добавить проект</h2>

          <div class="col">
            <form [formGroup]="AddedProject" (ngSubmit)="addProject()" class="row">

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label style="margin-left: 10px;">Код СДР:</mat-label>
                <span matTextPrefix style="color: grey;">P &nbsp;</span>
                <input matInput formControlName="code_wbs" style="width: fit-content;">
                <mat-error *ngIf="getAddedFormControl('code_wbs').errors?.['required']">
                  Обязательное поле
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="getAddedFormControl('name').errors?.['required']">
                  Обязательное поле
                </mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit" [disabled]="getAddedFormControl('code_wbs').invalid
                  || getAddedFormControl('name').invalid">Создать</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[1]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Редактировать проект</h2>

          <div class="col">

            <form [formGroup]="UpdatedProject" (ngSubmit)="updateProject()" class="row">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label style="margin-left: 10px;">Код СДР:</mat-label>
                <span matTextPrefix style="color: grey;">P &nbsp;</span>
                <input matInput formControlName="code_wbs"  style="width: fit-content;">
                <mat-error *ngIf="getUpdatedFormControl('code_wbs').errors?.['required']">
                  Обязательное поле
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="getUpdatedFormControl('name').errors?.['required']">
                  Обязательное поле
                </mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit" [disabled]="getUpdatedFormControl('code_wbs').invalid
                  || getUpdatedFormControl('name').invalid">Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>