table {
    width: 100%;
}
::ng-deep .p-element.ng-trigger.ng-trigger-animation {
  width: 30vw;
  z-index: 1101;
  position: absolute;
  right: 0px;
  height: 100%;
  max-height: 100%;
  margin: 0;
}
::ng-deep.p-dialog .p-dialog-content {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
::ng-deep.p-dialog .p-dialog-header {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
.example-full-width {
  width: 100%;
}
.example-margin {
  margin-left: 15px;
}
.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.mat-chip-list {
    margin-left: 10px;
}
.base-box {
    background-color: #b5dca4;
    color: #6c6c6c;
}
.current-box {
    background-color: #eb8b2d;
    color: #fff;
}
.more {
  color: #6c6c6c;
}
::ng-deep.select-filter .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep.select-filter .mat-form-field-label-wrapper { top: -1.3em; }

::ng-deep.select-filter .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
/* th.mat-header-cell, td.mat-cell {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;
} */