<app-header></app-header>
<app-alert></app-alert>
<div class="alert alert-danger" *ngIf="error" style="margin: 0px; border-radius: 0;">
  {{ error }}
</div>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>library_add</mat-icon>
          </button>
          <button matTooltip="Сравнить" class="chevron bnt-help--tools" (click)="compare(); show.toggleShowBlock(2)" style="margin-bottom: 15px;" >
            <mat-icon>compare</mat-icon>
          </button>
          <mat-form-field class="select-filter" style="margin: -5px 0px -15px 0px" appearance="outline">
            <mat-label>Наименование бюджета:</mat-label>
            <mat-select [(ngModel)]="selectedProjectBudget">
              <mat-option [value]="pkAll">Не выбрано</mat-option>
              <mat-option *ngFor="let option of getProjectBudget" [value]="option.id">{{option.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-filter" style="margin: -5px 0px -15px 5px" appearance="outline">
            <mat-label>Период:</mat-label>
            <mat-select [(ngModel)]="selectedPeriod">
              <mat-option [value]="frequencyAll">Не выбрано</mat-option>
              <mat-option value="YEARLY">Год</mat-option>
              <mat-option value="MONTHLY">Месяц</mat-option>
              <!-- <mat-option value="DAILY">День</mat-option> -->
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-filter" style="margin: -5px 0px -15px 5px" appearance="outline">
            <mat-label>Показать поле цены</mat-label>
            <mat-select [formControl]="toppings" [(ngModel)]="selectedPriceFields" multiple>
              <mat-option value="total_price">Итоговая</mat-option>
              <mat-option value="pir_price">ПИР</mat-option>
              <mat-option value="smr_price">СМР</mat-option>
              <mat-option value="oto_price">Оборудование</mat-option>
              <mat-option value="other_price">Прочее</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-stroked-button style="margin-bottom: 15px;margin-left: 5px;" class="more" (click)="use()">
            <span class="chevron d-flex align-items-center">Применить
              <mat-icon style="margin-left: 5px;">done_all</mat-icon>
            </span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр бюджета</span>
          <span class="tools-inner">Текущий проект: {{ common.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> №</th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef> Сравнить
                      <!-- <mat-checkbox (change)="updateArray()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox> -->
                    </th>
                    <td mat-cell *matCellDef="let row; let node">
                      <mat-checkbox
                        (click)="$event.stopPropagation()" 
                        (change)="toggleRow(node); updateArray(); formJsonStructure()"
                        [checked]="selection.isSelected(node)" [aria-label]="checkboxLabel(node)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let element"> 
                      <div class="d-flex align-items-center">
                        {{element.name}} 

                        <mat-chip-list aria-label="Fish selection" *ngIf="element.is_base == true || element.is_base">
                          <mat-chip class="base-box">базовый</mat-chip>
                        </mat-chip-list>

                        <mat-chip-list aria-label="Fish selection" *ngIf="element.is_current == true || element.is_current">
                          <mat-chip class="current-box">текущий</mat-chip>
                        </mat-chip-list>

                      </div>
                    </td>
                  </ng-container>
            
                  <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu class="customize" #actions_menu="matMenu">
                          <button mat-menu-item (click)="showDetails(element.id)">
                            <mat-icon class="mat-menu-icon">sort</mat-icon>
                            <span>Подробнее</span>
                          </button>
                        <button mat-menu-item (click)="editRegisterBudget(element); show.toggleShowBlock(11)">
                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                          Редактировать
                        </button>
                        <button mat-menu-item (click)="deleteRegisterBudget(element.id)">
                          <mat-icon class="mat-menu-icon">clear</mat-icon>
                          Удалить
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                              showFirstLastButtons 
                              aria-label="Select page of periodic elements">
                </mat-paginator> 

                <p-dialog header="Header" styleClass="modal-element" [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" [(visible)]="show.showBlock[0]" [position]="theme.position" [draggable]="false" [maximizable]="false" [closable]="false" (onHide)="show.closedAdd(0)">
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>Добавить бюджет проекта</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <!-- <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>     -->
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[0] = false">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <form [formGroup]="createRegisterBudgetForm" style="width: 100%;">
                    <div class="row">
                      <div class="col">
 
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Комментарий:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field>
                        
                        <section class="example-section">
                          <mat-checkbox formControlName="is_base" [(ngModel)]="checked">Флаг базовый</mat-checkbox>
                          <mat-checkbox class="example-margin" formControlName="is_current" [(ngModel)]="indeterminate">Флаг текущий</mat-checkbox>
                        </section>

                        <div class="d-flex justify-content-end">
                          <button (click)="addRegisterBudget()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </p-dialog>

                <p-dialog header="Header" styleClass="modal-element" [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" [(visible)]="show.showBlock[1]" [position]="theme.position" [draggable]="false" [maximizable]="false" [closable]="false" >
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>Редактировать бюджет проекта</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <!-- <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>     -->
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[1] = false">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                 
                  <form [formGroup]="editRegisterBudgetForm" style="width: 100%;">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Комментарий:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field>
                        
                        <section class="example-section">
                          <mat-checkbox formControlName="is_base" [(ngModel)]="checked">Флаг базовый</mat-checkbox>
                          <mat-checkbox class="example-margin" formControlName="is_current" [(ngModel)]="indeterminate">Флаг текущий</mat-checkbox>
                        </section>

                        <div class="d-flex justify-content-end">
                          <button (click)="saveRegisterBudget()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </p-dialog>

                <p-dialog header="Header" styleClass="modal-element" [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" [(visible)]="show.showBlock[2]" [position]="theme.position" [draggable]="false" [maximizable]="false" [closable]="false" >
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>Сравнение бюджета проекта</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[2] = false">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                 
                  <!-- <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Weight </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Symbol </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="header-row-first-group">
                      <th mat-header-cell *matHeaderCellDef 
                          [attr.colspan]="2"> 
                        First group 
                      </th>
                    </ng-container>
                    
                    <ng-container matColumnDef="header-row-second-group">
                      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Second group </th>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"></tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                  </table> -->

                  <table class="table">
                    <thead>
                      <tr>
                        <ng-container *ngFor="let element of clickedRowsArray; let rowIndex = index">
                          <th scope="col" colspan="3">{{rowIndex + 1}} {{element.name}}</th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <ng-container *ngFor="let element of clickedRowsArray; let rowIndex = index">

                          <!-- <ng-container *ngFor="let item of displayedColBody">
                            <tr>
                              <td *ngIf="rowIndex === 0">{{item.title}}</td>
                              <td *ngIf="item.register_budget === element.id">{{item.pir_budget[element.id]}}</td>
                            </tr>
                          </ng-container> -->

                          <td colspan="3">
                            <!-- <mat-accordion>
                              <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    {{element.name}}
                                  </mat-panel-title>
                                </mat-expansion-panel-header> -->
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <td *ngIf="rowIndex === 0" style="width: 250px;">name</td>
                                      <td>pir_budget</td>
                                      <td>smr_budget</td>
                                      <td>oto_budget</td>
                                      <td>other_budget</td>
                                      <td>total_budget</td>
                                      <!-- <td>no</td> -->
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <ng-container *ngFor="let item of displayedColBody">
                                    <tr style="height: 38px;">
                                      <td *ngIf="rowIndex === 0">
                                        <span >
                                          {{item.title}}
                                        </span>
                                      </td>
                                      <!-- <td *ngIf="item.register_budget === element.id && rowIndex === 0">{{item.title}}</td> -->
                                      <td *ngIf="item.register_budget === element.id">{{item.pir_budget[element.id]}}</td>
                                      <td *ngIf="item.register_budget === element.id">{{item.smr_budget[element.id]}}</td>
                                      <td *ngIf="item.register_budget === element.id">{{item.oto_budget[element.id]}}</td>
                                      <td *ngIf="item.register_budget === element.id">{{item.other_budget[element.id]}}</td>
                                      <td *ngIf="item.register_budget === element.id">{{item.total_budget[element.id]}}</td>
                                      <!-- <td *ngIf="item.register_budget === element.id">{{item.register_budget}}</td> -->
                                    </tr>
                                  </ng-container>
                                    <tr>
                                      <td colspan="5">
                                      <mat-accordion>
                                        <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Направление 
                                            </mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <table class="table" >
                                              <tbody>
                                                <ng-container *ngFor="let item of displayedColBody">
                                                  <ng-container *ngFor="let direction of item.children">
                                                    <tr style="height: 38px;">
                                                      <td *ngIf="rowIndex === 0">
                                                        <span >
                                                          {{direction.title}}
                                                        </span>
                                                      </td>
                                                      <td *ngIf="item.register_budget === element.id">{{direction.pir_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{direction.smr_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{direction.oto_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{direction.other_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{direction.total_budget[element.id]}}</td>
                                                      <!-- <td *ngIf="item.register_budget === element.id">{{direction.title}} </td> -->
                                                    </tr>
                                                  </ng-container>
                                                </ng-container>
                                            </tbody>
                                          </table>
                                        </mat-expansion-panel>
                                      </mat-accordion>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td colspan="5">
                                      <mat-accordion>
                                        <mat-expansion-panel>
                                          <mat-expansion-panel-header>
                                            <mat-panel-title>
                                              Объект 
                                            </mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <table class="table" >
                                              <tbody>
                                                <ng-container *ngFor="let item of displayedColBody">
                                                  <ng-container *ngFor="let direction of item.children">
                                                  <ng-container *ngFor="let obj of direction.children">
                                                    <tr style="height: 38px;">
                                                      <td *ngIf="rowIndex === 0">
                                                        <span>
                                                          {{obj.title}}
                                                        </span>
                                                      </td>
                                                      <td *ngIf="item.register_budget === element.id">{{obj.pir_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{obj.smr_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{obj.oto_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{obj.other_budget[element.id]}}</td>
                                                      <td *ngIf="item.register_budget === element.id">{{obj.total_budget[element.id]}}</td>
                                                      <!-- <td *ngIf="item.register_budget === element.id">{{direction.title}} </td> -->
                                                    </tr>
                                                  </ng-container>
                                                </ng-container>
                                                </ng-container>
                                            </tbody>
                                          </table>
                                        </mat-expansion-panel>
                                      </mat-accordion>
                                      </td>
                                    </tr>


                                      

                                    <!-- <ng-container *ngFor="let object of direction.children">
                                      <td *ngIf="item.register_budget === element.id">{{object.title}}</td>
                                    </ng-container> -->

                                  </tbody>
                                </table>
                              <!-- </mat-expansion-panel>
                            </mat-accordion> -->
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>

                </p-dialog>

<!-- Создать Бюджет проекта -->
                <!-- <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h2>Добавить бюджет проекта</h2>

                  <form [formGroup]="createRegisterBudgetForm" style="width: 100%;">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Комментарий:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field>
                        
                        <section class="example-section">
                          <mat-checkbox formControlName="is_base" [(ngModel)]="checked">Флаг базовый</mat-checkbox>
                          <mat-checkbox class="example-margin" formControlName="is_current" [(ngModel)]="indeterminate">Флаг текущий</mat-checkbox>
                        </section>

                        <div class="d-flex justify-content-end">
                          <button (click)="addRegisterBudget()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div> -->

<!-- Редактировать Бюджет проекта -->
                <div class="col create" [ngClass]="{'show': show.showBlock[11]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h2>Редактировать бюджет проекта</h2>

                  <form [formGroup]="editRegisterBudgetForm" style="width: 100%;">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Комментарий:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field>
                        
                        <section class="example-section">
                          <mat-checkbox formControlName="is_base" [(ngModel)]="checked">Флаг базовый</mat-checkbox>
                          <mat-checkbox class="example-margin" formControlName="is_current" [(ngModel)]="indeterminate">Флаг текущий</mat-checkbox>
                        </section>

                        <div class="d-flex justify-content-end">
                          <button (click)="saveRegisterBudget()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
                
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>