table {
    width: 100%;
}
.smoll-create {
  width: 25%;
}
.example-full-color {
  color: var(--theme-modal-text-color);
}
.example-full-width {
  width: 100%;
}

/* disable mat-ripple */
::ng-deep div.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4,
::ng-deep div.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-tab-header-pagination-disabled {
  display: none;
}
::ng-deep div.col.create.show > div > mat-tab-group > .mat-tab-header,
::ng-deep div.col.create.show.smoll-create > div > mat-tab-group > .mat-tab-header {
  top: -40px;
}

.add-button {
  min-width: 25px;
  padding: 5px;
  margin-top: 3px;
  border-color: var(--theme-modal-button-recolor) !important;
  color: #4da958;
}

::ng-deep #mat-tab-label-2-0
/* input color class */
::ng-deep input.mat-input-element {
  color: #484a4c;
}
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #eb8b2d !important;
}
/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #eb8b2d !important;
}

/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:var(--theme-modal-border) !important;
}
/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: var(--theme-tab-active-color) !important;
}
::ng-deep .mat-tab-label {
  color: var(--theme-tab-color) !important;
}


.current-box {
    background-color: #eb8b2d;
    color: #fff;
}
.base-box {
    background-color: #b5dca4;
    color: #6c6c6c;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    text-align: end;
    width: 50px;
}