<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Карточка объекта: {{ objName?.name }} </span>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/card-obj">Реестр объектов</a></li>
              <li class="breadcrumb-item"> {{ projectName?.code_wbs }}.{{ projectName?.name }} </li>
              <li class="breadcrumb-item actived" aria-current="page"> {{ directName?.code_wbs }} {{ directName?.name }} <li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>

                <mat-tab-group>
                  <mat-tab label="Информация об объекте"> 
                    <table mat-table [dataSource]="dataSourceObject">
                      
                      <ng-container matColumnDef="comment">
                        <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                        <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                      </ng-container>
    
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <ng-container matColumnDef="code_assoi">
                        <th mat-header-cell *matHeaderCellDef> Код ASSOI </th>
                        <td mat-cell *matCellDef="let element"> {{element.code_assoi}} </td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Наименование объекта </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> Категория </th>
                        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                      </ng-container>

                      <ng-container matColumnDef="code_sap">
                        <th mat-header-cell *matHeaderCellDef> Код SAP </th>
                        <td mat-cell *matCellDef="let element"> {{element.code_sap}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="problem">
                        <th mat-header-cell *matHeaderCellDef> Описание </th>
                        <td mat-cell *matCellDef="let element"> {{element.problem}} </td>
                      </ng-container>
      
                      <!-- <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                            <mat-icon>
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu #actions_menu="matMenu">
                            <button mat-menu-item (click)="editBudget2(element); show.toggleShowBlock(4)">
                              <mat-icon>edit</mat-icon>
                              Редактировать
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container> -->
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsObject"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsObject;"></tr>
                    </table>

                    <table mat-table [dataSource]="dataSourceDate">
                    
                      <ng-container matColumnDef="date_start">
                        <th mat-header-cell *matHeaderCellDef> Базовая дата начала </th>
                        <td mat-cell *matCellDef="let element"> {{element.base.date_start}} </td>
                      </ng-container>

                      <ng-container matColumnDef="date_end">
                        <th mat-header-cell *matHeaderCellDef> Базовая дата окончания </th>
                        <td mat-cell *matCellDef="let element"> {{element.base.date_end}} </td>
                      </ng-container>

                      <ng-container matColumnDef="current_date_start">
                        <th mat-header-cell *matHeaderCellDef> Текущая дата начала </th>
                        <td mat-cell *matCellDef="let element"> {{element.current.date_start}} </td>
                      </ng-container>

                      <ng-container matColumnDef="current_date_end">
                        <th mat-header-cell *matHeaderCellDef> Текущая дата окончания </th>
                        <td mat-cell *matCellDef="let element"> {{element.current.date_end}} </td>
                      </ng-container>
      
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                            <mat-icon>
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu class="customize" #actions_menu="matMenu">
                            <button mat-menu-item (click)="editBudget1(element); show.toggleShowBlock(3)">
                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                              Редактировать
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsDate"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsDate;"></tr>
                    </table>

                    <table mat-table [dataSource]="dataSourceBudget">
                      <ng-container matColumnDef="comment">
                        <th mat-header-cell *matHeaderCellDef> Наименование </th>
                        <td mat-cell *matCellDef="let element"> {{element.title_cost}} </td>
                      </ng-container>
    
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Источник </th>
                        <td mat-cell *matCellDef="let element"> {{getSourceNameById(element.budget_source)}} </td>
                      </ng-container>

                      <ng-container matColumnDef="code_assoi">
                        <th mat-header-cell *matHeaderCellDef> Итого </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_price}} </td>
                      </ng-container>

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> СМР </th>
                        <td mat-cell *matCellDef="let element"> {{element.smr_price}} </td>
                      </ng-container>

                      <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef> ПИР </th>
                        <td mat-cell *matCellDef="let element"> {{element.pir_price}} </td>
                      </ng-container>

                      <ng-container matColumnDef="code_sap">
                        <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                        <td mat-cell *matCellDef="let element"> {{element.oto_price}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="problem">
                        <th mat-header-cell *matHeaderCellDef> Прочее </th>
                        <td mat-cell *matCellDef="let element"> {{element.other_price}} </td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu" [disabled]="element.title_cost == 'Стоимость базовая, тыс. руб.'" *ngIf="element.title_cost !== 'Отклонение'">
                            <mat-icon>
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu class="customize" #actions_menu="matMenu">
                            <button mat-menu-item (click)="editBudget3(element); show.toggleShowBlock(4)">
                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                              Редактировать
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>
      
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsInfo"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsInfo;"></tr>
                    </table>

                  </mat-tab>
                  <mat-tab label="Сроки"> 

                    <table mat-table [dataSource]="dataSources">
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Наименование </th>
                        <td mat-cell *matCellDef="let node;">
                          <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                          </button>
                          {{node.code_wbs}} . {{node.name}} 
                          <!-- <form [formGroup]="select1" style="display: inline;" *ngIf="node.level === 0">
                            <input formControlName="parent_id" [ngModel]="setId" style="display: none;">
                            <button mat-button matTooltip="Добавить систему" (click)="show.toggleShowBlock(1); getSelect1()">
                              <mat-icon class="material-symbols-outlined">add</mat-icon>
                            </button>
                          </form>
                          <form [formGroup]="select2" style="display: inline;" *ngIf="node.level === 1">
                            <input formControlName="parent_id" [ngModel]="node.id" style="display: none;">
                            <button mat-button matTooltip="Добавить пакет работ" (click)="show.toggleShowBlock(1); getSelect2()">
                              <mat-icon class="material-symbols-outlined">add</mat-icon>
                            </button>
                          </form> -->
                        </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="base_date_start">
                        <th mat-header-cell *matHeaderCellDef> Базовая дата начала </th>
                        <td mat-cell *matCellDef="let node"> {{node.base_date_start}} </td>
                      </ng-container>

                      <ng-container matColumnDef="base_date_end">
                        <th mat-header-cell *matHeaderCellDef> Базовая дата окончания </th>
                        <td mat-cell *matCellDef="let node"> {{node.base_date_end}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="current_date_start">
                        <th mat-header-cell *matHeaderCellDef> Текущая дата начала </th>
                        <td mat-cell *matCellDef="let node"> {{node.current_date_start}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="current_date_end">
                        <th mat-header-cell *matHeaderCellDef> Текущая дата окончания </th>
                        <td mat-cell *matCellDef="let node"> {{node.current_date_end}} </td>
                      </ng-container>
        
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                            <mat-icon>
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu class="customize" #actions_menu="matMenu">
                            <button mat-menu-item (click)="editBudget2(element); show.toggleShowBlock(3)">
                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                              Редактировать
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>
    
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsTime"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsTime;"></tr>
                    </table>
                  
                  </mat-tab>
                  <mat-tab label="Состав объекта"> 

                    <table mat-table [dataSource]="dataSources">
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Наименование </th>
                        <td mat-cell *matCellDef="let node;">
                          <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                            <mat-icon class="mat-icon-rtl-mirror">
                              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                          </button>
                          {{node.code_wbs}} . {{node.name}} 

                          <!-- <form [formGroup]="select1" style="display: inline;" *ngIf="node.level === 0"> -->
                            <!-- <input formControlName="parent_id" [ngModel]="setId" style="display: block;"> -->
                            <button mat-button matTooltip="Добавить систему" *ngIf="node.level === 0" (click)="show.toggleShowBlock(1); getId1(node.id); getSelect1()">
                              <mat-icon class="material-symbols-outlined">add</mat-icon>
                            </button>
                          <!-- </form> -->
                          <!-- <form [formGroup]="select2" style="display: inline;" *ngIf="node.level === 1"> -->
                            <!-- <input formControlName="parent_id" [ngModel]="node.id" style="display: block;"> -->
                            <button mat-button matTooltip="Добавить пакет работ" *ngIf="node.level === 1" (click)="show.toggleShowBlock(6); getId2(node.id); getSelect2()">
                              <mat-icon class="material-symbols-outlined">add</mat-icon>
                            </button>
                          <!-- </form> -->
                        </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="budget_source_name">
                        <th mat-header-cell *matHeaderCellDef> Источник </th>
                        <td mat-cell *matCellDef="let node"> {{getSourceNameById(node.budget_source)}} </td>
                      </ng-container>

                      <ng-container matColumnDef="current_total_price">
                        <th mat-header-cell *matHeaderCellDef> Стоимость </th>
                        <td mat-cell *matCellDef="let node"> 
                          Текущая: {{node.current_total_price}} <br>
                          Базовая: {{node.base_total_price}}
                        </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="current_smr_price">
                        <th mat-header-cell *matHeaderCellDef> СМР </th>
                        <td mat-cell *matCellDef="let node"> 
                          {{node.current_smr_price}} <br>
                          {{node.base_smr_price}}
                        </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="current_pir_price">
                        <th mat-header-cell *matHeaderCellDef> ПИР </th>
                        <td mat-cell *matCellDef="let node"> 
                          {{node.current_pir_price}} <br>
                          {{node.base_pir_price}}
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="current_oto_price">
                        <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                        <td mat-cell *matCellDef="let node"> 
                          {{node.current_oto_price}} <br>
                          {{node.base_oto_price}}
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="current_other_price">
                        <th mat-header-cell *matHeaderCellDef> Прочее </th>
                        <td mat-cell *matCellDef="let node"> 
                          {{node.current_other_price}} <br>
                          {{node.base_other_price}}
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu" [disabled]="element.is_current !== true">
                            <mat-icon> 
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu class="customize" #actions_menu="matMenu">
                            <button mat-menu-item (click)="editBudget2(element); show.toggleShowBlock(2)">
                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                              Редактировать
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>
    
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsObj"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsObj;"></tr>
                    </table>

                  </mat-tab>
                  <mat-tab label="История изменений">

                    <div class="mat-elevation-z8">
                      <table mat-table [dataSource]="getHistoryObject">
                    
                        <ng-container matColumnDef="serial_number">
                          <th mat-header-cell *matHeaderCellDef> № </th>
                          <td mat-cell *matCellDef="let i = index">
                            <span>
                              {{i+1}}
                            </span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="user">
                          <th mat-header-cell *matHeaderCellDef> Пользователь </th>
                          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="date">
                          <th mat-header-cell *matHeaderCellDef> Дата </th>
                          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="type">
                          <th mat-header-cell *matHeaderCellDef> Тип </th>
                          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef> Итого </th>
                          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="pir">
                          <th mat-header-cell *matHeaderCellDef> ПИР </th>
                          <td mat-cell *matCellDef="let element"> {{element.pir}} </td>
                        </ng-container>

                        <ng-container matColumnDef="smr">
                          <th mat-header-cell *matHeaderCellDef> СМР </th>
                          <td mat-cell *matCellDef="let element"> {{element.smr}} </td>
                        </ng-container>

                        <ng-container matColumnDef="oto">
                          <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                          <td mat-cell *matCellDef="let element"> {{element.oto}} </td>
                        </ng-container>

                        <ng-container matColumnDef="other">
                          <th mat-header-cell *matHeaderCellDef> Прочее </th>
                          <td mat-cell *matCellDef="let element"> {{element.other}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedCol"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedCol;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons 
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                    </div>
                    

                  </mat-tab>
                </mat-tab-group>

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

<!-- Добавить1 -->
    <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(0)">
          <mat-icon>close</mat-icon>
        </button>

        <mat-tab-group animationDuration="0ms" #tabs>
          <mat-tab label="Текущий">
            <h2 class="text-start">Текущий</h2>
            <form [formGroup]="createBudget1">
              <!-- (ngSubmit)="contractDetails && addPayment(contractDetails.id)" -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата начала факт:</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date_start">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата окончания факт:</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="date_end">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>Общая сумма:</mat-label>
                <input matInput type="number" formControlName="total_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput type="number" formControlName="smr_price">

              </mat-form-field>
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput type="number" formControlName="pir_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput type="number" formControlName="oto_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput type="number" formControlName="other_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>register_budget:</mat-label>
                <input matInput formControlName="register_budget" [ngModel]="isCurrent?.id">

              </mat-form-field>

              <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>wbs:</mat-label>
                <input matInput formControlName="wbs" [ngModel]="setId">

              </mat-form-field>

              <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="Budget1()">
                <span class="d-flex align-items-center">Добавить</span>
              </button>
            </form>
          </mat-tab>

          <mat-tab label="Базовый">
            <h2 class="text-start">Базовый</h2>
            <form [formGroup]="createBudget2">
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата начала факт:</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="date_start">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата окончания факт:</mat-label>
                <input matInput [matDatepicker]="picker4" formControlName="date_end">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>Общая сумма:</mat-label>
                <input matInput type="number" formControlName="total_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput type="number" formControlName="smr_price">

              </mat-form-field>
              
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput type="number" formControlName="pir_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput type="number" formControlName="oto_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput type="number" formControlName="other_price">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>register_budget:</mat-label>
                <input matInput formControlName="register_budget" [ngModel]="isBase?.id">

              </mat-form-field>

              <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>wbs:</mat-label>
                <input matInput formControlName="wbs" [ngModel]="setId">

              </mat-form-field>

              <button class="btn-table mat-btn-recolor" mat-stroked-button (click)="Budget2()">
                <span class="d-flex align-items-center">Добавить</span>
              </button>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

<!-- Добавить2 -->
    <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(1)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Добавить систему в бюджет</h2>
      
      <!-- <div *ngIf="isLevel === 3">
        <h2 class="text-start">Добавить систему в бюджет</h2>
      </div>
      <div *ngIf="isLevel === 4">
        <h2 class="text-start">Добавить пакет работ</h2>
      </div> -->
      
      <!-- <mat-tab-group animationDuration="0ms" #tabs>
        <mat-tab label="Добавить из СДР">

        </mat-tab>
        <mat-tab label="Создать систему в СДР">

        </mat-tab>
      </mat-tab-group> -->

      <form [formGroup]="createIscurrentForm">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата начала факт:</mat-label>
          <input matInput [matDatepicker]="picker9" formControlName="date_start">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
          <mat-datepicker #picker9></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата окончания факт:</mat-label>
          <input matInput [matDatepicker]="picker10" formControlName="date_end">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
          <mat-datepicker #picker10></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Общая сумма:</mat-label>
          <input matInput formControlName="comment">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>СМР сумма:</mat-label>
          <input matInput formControlName="smr_price">

        </mat-form-field>
        
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>ПИР сумма:</mat-label>
          <input matInput formControlName="pir_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Оборудование сумма:</mat-label>
          <input matInput formControlName="oto_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Прочее сумма:</mat-label>
          <input matInput formControlName="other_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Итоговая сумма:</mat-label>
          <input matInput formControlName="total_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Описания проблемы в текущей строке:</mat-label>
          <input matInput formControlName="problem">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Register budget:</mat-label>
          <input matInput formControlName="register_budget" [ngModel]="isBase?.id">

        </mat-form-field>

        <mat-form-field class="select-create" style="width: 100%" appearance="outline">
          <mat-label>Источник:</mat-label>
          <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
            <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex col">
          <div class="col-10" style="margin-right: 5px;width: 90%;">
            <mat-form-field class="select-create" style="width: 100%" appearance="outline">
              <mat-label>Добавить систему:</mat-label>
              <mat-select formControlName="wbs" [(ngModel)]="wbsList1">
                <mat-option *ngFor="let option of getWbsLevel1" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col" style="height: 53px;">
            <button style="margin-bottom: 15px;" matTooltip="Добавить систему в СДР" mat-stroked-button class="add-button" (click)="show.toggleShowBlock(5)">
              <span class="d-flex align-items-center" style="height: 37px;"><mat-icon>library_add</mat-icon></span>
            </button>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button (click)="addBudget2()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Добавить</span>
          </button>
        </div>
      </form>

    </div>

<!-- Добавить3 -->
    <div class="col create" [ngClass]="{'show': show.showBlock[6]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(6)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Добавить пакет работ</h2>

      <form [formGroup]="createIscurrentForm">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата начала факт:</mat-label>
          <input matInput [matDatepicker]="picker15" formControlName="date_start">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker15"></mat-datepicker-toggle>
          <mat-datepicker #picker15></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата окончания факт:</mat-label>
          <input matInput [matDatepicker]="picker16" formControlName="date_end">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker16"></mat-datepicker-toggle>
          <mat-datepicker #picker16></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Общая сумма:</mat-label>
          <input matInput formControlName="comment">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>СМР сумма:</mat-label>
          <input matInput formControlName="smr_price">

        </mat-form-field>
        
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>ПИР сумма:</mat-label>
          <input matInput formControlName="pir_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Оборудование сумма:</mat-label>
          <input matInput formControlName="oto_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Прочее сумма:</mat-label>
          <input matInput formControlName="other_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Итоговая сумма:</mat-label>
          <input matInput formControlName="total_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Описания проблемы в текущей строке:</mat-label>
          <input matInput formControlName="problem">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Register budget:</mat-label>
          <input matInput formControlName="register_budget" [ngModel]="isBase?.id">

        </mat-form-field>

        <mat-form-field class="select-create" style="width: 100%" appearance="outline">
          <mat-label>Источник:</mat-label>
          <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
            <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex col">
          <div class="col-10" style="margin-right: 5px;width: 90%;">
            <mat-form-field class="select-create" style="width: 100%" appearance="outline">
              <mat-label>Добавить пакет работ:</mat-label>
              <mat-select formControlName="wbs" [(ngModel)]="wbsList1">
                <mat-option *ngFor="let option of getWbsLevel1" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col" style="height: 53px;">
            <button style="margin-bottom: 15px;" matTooltip="Добавить пакет работ в СДР" mat-stroked-button class="add-button" (click)="show.toggleShowBlock(7)">
              <span class="d-flex align-items-center" style="height: 37px;"><mat-icon>library_add</mat-icon></span>
            </button>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button (click)="addBudget2()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Добавить</span>
          </button>
        </div>
      </form>

    </div>

<!-- Редактировать1 -->
    <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(2)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Редактирование</h2>
      
      <form [formGroup]="editBudget">
   
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата начала факт:</mat-label>
          <input matInput [matDatepicker]="picker7" class="example-full-color" formControlName="date_start">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
          <mat-datepicker #picker7></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата окончания факт:</mat-label>
          <input matInput [matDatepicker]="picker8" class="example-full-color" formControlName="date_end">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
          <mat-datepicker #picker8></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Общая сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="comment">

        </mat-form-field> -->

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>СМР сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="smr_price">

        </mat-form-field>
        
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>ПИР сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="pir_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Оборудование сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="oto_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Прочее сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="other_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Итоговая сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="total_price">

        </mat-form-field>

        <mat-form-field class="select-create" style="width: 100%" appearance="outline">
          <mat-label>Источник:</mat-label>
          <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
            <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Register budget:</mat-label>
          <input matInput class="example-full-color" formControlName="register_budget" [ngModel]="isCurrent?.id">

        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button (click)="saveBudget()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Сохранить</span>
          </button>
        </div>
      </form>

    </div>

<!-- Редактировать2 -->
    <div class="col create" [ngClass]="{'show': show.showBlock[3]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(3)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Редактирование</h2>
      
      <form [formGroup]="editBudget">
   
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата начала факт:</mat-label>
          <input matInput [matDatepicker]="picker11" class="example-full-color" formControlName="date_start">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
          <mat-datepicker #picker11></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата окончания факт:</mat-label>
          <input matInput [matDatepicker]="picker12" class="example-full-color" formControlName="date_end">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
          <mat-datepicker #picker12></mat-datepicker>
        </mat-form-field>
          <!-- <input style="display: none;" formControlName="comment"> -->
          <input style="display: none;" formControlName="smr_price"><input style="display: none;" formControlName="pir_price">
          <input style="display: none;" formControlName="oto_price"><input style="display: none;" formControlName="other_price">
          <input style="display: none;" formControlName="total_price">
          <!-- <input style="display: none;" formControlName="register_budget" [ngModel]="isBase.id"> -->
        <div class="d-flex justify-content-end">
          <button (click)="saveBudget()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Сохранить</span>
          </button>
        </div>
      </form>

    </div>

<!-- Редактировать3 -->
    <div class="col create" [ngClass]="{'show': show.showBlock[4]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(4)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Редактирование</h2>
      
      <form [formGroup]="editBudget">

        <!-- <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Общая сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="comment">

        </mat-form-field> -->

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>СМР сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="smr_price">

        </mat-form-field>
        
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>ПИР сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="pir_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Оборудование сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="oto_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Прочее сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="other_price">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width"  style="display: none;">
          <mat-label>Итоговая сумма:</mat-label>
          <input matInput class="example-full-color" formControlName="total_price">

        </mat-form-field>
        <input style="display: none;" formControlName="date_start"><input style="display: none;" formControlName="date_end">
        <!-- <input style="display: none;" [ngModel]="0" formControlName="comment"> -->
        <!-- <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
          <mat-label>Register budget:</mat-label>
          <input matInput class="example-full-color" formControlName="register_budget" [ngModel]="isBase?.id">

        </mat-form-field> -->

        <div class="d-flex justify-content-end">
          <button (click)="saveBudget()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Сохранить</span>
          </button>
        </div>
      </form>

    </div>



    <div class="col create" [ngClass]="{'show': show.showBlock[5]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.toggleShowBlock(1)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Добавить систему в СДР</h2>

      <form [formGroup]="createSystem">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата начала:</mat-label>
          <input matInput [matDatepicker]="picker13" formControlName="date_start">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
          <mat-datepicker #picker13></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата окончания:</mat-label>
          <input matInput [matDatepicker]="picker14" formControlName="date_end">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
          <mat-datepicker #picker14></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Название:</mat-label>
          <input matInput formControlName="name">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Код СДР:</mat-label>
          <input matInput formControlName="code_wbs">

        </mat-form-field>

        <mat-form-field class="select-create" style="width: 100%" appearance="outline">
          <mat-label>Категория:</mat-label>
          <mat-select formControlName="category" [(ngModel)]="categoryList">
            <mat-option *ngFor="let option of getCategory" [value]="option.id">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button (click)="addBudget3()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Добавить</span>
          </button>
        </div>
      </form>
    </div>

    <div class="col create" [ngClass]="{'show': show.showBlock[7]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.toggleShowBlock(6)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <h2 class="text-start">Добавить пакет работ в СДР</h2>

      <form [formGroup]="createSystem">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата начала:</mat-label>
          <input matInput [matDatepicker]="picker17" formControlName="date_start">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
          <mat-datepicker #picker17></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Дата окончания:</mat-label>
          <input matInput [matDatepicker]="picker18" formControlName="date_end">
          <mat-hint>{{getDateFormatString()}}</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
          <mat-datepicker #picker18></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Название:</mat-label>
          <input matInput formControlName="name">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Код СДР:</mat-label>
          <input matInput formControlName="code_wbs">

        </mat-form-field>

        <mat-form-field class="select-create" style="width: 100%" appearance="outline">
          <mat-label>Категория:</mat-label>
          <mat-select formControlName="category" [(ngModel)]="categoryList">
            <mat-option *ngFor="let option of getCategory" [value]="option.id">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex justify-content-end">
          <button (click)="addBudget4()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
            <span class="d-flex align-items-center">Добавить</span>
          </button>
        </div>
      </form>

    </div>