<table mat-table [dataSource]="tree.getMathingBudget">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width: 33%;"> Наименование </th>
    <td mat-cell *matCellDef="let node;">
      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.code_wbs}} . {{node.title}} 
      <!-- getSelect1(node.wbs_id) -->
      <input [ngModel]="node.wbs_id" style="display: none;">
      <!-- <button mat-button *ngIf="node.level === 0" (click)="show.toggleShowBlock(0); getId2(node.id); getSelect2()">
        <mat-icon matTooltip="Добавить проект" class="material-symbols-outlined">add</mat-icon>
      </button> -->
      <!-- <button mat-button *ngIf="node.level === 1" (click)="show.toggleShowBlock(2); getId3(node.id); getSelect3()">
        <mat-icon matTooltip="Добавить тип общепроектный" class="material-symbols-outlined">add</mat-icon>
      </button> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="serial_number">
    <th mat-header-cell *matHeaderCellDef style="width: 8%;">
      <span>№</span>
    </th>
    <td mat-cell *matCellDef="let i = index">
      <span>
        {{i+1}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="smr_price">
    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> СМР </th>
    <td mat-cell *matCellDef="let node"> {{node.smr_budget}} </td>
  </ng-container>

  <ng-container matColumnDef="pir_price" style="width: 10%;">
    <th mat-header-cell *matHeaderCellDef> ПИР </th>
    <td mat-cell *matCellDef="let node"> {{node.pir_budget}} </td>
  </ng-container>

  <ng-container matColumnDef="oto_price">
    <th mat-header-cell *matHeaderCellDef style="width: 11%;"> Оборудование </th>
    <td mat-cell *matCellDef="let node"> {{node.oto_budget}} </td>
  </ng-container>

  <ng-container matColumnDef="other_price">
    <th mat-header-cell *matHeaderCellDef style="width: 19%;"> Прочее </th>
    <td mat-cell *matCellDef="let node"> {{node.other_budget}} </td>
  </ng-container>

  <ng-container matColumnDef="total_price">
    <th mat-header-cell *matHeaderCellDef> Итого </th>
    <td mat-cell *matCellDef="let node"> {{node.total_price}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <span>Действия</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <mat-menu #actions_menu="matMenu">
        <button mat-menu-item (click)="editCommonCostsDirectory(element); show.toggleShowBlock(3)">
          <mat-icon>edit</mat-icon>
          Редактировать
        </button>
        <button mat-menu-item (click)="delCommonCosts(element.common_budget_id)">
          <mat-icon>clear</mat-icon>
          Удалить
        </button>
      </mat-menu>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>