<table mat-table [dataSource]="getMacro.paramList" style="width: 100%;">
  <ng-container matColumnDef="type_parameter">
    <th mat-header-cell *matHeaderCellDef> Категория </th>
    <td mat-cell *matCellDef="let element"> {{element.type_parameter}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Параметр </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="base">
    <th mat-header-cell *matHeaderCellDef> Тип </th>
    <td mat-cell *matCellDef="let element"> {{element.base}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <span>Действия</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <mat-menu class="customize" #actions_menu="matMenu">
        <button mat-menu-item (click)="editParam(element); show.toggleShowBlock(3)">
          <mat-icon class="mat-menu-icon">edit</mat-icon>
          Редактировать
        </button>
        <button mat-menu-item (click)="delParam(element)">
          <mat-icon class="mat-menu-icon">clear</mat-icon>
          <span>Удалить</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<!-- Редактирование -->
<div class="col create" [ngClass]="{'show': show.showBlock[3]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(3)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2>Редактировать значение</h2>
  
        <form [formGroup]="paramForm">
          <div class="row">
            <div class="col">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Обозначение:</mat-label>
            <input matInput formControlName="type_parameter">
          </mat-form-field>
        
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Значение:</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Тип:</mat-label>
            <input matInput formControlName="base">
          </mat-form-field>

          <div class="d-flex justify-content-end">
            <button style="margin-bottom: 15px;" (click)="saveParam()" mat-stroked-button
              class="mat-btn-recolor">
              <span class="d-flex align-items-center">
                Сохранить
              </span>
            </button>
          </div>
        </div>
      </div>
    </form>
</div>