<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Справочник ролей</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">


              <div>
                <table mat-table [dataSource]="RoleArray" class="table table-striped w-2" matSort>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Название роли </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                  </ng-container>

                  <ng-container matColumnDef="desc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Описание </th>
                    <td mat-cell *matCellDef="let element"> {{ element.desc }} </td>
                  </ng-container>

                  <ng-container matColumnDef="functional">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Функционал </th>
                    <td mat-cell *matCellDef="let element"> {{ element.functional }} </td>
                  </ng-container>

                  <ng-container matColumnDef="level_of_access">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Уровень доступа </th>
                    <td mat-cell *matCellDef="let element"> {{ element.level_of_access }} </td>
                  </ng-container>

                  <ng-container matColumnDef="data_access">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Доступ к данным </th>
                    <td mat-cell *matCellDef="let element"> {{ element.data_access }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


                <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>

              </div>

            </mat-card>
          </div>
        </div>
      </div>