<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="theme.setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#EditAddScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="add()">
            <span class="d-flex align-items-center">Добавить Факторный анализ
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Факторный анализ</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <table mat-table [dataSource]="dataFactorAnalysisTable" multiTemplateDataRows>

                <!--  -->
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                      (click)="toggleExpand(element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElements.indexOf(element) === -1">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElements.indexOf(element) !== -1">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!--  -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef style="width: 90%;"> Название</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>



                <!-- Expanded Content Column -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                      [@detailExpand]="expandedElements.indexOf(element) !== -1 ? 'expanded' : 'collapsed'">
                      <app-inner-table-factor-analysis [data]="element.factor_analysis"
                        [columnsToDisplay]="{'Название': 'title','Бюджет': 'budget','Общий бюджет':'current_budget'}"
                        [toggleExpand]="toggleExpand" 
                        (showChartEvent)="showChartWaterfall($event) "
                        (editFactorAnalysis)="editFactorAnalysis($event)"
                        (delitedFactorAnalysis)="delitedFactorAnalysis($event)"
                        (addInfluence)="AddInfluence($event)"
                        (updateInfluence)="editInfluence($event)"
                        (delInfluence)="delitedInfluence($event)"
                        style="width: 100%;"></app-inner-table-factor-analysis>

                      <!-- Контент -->
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Действие </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menuPortfel">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuPortfel="matMenu">
                      123
                      <!-- <button mat-menu-item type="button" (click)="editPortfolio(element)" data-bs-toggle="offcanvas"
                        data-bs-target="#addPortfolio" aria-controls="addScrolling">
                        <mat-icon>edit</mat-icon>
                        <span>Изменить</span>
                      </button>
                      <button mat-menu-item type="button" (click)="delPortfolio(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Удалить портфель</span>
                      </button> -->
                    </mat-menu>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                  [class.example-expanded-row]="expandedElements.indexOf(element) !== -1">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>

              <mat-card-content>

              </mat-card-content>


            </mat-card>

            <!-- График по факторному анализу(Для конкретного) -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="ShowChartWaterfall" aria-labelledby="addScrollingReserveLabel" style="width: 100%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="ShowChartWaterfall">Подробнее </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">

                <mat-progress-bar *ngIf="dataLoaded" mode="indeterminate"></mat-progress-bar>
                <app-waterfall-chart-factor-analysis *ngIf="!dataLoaded"
                  [factorAnalysisData]="factorAnalysisData"></app-waterfall-chart-factor-analysis>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- Добавить/Изменить факторный анализ -->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="EditAddScrolling" aria-labelledby="addScrollingLabel" style="width: 40%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="EditAddScrolling">{{ editMode ? 'Изменить' : 'Добавить' }} факторный анализ
          </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form [formGroup]="FormAddEditFactorAnalysis" class="row form">


            <mat-form-field appearance="outline">
              <mat-label>Проект</mat-label>
              <mat-select formControlName="project" required>
                <mat-option *ngFor="let project of ProjectList" [value]="project.id">
                  {{ project.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="">
              <mat-label>Название:</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Утвержденный бюджет проекта:</mat-label>
              <input type="number" matInput formControlName="budget" required>
            </mat-form-field>

            <div class="col-12">
              <button (click)="createOrUpdateFactorAnalysis()" mat-stroked-button class="mat-btn-recolor">
                <span class="align-text-center">
                  {{ editMode ? 'Сохранить' : 'Добавить' }}
                </span>
              </button>
            </div>

          </form>
        </div>



      </div>

      <!-- Добавить/Изменить Влияние на тек.бюджет -->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="EditAddInfluence" aria-labelledby="addScrollingLabel" style="width: 30%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="EditAddInfluence">{{ editMode ? 'Изменить' : 'Добавить' }} влияние на текущий бюджет
          </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form [formGroup]="FormAddEditInfluence" class="row form">

            <mat-form-field appearance="outline">
              <mat-label>Название:</mat-label>
              <input matInput formControlName="title" required>
            </mat-form-field>


            <mat-form-field appearance="outline" >
              <mat-label>Описание:</mat-label>
              <textarea matInput formControlName="desc" required></textarea>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Влияние на текущий бюджет проекта:</mat-label>
              <input type="number" matInput formControlName="influence" required>
            </mat-form-field>

            <div class="col-4">
              <button (click)="createOrUpdateInfluence()" mat-stroked-button class="mat-btn-recolor">
                <span class="align-text-center">
                  {{ editMode ? 'Сохранить' : 'Добавить' }}
                </span>
              </button>
            </div>

          </form>
        </div>



      </div>
    </div>
  </div>