<app-header></app-header>
<div class="container-row-wrapper">
  <app-menu class="menu"></app-menu>
  <div class="col section content">
    <div class="tools">
      <div class="button-tools">

        <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
          <mat-icon>compare_arrows</mat-icon>
        </button>

        <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#EditAddScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
          aria-controls="addScrolling" (click)="add()">
          <span class="d-flex align-items-center">Добавить пакет работ
            <mat-icon>library_add</mat-icon>
          </span>
        </button>
        <!-- createOperatingCosts() -->

      </div>
      <div class="col tools-wrapper">
        <span class="tools-title">Бюджет рисков</span>
        <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
      </div>
    </div>
    <div class="col" style="padding: 10px;overflow-x: hidden;">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <mat-tab-group>
              <mat-tab class="mat-elevation-z8" label="План">
                <table mat-table [dataSource]="dataRiskPlanTableSource">

                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> №  </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- WBS_code Column -->
                  <ng-container matColumnDef="WBS_code">
                    <th mat-header-cell *matHeaderCellDef>Код СДР </th>
                    <td mat-cell *matCellDef="let element"> {{element.WBS_code}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Название </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Planned Cost Column -->
                  <ng-container matColumnDef="planned_cost">
                    <th mat-header-cell *matHeaderCellDef> Стоимость базовая </th>
                    <td mat-cell *matCellDef="let element"> {{element.planned_cost | customNumber}} </td>
                  </ng-container>

                  <!-- Start Plan Column -->
                  <ng-container matColumnDef="start_plan">
                    <th mat-header-cell *matHeaderCellDef> Начало план </th>
                    <td mat-cell *matCellDef="let element"> {{element.start_plan}} </td>
                  </ng-container>

                  <!-- Ending Plan Column -->
                  <ng-container matColumnDef="ending_plan">
                    <th mat-header-cell *matHeaderCellDef> Окончание план </th>
                    <td mat-cell *matCellDef="let element"> {{element.ending_plan}} </td>
                  </ng-container>

                  <!-- Risk Description Column -->
                  <ng-container matColumnDef="risk_description">
                    <th mat-header-cell *matHeaderCellDef> Описание риска </th>
                    <td mat-cell *matCellDef="let element"> {{element.risk_description}} </td>
                  </ng-container>

                  <!-- Estimated Cost Column -->
                  <ng-container matColumnDef="estimated_cost">
                    <th mat-header-cell *matHeaderCellDef> Стоимость текущая </th>
                    <td mat-cell *matCellDef="let element"> {{element.estimated_cost | customNumber}} </td>
                  </ng-container>

                  <!-- Risk Description Column -->
                  <ng-container matColumnDef="source">
                    <th mat-header-cell *matHeaderCellDef> Источник </th>
                    <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                  </ng-container>


                  <!-- Plan Deviation Column -->
                  <ng-container matColumnDef="plan_deviation">
                    <th mat-header-cell *matHeaderCellDef> Отклонение от плана</th>
                    <td mat-cell *matCellDef="let element"> {{element.plan_deviation | customNumber}} </td>
                  </ng-container>

                  <!-- Actions Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="editRiskPlan(element)" data-bs-toggle="offcanvas"
                          data-bs-target="#EditAddScrolling">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="removeRisk(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRiskPlan"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRiskPlan;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons #PaginatorPlan></mat-paginator>
              </mat-tab>

              <!-- Факт  -->
              <mat-tab class="mat-elevation-z8" label="Факт">

                <table mat-table [dataSource]="dataRiskActualTableSource">

                  <!-- ID Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- WBS_code Column -->
                  <ng-container matColumnDef="WBS_code">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.WBS_code}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Название</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Contract Price Column -->
                  <ng-container matColumnDef="contract_price">
                    <th mat-header-cell *matHeaderCellDef> Стоимость по договору, тыс.руб</th>
                    <td mat-cell *matCellDef="let element"> {{element.contract_price | customNumber}} </td>
                  </ng-container>

                  <!-- Start Plan Column -->
                  <ng-container matColumnDef="start_plan">
                    <th mat-header-cell *matHeaderCellDef> Начало план </th>
                    <td mat-cell *matCellDef="let element"> {{element.start_plan}} </td>
                  </ng-container>

                  <!-- Ending Plan Column -->
                  <ng-container matColumnDef="ending_plan">
                    <th mat-header-cell *matHeaderCellDef> Окончание план </th>
                    <td mat-cell *matCellDef="let element"> {{element.ending_plan}} </td>
                  </ng-container>

                  <!-- Contract Number Column -->
                  <ng-container matColumnDef="contract_number">
                    <th mat-header-cell *matHeaderCellDef> № договора </th>
                    <td mat-cell *matCellDef="let element"> {{element.contract_number}} </td>
                  </ng-container>

                  <!-- Contract_Date Column -->
                  <ng-container matColumnDef="contract_date">
                    <th mat-header-cell *matHeaderCellDef> Дата договора</th>
                    <td mat-cell *matCellDef="let element"> {{element.contract_date}} </td>
                  </ng-container>

                  <!-- Contract Name Column -->
                  <ng-container matColumnDef="contract_name">
                    <th mat-header-cell *matHeaderCellDef> Название договора </th>
                    <td mat-cell *matCellDef="let element"> {{element.contract_name}} </td>
                  </ng-container>

                  <!-- Payments Column -->
                  <ng-container matColumnDef="payments">
                    <th mat-header-cell *matHeaderCellDef> Платежи, тыс.руб</th>
                    <td mat-cell *matCellDef="let element"> {{element.payments | customNumber}} </td>
                  </ng-container>

                  <!-- Acts Price Column -->
                  <ng-container matColumnDef="acts">
                    <th mat-header-cell *matHeaderCellDef> Акты, тыс.рублей</th>
                    <td mat-cell *matCellDef="let element"> {{element.acts | customNumber}} </td>
                  </ng-container>

                  <!-- Actions Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="editRiskActual(element)" data-bs-toggle="offcanvas"
                          data-bs-target="#editActualScrolling">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsRiskActual"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsRiskActual;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons #PaginatorAnalog></mat-paginator>
              </mat-tab>
            </mat-tab-group>
          </mat-card>


          <!-- Изменить/Добавить Риски План -->
          <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="EditAddScrolling" aria-labelledby="addScrollingLabel" style="width: 25%;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="EditAddScrolling">{{ editMode ? 'Изменить' : 'Добавить' }}
                Риски</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
              <form [formGroup]="FormAddEditRiskPlan">
                <div class="container row gx-3">

                  <!-- Name -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Название: </mat-label>
                    <input matInput formControlName="name" required>
                  </mat-form-field>

                  <!-- Planned Cost -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Стоимость базовая</mat-label>
                    <input type="number" matInput formControlName="planned_cost" required>
                  </mat-form-field>

                  <!-- Start Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Начало план:</mat-label>
                    <input matInput [matDatepicker]="startPickerRiskPlan" formControlName="start_plan" required>
                    <mat-datepicker-toggle matSuffix [for]="startPickerRiskPlan"></mat-datepicker-toggle>
                    <mat-datepicker #startPickerRiskPlan></mat-datepicker>
                  </mat-form-field>

                  <!-- Ending Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Окончание план:</mat-label>
                    <input matInput [matDatepicker]="endPickerRiskPlan" formControlName="ending_plan" required>
                    <mat-datepicker-toggle matSuffix [for]="endPickerRiskPlan"></mat-datepicker-toggle>
                    <mat-datepicker #endPickerRiskPlan></mat-datepicker>
                  </mat-form-field>

                  <!-- Risk Description -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Описание риска:</mat-label>
                    <textarea matInput formControlName="risk_description"></textarea>
                  </mat-form-field>

                  <!-- Estimated Cost -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Стоимость текущая:</mat-label>
                    <input type="number" matInput formControlName="estimated_cost" required>
                  </mat-form-field>

                  <!-- Source -->
                  <mat-form-field appearance="outline" class="example-full-width col-12">
                    <mat-label>Источник:</mat-label>
                    <input type="text" aria-label="Number" matInput formControlName="source" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <!-- Plan Deviation -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Отклонение от плана:</mat-label>
                    <input type="number" matInput formControlName="plan_deviation" required>
                  </mat-form-field>

                  <div class="col-12">
                    <button (click)="createOrUpdateRiskPlan()"  mat-stroked-button
                      class="mat-btn-recolor">
                      <span class="align-text-center">
                        {{ editMode ? 'Сохранить' : 'Добавить' }}
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- Изменить факт  -->
          <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="editActualScrolling" aria-labelledby="addScrollingLabel" style="width: 25%;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="addScrolling">Изменить</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
              <form [formGroup]="FormEditRiskAnalog">
                <div class="container row gx-3">

                  <!-- Name -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Название:</mat-label>
                    <input matInput formControlName="name" required>
                  </mat-form-field>

                  <!-- Contract Price -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Стоимость по договору, тыс.руб:</mat-label>
                    <input matInput formControlName="contract_price" required [disabled]="true">
                  </mat-form-field>

                  <!-- Start Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Начало план:</mat-label>
                    <input matInput [matDatepicker]="startPickerAnalog" formControlName="start_plan" required>
                    <mat-datepicker-toggle matSuffix [for]="startPickerAnalog"></mat-datepicker-toggle>
                    <mat-datepicker #startPickerAnalog></mat-datepicker>
                  </mat-form-field>

                  <!-- Ending Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Окончание план:</mat-label>
                    <input matInput [matDatepicker]="endPickerAnalog" formControlName="ending_plan" required>
                    <mat-datepicker-toggle matSuffix [for]="endPickerAnalog"></mat-datepicker-toggle>
                    <mat-datepicker #endPickerAnalog></mat-datepicker>
                  </mat-form-field>

                  <!-- Contract Number -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>№ договора:</mat-label>
                    <input matInput formControlName="contract_number" required>
                  </mat-form-field>

                  <!-- Contract Date -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Дата договра:</mat-label>
                    <input matInput [matDatepicker]="contractDatePicker" formControlName="contract_date" required>
                    <mat-datepicker-toggle matSuffix [for]="contractDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #contractDatePicker></mat-datepicker>
                  </mat-form-field>

                  <!-- Contract Name -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Название договора:</mat-label>
                    <input matInput formControlName="contract_name" required>
                  </mat-form-field>

                  <!-- Payments -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Платежи, тыс.руб:</mat-label>
                    <input type="number" matInput formControlName="payments" required>
                  </mat-form-field>

                  <!-- Acts -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Акты, тыс.рублей:</mat-label>
                    <input type="number" matInput formControlName="acts" required>
                  </mat-form-field>


                  <div class="col-12">
                    <button (click)="UpdateRiskActual()" mat-stroked-button class="mat-btn-recolor">
                      <span class="align-text-center">
                        Сохранить
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>