<table mat-table [dataSource]="getMacro.dataSourceMetals" style="width: 100%;">
  <ng-container matColumnDef="param_1">
    <th mat-header-cell *matHeaderCellDef> Категория </th>
    <td mat-cell *matCellDef="let element"> {{element.param_1}} </td>
  </ng-container>

  <ng-container matColumnDef="param_2">
    <th mat-header-cell *matHeaderCellDef> Параметр </th>
    <td mat-cell *matCellDef="let element"> {{element.param_2}} </td>
  </ng-container>

  <ng-container matColumnDef="param_3">
    <th mat-header-cell *matHeaderCellDef> Тип </th>
    <td mat-cell *matCellDef="let element"> {{element.param_3}} </td>
  </ng-container>

  <ng-container matColumnDef="2024">
    <th mat-header-cell *matHeaderCellDef> 2024 </th>
    <td mat-cell *matCellDef="let element"> {{element['2024']}} </td>
  </ng-container>

  <ng-container matColumnDef="2025">
    <th mat-header-cell *matHeaderCellDef> 2025 </th>
    <td mat-cell *matCellDef="let element"> {{element['2025']}} </td>
  </ng-container>

  <ng-container matColumnDef="2026">
    <th mat-header-cell *matHeaderCellDef> 2026 </th>
    <td mat-cell *matCellDef="let element"> {{element['2026']}} </td>
  </ng-container>

  <ng-container matColumnDef="2027">
    <th mat-header-cell *matHeaderCellDef> 2027 </th>
    <td mat-cell *matCellDef="let element"> {{element['2027']}} </td>
  </ng-container>

  <ng-container matColumnDef="2028">
    <th mat-header-cell *matHeaderCellDef> 2028 </th>
    <td mat-cell *matCellDef="let element"> {{element['2028']}} </td>
  </ng-container>

  <ng-container matColumnDef="2029">
    <th mat-header-cell *matHeaderCellDef> 2029 </th>
    <td mat-cell *matCellDef="let element"> {{element['2029']}} </td>
  </ng-container>

  <ng-container matColumnDef="2030">
    <th mat-header-cell *matHeaderCellDef> 2030 </th>
    <td mat-cell *matCellDef="let element"> {{element['2030']}} </td>
  </ng-container>

  <ng-container matColumnDef="2031">
    <th mat-header-cell *matHeaderCellDef> 2031 </th>
    <td mat-cell *matCellDef="let element"> {{element['2031']}} </td>
  </ng-container>

  <ng-container matColumnDef="2032">
    <th mat-header-cell *matHeaderCellDef> 2032 </th>
    <td mat-cell *matCellDef="let element"> {{element['2032']}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <span>Действия</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <mat-menu class="customize" #actions_menu="matMenu">
        <button mat-menu-item (click)="getMacro.editCurrency(element); show.toggleShowBlock(0); getMacro.isSection_4()">
          <mat-icon class="mat-menu-icon">edit</mat-icon>
          Редактировать
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>