.wbs {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 32em;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: -8px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  display: none;
  z-index: 2;
}
.wbs.show {
  display: block;
  transform: translateX(0px);
}
.list {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.example-full-width {
  width: 100%;
}