<!-- Акты -->
  <table class="table dark-table">
    <thead style="font-size: 12px;">
      <tr>
        <th scope="col"> №</th>
        <th scope="col">Описание</th>
        <th scope="col" style="width: 10%;">Документ Факт</th>
        <th scope="col">Дата</th>
        <th scope="col">Этап</th>
        <th scope="col">Cтатья затрат</th>
        <th scope="col">Cумма</th>
        <th scope="col">Сумма без учета НДС</th>
        <th scope="col">Сумма НДС</th>
        <th scope="col" style="width: 15%;">Действие</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let act of reg.getAct; let i = index">
        <th scope="row"><span>{{i+1}}</span></th>
        <th scope="row">
          <span>{{ act.description }}</span>
          <!-- <input matInput *ngIf="act.editing" [(ngModel)]="act.description" class="editing"> -->
        </th>
        <td>
          <span>{{ act.document_fact }}</span>
          <!-- <input matInput *ngIf="act.editing" [(ngModel)]="act.document_fact" class="editing"> -->
        </td>
        <td>
          <span>{{ act.planned_date | date: 'YYYY-MM-dd'}}</span>
          <!-- <mat-form-field appearance="legacy" *ngIf="act.editing">
            <mat-label>{{act.planned_date | date:
              'YYYY-MM-DD'}}</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="act.planned_date">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
        </td>
        <td>
          <span>{{ act.stage }}</span>
          <!-- <input matInput *ngIf="act.editing" [(ngModel)]="act.stage" class="editing"> -->
        </td>
        <td>
          <span>{{ act.cost_item }}</span>
          <!-- <input matInput *ngIf="act.editing" [(ngModel)]="act.cost_item" class="editing"> -->
        </td>
        <td>
          <span>{{ act.amount| number: '1.2-2' }}</span>
          <!-- <input matInput *ngIf="act.editing" [(ngModel)]="act.amount" class="editing"> -->
        </td>
        <td>{{ act.amount_without_VAT| number: '1.2-2' }}</td>
        <td>{{ act.amount_VAT | number: '1.2-2'}}</td>
        <td>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu class="customize" #menu="matMenu">
            <button mat-menu-item (click)="getWBSAct(act.id); show.toggleShowBlock(5)">
              <mat-icon class="mat-menu-icon">menu_open</mat-icon>
              <span>СДР</span>
            </button>
            <button mat-menu-item (click)="editActs(act); show.toggleShowBlock(6)">
              <mat-icon class="mat-menu-icon">edit</mat-icon>
              <span>Изменить</span>
            </button>
            <!-- <button mat-menu-item *ngIf="act.editing" (click)="saveActs(contractDetails.id,act)">
              <mat-icon>done</mat-icon>
              <span>Сохранить</span>
            </button> -->
            <button mat-menu-item (click)="deleteActs(getId, act.id)">
              <mat-icon class="mat-menu-icon">clear</mat-icon>
              <span>Удалить</span>
            </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <mat-paginator [length]="getAct.length" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="onPageActs($event)">
    </mat-paginator> -->

    <!-- СДР: платежи,план -->
<div class="col create smoll-create" [ngClass]="{'show': show.showBlock[5]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(5); toggleShowBlock = false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>СДР: Акты</h2>

    <table class="table dark-table">
      <thead style="font-size: 12px;">
        <tr>
          <th scope="col">Код</th>
          <th scope="col">Название</th>
          <th scope="col">Сумма</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wbs of WBSListAct ">

          <td>{{ wbs.code }}</td>
          <td>{{ wbs.name }}</td>
          <td>
            <span *ngIf="!wbs.editing">{{wbs.amount| number: '1.2-2' }}</span>
            <!-- <input matInput *ngIf="wbs.editing" [(ngModel)]="wbs.amount" class="editing"> -->
          </td>

          <td>
            <button mat-icon-button [matMenuTriggerFor]="menuPlanMore">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="customize" #menuPlanMore="matMenu">
              <!-- <button mat-menu-item *ngIf="wbs.editing"
                (click)="saveWBSPlanAmount(wbs.id , wbs)">
                <mat-icon>done</mat-icon>
                <span>Сохранить</span>
              </button> -->
              <button mat-menu-item *ngIf="!wbs.editing" (click)="editActs(wbs); show.toggleShowBlock(7)">
                <mat-icon class="mat-menu-icon">edit</mat-icon>
                <span>Изменить</span>
              </button>
              <button mat-menu-item (click)="delWBSAct(wbs.id)">
                <mat-icon class="mat-menu-icon">clear</mat-icon>
                <span>Удалить</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="mat-btn-recolor" mat-stroked-button (click)="toggleShowWbs()">Добавить СДР
      <mat-icon>add_box</mat-icon>
    </button>
</div>

<!-- Изменить -->
<div class="col create" [ngClass]="{'show': show.showBlock[6]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(6)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Изменить: акт</h2>

    <form [formGroup]="editAct">
      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
        <mat-label>Описание:</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
        <mat-label>Документ Факт:</mat-label>
        <input matInput formControlName="document_fact">
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
        <mat-label>Дата платежа:</mat-label>
        <input matInput [matDatepicker]="datepicker2" formControlName="planned_date">
        <mat-hint>{{getDateFormatString()}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
        <mat-datepicker #datepicker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
        <mat-label>Этап:</mat-label>
        <input matInput formControlName="stage">
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
        <mat-label>Статья бюджета:</mat-label>
        <input matInput formControlName="cost_item">
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
        <mat-label>Сумма с НДС:</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>
      <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button type="submit" (click)="saveAct()">
        <span class="d-flex align-items-center">Сохранить</span>
      </button>
    </form>

  </div>

<!-- Изменить -->
<div class="col create" [ngClass]="{'show': show.showBlock[7]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(7)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Изменить: акт (СДР)</h2>

    <form [formGroup]="editWBSAct" style="width: 100%;">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Цена:</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>

      <button (click)="saveWBSActAmount(acts,amount)" class="mat-btn-recolor" mat-stroked-button>Сохранить</button>
    </form>

  </div>

<!-- Добавить -->
<div class="col wbs" [ngClass]="{'show': toggleShowBlock}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="closedWbs()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Добавить СДР</h2>

    <!-- Меню с чекбоксами -->
 
    <div class="checkbox-list">
      <div class="col list" *ngFor="let item of WBSList">
        <mat-checkbox
          [(ngModel)]="item.selected"
          (click)="$event.stopPropagation()">
          {{item.code}} - {{item.name}}
        </mat-checkbox>
      </div>
      <button (click)="addPaymentWBS('acts')" class="mat-btn-recolor" mat-stroked-button>Сохранить</button>
    </div>
    
  </div>