:root[theme=dark] {
    /* head */
    --theme-head-bg: #3a3a3abf;
    --theme-head-border-bg: #000;
    --theme-setting-bg: #222226;
    --theme-setting-txt-bg: #fff;
    --theme-setting-a-bg: #181818;
    --theme-setting-toggle-bg: #fff;
    /* menu */
    --theme-menu-smoll-bg: #343435;
    --theme-menu-txt-bg: #fff;
    --theme-menu-bg: #343435;
    --theme-menu-border-bg: #000;
    --theme-menu-dropdown-bg: #222226;
    --theme-menu-btn-bg: #222226;
    --theme-menu-a-bg: #fff;
    --theme-menu-content-bg: #181818;
    --theme-menu-active-bg: #343435;
    --theme-menu-active-txt-bg: #fff;
    --theme-panel-bg: #222226;
    --theme-text-link-color: #fff;
    /* content */
    --theme-content-bg: #3a3a3abf;
    --theme-content-txt-bg: #fff;
    --theme-content-title-bg: #fff;
    --theme-background: #222226;
    --theme-color: rgba(255,255,255,.75);
    --theme-bgwrapper: rgba(51, 51, 51, 0.8);;
    --theme-small-menu-size: #3a3a3abf;
    --theme-nav-filter: #3a3a3abf;
    --theme-title-card-lg: #757da4;
    --theme-card-wrapper-lg: rgb(58 58 58);
    --theme-main-bg: #222226;
    --theme-main-head-bg: #222226;
    --theme-border: #5e5e5e;
    --theme-nav-a: #fff;
    --theme-mat-label-color: #fff;
    /* table */
    --theme-dark-table-color: #fff;
    --theme-dark-table-border: 1px solid #0000001f;
    /* mat-table */
    --theme-mat-table-bg: #343435;
    --theme-mat-cell-header-border-bg: #222226;
    --theme-mat-cell-header-color-bg: #fff;
    --theme-mat-cell-bg: #fff;
    --theme-mat-paginator-bg: #343435;
    --theme-mat-paginator-color-bg: #fff;
    /* alerts */
    --theme-alerts-s-bg: #072a1a;
    --theme-alerts-s-txt-bg: #75b798;
    --theme-alerts-s-border-bg: #0f5132;
    --theme-alerts-d-bg: #2c0b0e;
    --theme-alerts-d-txt-bg: #ed4555;
    --theme-alerts-d-border-bg: #842029;
    --theme-alerts-i-bg: #032830;
    --theme-alerts-i-txt-bg: #6edff6;
    --theme-alerts-i-border-bg: #087990;
    /* modal block */
    --theme-modal-background: #343435;
    --theme-modal-color: #fff;
    --theme-modal-border: rgba(255, 255, 255, 0.12);
    --theme-modal-button-recolor: #4da958;
    --theme-modal-exit-color: #fff;
    --theme-modal-exit-border: rgba(255, 255, 255, 0.12);
    --theme-modal-text-color: #fff;
    /* tabs */
    --theme-tab-active-color: #fff;
    --theme-tab-color: rgba(255,255,255,.5);
    /* context-menu */
    --theme-context-background: #222226;
    --theme-context-color: #fff;
    --theme-context-hover: #181818;
    --theme-context-icon: #fff;
    --theme-context-text: #fff;
    /* button tools */
    --theme-nav-a: #fff;
    --theme-nav-border: 1px solid #cacaca;
    --theme-select-value: #fff;
  }

