:root {
    /* head */
    --theme-head-bg: #fff;
    --theme-head-border-bg: #cacaca;
    --theme-setting-bg: #f1f1f1;
    --theme-setting-txt-bg: #000;
    --theme-setting-a-bg: #ddd;
    --theme-setting-toggle-bg: #6c6c6c;
    /* menu */
    --theme-menu-smoll-bg: #fff;
    --theme-menu-txt-bg: #484848;
    --theme-menu-bg: #fff;
    --theme-menu-border-bg: #cacaca;
    --theme-menu-dropdown-bg: #f1f1f1;
    --theme-menu-btn-bg: #f1f1f1;
    --theme-menu-a-bg: #000;
    --theme-menu-content-bg: #ddd;
    --theme-menu-active-bg: #fff;
    --theme-menu-active-txt-bg: #fff;
    --theme-panel-bg: #f1f1f1;
    --theme-text-link-color: #484848;
    /* content */
    --theme-content-bg: #fff;
    --theme-content-txt-bg: #000;
    --theme-content-title-bg: #000;
    --theme-mat-label-color: #000;
    /* table */
    --theme-dark-table-color: #000;
    --theme-dark-table-border: 1px solid #0000001f;
    /* mat-table */
    --theme-mat-table-bg: #fff;
    --theme-mat-cell-header-border-bg: #e0e1e9;
    --theme-mat-cell-header-color-bg: #000;
    --theme-mat-cell-bg: #000;
    --theme-mat-paginator-bg: #fff;
    --theme-mat-paginator-color-bg: #000;
    /* alerts */
    --theme-alerts-s-bg: #d1e7dd;
    --theme-alerts-s-txt-bg: #0a3622;
    --theme-alerts-s-border-bg: #a3cfbb;
    --theme-alerts-d-bg: #f8d7da;
    --theme-alerts-d-txt-bg: #842029;
    --theme-alerts-d-border-bg: #f5c2c7;
    --theme-alerts-i-bg: #cff4fc;
    --theme-alerts-i-txt-bg: #055160;
    --theme-alerts-i-border-bg: #9eeaf9;

    --theme-background: #e0e1e9;
    --theme-color: black;
    --theme-bgwrapper: rgba(255, 255, 255, 0.8);
    /* modal block */
    --theme-modal-background: #fff;
    --theme-modal-color: #000;
    --theme-modal-border: rgba(0,0,0,0.12);
    --theme-modal-button-recolor: rgba(0,0,0,0.12);
    --theme-modal-exit-color: #6c6c6c;
    --theme-modal-exit-border: rgba(0, 0, 0, 0.12);
    --theme-modal-text-color: #000;
    /* tabs */
    --theme-tab-active-color: #000;
    --theme-tab-color: #000;
    /* context-menu */
    --theme-context-background: #fff;
    --theme-context-color: #6c6c6c;
    --theme-context-hover: #f3f3f3;
    --theme-context-icon: #6c6c6c;
    --theme-context-text: #6c6c6c;
    /* button tools */
    --theme-nav-a: #6c6c6c;
    --theme-nav-border: 1px solid #0000001f;
    --theme-select-value: #000;

    /* --theme-small-menu-size: #ffffffc0; */
    --theme-small-menu-size: #b5dca4;
    --theme-nav-filter: #e2e3eb;
    --theme--title-card-lg: #e2e3eb;
    --theme-main-bg: #e0e1e9;
     /*--theme-main-head-bg: #e0e1e9; */
    --theme-border: #fff;



  }
