@import './app/resources/styles/themes/default';
@import './app/resources/styles/themes/dark.css';
@import './app/resources/styles/base.css';
@import './app/content/budget/svz-documents/svz-documents.component.css';
/* @import "primeicons/primeicons.css"; */
@import "jsgantt-improved/dist/jsgantt.css";
/* @import '../node_modules/primeicons/primeicons.css'; */
/* @import '../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css'; */
/* @import './app/resources/styles/themes/theme_prime.css'; */

::-webkit-scrollbar { width: 6px; height: 5px;}
::-webkit-scrollbar-button {  background-color: rgba(102, 102, 102, 0); }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #868686; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}

.table>:not(caption)>*>* {
  background-color: #fff0 !important;
}
.content {
    overflow-y: scroll;
    height: 100vh;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  ::ng-deep.mat-panel-title:hover {
    color: red; /* Изменить цвет текста */
  }
