<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button mat-stroked-button matTooltip="Создать" class="chevron" (click)="selectElementType('obj')">Добавить категорию объекта
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-stroked-button matTooltip="Создать" class="chevron" style="margin-left: 5px;" (click)="selectElementType('equipment')">Добавить категорию оборудования
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-stroked-button matTooltip="Создать" class="chevron" style="margin-left: 5px;" (click)="selectElementType('work_package')">Добавить категорию пакета работ
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Категории</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>

              <mat-tab-group>
                <mat-tab label="Категория объекта"> 
                  <app-obj></app-obj>
                </mat-tab>
                <mat-tab label="Категория оборудования"> 
                  <app-equip></app-equip>
                </mat-tab>
                <mat-tab label="Категория пакетов работ"> 
                  <app-pack></app-pack>
                </mat-tab>
              </mat-tab-group>            

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

<!-- Добавление -->
      
        <!-- <div class="form-budget col create" [ngClass]="{'show':  show.showBlock[elementToShowBlock[selectedElementType]]}">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(elementToShowBlock[selectedElementType])">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Создать {{ selectedElementType === 'obj' ? 'объект' : selectedElementType === 'equipment' ? 'оборудование' : selectedElementType === 'work_package' ? 'пакет работ' : 'элемент' }}</h2>

          <form [formGroup]="createForm">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="title">
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button (click)="create(selectedElementType)" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                    <span class="d-flex align-items-center">
                      Сохранить
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
          
        </div> -->
      
        <div class="form-budget col create" [ngClass]="{'show':  show.showBlock[elementToShowBlock[selectedElementType]]}">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(elementToShowBlock[selectedElementType])">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Создать {{ selectedElementType === 'obj' ? 'объект' : selectedElementType === 'equipment' ? 'оборудование' : selectedElementType === 'work_package' ? 'пакет работ' : 'элемент' }}</h2>
          
          <form [formGroup]="createForm" style="width: 100%;">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="title">
                </mat-form-field>
                <div class="d-flex justify-content-end">
                  <button (click)="create(selectedElementType)" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                    <span class="d-flex align-items-center">
                      Добавить
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>
