.more {
  color: #6c6c6c;
}
.example-full-width {
  width: 100%;
}
/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}