<table class="table">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td>Год текущий</td>
      <td>Итого</td>
      <td>ПИР</td>
      <td>СМР</td>
      <td>Оборудование</td>
      <td>Прочее</td>
      <td style="width: 10%;"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td style="width: 38%;"></td>
      <td>{{ currentYear }}</td>
      <td>{{ getInfo.dataSouce?.total_price_inflation  | customNumber }}</td>
      <td>{{ getInfo.dataSouce?.smr_price_inflation  | customNumber }}</td>
      <td>{{ getInfo.dataSouce?.pir_price_inflation  | customNumber }}</td>
      <td>{{ getInfo.dataSouce?.oto_price_inflation  | customNumber }}</td>
      <td>{{ getInfo.dataSouce?.other_price_inflation  | customNumber }}</td>
      <td></td>
    </tr>
  </tbody>
</table>