<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Источник стоимости</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>      
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card class="example-card widget change-pass">
              <mat-card-content>

                <table mat-table [dataSource]="dataSource">
                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> №</th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="coefficient_rate">
                    <th mat-header-cell *matHeaderCellDef> Коэффициент </th>
                    <td mat-cell *matCellDef="let element"> {{element.coefficient_rate}} </td>
                  </ng-container>

                  <ng-container matColumnDef="percent_rate">
                    <th mat-header-cell *matHeaderCellDef> Процент начисления в резерв </th>
                    <td mat-cell *matCellDef="let element"> {{element.percent_rate}} %</td>
                  </ng-container>
              
                  <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Действия </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu class="customize" #menu="matMenu">
                        <button mat-menu-item  *ngIf="!element.editing" (click)="editSource(element); show.toggleShowBlock(1)">
                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                          <span>Редактировать</span>
                        </button>
                        <button *ngIf="!element.editing" mat-menu-item (click)="delSource(element)">
                          <mat-icon class="mat-menu-icon">clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

<!-- Добавление -->
            <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
              <div class="col d-flex flex-row-reverse">
                <div class="col text-end" style="margin-bottom: 15px;">
                  <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <div class="col">
                  <h2>Источник стоимости</h2>
                </div>
              </div>

                <form [formGroup]="sourceForm">
                  <div class="row">
                    <div class="col">
                    
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">
          
                        </mat-form-field>
                                        
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Процент начисления в резерв:</mat-label>
                          <input matInput formControlName="percent_rate">
          
                        </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Комментарий:</mat-label>
                            <textarea matInput formControlName="comment"></textarea>
                          </mat-form-field>
          
                          <div class="d-flex justify-content-end">
                            <button style="margin-bottom: 15px;" (click)="addSource()" mat-stroked-button
                              class="mat-btn-recolor">
                              <span class="d-flex align-items-center">
                                Добавить
                              </span>
                            </button>
                          </div>
                        </div>
                  </div>
                </form>
                
            </div>

<!-- Редактирование -->
            <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <h2>Редактировать источник стоимости</h2>
              
                    <form [formGroup]="editSourceForm">
                      <div class="row">
                        <div class="col">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Наименование:</mat-label>
                        <input matInput formControlName="name">
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Процент начисления в резерв:</mat-label>
                        <input matInput formControlName="percent_rate">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Комментарий:</mat-label>
                        <input matInput formControlName="comment">
                      </mat-form-field>

                      <div class="d-flex justify-content-end">
                        <button style="margin-bottom: 15px;" (click)="saveSource()" mat-stroked-button
                          class="mat-btn-recolor">
                          <span class="d-flex align-items-center">
                            Сохранить
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
          </div>

