<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button matTooltip="Добавить" class="chevron bnt-help--tools" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling" >
            <mat-icon>library_add</mat-icon>
          </button>

          <mat-form-field appearance="outline" class="select-create" style="margin-top: -5px;margin-left: 5px;">
            <mat-label>Должность</mat-label>
            <mat-select [(value)]="selectedPosition" (selectionChange)="applyFilterByPosition($event)">
              <mat-option *ngFor="let position of SelectPosition" [value]="position">
                {{ position }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="select-create" style="margin-top: -5px;margin-left: 5px;">
            <mat-label>Город</mat-label>
            <mat-select [(value)]="selectedCity" (selectionChange)="applyFilterByCity($event)">
              <mat-option *ngFor="let city of SelectCiti" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Команда проекта</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>


  
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">

              <div>
                <table mat-table [dataSource]="TeamArray" class="table table-striped w-2" matSort>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> №</th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>
                  <!-- ФИО -->
                  <ng-container matColumnDef="full_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ФИО</th>
                    <td mat-cell *matCellDef="let element"> {{ element.full_name }} </td>
                  </ng-container>
                  <!-- Должность-->
                  <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Должность</th>
                    <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
                  </ng-container>

                  <!-- Проект-->
                  <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Проект</th>
                    <td mat-cell *matCellDef="let element"> {{ element.project_name }} </td>
                  </ng-container>

                  <!-- Телефон-->
                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Телефон</th>
                    <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
                  </ng-container>


                  <!-- mail-->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
                    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
                  </ng-container>

                  <!-- Адрес-->
                  <ng-container matColumnDef="full_address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Адрес</th>
                    <td mat-cell *matCellDef="let element"> {{ element.full_address }} </td>
                  </ng-container>

                  <!-- Номер кабинета-->
                  <ng-container matColumnDef="room_number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Номер кабинета</th>
                    <td mat-cell *matCellDef="let element"> {{ element.room_number }} </td>
                  </ng-container>


                  <!-- Действие -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editEmployeeDetails(element)" data-bs-toggle="offcanvas"
                          data-bs-target="#editEmployee" aria-controls="offcanvasScrolling">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>



                        <button mat-menu-item (click)="delEmployee(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


                <mat-paginator [pageSizeOptions]="[50,100,1000]" aria-label="Select page of users"></mat-paginator>

              </div>



              <mat-card-content>

                <!-- Добавить -->
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="2"
                  id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 40%;">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Добавить</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
                  </div>
                  <div class="container-lg overflow-auto">
                    <form [formGroup]="EmployeeAddForm" class="row form">
                      <mat-form-field appearance="outline" class="">
                        <mat-label>ФИО:</mat-label>
                        <input matInput formControlName="full_name">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="">
                        <mat-label>Должность:</mat-label>
                        <input matInput formControlName="position">
                      </mat-form-field>
                      
                      <mat-form-field appearance="outline">
                        <mat-label>Проект</mat-label>
                        <mat-select formControlName="project" required>
                          <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{ project.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Телефон:</mat-label>
                        <input type="tel" matInput prefix="+7" mask="(000) 000-00-00" formControlName="phone">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Электронная почта:</mat-label>
                        <input type="email" matInput formControlName="email">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Город:</mat-label>
                        <input matInput formControlName="city">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Улица:</mat-label>
                        <input matInput formControlName="street">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Дом:</mat-label>
                        <input matInput formControlName="house_number">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Здание:</mat-label>
                        <input matInput formControlName="building">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Этаж:</mat-label>
                        <input matInput formControlName="floor">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Комната:</mat-label>
                        <input matInput formControlName="room_number">
                      </mat-form-field>


                      <div class="d-flex justify-content-end">
                        <button style="margin-bottom: 15px;" (click)="AddEmployee()" mat-stroked-button
                          class="mat-btn-recolor">
                          <span class="d-flex align-items-center">
                            Добавить
                          </span>
                        </button>
                      </div>
                    </form>

                  </div>
                </div>



                <!-- Изменить -->
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="2"
                  id="editEmployee" aria-labelledby="offcanvasScrollingLabel" style="width: 40%;">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Изменить</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
                  </div>
                  <div class="container-lg overflow-auto">
                    <form [formGroup]="EmployeeEditForm" (ngSubmit)="updateEmployee()" class="row form">
                      <mat-form-field appearance="outline" class="">
                        <mat-label>ФИО:</mat-label>
                        <input matInput formControlName="full_name">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="">
                        <mat-label>Должность:</mat-label>
                        <input matInput formControlName="position">
                      </mat-form-field>


                      <mat-form-field appearance="outline">
                        <mat-label>Проект</mat-label>
                        <mat-select formControlName="project" required>
                          <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{ project.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Телефон:</mat-label>
                        <input type="tel" matInput prefix="+7" mask="(000) 000-00-00" formControlName="phone">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Электронная почта:</mat-label>
                        <input type="email" matInput formControlName="email">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Город:</mat-label>
                        <input matInput formControlName="city">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Улица:</mat-label>
                        <input matInput formControlName="street">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Дом:</mat-label>
                        <input matInput formControlName="house_number">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Здание:</mat-label>
                        <input matInput formControlName="building">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Этаж:</mat-label>
                        <input matInput formControlName="floor">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="col-4">
                        <mat-label>Комната:</mat-label>
                        <input matInput formControlName="room_number">
                      </mat-form-field>


                      <div class="col-12">
                        <button mat-stroked-button class="mat-btn-recolor" type="submit"
                          [disabled]="EmployeeEditForm.invalid">Сохранить</button>
                      </div>

                    </form>

                  </div>
                </div>
              </mat-card-content>
            </mat-card>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>