<table mat-table [dataSource]="DataSourse" multiTemplateDataRows class="mat-elevation-z8">
  <!-- Колонка для кнопки раскрытия -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="toggleExpand(element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElements.indexOf(element) === -1">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElements.indexOf(element) !== -1">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Колонка для имени пользователя -->
  <ng-container *ngFor="let header of headers; let i = index" [matColumnDef]="keys[i]">
    <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
    <td mat-cell *matCellDef="let element"> {{ element[keys[i]] }} </td>
  </ng-container>


  <!-- Expanded Content Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
        [@detailExpand]="expandedElements.indexOf(element) !== -1 ? 'expanded' : 'collapsed'">

        <div *ngIf="element.project_parameters && element.project_parameters.length > 0; else emptyBlock"
          style="width: 100%;">
          <table mat-table [dataSource]="element.project_parameters" class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;"> № </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="width: 80%;"> Название проекта </th>
              <td mat-cell *matCellDef="let parameter"> {{parameter.name}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Действие </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item type="button" (click)="addToComparison(element)">
                    <mat-icon>{{ addedToComparison[element.id] ? 'close' : 'add' }}</mat-icon>
                    <span>{{ addedToComparison[element.id] ? 'Убрать из сравнения' : 'Добавить к сравнению' }}</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="['id', 'name','action']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'name','action']"></tr>
          </table>

        </div>
        <ng-template #emptyBlock>
          <p>Данные отсутствуют</p>
        </ng-template>
      </div>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElements.indexOf(element) !== -1">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>