<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">СДР по договорам </span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="budget">

              <mat-card-content>
                <h2>Структурная декомпозиция работ</h2>
                <table mat-table [dataSource]="dataSDRContractsTree">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let node;">
                      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''"
                        [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.code_wbs}} . {{node.name}}

                      <input [ngModel]="node.wbs_id" style="display: none;">
                      <!-- <button mat-button *ngIf="node.level === 0" (click)="show.toggleShowBlock(0); getId1(node.id); getSelect1()">
                        <mat-icon matTooltip="Добавить направление" class="material-symbols-outlined">add</mat-icon>
                      </button> -->
                      <!-- <button mat-button *ngIf="node.level === 1" (click)="show.toggleShowBlock(1); getId2(node.id); getSelect2()">
                        <mat-icon matTooltip="Добавить объект" class="material-symbols-outlined">add</mat-icon>
                      </button> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>№</span>
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="acts">
                    <th mat-header-cell *matHeaderCellDef> Акты </th>
                    <td mat-cell *matCellDef="let node"> {{node.acts | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="payments_plan">
                    <th mat-header-cell *matHeaderCellDef>Платежи план </th>
                    <td mat-cell *matCellDef="let node"> {{node.payments_plan | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="payments_fact">
                    <th mat-header-cell *matHeaderCellDef> Платежи факт </th>
                    <td mat-cell *matCellDef="let node"> {{node.payments_fact | customNumber}} </td>
                  </ng-container>


                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu #actions_menu="matMenu">
                        <button mat-menu-item *ngIf="!element.editing" (click)="showDetails(element.id_wbs)">
                            <mat-icon>sort</mat-icon>
                            <span>Подробнее</span>
                          </button>
                        <!-- <button mat-menu-item (click)="editRegisterBudget(element); show.toggleShowBlock(1)">
                          <mat-icon>edit</mat-icon>
                          Редактировать
                        </button> -->
                        <!-- <button mat-menu-item (click)="deleteRegisterBudget(element.id)">
                          <mat-icon>clear</mat-icon>
                          Удалить
                        </button> -->
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <!-- <tr mat-footer-row *matFooterRowDef="displayedColumnsTotal"></tr> -->
                </table>


              </mat-card-content>
            </mat-card>
            <br>
            <br>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>