<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>library_add</mat-icon>
          </button>
          <!-- !Temp -->
          <button  class="chevron checkbox-help--tools">
            Отправить в АССОИ
          </button>
          <mat-checkbox (change)="changeMonthShowing()" matTooltip="Показать помесячные выплаты" class="chevron checkbox-help--tools">Помесячно</mat-checkbox>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">ГПФКС</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
        <div class="col">
          <div class="alert alert-success" *ngIf="theme.access">
            {{ theme.access }}
          </div>
          <div class="alert alert-danger" *ngIf="theme.error">
            {{ theme.error }}
          </div>
          <div class="alert alert-info" *ngIf="theme.info">
            {{ theme.info }}
          </div>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card>
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <div class="col" style="padding: 10px;overflow-x: hidden;">
                  <div class="row">
                    <div class="col" style="overflow-x: auto">
                <!-- <table mat-table [dataSource]="data" matSort>
                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">
                      Наименование
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="!element.editing">{{element.name}}</span>
                      <div *ngIf="element.editing">
                        <input matInput class="editing" [(ngModel)]="editedElement.name"
                               [style.border-bottom-color]="editedElement.name != '' ? '#949494' : 'red'"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="StartDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by January">
                      Дата начала
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="!element.editing">{{element.date_start}}</span>
                      <div *ngIf="element.editing">
                        <input type="date" matInput class="editing" [(ngModel)]="editedElement.date_start"
                               [style.border-bottom-color]="editedElement.date_start ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EndDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by January">
                      Дата окончания
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="!element.editing">{{element.date_end}}</span>
                      <div *ngIf="element.editing">
                        <input type="date" matInput class="editing" [(ngModel)]="editedElement.date_end"
                               [style.border-bottom-color]="editedElement.date_end ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="January">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by January">
                      Январь
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Январь')">
                        {{element.january_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.january_price" min="0"
                               [style.border-bottom-color]="checkField(editedElement.january_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="February">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by February">
                      Февраль
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Февраль')">
                        {{element.february_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.february_price"
                               [style.border-bottom-color]="checkField(editedElement.february_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="March">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by March">
                      Март
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Март')">
                        {{element.march_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.march_price"
                               [style.border-bottom-color]="checkField(editedElement.march_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="April">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by April">
                      Апрель
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Апрель')">
                        {{element.april_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.april_price"
                               [style.border-bottom-color]="checkField(editedElement.april_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="May">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by May">
                      Май
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Май')">
                        {{element.may_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.may_price"
                               [style.border-bottom-color]="checkField(editedElement.may_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="June">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by June">
                      Июнь
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Июнь')">
                        {{element.june_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.june_price"
                               [style.border-bottom-color]="checkField(editedElement.june_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="July">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by July">
                      Июль
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Июль')">
                        {{element.july_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.july_price"
                               [style.border-bottom-color]="checkField(editedElement.july_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="August">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by August">
                      Август
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Август')">
                        {{element.august_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.august_price"
                               [style.border-bottom-color]="checkField(editedElement.august_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="September">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by September">
                      Сентябрь
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Сентябрь')">
                        {{element.september_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.september_price"
                               [style.border-bottom-color]="checkField(editedElement.september_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="October">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by October">
                      Октябрь
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Октябрь')">
                        {{element.october_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.october_price"
                               [style.border-bottom-color]="checkField(editedElement.october_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="November">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by November">
                      Ноябрь
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button
                        mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Ноябрь')">
                        {{element.november_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.november_price"
                               [style.border-bottom-color]="checkField(editedElement.november_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="December">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by December">
                      Декабрь
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-button *ngIf="!element.editing" matTooltip="Открыть меню" (click)="setPriceMenuVisible(element, 'Декабрь')">
                        {{element.december_price | customNumber}}
                      </button>
                      <div *ngIf="element.editing">
                        <input type="number" matInput class="editing" [(ngModel)]="editedElement.december_price"
                               [style.border-bottom-color]="checkField(editedElement.december_price) ? '#949494' : 'red'"
                               oninput="validity.valid||(value='');"
                        >
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Action">
                      Действия
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item  *ngIf="!element.editing" (click)="setElementEditing(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Редактировать</span>
                        </button>
                        <button mat-menu-item *ngIf="element.editing" (click)="saveGpfcs(element)"
                                [disabled]="editedElement.name == '' || !checkField(editedElement.january_price)
                      || !checkField(editedElement.february_price) || !checkField(editedElement.march_price)
                      || !checkField(editedElement.april_price) || !checkField(editedElement.may_price)
                      || !checkField(editedElement.june_price) || !checkField(editedElement.july_price)
                      || !checkField(editedElement.august_price) || !checkField(editedElement.september_price)
                      || !checkField(editedElement.october_price) || !checkField(editedElement.november_price)
                      || !checkField(editedElement.december_price)"
                        >
                          <mat-icon>done</mat-icon>
                          <span>Сохранить</span>
                        </button>
                        <button *ngIf="element.editing" mat-menu-item (click)="cancelElementEditing(element)">
                          <mat-icon>block</mat-icon>
                          <span>Отменить</span>
                        </button>
                        <button *ngIf="!element.editing" mat-menu-item (click)="delGpfcs(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="test">
                    <th mat-header-cell *matHeaderCellDef colspan="1">
                      Освоение
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="3"></td>
                  </ng-container>
                  <ng-container matColumnDef="test2">
                    <th mat-header-cell *matHeaderCellDef colspan="15">
                      2024
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="3"></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['test', 'test2']"></tr>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->
                <table *ngIf="!monthsShowing" mat-table [dataSource]="dataSource" matSort [ngClass]="{rotate:!monthsShowing}">

                  <ng-container matColumnDef="WbsCode">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Код СДР
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.code_wbs}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      № 
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.code_assoi}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Наименование
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.name}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="StartDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Начало
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.build_date_start}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EndDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Окончание
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.build_date_end}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Approved">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Утвержденная стоимость 2024
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.info_object_approved | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Completed">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Профинансировано, 2024
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.info_object_completed | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Remains">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Остаток выполнения на 31.12.2023
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.info_object_remains | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="TotalPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Всего
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.total_price | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SmrPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Аванс
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center"  style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.smr_price | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="OtoPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Оборудование
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.oto_price | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="PirPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Оплата работ
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.pir_price | customNumber}}</span>
                    </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="OtherPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Прочее
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.other_price | customNumber}}</span>
                    </td>
                  </ng-container> -->

                  <ng-container matColumnDef="FinancingPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      План финансирования
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center"  style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.total_plan | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="OnePg">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Финансирование 1 пг.
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.one_pg | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="TwoPg">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Финансирование 2 пг.
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.two_pg | customNumber}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Действия
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item  *ngIf="!element.editing" (click)="prepareToEditGpcsForm(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Редактировать</span>
                        </button>
                      </mat-menu> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="placeholder1">
                    <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="3"></td>
                  </ng-container>

                  <ng-container matColumnDef="deadlines">
                    <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                      Сроки строительства
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                      Информация об объекте
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="3"></td>
                  </ng-container>

                  <ng-container matColumnDef="execPlan">
                    <th mat-header-cell *matHeaderCellDef colspan="5" class="text-center delimiter-header">
                      План выполнения
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="5"></td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="execPlan">
                    <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                      План выполнения
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container> -->

                  <ng-container matColumnDef="placeholder2">
                    <th mat-header-cell *matHeaderCellDef colspan="4">
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="4"></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['placeholder1', 'deadlines', 'info', 'execPlan', 'placeholder2']"></tr>

                  <tr mat-header-row *matHeaderRowDef="formDisplayedColumns"></tr>

                  <tr mat-row *matRowDef="let row; columns: formDisplayedColumns;"></tr>
                </table>
                <table *ngIf="monthsShowing" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [ngClass]="{rotate:!monthsShowing}">

                  <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      № 
                    </th>
                    <td mat-cell *matCellDef="let element, let i = index" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{i+1}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="WbsCode">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Код СДР
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.code_wbs}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Наименование
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.name}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="StartDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Начало
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.build_date_start}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="EndDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Окончание
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <span>{{element.build_date_end}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Approved">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Утвержденная стоимость 2024
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.info_object_approved}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Completed">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Выполнено на 2023
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.info_object_completed}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Remains">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Остаток
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.info_object_remains}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="TotalPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Всего
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.total_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SmrPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                      СМР
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.smr_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="PirPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                      ПИР
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.pir_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="OtoPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                      Оборудование
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.oto_price}}</span>
                    </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="OtherPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Прочее
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.other_price}}</span>
                    </td>
                  </ng-container> -->

                  <ng-container matColumnDef="OnePg">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Освоение 1 пг.
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.one_pg}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="TwoPg">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Освоение 2 пг.
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.two_pg}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="FinancingPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План выполнения, всего
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width"  style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.total_plan}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="JanuaryPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.january_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="JanuaryFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.january_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="FebruaryPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.february_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="FebruaryFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.february_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="MarchPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.march_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="MarchFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.march_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="AprilPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.april_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="AprilFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.april_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="MayPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.may_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="MayFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.may_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="JunePlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.june_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="JuneFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.june_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="JulyPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.july_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="JulyFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.july_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="AugustPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.august_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="AugustFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.august_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SeptemberPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.september_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SeptemberFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.september_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="OctoberPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.october_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="OctoberFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.october_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="NovemberPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.november_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="NovemberFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.november_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="DecemberPlan">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      План
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.december_plan_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="DecemberFact">
                    <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                      Факт
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                      <span>{{element.december_fact_price}}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                      Действия
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item  *ngIf="!element.editing" (click)="prepareToEditGpcsForm(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Редактировать</span>
                        </button>
                      </mat-menu> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="placeholder1">
                    <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="3"></td>
                  </ng-container>

                  <ng-container matColumnDef="deadlines">
                    <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                      Сроки строительства
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                      Информация об объекте
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="3"></td>
                  </ng-container>

                  <ng-container matColumnDef="investmentPlan">
                    <th mat-header-cell *matHeaderCellDef colspan="5" class="text-center delimiter-header">
                      План капитальных вложений на 2024 год
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="5"></td>
                  </ng-container>

                  <ng-container matColumnDef="execPlan">
                    <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                      План выполнения
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="placeholder2">
                    <th mat-header-cell *matHeaderCellDef colspan="1">
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="1"></td>
                  </ng-container>

                  <ng-container matColumnDef="january">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Январь
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="february">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Февраль
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="march">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Март
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="april">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Апрель
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="may">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Май
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="june">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Июнь
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="july">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Июль
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="august">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Август
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="september">
                    <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                      Сентябрь
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="october">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Октябрь
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="november">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Ноябрь
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <ng-container matColumnDef="december">
                    <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                      Декабрь
                    </th>
                    <td mat-cell *matCellDef="let element" colspan="2"></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['placeholder1', 'deadlines', 'info', 'investmentPlan', 'execPlan', 'placeholder2', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']"></tr>

                  <tr mat-header-row *matHeaderRowDef="formByMonthsDisplayedColumns"></tr>

                  <tr mat-row *matRowDef="let row; columns: formByMonthsDisplayedColumns;"></tr>
                </table>
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

<!-- Добавить систему (Гл.) -->
      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[0]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Добавить систему</h2>

          <div class="col">
            <form [formGroup]="addSystem" (ngSubmit)="addGpfcs()" class="row">
              <mat-form-field appearance="outline" class="example-full-width" [formGroup]="addSystem">
                <mat-label>Система:</mat-label>
                <mat-select formControlName="objects_wbs">
                  <mat-option *ngFor="let node of nodes" [value]="node.id">{{node.name}}</mat-option>
                </mat-select>
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" [formGroup]="addSystem">
                <mat-label>Документ:</mat-label>
                <mat-select formControlName="document">
                  <mat-option *ngFor="let document of documents" [value]="document.id">{{document.name}}</mat-option>
                </mat-select>
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create"  appearance="outline">
                <mat-label>Дата начала:</mat-label>
                <input type="date" matInput formControlName="date_start">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Дата окончания:</mat-label>
                <input type="date" matInput formControlName="date_end">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Январь:</mat-label>
                <input type="number" matInput formControlName="january_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Февраль:</mat-label>
                <input type="number" matInput formControlName="february_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Март:</mat-label>
                <input type="number" matInput formControlName="march_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Апрель:</mat-label>
                <input type="number" matInput formControlName="april_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Май:</mat-label>
                <input type="number" matInput formControlName="may_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Июнь:</mat-label>
                <input type="number" matInput formControlName="june_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Июль:</mat-label>
                <input type="number" matInput formControlName="july_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Август:</mat-label>
                <input type="number" matInput formControlName="august_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Сентябрь:</mat-label>
                <input type="number" matInput formControlName="september_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Октябрь:</mat-label>
                <input type="number" matInput formControlName="october_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Ноябрь:</mat-label>
                <input type="number" matInput formControlName="november_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Декабрь:</mat-label>
                <input type="number" matInput formControlName="december_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit"
                        [disabled]="_addSystemProperty('objects_wbs').invalid
                        || _addSystemProperty('document').invalid
                        || _addSystemProperty('date_start').invalid
                        || _addSystemProperty('date_end').invalid
                        || _addSystemProperty('january_price').invalid
                        || _addSystemProperty('february_price').invalid
                        || _addSystemProperty('march_price').invalid
                        || _addSystemProperty('april_price').invalid
                        || _addSystemProperty('may_price').invalid
                        || _addSystemProperty('june_price').invalid
                        || _addSystemProperty('july_price').invalid
                        || _addSystemProperty('august_price').invalid
                        || _addSystemProperty('september_price').invalid
                        || _addSystemProperty('october_price').invalid
                        || _addSystemProperty('november_price').invalid
                        || _addSystemProperty('december_price').invalid"
                >Создать</button>
              </div>
            </form>
          </div>
        </div>
      </div>

<!-- Добавить объект -->
      <div class="col">
        <div class="form-budget col budget" [ngClass]="{'show': show.showBlock[2]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Добавить объект</h2>

          <div class="col">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Название:</mat-label>
              <input matInput>
              <mat-error>Обязательное поле</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': getPriceMenuVisible}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="setPriceMenuInvisible()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>{{priceMenuName}}</h2>
        <table mat-table [dataSource]="price" class="mat-elevation-z8 mb-3">
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef>
              Дата
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.editing">{{element.date}}</span>
              <input type="date" matInput *ngIf="element.editing" class="editing" [(ngModel)]="editedPrice.date"
                     [style.border-bottom-color]="editedPrice.date ? '#949494' : 'red'"
                     oninput="validity.valid||(value='');"
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="TotalAmount">
            <th mat-header-cell *matHeaderCellDef >
              Общая сумма
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.editing">{{element.total_price | customNumber}}</span>
              <input type="number" matInput *ngIf="element.editing" class="editing" [(ngModel)]="editedPrice.total_price"
                     [style.border-bottom-color]="checkField(editedPrice.total_price) ? '#949494' : 'red'"
                     oninput="validity.valid||(value='');"
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="CIW">
            <th mat-header-cell *matHeaderCellDef >
              СМР
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.editing">{{element.smr_price | customNumber}}</span>
              <input type="number" matInput *ngIf="element.editing" class="editing" [(ngModel)]="editedPrice.smr_price"
                     [style.border-bottom-color]="checkField(editedPrice.smr_price) ? '#949494' : 'red'"
                     oninput="validity.valid||(value='');"
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="DSW">
            <th mat-header-cell *matHeaderCellDef >
              ПИР
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.editing">{{element.pir_price | customNumber}}</span>
              <input type="number" matInput *ngIf="element.editing" class="editing" [(ngModel)]="editedPrice.pir_price"
                     [style.border-bottom-color]="checkField(editedPrice.pir_price) ? '#949494' : 'red'"
                     oninput="validity.valid||(value='');"
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="OM">
            <th mat-header-cell *matHeaderCellDef >
              ОТО
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.editing">{{element.oto_price | customNumber}}</span>
              <input type="number" matInput *ngIf="element.editing" class="editing" [(ngModel)]="editedPrice.oto_price"
                     [style.border-bottom-color]="checkField(editedPrice.oto_price) ? '#949494' : 'red'"
                     oninput="validity.valid||(value='');"
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="Other">
            <th mat-header-cell *matHeaderCellDef >
              Прочее
            </th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="!element.editing">{{element.other_price | customNumber}}</span>
              <input type="number" matInput *ngIf="element.editing" class="editing" [(ngModel)]="editedPrice.other_price"
                     [style.border-bottom-color]="checkField(editedPrice.other_price) ? '#949494' : 'red'"
                     oninput="validity.valid||(value='');"
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef >
              Действия
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="price_menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #price_menu="matMenu">
                <button mat-menu-item  *ngIf="!element.editing" (click)="setPriceEditing(element)">
                  <mat-icon>edit</mat-icon>
                  <span>Редактировать</span>
                </button>
                <button mat-menu-item  *ngIf="element.editing" (click)="editPriceObject(element)"
                        [disabled]="!(editedPrice.date) || !checkField(editedPrice.total_price)
                      || !checkField(editedPrice.smr_price) || !checkField(editedPrice.pir_price)
                      || !checkField(editedPrice.oto_price) || !checkField(editedPrice.other_price)"
                >
                  <mat-icon>done</mat-icon>
                  <span>Сохранить</span>
                </button>
                <button *ngIf="element.editing" mat-menu-item (click)="cancelPriceEditing(element)">
                  <mat-icon>block</mat-icon>
                  <span>Отменить</span>
                </button>
                <button *ngIf="!element.editing" mat-menu-item (click)="deletePriceObject(element.id)">
                  <mat-icon>clear</mat-icon>
                  <span>Удалить</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <!-- Header row definition -->
          <tr mat-header-row *matHeaderRowDef="priceColumns"></tr>

          <!-- Data row definition -->
          <tr mat-row *matRowDef="let row; columns: priceColumns;"></tr>
        </table>

        <div class="col-12">
          <button mat-stroked-button class="mat-btn-recolor gpcs_button" (click)="setPriceAddMenuVisible('Апрель')">
            <mat-icon prefix>library_add</mat-icon>
            Добавить
          </button>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': getPriceAddMenuVisible}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="setPriceAddMenuInvisible()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2 *ngIf="priceUsedElement">{{priceUsedElement.name}}</h2>
        <form [formGroup]="addObject" (ngSubmit)="addPriceObject(priceUsedElement.id)" class="row">

          <div class="mb-3 col-12">
            <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
              <mat-label>Общая сумма</mat-label>
              <input type="number" matInput formControlName="total_price">
              <mat-error *ngIf="_addObjectProperty('total_price').errors?.['required']">Обязательное поле</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3 col-12">
            <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
              <mat-label>СМР</mat-label>
              <input type="number" matInput formControlName="smr_price">
              <mat-error *ngIf="_addObjectProperty('smr_price').errors?.['required']">Обязательное поле</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3 col-12">
            <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
              <mat-label>ПИР</mat-label>
              <input type="number" matInput formControlName="pir_price">
              <mat-error *ngIf="_addObjectProperty('pir_price').errors?.['required']">Обязательное поле</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3 col-12">
            <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
              <mat-label>ОТО</mat-label>
              <input type="number" matInput formControlName="oto_price">
              <mat-error *ngIf="_addObjectProperty('oto_price').errors?.['required']">Обязательное поле</mat-error>
            </mat-form-field>
          </div>

          <div class="mb-3 col-12">
            <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
              <mat-label>Прочее</mat-label>
              <input type="number" matInput formControlName="other_price">
              <mat-error *ngIf="_addObjectProperty('other_price').errors?.['required']">Обязательное поле</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12">
            <button mat-stroked-button class="mat-btn-recolor" type="submit"
                    [disabled]="
              _addObjectProperty('total_price').invalid ||
              _addObjectProperty('smr_price').invalid || _addObjectProperty('pir_price').invalid ||
              _addObjectProperty('oto_price').invalid || _addObjectProperty('other_price').invalid
              "
            >Создать</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
