<app-header></app-header>
<div class="container-fluid">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

<!--          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help&#45;&#45;tools" (click)="theme.toggleCollapseFull()">-->
<!--            <mat-icon>compare_arrows</mat-icon>-->
<!--          </button>-->
<!--          <mat-form-field class="select-create setting-field" appearance="outline">-->
<!--            <mat-label>Раскрыть до уровня</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option *ngFor="let levelName of this.scheduleLevels, let i = index" (click)="this.toggleToLevel(i)">-->
<!--                {{levelName}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <div style="margin-left: 10px">-->
<!--            <div class="form-check">-->
<!--              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPercent1"-->
<!--                     onchange="this.setSelectedData(this.utilizationPlanData, this.utilizationFactData)"-->
<!--              >-->
<!--              <label class="form-check-label" for="flexRadioPercent1">-->
<!--                Процент освоения-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioPercent2"-->
<!--                     onchange="this.setSelectedData(this.financingPlanData, this.financingFactData)"-->
<!--                     checked-->
<!--              >-->
<!--              <label class="form-check-label" for="flexRadioPercent2">-->
<!--                Процент финансирования-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div style="margin-left: 10px">-->
<!--            <div class="form-check">-->
<!--              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioBudget1"-->
<!--                     onchange="this.setSelectedData(this.utilizationPlanData, this.utilizationFactData)"-->
<!--              >-->
<!--              <label class="form-check-label" for="flexRadioBudget1">-->
<!--                Базовый бюджет-->
<!--              </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioBudget2"-->
<!--                     onchange="this.setSelectedData(this.financingPlanData, this.financingFactData)"-->
<!--                     checked-->
<!--              >-->
<!--              <label class="form-check-label" for="flexRadioBudget2">-->
<!--                Текущий бюджет-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Главная</span>
          <span class="tools-inner">Информационный раздел главной страницы</span>
<!--          <span class="tools-inner"></span>-->
        </div>
      </div>
<!--      <div class="col" style="padding: 10px;overflow-x: hidden;">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <mat-card class="example-card">-->
<!--              <mat-card-header *ngIf="loading">-->
<!--                <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--              </mat-card-header>-->
<!--              <mat-card-content *ngIf="!loading">-->
<!--                <h2>График проекта</h2>-->
<!--                <ng-gantt [options]="editorOptions" [data]="data" #editor></ng-gantt>-->
<!--              </mat-card-content>-->
<!--              <mat-card-actions>-->
<!--              </mat-card-actions>-->
<!--              <mat-card-footer *ngIf="!loading">-->
<!--                <div class="border-card"></div>-->
<!--              </mat-card-footer>-->
<!--            </mat-card>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
