.content {
  overflow-y: scroll;
  height: 100vh;
}
.container-row-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
}
.tools-wrapper {
  display: flex;
  flex-direction: column;
}
.tools-title {
  color: #eb8b2d;
  font-size: 1.5rem;
  line-height: 1.1;
}
.tools-inner {
  color: #9f9d9d;
}
.border-card {
  background: #eb8b2d;
  width: 100%;
  height: 5px;
}
::ng-deep.mat-panel-title:hover {
  color: red; /* Измените цвет текста на желаемый */
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #eb8b2d;
}
.setting-field {
  margin-top: -5px;
  margin-left: 5px;
}
.menu {
  margin-left: -12px;
}
