<!-- СДР -->
<table class="table dark-table">
  <thead style="font-size: 12px;">
    <tr>
      <th scope="col"> № </th>
      <th scope="col">Код</th>
      <th scope="col">Название</th>
      <th scope="col">Сумма</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let wbs of reg.WBSList; let i = index">
      <th scope="row"><span>{{i+1}}</span></th>
      <td>{{ wbs.code }}</td>
      <td>{{ wbs.name }}</td>
      <!-- <td>{{ wbs.amount | number: '1.2-2'}}</td> -->
      <td>
        <span *ngIf="!wbs.editing">{{wbs.amount| number: '1.2-2' }}</span>
        <!-- <input matInput *ngIf="wbs.editing" [(ngModel)]="wbs.amount" class="editing"> -->
      </td>

      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="customize" #menu="matMenu">
          <!-- <button mat-menu-item *ngIf="!act.editing" (click)="editActs(act)">
            <mat-icon>edit</mat-icon>
            <span>Изменить</span>
          </button>
          <button mat-menu-item *ngIf="act.editing"
            (click)="saveActs(contractDetails.id,act)">
            <mat-icon>done</mat-icon>
            <span>Сохранить</span>
          </button>-->
          <!-- <button mat-menu-item *ngIf="wbs.editing"
            (click)="saveWBSamount(wbs.id , wbs)">
            <mat-icon>done</mat-icon>
            <span>Сохранить</span>
          </button> -->
          <button mat-menu-item (click)="show.toggleShowBlock(10); editWbsList(wbs)">
            <mat-icon class="mat-menu-icon">edit</mat-icon>
            <span>Изменить</span>
          </button>
          <button mat-menu-item (click)="delWBS(wbs.id)">
            <mat-icon class="mat-menu-icon">clear</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Изменить -->
<div class="col create" [ngClass]="{'show': show.showBlock[10]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(10)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Изменить: СДР</h2>

    <form [formGroup]="editWBS" style="width: 100%;">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Сумма:</mat-label>
        <input matInput formControlName="amount">

      </mat-form-field>
      <div class="d-flex justify-content-end">
        <button (click)="saveWbs()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
          <span class="d-flex align-items-center">Сохранить</span>
        </button>
      </div>
    </form>
  </div>