<div class="container">
    <apx-chart [series]="waterfallChart.series" [chart]="waterfallChart.chart" [xaxis]="waterfallChart.xaxis"
        [dataLabels]="waterfallChart.dataLabels" [title]="waterfallChart.title" [yaxis]="waterfallChart.yaxis"
        [tooltip]="waterfallChart.tooltip" [colors]="waterfallChart.colors">
    </apx-chart>

    <div class="container">
        <div class="row">
            <div class="col-6 col-md-6 pb-3" *ngFor="let item; let i = index of this.factorAnalysisData.slice(1, -1)">
                <div class="card ">
                    <div class="card-body">
                        <h2 class="card-title">{{i+1}}. {{ item.title }}</h2>
                        <p class="card-text">Описание:{{ item.desc }}</p>
                        <h2 class="card-text card-footer text-muted">{{ item.influence |customNumber}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>