table {
    width: 200%;
}
th {
  padding: 10px !important;
  text-align: center !important;
}
td {
  /* padding: 10px !important; */
  text-align: center !important;
}
.create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: translateX(1920px);
  z-index: 2;
}
.create.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: start;
  transform: translateX(0px);
}
.smoll-create {
  width: 25%;
}
.example-full-width {
  width: 100%;
}