<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <form [formGroup]="select2" style="display: inline;">
              <input formControlName="level" [ngModel]="2" style="display: none;">
            <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(2); getSelect2()">
              <mat-icon>library_add</mat-icon>
            </button>
          </form>
      </div>
      <div class="col tools-wrapper">
        <span class="tools-title">План поставки оборудования</span>
        <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
      </div>
    </div>
    <div class="col" style="padding: 10px;overflow-x: hidden;">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <mat-card-content style="overflow-x: scroll;">

              <table mat-table [dataSource]="dataSources">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Наименование </th>
                  <td mat-cell *matCellDef="let node;" style="text-align: start !important;">
                    <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                      <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                      </mat-icon>
                    </button>
                    {{node.wbs_code}} . {{node.wbs_name}} 
                    <form [formGroup]="select1" style="display: inline;" *ngIf="node.level === 0">
                      <input formControlName="parent_id" [ngModel]="node.wbs" style="display: none;">
                      <button mat-button matTooltip="Добавить систему" (click)="show.toggleShowBlock(0); getSelect1()">
                        <mat-icon class="material-symbols-outlined">add</mat-icon>
                      </button>
                    </form>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef> Количество </th>
                  <td mat-cell *matCellDef="let node"> {{node.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="cost_for_one">
                  <th mat-header-cell *matHeaderCellDef> Цена за ед. </th>
                  <td mat-cell *matCellDef="let node"> {{node.cost_for_one}} </td>
                </ng-container>
            
                <ng-container matColumnDef="total_cost">
                  <th mat-header-cell *matHeaderCellDef> Стоимость всего оборудования </th>
                  <td mat-cell *matCellDef="let node"> {{node.total_cost}} </td>
                </ng-container>
            
                <ng-container matColumnDef="build_plan">
                  <th mat-header-cell *matHeaderCellDef> План капитального строительста </th>
                  <td mat-cell *matCellDef="let node"> {{node.build_plan}} </td>
                </ng-container>
  
                <ng-container matColumnDef="prepaid_previous_year">
                  <th mat-header-cell *matHeaderCellDef> Авансы, выданные за предыдущий период </th>
                  <td mat-cell *matCellDef="let node"> {{node.prepaid_previous_year}} </td>
                </ng-container>

                <ng-container matColumnDef="equipment_in_stock_start">
                  <th mat-header-cell *matHeaderCellDef> Обороудование на складе на начало периода </th>
                  <td mat-cell *matCellDef="let node"> {{node.equipment_in_stock_start}} </td>
                </ng-container>

                <ng-container matColumnDef="prepaid_next_year">
                  <th mat-header-cell *matHeaderCellDef> Авансы, выданные на последующий период </th>
                  <td mat-cell *matCellDef="let node"> {{node.prepaid_next_year}} </td>
                </ng-container>

                <ng-container matColumnDef="equipment_in_stock_end">
                  <th mat-header-cell *matHeaderCellDef> Обороудование на складе на конец периода </th>
                  <td mat-cell *matCellDef="let node"> {{node.equipment_in_stock_end}} </td>
                </ng-container>

                <ng-container matColumnDef="financing">
                  <th mat-header-cell *matHeaderCellDef> Финансирование </th>
                  <td mat-cell *matCellDef="let node"> {{node.financing}} </td>
                </ng-container>

                <ng-container matColumnDef="date_quarter">
                  <th mat-header-cell *matHeaderCellDef> Планируемый срок изготовления и поставки(квартал) </th>
                  <td mat-cell *matCellDef="let node"> {{node.date_quarter}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>
                    <span>Действия</span>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                      <mat-icon>
                        more_vert
                      </mat-icon>
                    </button>
                    <mat-menu #actions_menu="matMenu">
                      <button mat-menu-item (click)="editPpo(element); show.toggleShowBlock(1)">
                        <mat-icon>edit</mat-icon>
                        Редактировать
                      </button>
                      <button mat-menu-item (click)="delPpo(element)">
                        <mat-icon>clear</mat-icon>
                        Удалить
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTime"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTime;"></tr>
              </table>

            </mat-card-content>
            <mat-card-footer>
              <div class="border-card"></div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>

<!-- Добавить -->
        <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
          <div class="col text-end" style="margin-bottom: 15px;">
            <div class="row d-flex flex-row-reverse">
              <div class="col">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="col text-start"><h2>Добавить систему</h2></div>
            </div>

                <form [formGroup]="createPpoForm">
                          
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Количество:</mat-label>
                    <input matInput formControlName="quantity">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Цена за ед.:</mat-label>
                    <input matInput formControlName="cost_for_one">

                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Стоимость всего оборудования:</mat-label>
                    <input matInput formControlName="total_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>План капитального строительста:</mat-label>
                    <input matInput formControlName="build_plan">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Авансы, выданные за предыдущий период:</mat-label>
                    <input matInput formControlName="prepaid_previous_year">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Обороудование на складе на начало периода:</mat-label>
                    <input matInput formControlName="equipment_in_stock_start">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Авансы, выданные на последующий период:</mat-label>
                    <input matInput formControlName="prepaid_next_year">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Обороудование на складе на конец периода:</mat-label>
                    <input matInput formControlName="equipment_in_stock_end">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Финансирование:</mat-label>
                    <input matInput formControlName="financing">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Планируемый срок изготовления и поставки(квартал):</mat-label>
                    <input matInput formControlName="date_quarter">

                  </mat-form-field>

                  <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                    <mat-label>Узел СДР:</mat-label>
                    <mat-select formControlName="wbs" [(ngModel)]="wbsList1">
                      <mat-option *ngFor="let option of getWbsLevel1" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <button class="btn-table mat-btn-recolor" (click)="addPpo()" matTooltip="Сохранить" mat-stroked-button type="submit">
                    <span class="d-flex align-items-center">Добавить</span>
                  </button>
                </form>

            </div>
        </div>

<!-- Редактировать -->
        <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
          <div class="col text-end" style="margin-bottom: 15px;">
            <div class="row d-flex flex-row-reverse">
              <div class="col">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="col-8 text-start"><h2>Редактировать систему</h2></div>
            </div>

                <form [formGroup]="editPpoForm">
                          
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Количество:</mat-label>
                    <input matInput formControlName="quantity">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Цена за ед.:</mat-label>
                    <input matInput formControlName="cost_for_one">

                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Стоимость всего оборудования:</mat-label>
                    <input matInput formControlName="total_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>План капитального строительста:</mat-label>
                    <input matInput formControlName="build_plan">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Авансы, выданные за предыдущий период:</mat-label>
                    <input matInput formControlName="prepaid_previous_year">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Обороудование на складе на начало периода:</mat-label>
                    <input matInput formControlName="equipment_in_stock_start">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Авансы, выданные на последующий период:</mat-label>
                    <input matInput formControlName="prepaid_next_year">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Обороудование на складе на конец периода:</mat-label>
                    <input matInput formControlName="equipment_in_stock_end">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Финансирование:</mat-label>
                    <input matInput formControlName="financing">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Планируемый срок изготовления и поставки(квартал):</mat-label>
                    <input matInput formControlName="date_quarter">

                  </mat-form-field>

                  <button class="btn-table mat-btn-recolor" (click)="savePpo()" matTooltip="Сохранить" mat-stroked-button type="submit">
                    <span class="d-flex align-items-center">Сохранить</span>
                  </button>
                </form>

            </div>
        </div>

<!-- Добавить -->
        <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
          <div class="col text-end" style="margin-bottom: 15px;">
            <div class="row d-flex flex-row-reverse">
              <div class="col">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(2)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="col text-start"><h2>Добавить систему</h2></div>
            </div>

                <form [formGroup]="createPpoMainForm">
                          
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Количество:</mat-label>
                    <input matInput formControlName="quantity">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Цена за ед.:</mat-label>
                    <input matInput formControlName="cost_for_one">

                  </mat-form-field>
                  
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Стоимость всего оборудования:</mat-label>
                    <input matInput formControlName="total_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>План капитального строительста:</mat-label>
                    <input matInput formControlName="build_plan">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Авансы, выданные за предыдущий период:</mat-label>
                    <input matInput formControlName="prepaid_previous_year">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Обороудование на складе на начало периода:</mat-label>
                    <input matInput formControlName="equipment_in_stock_start">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Авансы, выданные на последующий период:</mat-label>
                    <input matInput formControlName="prepaid_next_year">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Обороудование на складе на конец периода:</mat-label>
                    <input matInput formControlName="equipment_in_stock_end">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Финансирование:</mat-label>
                    <input matInput formControlName="financing">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Планируемый срок изготовления и поставки(квартал):</mat-label>
                    <input matInput formControlName="date_quarter">

                  </mat-form-field>

                  <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                    <mat-label>Узел СДР:</mat-label>
                    <mat-select formControlName="wbs" [(ngModel)]="wbsList2">
                      <mat-option *ngFor="let option of getWbsLevel2" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <button class="btn-table mat-btn-recolor" (click)="addMainPpo()" matTooltip="Сохранить" mat-stroked-button type="submit">
                    <span class="d-flex align-items-center">Добавить</span>
                  </button>
                </form>

            </div>
        </div>