<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <div>
            <button mat-stroked-button class="chevron" type="button" style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="addScrolling" (click)="fileInput.click()">
              <span class="d-flex align-items-center">Загрузить смету (gsfx)<mat-icon>upload_file</mat-icon>
              </span>
            </button>
            <input type="file" #fileInput (change)="onFileSelected($event)" accept=".gsfx" />
            <p><mat-slide-toggle [(ngModel)]="approvedToggleValue">Не утвержденные сметы / Утвержденные</mat-slide-toggle></p>
            <!-- <label for="fileInput">Выбрать файлы</label>
            <input type="file" id="fileInput" #fileInput (change)="onFilesSelected(fileInput)" multiple
              style="display: none;">
            <button mat-raised-button color="primary" (click)="uploadFiles()"
              [disabled]="uploading || files.length === 0">
              <mat-icon *ngIf="!uploading">cloud_upload</mat-icon>
              <span *ngIf="uploading">Загрузка...</span>
            </button> -->

            <mat-progress-bar *ngIf="uploading" mode="determinate" [value]="progress"></mat-progress-bar>

            <div *ngIf="files.length > 0">
              <h4>Выбранные файлы:</h4>
              <ul>
                <li *ngFor="let file of files">{{ file.name }}</li>
              </ul>
            </div>

            <div *ngIf="uploadedFiles.length > 0">
              <h4>Загруженные файлы:</h4>
              <ul>
                <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
              </ul>
            </div>

            <div *ngIf="uploading">
              <p>{{ uploadedFilesCount }} из {{ files.length }} файлов загружено</p>
            </div>
          </div>



        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Новый модуль смет</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>

                <mat-tab-group>
                  <mat-tab class="mat-elevation-z8" label="Утвержденные сметы" *ngIf="approvedToggleValue">
                    <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="serial_number">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      <!-- Код СДР-->
                      <ng-container matColumnDef="system_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_system_code_wbs }}</td>
                      </ng-container>

                      <!-- Наименование системы -->
                      <ng-container matColumnDef="system_name">
                        <th mat-header-cell *matHeaderCellDef> Наименование системы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_system_name }}</td>
                      </ng-container>

                      <!-- Номер пакета СДР -->
                      <ng-container matColumnDef="number_package_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Номер пакета СДР</th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_work_package_code_wbs }}</td>
                      </ng-container>

                      <!--  Название пакета работ -->
                      <ng-container matColumnDef="name_work_package">
                        <th mat-header-cell *matHeaderCellDef> Название пакета работ </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_work_package_name }}</td>
                      </ng-container>

                      <!-- Шифр и номер сметы (Total) -->
                      <ng-container matColumnDef="cypher">
                        <th mat-header-cell *matHeaderCellDef> Шифр и номер сметы (Total)</th>
                        <td mat-cell *matCellDef="let element">{{ element?.cypher }}</td>
                      </ng-container>

                      <!-- Шифр замены-->
                      <ng-container matColumnDef="replacement_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр замены </th>
                        <td mat-cell *matCellDef="let element">{{ element?.replacement_code }}</td>
                      </ng-container>

                      <!-- Шифр изменения-->
                      <ng-container matColumnDef="change_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр изменения </th>
                        <td mat-cell *matCellDef="let element">{{ element?.change_code }}</td>
                      </ng-container>

                      <!-- ПД/РД-->
                      <ng-container matColumnDef="design_working_documentation">
                        <th mat-header-cell *matHeaderCellDef> ПД/РД</th>
                        <td mat-cell *matCellDef="let element">{{ element?.code_title }}</td>
                      </ng-container>

                      <!-- Шифр раздела -->
                      <ng-container matColumnDef="section_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.section_code }}</td>
                      </ng-container>

                      <!-- Шифр раздела -->
                      <ng-container matColumnDef="estimate_name">
                        <th mat-header-cell *matHeaderCellDef>Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_name }}</td>
                      </ng-container>

                      <!-- Разработчик сметы -->
                      <ng-container matColumnDef="estimate_developer">
                        <th mat-header-cell *matHeaderCellDef> Разработчик сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.developer_title }}</td>
                      </ng-container>

                      <!-- Статус сметы  -->
                      <ng-container matColumnDef="estimate_status">
                        <th mat-header-cell *matHeaderCellDef> Статус сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.status_title }}</td>
                      </ng-container>

                      <!-- Сметная стоимость в ценах 2001 г. -->
                      <ng-container matColumnDef="estimate_cost_2001">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в ценах 2001 г.</th>
                        <td mat-cell *matCellDef="let element">{{ element?.base_cost | customNumber }}</td>
                      </ng-container>

                      <!-- Сметная стоимость в текущих ценах  -->
                      <ng-container matColumnDef="estimate_cost_current_prices">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в текущих ценах </th>
                        <td mat-cell *matCellDef="let element">{{ element?.current_cost |customNumber}}
                        </td>
                      </ng-container>


                      <!-- Действие -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element" class="edit">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button"
                              (click)="show.toggleShowBlock(1); getSections2(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Создать на основе</span>
                            </button>
                            <button mat-menu-item type="button" (click)="showDetails(element.document_gsfx_id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </mat-tab>
                  <mat-tab class="mat-elevation-z8" label="Не утвержденные сметы" *ngIf="!approvedToggleValue">
                    <table mat-table [dataSource]="dataSource2">
                      <ng-container matColumnDef="serial_number">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      <!-- Код СДР-->
                      <ng-container matColumnDef="system_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_system_code_wbs }}</td>
                      </ng-container>

                      <!-- Наименование системы -->
                      <ng-container matColumnDef="system_name">
                        <th mat-header-cell *matHeaderCellDef> Наименование системы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_system_name }}</td>
                      </ng-container>

                      <!-- Номер пакета СДР -->
                      <ng-container matColumnDef="number_package_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Номер пакета СДР</th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_work_package_code_wbs }}</td>
                      </ng-container>

                      <!--  Название пакета работ -->
                      <ng-container matColumnDef="name_work_package">
                        <th mat-header-cell *matHeaderCellDef> Название пакета работ </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_work_package_name }}</td>
                      </ng-container>

                      <!-- Шифр и номер сметы (Total) -->
                      <ng-container matColumnDef="cypher">
                        <th mat-header-cell *matHeaderCellDef> Шифр и номер сметы (Total)</th>
                        <td mat-cell *matCellDef="let element">{{ element?.cypher }}</td>
                      </ng-container>

                      <!-- Шифр замены-->
                      <ng-container matColumnDef="replacement_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр замены </th>
                        <td mat-cell *matCellDef="let element">{{ element?.replacement_code }}</td>
                      </ng-container>

                      <!-- Шифр изменения-->
                      <ng-container matColumnDef="change_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр изменения </th>
                        <td mat-cell *matCellDef="let element">{{ element?.change_code }}</td>
                      </ng-container>

                      <!-- ПД/РД-->
                      <ng-container matColumnDef="design_working_documentation">
                        <th mat-header-cell *matHeaderCellDef> ПД/РД</th>
                        <td mat-cell *matCellDef="let element">{{ element?.code_title }}</td>
                      </ng-container>

                      <!-- Шифр раздела -->
                      <ng-container matColumnDef="section_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.section_code }}</td>
                      </ng-container>

                      <!-- Шифр раздела -->
                      <ng-container matColumnDef="estimate_name">
                        <th mat-header-cell *matHeaderCellDef>Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_name }}</td>
                      </ng-container>

                      <!-- Разработчик сметы -->
                      <ng-container matColumnDef="estimate_developer">
                        <th mat-header-cell *matHeaderCellDef> Разработчик сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.developer_title }}</td>
                      </ng-container>

                      <!-- Статус сметы  -->
                      <ng-container matColumnDef="estimate_status">
                        <th mat-header-cell *matHeaderCellDef> Статус сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.status_title }}</td>
                      </ng-container>

                      <!-- Сметная стоимость в ценах 2001 г. -->
                      <ng-container matColumnDef="estimate_cost_2001">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в ценах 2001 г.</th>
                        <td mat-cell *matCellDef="let element">{{ element?.base_cost | customNumber }}</td>
                      </ng-container>

                      <!-- Сметная стоимость в текущих ценах  -->
                      <ng-container matColumnDef="estimate_cost_current_prices">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в текущих ценах </th>
                        <td mat-cell *matCellDef="let element">{{ element?.current_cost |customNumber}}
                        </td>
                      </ng-container>


                      <!-- Действие -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element" class="edit">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button"
                              (click)="show.toggleShowBlock(1); getSections2(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Создать на основе</span>
                            </button>
                            <button mat-menu-item type="button" (click)="showDetails(element.document_gsfx_id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                            <button mat-menu-item type="button" (click)="editEstimates(element)"
                            data-bs-toggle="offcanvas" data-bs-target="#EditAddScrolling">
                            <mat-icon>edit</mat-icon>
                            <span>Изменить</span>
                          </button>
                          <button mat-menu-item type="button" (click)="approve(element)">
                            <mat-icon>low_priority</mat-icon>
                            <span>Утвердить</span>
                          </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                  </mat-tab>
                  <!-- <mat-tab class="mat-elevation-z8" label="Временные сметы">
                    <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="serial_number">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="system_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_system_code_wbs }}</td>
                      </ng-container>

                      <ng-container matColumnDef="system_name">
                        <th mat-header-cell *matHeaderCellDef> Наименование системы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_system_name }}</td>
                      </ng-container>

                      <ng-container matColumnDef="number_package_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Номер пакета СДР</th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_work_package_code_wbs }}</td>
                      </ng-container>

                      <ng-container matColumnDef="name_work_package">
                        <th mat-header-cell *matHeaderCellDef> Название пакета работ </th>
                        <td mat-cell *matCellDef="let element">{{ element?.wbs_work_package_name }}</td>
                      </ng-container>

                      <ng-container matColumnDef="cypher">
                        <th mat-header-cell *matHeaderCellDef> Шифр и номер сметы (Total)</th>
                        <td mat-cell *matCellDef="let element">{{ element?.cypher }}</td>
                      </ng-container>

                      <ng-container matColumnDef="replacement_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр замены </th>
                        <td mat-cell *matCellDef="let element">{{ element?.replacement_code }}</td>
                      </ng-container>

                      <ng-container matColumnDef="change_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр изменения </th>
                        <td mat-cell *matCellDef="let element">{{ element?.change_code }}</td>
                      </ng-container>

                      <ng-container matColumnDef="design_working_documentation">
                        <th mat-header-cell *matHeaderCellDef> ПД/РД</th>
                        <td mat-cell *matCellDef="let element">{{ element?.code_title }}</td>
                      </ng-container>

                      <ng-container matColumnDef="section_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.section_code }}</td>
                      </ng-container>

                      <ng-container matColumnDef="estimate_name">
                        <th mat-header-cell *matHeaderCellDef>Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_name }}</td>
                      </ng-container>

                      <ng-container matColumnDef="estimate_developer">
                        <th mat-header-cell *matHeaderCellDef> Разработчик сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.developer_title }}</td>
                      </ng-container>

                      <ng-container matColumnDef="estimate_status">
                        <th mat-header-cell *matHeaderCellDef> Статус сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.status_title }}</td>
                      </ng-container>

                      <ng-container matColumnDef="estimate_cost_2001">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в ценах 2001 г.</th>
                        <td mat-cell *matCellDef="let element">{{ element?.base_cost | customNumber }}</td>
                      </ng-container>

                      <ng-container matColumnDef="estimate_cost_current_prices">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в текущих ценах </th>
                        <td mat-cell *matCellDef="let element">{{ element?.current_cost |customNumber}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element" class="edit">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button"
                              (click)="show.toggleShowBlock(1); getSections2(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Создать на основе</span>
                            </button>
                            <button mat-menu-item type="button" (click)="showDetails(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>

                            <button mat-menu-item type="button" (click)="editEstimates(element)"
                              data-bs-toggle="offcanvas" data-bs-target="#EditAddScrolling">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>

                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </mat-tab> -->

                  <mat-tab class="mat-elevation-z8" label="Загруженные сметы">
                    <table mat-table [dataSource]="dataRegisterEstimatesGSFX" class="mat-elevation-z8">
                      <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> № П/П </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="file_name">
                        <th mat-header-cell *matHeaderCellDef> Название </th>
                        <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
                      </ng-container>

                      <!-- stage Column -->
                      <ng-container matColumnDef="date_created">
                        <th mat-header-cell *matHeaderCellDef> Дата загрузки </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_created | date: 'dd.MM.yyyy'}} </td>
                      </ng-container>

                      <!-- Действия -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element" class="edit">
                          <button mat-icon-button [matMenuTriggerFor]="menu">{{element.id}}
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <!-- {{element.id}} -->
                            <!-- <button mat-menu-item type="button" (click)="editEstimates(element)"
                              data-bs-toggle="offcanvas" data-bs-target="#EditAddScrolling">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button> -->
                            <button mat-menu-item type="button" (click)="show.toggleShowBlock(1); getNode(element)">
                              <mat-icon>sort</mat-icon>
                              <span>Создать на основании</span>
                            </button>
                            <button mat-menu-item type="button" (click)="moreRegisterEstimatesGSFX(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsGSFX"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsGSFX;"></tr>
                    </table>
                  </mat-tab>

                </mat-tab-group>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <p-dialog header="Header" styleClass="modal-element"
              [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" [visible]="show.showBlock[1]"
              [position]="theme.position" [draggable]="false" [maximizable]="false" [closable]="false"
              (onHide)="show.closedAdd(0)">
              <ng-template pTemplate="header">
                <div class="col-12 d-flex">
                  <div class="col">
                    <h2>
                      {{ section == 1 ? 'Создать смету' : 'Создать на основе'}}
                    </h2>
                  </div>
                  <div class="d-flex text-end">
                    <div class="col">
                      <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                        <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                        <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                      </button>
                    </div>
                    <div class="col">
                      <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[1] = false">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <div class="col" *ngIf="section == 1">
                <form [formGroup]="documentGsfxForm">
                  <mat-form-field appearance="outline" style="width: 100%" class="example-full-width">
                    <mat-label>Наименование:</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>

                  <mat-form-field appearance="outline" style="width: 100%" class="example-full-width"
                    style="display: none;">
                    <mat-label>document_gsfx:</mat-label>
                    <input matInput formControlName="document_gsfx" [ngModel]="documentGsfx">
                  </mat-form-field>

                  <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                    <mat-label>Системы:</mat-label>
                    <mat-select formControlName="wbs_system" (selectionChange)="directionOptionSelected($event)">
                      <mat-option *ngFor="let option of getNodeFlat" [value]="option.id">{{ option.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field *ngIf="directionOptionId" style="width: 100%" appearance="outline">
                    <mat-label>Пакеты работ:</mat-label>
                    <mat-select formControlName="wbs_work_package" (selectionChange)="objectOptionSelected($event)">
                      <mat-option *ngFor="let option of directionOptionId" [value]="option.id">{{ option.name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- <mat-form-field *ngIf="objectOptionId" style="width: 100%" appearance="outline">
                    <mat-label>Объект:</mat-label>
                    <mat-select (selectionChange)="systemOptionSelected($event)">
                      <mat-option *ngFor="let option of objectOptionId" [value]="option.id">{{ option.name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field *ngIf="systemOptionId" style="width: 100%" appearance="outline">
                    <mat-label>Системы:</mat-label>
                    <mat-select formControlName="wbs_system" (selectionChange)="workPackagesOptionSelected($event)">
                      <mat-option *ngFor="let option of systemOptionId" [value]="option.id">{{ option.name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field *ngIf="workPackagesOptionId" style="width: 100%" appearance="outline">
                    <mat-label>Пакеты работы:</mat-label>
                    <mat-select formControlName="wbs_work_package">
                      <mat-option *ngFor="let option of workPackagesOptionId" [value]="option.id">{{ option.name
                        }}</mat-option>
                    </mat-select>
                  </mat-form-field> -->

                  <div class="d-flex justify-content-start">
                    <button style="margin-bottom: 15px;" (click)="addDocumentGsfx()" mat-stroked-button
                      class="mat-btn-recolor" [disabled]="!documentGsfxForm.valid">
                      <span class="d-flex align-items-center">Добавить</span>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col" *ngIf="section == 2">
                <form [formGroup]="estimateForm">
                  <mat-form-field appearance="outline" style="width: 100%" class="example-full-width">
                    <mat-label>Наименование:</mat-label>
                    <input matInput formControlName="title">
                  </mat-form-field>

                  <mat-form-field appearance="outline" style="width: 100%" class="example-full-width">
                    <mat-label>Шифр сметы:</mat-label>
                    <input matInput formControlName="cypher">
                  </mat-form-field>

                  <mat-form-field appearance="outline" style="width: 100%" class="example-full-width" style="display: none;">
                    <mat-label>parrent:</mat-label>
                    <input matInput formControlName="parrent" [ngModel]="setEstimateId">
                  </mat-form-field>

                  <div class="d-flex justify-content-start">
                    <button style="margin-bottom: 15px;" (click)="addEstimateGsfx()" mat-stroked-button class="mat-btn-recolor" [disabled]="!estimateForm.valid">
                      <span class="d-flex align-items-center">Добавить</span>
                    </button>
                  </div>
                </form>
              </div>
            </p-dialog>

          </div>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="EditAddScrolling" aria-labelledby="addScrollingLabel" style="width: 40%;">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="EditAddScrolling">{{ editMode ? 'Изменить' : 'Добавить' }} смету
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form [formGroup]="FormAddEditEstimates">
          <div class="container row gx-3">
            <mat-tab-group mat-align-tabs="start">
              <mat-tab label="Общая информация ">


                <!-- Code Number Estimate Total -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Шифр и номер сметы:</mat-label>
                  <input matInput formControlName="cypher" required>
                </mat-form-field>

                <!-- Code Number Estimate Total -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Наименование:</mat-label>
                  <input matInput formControlName="title" required>
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Дата создания</mat-label>
                  <input matInput [matDatepicker]="createdDatePicker" formControlName="date_created">
                  <mat-datepicker-toggle matSuffix [for]="createdDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #createdDatePicker></mat-datepicker>
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Код СДР системы</mat-label>
                  <mat-select formControlName="wbs_system" required (selectionChange)="getPackageWBS($event.value)">
                    <mat-option *ngFor="let wbs of wbsData" [value]="wbs.id">
                      {{ wbs.code_wbs }} - {{ wbs.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>



                <!-- Number Package Code WBS -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Номер пакета СДР:</mat-label>
                  <mat-select formControlName="wbs_work_package" required>
                    <mat-option *ngFor="let wbs of PackageWBSData" [value]="wbs.id">
                      {{ wbs.code_wbs }} - {{ wbs.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Status -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Статус:</mat-label>
                  <mat-select formControlName="status">
                    <mat-option *ngFor="let status of StatusEstimateData" [value]="status.id">
                      {{ status.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Type -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Тип сметы:</mat-label>
                  <mat-select formControlName="type_estimate">
                    <mat-option *ngFor="let type of TypeEstimateData" [value]="type.id">
                      {{ type.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Code -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Код сметы:</mat-label>
                  <mat-select formControlName="code" [disabled]="!disableSelect.value">
                    <mat-option *ngFor="let code of CodeEstimateData" [value]="code.id">
                      {{ code.title }}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end">В разработке</mat-hint>
                </mat-form-field>


                <!-- Поставщик -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Поставщик:</mat-label>
                  <mat-select formControlName="contractor" [disabled]="!disableSelect.value">
                    <mat-option *ngFor="let contractor of UserEstimateData" [value]="contractor.id">
                      {{ contractor.title }}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end">В разработке</mat-hint>
                </mat-form-field>

                <!-- Разработчик -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Разработчик:</mat-label>
                  <mat-select formControlName="contractor" [disabled]="!disableSelect.value">
                    <mat-option *ngFor="let developer of UserEstimateData" [value]="developer.id">
                      {{ developer.title }}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="end">В разработке</mat-hint>
                </mat-form-field>

                <!-- Основание -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Основание:</mat-label>
                  <mat-select formControlName="estimate_reason">
                    <mat-option *ngFor="let reason of ReasonEstimateData" [value]="reason.id">
                      {{ reason.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>


                <!-- Уровень -->
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Уровень:</mat-label>
                  <mat-select formControlName="estimate_level">
                    <mat-option *ngFor="let level of LevelEstimateData" [value]="level.id">
                      {{ level.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>








              </mat-tab>


            </mat-tab-group>

            <div class="col-4">
              <div class="col-4">
                <button (click)="updateEstimates(FormAddEditEstimates.value)" mat-stroked-button class="mat-btn-recolor">
                  <span class="align-text-center">
                    {{ editMode ? 'Сохранить' : 'Добавить' }}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>