<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <mat-form-field class="select-filter" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Валюта:</mat-label>
            <mat-select [(ngModel)]="selectedCurrency" (selectionChange)="applyFilters()">
              <mat-option value="All">Все</mat-option>
              <mat-option *ngFor="let currency of currencyOptions" [value]="currency">{{ currency }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-filter" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Статус:</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (selectionChange)="applyFilters()">
              <mat-option value="All">Все</mat-option>
              <mat-option *ngFor="let option of statusOptions" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-filter" style="margin-top: -5px;margin-left: 5px;" appearance="outline">
            <mat-label>Год</mat-label>
            <mat-select [(ngModel)]="selectedYear" (selectionChange)="applyFilters()">
              <mat-option *ngFor="let year of yearsRange" [value]="year">{{ year }}</mat-option>
            </mat-select>
          </mat-form-field>
          <form [formGroup]="searchForm">
            <mat-form-field appearance="outline" style="margin-top: -5px; margin-left: 5px;"
              class="example-full-width select-filter">
              <mat-label>Поиск:</mat-label>
              <input matInput formControlName="searchText" (input)="applyFilters()">
            </mat-form-field>
          </form>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Контрагент: {{contractDetails?.name}} </span>
          <!-- {{contractDetails?.legal_number}} -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/register-contracts">Реестр договоров</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col">
                  Код контракта: {{contractCode}}
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="col">

          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>

                <table mat-table [dataSource]="filteredContracts">

                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>№</span>
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="side">
                    <th mat-header-cell *matHeaderCellDef> Код договора </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{element.code_counterparty}}</span>
                      <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.code_contract" class="editing"> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="code_contract">
                    <th mat-header-cell *matHeaderCellDef> Контрагент </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{element.side}}</span>
                      <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.code_contract" class="editing"> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="subject">
                    <th mat-header-cell *matHeaderCellDef> Предмет договора </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{element?.subject}}</span>
                      <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.subject" class="editing"> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amount_without_VAT">
                    <th mat-header-cell *matHeaderCellDef> Сумма без НДС, тыс.руб </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{element?.amount_without_VAT | customNumber}}</span>
                      <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.amount_without_VAT" class="editing"> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="amount_with_VAT">
                    <th mat-header-cell *matHeaderCellDef> Сумма с НДС, тыс.руб </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{element?.amount_with_VAT | customNumber}}</span>
                      <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.amount_with_VAT" class="editing"> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element" class="edit">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu class="customize" #menu="matMenu">
                        <button mat-menu-item (click)="showRegMore(element.id)">
                          <mat-icon class="mat-menu-icon">sort</mat-icon>
                          <span>Подробнее</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons 
                               aria-label="Select page of periodic elements"
                               #table_2>
                </mat-paginator>

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>