<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="create(3)">
            <mat-icon>library_add</mat-icon>
          </button>
          <form [formGroup]="searchForm" style="height: 38px;">
            <mat-form-field appearance="outline" style="margin-top: -5px;"
              class="example-full-width select-create">
              <mat-label>Поиск:</mat-label>
              <input matInput formControlName="searchText" (input)="applyFilters()">
            </mat-form-field>
          </form>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Объекты аналоги</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card class="example-card">
              <mat-card-content style="overflow-x: auto;">
<!-- Таблица Объекты аналоги -->
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="serial_number">
                <th mat-header-cell *matHeaderCellDef>
                  <span>№ </span>
                </th>
                <td mat-cell *matCellDef="let i = index">
                  <span>
                    {{i+1}}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Название</th>
                <td mat-cell *matCellDef="let element"> 
                  <span>{{ element.title }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="smr_comp">
                <th mat-header-cell *matHeaderCellDef>Предприятие СМР </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.smr_comp }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="smr_cost">
                <th mat-header-cell *matHeaderCellDef> СМР стоимость </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.smr_cost }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="date_start">
                <th mat-header-cell *matHeaderCellDef> Дата начала факт</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.date_start }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="date_end">
                <th mat-header-cell *matHeaderCellDef> Дата окончания факт</th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.date_end }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="pir_comp">
                <th mat-header-cell *matHeaderCellDef>Предприятие ПИР </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.pir_comp }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="pir_cost">
                <th mat-header-cell *matHeaderCellDef> ПИР стоимость </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.pir_cost }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="oto_cost">
                <th mat-header-cell *matHeaderCellDef> Оборудование стоимость </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.oto_cost }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="etc_cost">
                <th mat-header-cell *matHeaderCellDef> Прочее стоимость </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.etc_cost }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="tech_description">
                <th mat-header-cell *matHeaderCellDef> Тех.характеристики </th>
                <td mat-cell *matCellDef="let element"> 
                  <span>{{ element.tech_description }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="total_cost">
                <th mat-header-cell *matHeaderCellDef> Стоимость </th>
                <td mat-cell *matCellDef="let element"> 
                  <span>{{ element.total_cost }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef> Проект реализации </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.project }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Категория </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.type }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="region">
                <th mat-header-cell *matHeaderCellDef> Регион </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.region }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef> Валюта </th>
                <td mat-cell *matCellDef="let element">
                  <span>{{ element.currency }}</span>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Действие </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu class="customize" #menu="matMenu">
                    <button mat-menu-item (click)="showDetails(element)">
                      <mat-icon class="mat-menu-icon">sort</mat-icon>
                      <span>Подробнее</span>
                    </button>
                    <button mat-menu-item  (click)="editAnalogBudget(element); show.toggleShowBlock(2)">
                      <mat-icon class="mat-menu-icon">edit</mat-icon>
                      <span>Редактировать</span>
                    </button>
                    <button mat-menu-item (click)="delAnalogBudget(element)">
                      <mat-icon class="mat-menu-icon">clear</mat-icon>
                      <span>Удалить</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[30, 35, 40]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
<!-- Объекты аналоги (Добавление) -->
        <div class="col">
          <div class="col create" [ngClass]="{'show':  show.showBlock[3]}">
            <div class="col text-end">
              <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <h2>Создать объект аналог</h2>

            <form [formGroup]="analogForm">
              <div class="row">
                <div class="col">

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Дата начала факт:</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="date_start">
                    <mat-hint>{{getDateFormatString()}}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Дата окончания факт:</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="date_end">
                    <mat-hint>{{getDateFormatString()}}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Название:</mat-label>
                    <input matInput formControlName="title">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Предприятие ПИР:</mat-label>
                    <input matInput formControlName="pir_comp">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>ПИР стоимость:</mat-label>
                    <input matInput formControlName="pir_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Оборудование стоимость:</mat-label>
                    <input matInput formControlName="oto_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Прочее стоимость:</mat-label>
                    <input matInput formControlName="etc_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>СМР стоимость:</mat-label>
                    <input matInput formControlName="smr_cost">

                  </mat-form-field> 

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Предприятие СМР:</mat-label>
                    <input matInput formControlName="smr_comp">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Технические характеристики:</mat-label>
                    <input matInput formControlName="tech_description">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Проект реализации:</mat-label>
                    <input matInput formControlName="project">

                  </mat-form-field>

                  <mat-form-field class="select-create" class="example-full-width"
                    appearance="outline">
                    <mat-label>Категория:</mat-label>
                    <mat-select formControlName="type" [(ngModel)]="selectedRegion">
                      <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="select-create" class="example-full-width"
                    appearance="outline">
                    <mat-label>Регион:</mat-label>
                    <mat-select formControlName="region" [(ngModel)]="regionList">
                      <mat-option *ngFor="let option of getRegion" [value]="option.id">{{ option.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="select-create" class="example-full-width"
                    appearance="outline">
                    <mat-label>Валюта:</mat-label>
                    <mat-select formControlName="currency" [(ngModel)]="CurrencyList">
                      <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="d-flex justify-content-end">
                    <button (click)="addAnalogBudget()" style="margin-bottom: 15px;" mat-stroked-button
                      class="mat-btn-recolor">
                      <span class="d-flex align-items-center">Добавить
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

<!-- Объекты аналоги (Редактирование) -->
        <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
          <div class="col text-end" style="margin-bottom: 15px;">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Редактировать объект аналог</h2>
          
          <form [formGroup]="editAnalogForm">
            <div class="row">
              <div class="col">

                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Дата начала факт:</mat-label>
                  <input matInput [matDatepicker]="editPicker1" formControlName="date_start">
                  <mat-hint>{{getDateFormatString()}}</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="editPicker1"></mat-datepicker-toggle>
                  <mat-datepicker #editPicker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Дата окончания факт:</mat-label>
                  <input matInput [matDatepicker]="editPicker2" formControlName="date_end">
                  <mat-hint>{{getDateFormatString()}}</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="editPicker2"></mat-datepicker-toggle>
                  <mat-datepicker #editPicker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Название:</mat-label>
                  <input matInput formControlName="title">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Предприятие ПИР:</mat-label>
                  <input matInput formControlName="pir_comp">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>ПИР стоимость:</mat-label>
                  <input matInput formControlName="pir_cost">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Оборудование стоимость:</mat-label>
                  <input matInput formControlName="oto_cost">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Прочее стоимость:</mat-label>
                  <input matInput formControlName="etc_cost">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Предприятие СМР:</mat-label>
                  <input matInput formControlName="smr_comp">

                </mat-form-field>
                
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>СМР стоимость:</mat-label>
                  <input matInput formControlName="smr_cost">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Технические характеристики:</mat-label>
                  <input matInput formControlName="tech_description">

                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Проект реализации:</mat-label>
                  <input matInput formControlName="project">

                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Категория:</mat-label>
                  <mat-select formControlName="type" [(ngModel)]="selectedType">
                    <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Регион:</mat-label>
                  <mat-select formControlName="region" [(ngModel)]="regionList">
                    <mat-option *ngFor="let option of getRegion" [value]="option.id">{{ option.title}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Валюта:</mat-label>
                  <mat-select formControlName="currency" [(ngModel)]="selectedCurrency">
                    <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="d-flex justify-content-end">
                  <button (click)="saveAnalogBudget()" style="margin-bottom: 15px;" mat-stroked-button
                    class="mat-btn-recolor">
                    <span class="d-flex align-items-center">Сохранить
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>

      
    </div>
  </div>
</div>