<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button style="margin: 0px 5px 15px 0px;" class="more" mat-stroked-button (click)="show.toggleShowBlock(1)">Сформировать требования на оплату
            <mat-icon style="font-size: 25px;">assignment</mat-icon>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 15px 0px;" class="more" (click)="show.toggleShowBlock(3)">
            <span class="d-flex align-items-center">Добавить счет-фактуру
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 15px 0px;" class="more" (click)="show.toggleShowBlock(2)">
            <span class="d-flex align-items-center">Добавить счет на предоплату
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
          <button mat-stroked-button class="more" style="margin: 0px 5px 15px 0px;" *ngIf="!contractDetails?.editing" (click)="edit(contractDetails)">
            <!-- *ngIf="!item.editing" (click)="editItem(item)" -->
            <span>Редактировать</span>
          </button>
          <button class="more" style="margin: 0px 5px 15px 0px;" matTooltip="Отменить" mat-stroked-button *ngIf="contractDetails?.editing" (click)="show.cancel(contractDetails)">
            <span>Отменить</span>
          </button>
          <button class="more" style="margin: 0px 5px 15px 0px;" matTooltip="Сохранить" mat-stroked-button *ngIf="contractDetails?.editing" (click)="saveReg(contractDetails)">
            <span>Сохранить</span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Номер договора: {{contractDetails.legal_number}}</span>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/register-contracts">Реестр договоров</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col" *ngIf="contractDetails">
                  <a class="text-link tools-inner" routerLink="/register-contracts/more">Стороны: {{contractDetails.side}}</a>
                  
                </div>
              </li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col" >
                  <!-- *ngFor="let item of dataSvzName" {{ item.name }} -->
                  Платежи:  факт
                </div>
              </li>
            </ol>
          </nav>

          <!-- <span class="tools-inner">Сводная ведомость затрат</span> -->
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="col">

            <div class="col" *ngIf="contractDetails">
              <mat-card class="example-card">

                <div class="row" *ngFor="let item of factDetails">
                  <div class="col-6">
                    <form [formGroup]="editForm">
                      <div class="sub-title">
                        Статус:
                        <span *ngIf="!contractDetails.editing">{{ item.status }}</span>
                        <input matInput *ngIf="contractDetails.editing" formControlName="status" [(ngModel)]="item.status" class="editing">
                        <!-- <mat-form-field *ngIf="item.editing" appearance="outline" class="example-full-width"
                          style="width: 100%;">
                          <mat-label>Статус:</mat-label>
                          <mat-select [(ngModel)]="selectedStatuses">
        
                            <mat-option *ngFor="let rate of getStatuses" [value]="rate">{{ rate }}</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                      <div class="sub-title">
                        Дата:
                        <span *ngIf="!contractDetails.editing">{{ item.date_pay }}</span>
                        <input matInput *ngIf="contractDetails.editing" formControlName="date_pay" [(ngModel)]="item.date_pay" class="editing">
                      </div>
                      <div class="sub-title">
                        Этап:
                        <span *ngIf="!contractDetails.editing">{{ item.stage }}</span>
                        <input matInput *ngIf="contractDetails.editing" formControlName="stage" [(ngModel)]="item.stage" class="editing">
                      </div>
                      <div class="sub-title">
                        Группа учета :
                        <span *ngIf="!contractDetails.editing">{{ item.accounting_group }}</span>
                        <input matInput *ngIf="contractDetails.editing" formControlName="accounting_group" [(ngModel)]="item.accounting_group" class="editing">
                        <!-- <mat-form-field *ngIf="item.editing" appearance="outline" class="example-full-width"
                          style="width: 100%;">
                          <mat-label>Статус:</mat-label>
                          <mat-select [(ngModel)]="selectedAccounting">
                            <mat-option *ngFor="let rate of getAccounting" [value]="rate">{{ rate
                              }}</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                    </form>
                    <mat-accordion>
                      <div class="col-6">
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header> Пункты плана </mat-expansion-panel-header>

                        <table class="table table-sm">
                          <tbody>
                            <tr *ngFor="let item of plan_items">
                              <td>
                                <span *ngIf="!item.editing">{{ item.item }}</span>
                                <input matInput *ngIf="item.editing" [(ngModel)]="item.item" class="editing">
                              </td>

                              <td>
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu class="customize" #menu="matMenu">
                                  <button mat-menu-item *ngIf="!item.editing" (click)="editItem(item)">
                                    <mat-icon class="mat-menu-icon">edit</mat-icon>
                                    <span>Изменить</span>
                                  </button>
                                  <button mat-menu-item *ngIf="item.editing" (click)="editItems(getId, getFactId,item)">
                                    <mat-icon class="mat-menu-icon">done</mat-icon>
                                    <span>Сохранить</span>
                                  </button>
                                  <button mat-menu-item (click)="delItems(getId, getFactId,item)">
                                    <mat-icon class="mat-menu-icon">clear</mat-icon>
                                    <span>Удалить</span>
                                  </button>
                                </mat-menu>
                              </td>
                            </tr>
                            <tr *ngIf="newPlanItemVisible">
                              <td>
                                <form [formGroup]="ItemsForm" (ngSubmit)="saveItems(getId, getFactId)">
                                  <mat-form-field appearance="outline" class="example-full-width row" style="width: 100%;">
                                    <input matInput formControlName="item" сlass="col-10">
                                  </mat-form-field>
                                  <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button type="submit">
                                    <span class="d-flex align-items-center col-2">Создать</span>
                                  </button>
                                </form>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <button class="button-add-row more" mat-button (click)="addRowPlanItems()">
                                  <mat-icon>add_box</mat-icon> Добавить пункт плана
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </mat-expansion-panel>
                    </div>
                  </mat-accordion>
                
                  </div>
                  <div class="col-6">
                    <div class="sub-title">
                      Стоимость:
                      <span *ngIf="!contractDetails.editing">{{ item.amount| number: '1.2-2' }}</span>
                      <input disabled matInput *ngIf="contractDetails.editing" [(ngModel)]="item.amount" class="disabled">
                    </div>
                    <div class="sub-title">
                      Сумма без НДС:
                      <span *ngIf="!contractDetails.editing">{{ item.amount_without_VAT | number: '1.2-2' }}</span>
                      <input matInput disabled *ngIf="contractDetails.editing" [(ngModel)]="item.amount_without_VAT"
                        class="disabled">
                    </div>
                    <div class="sub-title">
                      Сумма НДС:
                      <span *ngIf="!contractDetails.editing">{{ item.amount_VAT| number: '1.2-2' }}</span>
                      <input matInput disabled *ngIf="contractDetails.editing" [(ngModel)]="item.amount_VAT"
                        class="disabled">
                    </div>
                    
                  </div>
                </div>

                <mat-card-content>

                  <mat-tab-group>
                    <mat-tab label="Счета-фактуры"> 
                      
                      <table class="table dark-table">
                        <thead style="font-size: 12px;">
                          <tr>
                            <th scope="col">№ Документа</th>
                            <th scope="col">Дата документа</th>
                            <th scope="col">Сумма с НДС</th>
                            <th scope="col">Порядок расчётов согласно условиям договора</th>
                            <th scope="col">Действие</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let element of invoices">
                            <td>
                              <span>{{ element.num_document }}</span>
                              <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.num_document" class="editing"> -->
                            </td>
                            <td>
                              <span>{{ element.date_document | date: 'YYYY-MM-dd' }}</span>
                              <!-- <mat-form-field appearance="legacy" *ngIf="element.editing">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="element.date_document">
                                <mat-hint>{{ getDateFormatString() }}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field> -->
                            </td>
                            <td>
                              <span>{{ element.amount }}</span>
                              <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.amount" class="editing"> -->
                            </td>
                            <td>
                              <span>{{ element.pay_procedure }}</span>
                              <!-- <textarea matInput *ngIf="element.editing" [(ngModel)]="element.pay_procedure" class="editing" rows="4"></textarea> -->
                            </td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <button mat-menu-item (click)="editElem(element); show.toggleShowBlock(4)">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Изменить</span>
                                </button>
                                <button mat-menu-item (click)="delInvoices(contractDetails.id, contractDetailsFact.id, element)">
                                  <mat-icon class="mat-menu-icon">clear</mat-icon>
                                  <span>Удалить</span>
                                </button>
                              </mat-menu>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </mat-tab>
                    <mat-tab label="Счета на предоплату"> 
                      
                      <table class="table dark-table">
                        <thead style="font-size: 12px;">
                          <tr>
                            <th scope="col">№ Документа</th>
                            <th scope="col">Дата документа</th>
                            <th scope="col">Сумма с НДС</th>
                            <th scope="col">Порядок расчётов, поставки (выполнения работ) согласно условиям договора</th>
                            <th scope="col">Действие</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of prepay_invoices">
                            <td>
                              <span>{{ item.num_document }}</span>
                              <!-- <input matInput *ngIf="item.editing" [(ngModel)]="item.num_document" class="editing"> -->
                            </td>
                            <td>
                              <span>{{ item.date_document | date: 'YYYY-MM-dd' }}</span>
                              <!-- <mat-form-field appearance="legacy" *ngIf="item.editing">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="item.date_document">
                                <mat-hint>{{ getDateFormatString() }}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field> -->
                            </td>
                            <td>
                              <span>{{ item.amount }}</span>
                              <!-- <input matInput *ngIf="item.editing" [(ngModel)]="item.amount" class="editing"> -->
                            </td>
                            <td>
                              <span>{{ item.pay_procedure }}</span>
                              <!-- <textarea matInput *ngIf="item.editing" [(ngModel)]="item.pay_procedure" class="editing" rows="4"></textarea> -->
                            </td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <button mat-menu-item (click)="editItem(item); show.toggleShowBlock(5)">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Изменить</span>
                                </button>
                                <button mat-menu-item (click)="delPrepayInvoices(contractDetails.id, contractDetailsFact.id,item)">
                                  <mat-icon class="mat-menu-icon">clear</mat-icon>
                                  <span>Удалить</span>
                                </button>
                              </mat-menu>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </mat-tab>
                  </mat-tab-group>

                </mat-card-content>
                <mat-card-footer>
                  <div class="border-card"></div>
                </mat-card-footer>
              </mat-card>
            </div>

<!-- Сформировать требования на оплату -->
            <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
                <h2>Требования на оплату</h2>

                <form [formGroup]="createDocx" (ngSubmit)="saveDocx(getId, getFactId)">

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Кому, компания:</mat-label>
                    <input matInput formControlName="whom_company">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Кому, ФИО:</mat-label>
                    <input matInput formControlName="whom_FCs">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>ПФМ Код:</mat-label>
                    <input matInput formControlName="pfm_code">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Менеджер по строительству:</mat-label>
                    <input matInput formControlName="construction_manager">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Коммерческий директор:</mat-label>
                    <input matInput formControlName="commercial_director">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Исполнитель, ФИО:</mat-label>
                    <input matInput formControlName="executor">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Исполнитель, Номер телефона:</mat-label>
                    <input prefix="+7" mask="(000) 000 00 00" matInput formControlName="num_tel">
                  </mat-form-field>

                  <button class="btn-table mat-btn-recolor" mat-stroked-button type="submit">
                    <span class="d-flex align-items-center">Сформировать</span>
                  </button>
                </form>

              
            </div>

<!-- Добавить Счет на предоплату -->
            <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(2)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
                <h2>Счета на предоплату</h2>

                <form [formGroup]="PrepayForm" (ngSubmit)="savePrepay(getId, getFactId)">
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Номер документа:</mat-label>
                    <input matInput formControlName="num_document">
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Дата документа:</mat-label>
                    <input matInput [matDatepicker]="pickerPrepay" formControlName="date_document">
                    <mat-hint>{{getDateFormatString()}}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pickerPrepay"></mat-datepicker-toggle>
                    <mat-datepicker #pickerPrepay></mat-datepicker>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Сумма, c НДС:</mat-label>
                    <input matInput formControlName="amount">
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Порядок расчетов:</mat-label>
                    <input matInput formControlName="pay_procedure">
                  </mat-form-field>
  
                  <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                    type="submit">
                    <span class="d-flex align-items-center">Создать</span>
                  </button>
                </form>
              
            </div>

<!-- Добавить Счета-фактуры -->
            <div class="col create" [ngClass]="{'show': show.showBlock[3]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(3)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
                <h2>Счет-фактура</h2>

                <form [formGroup]="InvoicesForm" (ngSubmit)="saveInvoices(getId, getFactId)">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Номер документа:</mat-label>
                  <input matInput formControlName="num_document">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Дата документа:</mat-label>
                  <input matInput [matDatepicker]="pickerInvoices" formControlName="date_document">
                  <mat-hint>{{getDateFormatString()}}</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="pickerInvoices"></mat-datepicker-toggle>
                  <mat-datepicker #pickerInvoices></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Сумма, c НДС:</mat-label>
                  <input matInput formControlName="amount">
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Порядок расчетов:</mat-label>
                  <input matInput formControlName="pay_procedure">
                </mat-form-field>

                <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                  type="submit">
                  <span class="d-flex align-items-center">Создать</span>
                </button>
              </form>
              
            </div>

<!-- Изменить Счета-фактуры -->
              <div class="col create" [ngClass]="{'show': show.showBlock[4]}">
                <div class="col text-end" style="margin-bottom: 15px;">
                  <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(4)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                  <h2>Изменить: Счета-фактуры</h2>
  
                  <form [formGroup]="editInvoicesForm">
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Номер документа:</mat-label>
                    <input matInput formControlName="num_document">
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Дата документа:</mat-label>
                    <input matInput [matDatepicker]="pickerInvoices" formControlName="date_document">
                    <mat-hint>{{getDateFormatString()}}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pickerInvoices"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInvoices></mat-datepicker>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Сумма, c НДС:</mat-label>
                    <input matInput formControlName="amount">
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Порядок расчетов:</mat-label>
                    <input matInput formControlName="pay_procedure">
                  </mat-form-field>
  
                  <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button type="submit" (click)="ediInvoices(contractDetails.id, contractDetailsFact.id,elementId)">
                    <span class="d-flex align-items-center">Сохранить</span>
                  </button>
                </form>
              </div>
            

<!-- Изменить Счета на предоплату -->
            <div class="col create" [ngClass]="{'show': show.showBlock[5]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(5)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
                <h2>Изменить: Счета на предоплату</h2>

                <form [formGroup]="editPrepayForm">
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Номер документа:</mat-label>
                    <input matInput formControlName="num_document">
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Дата документа:</mat-label>
                    <input matInput [matDatepicker]="pickerPrepay" formControlName="date_document">
                    <mat-hint>{{getDateFormatString()}}</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pickerPrepay"></mat-datepicker-toggle>
                    <mat-datepicker #pickerPrepay></mat-datepicker>
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Сумма, c НДС:</mat-label>
                    <input matInput formControlName="amount">
                  </mat-form-field>
  
                  <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                    <mat-label>Порядок расчетов:</mat-label>
                    <input matInput formControlName="pay_procedure">
                  </mat-form-field>
  
                  <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button type="submit" (click)="editPrepayInvoices(contractDetails.id, contractDetailsFact.id,itemId)">
                    <span class="d-flex align-items-center">Сохранить</span>
                  </button>
                </form>
              
            </div>

          </div>
        </div>