.more {
  color: #6c6c6c;
}
/* .create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: translateX(1920px);
  z-index: 2;
}
.create.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: start;
  transform: translateX(0px);
} */
.editing {
  border-bottom: 1px solid #949494;
  width: 100%;
}
.disabled {
  border-bottom: 2px dotted #949494;
  height: 30px;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}