<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addEditResourceDirectory" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addEditResourceDirectory" (click)="add()">
            
            <span class="d-flex align-items-center">Добавить ресурс
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addEditType" style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="addEditType" (click)="add()">
            <span class="d-flex align-items-center">Добавить тип
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#addEditCategory" style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="addEditCategory" (click)="add()">
          <span class="d-flex align-items-center">Добавить категорию
            <mat-icon>library_add</mat-icon>
          </span>
        </button>


        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Справочник ресурсов</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-tab-group>
                  <!-- Справочник ресурсов  -->
                  <mat-tab class="mat-elevation-z8" label="Справочник ресурсов">
                    <table *ngIf="ResourceDirectoryTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="ResourceDirectoryTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Наименование ресурса-->
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Наименование ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>

                      <!-- Тип ресурса -->
                      <ng-container matColumnDef="type_title">
                        <th mat-header-cell *matHeaderCellDef>Тип ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.type_title}} </td>
                      </ng-container>

                      <!--Категория ресурса -->
                      <ng-container matColumnDef="category_title">
                        <th mat-header-cell *matHeaderCellDef>Категория ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.category_title}} </td>
                      </ng-container>

                      <!-- Код ресурса -->
                      <ng-container matColumnDef="cypher">
                        <th mat-header-cell *matHeaderCellDef> Код ресурса</th>
                        <td mat-cell *matCellDef="let element"> {{element.cypher}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="hour_rate">
                        <th mat-header-cell *matHeaderCellDef> Стоимость/час </th>
                        <td mat-cell *matCellDef="let element"> {{element.hour_rate}} </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            
                            <button mat-menu-item (click)="deleResourceDirectory(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>

                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addEditResourceDirectory" (click)="editResourceDirectory(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id','title','type_title', 'category_title', 'cypher','hour_rate', 'action']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id','title','type_title', 'category_title', 'cypher','hour_rate', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorResourceDirectory>
                    </mat-paginator>
                  </mat-tab>

                  <!-- Тип ресурса-->
                  <mat-tab class="mat-elevation-z8" label="Тип ресурса">
                    <table *ngIf="TypeTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="TypeTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Наименование ресурса-->
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Наименование типа</th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>


                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleType(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                            <button mat-menu-item type="button" data-bs-toggle="offcanvas" data-bs-target="#addEditType"
                              (click)="editType(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="['id','title', 'action']">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['id','title', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #paginatorForResourceDirectoryType>
                    </mat-paginator>
                  </mat-tab>


                  <!-- Категория ресурса-->
                  <mat-tab class="mat-elevation-z8" label="Категория ресурса">
                    <table *ngIf="CategoryTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="CategoryTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Наименование ресурса-->
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef>Наименование категории</th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>


                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="deleCategory(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addEditCategory" (click)="editCategory(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="['id','title', 'action']">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['id','title', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #paginatorForResourceDirectoryСategory>
                    </mat-paginator>


                  </mat-tab>


                </mat-tab-group>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

          </div>
        </div>
      </div>


      <!-- Добавить/Изменить  ресурс -->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="addEditResourceDirectory" aria-labelledby="addScrollingLabel" style="width: 25%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="addEditResourceDirectory">{{ editMode ? 'Изменить' : 'Добавить' }} ресурс</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <form [formGroup]="FormAddEditResourceDirectory">
            <div class="container row gx-3">

              <!-- title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Наименование ресурса:</mat-label>
                <input matInput formControlName="title" required>
              </mat-form-field>

              <!-- title
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> Тип ресурса:</mat-label>
                <input matInput formControlName="type" required>
              </mat-form-field> -->
              <!-- Категория -->
              <mat-form-field appearance="outline">
                <mat-label>Тип ресурса:</mat-label>
                <mat-select formControlName="type" required>
                  <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'title'" [array]="SelectTypeList"
                    (filteredReturn)="filteredSelectTypeList=$event"></mat-select-filter>

                  <mat-option *ngFor="let type of filteredSelectTypeList" [value]="type.id">
                    {{ type.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Категория -->
              <mat-form-field appearance="outline">
                <mat-label>Категория ресурса:</mat-label>
                <mat-select formControlName="category" required>
                  <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'title'" [array]="SelectCategoryList"
                    (filteredReturn)="filteredSelectCategoryList=$event"></mat-select-filter>

                  <mat-option *ngFor="let Category of filteredSelectCategoryList" [value]="Category.id">
                    {{ Category.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> Код ресурса:</mat-label>
                <input matInput formControlName="cypher" required>
              </mat-form-field>
              <!-- title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label> Стоимость/час :</mat-label>
                <input type="number" matInput formControlName="hour_rate" required>
              </mat-form-field>





              <div class="col-12">
                <button (click)="AddEditResourceDirectory()" mat-stroked-button class="mat-btn-recolor"
                  [disabled]="!FormAddEditResourceDirectory.valid">
                  <span class="align-text-center">
                    {{ editMode ? 'Изменить' : 'Добавить' }}
                  </span>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>




      <!-- Добавить/Изменить  Тип -->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="addEditType"
        aria-labelledby="addScrollingLabel" style="width: 25%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="addEditType">{{ editMode ? 'Изменить' : 'Добавить' }} тип</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <form [formGroup]="FormAddEditType">
            <div class="container row gx-3">

              <!-- title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Наименование типа:</mat-label>
                <input matInput formControlName="title" required>
              </mat-form-field>



              <div class="col-12">
                <button (click)="AddEditType()" mat-stroked-button class="mat-btn-recolor"
                  [disabled]="!FormAddEditType.valid">
                  <span class="align-text-center">
                    {{ editMode ? 'Изменить' : 'Добавить' }}
                  </span>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>



      <!-- Добавить/Изменить Категорию -->
      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="addEditCategory"
        aria-labelledby="addScrollingLabel" style="width: 25%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="addEditCategory">{{ editMode ? 'Изменить' : 'Добавить' }} категорию</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <form [formGroup]="FormAddEditCategory">
            <div class="container row gx-3">

              <!-- title -->
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Наименование категории:</mat-label>
                <input matInput formControlName="title" required>
              </mat-form-field>



              <div class="col-12">
                <button (click)="AddEditCategory()" mat-stroked-button class="mat-btn-recolor"
                  [disabled]="!FormAddEditCategory.valid">
                  <span class="align-text-center">
                    {{ editMode ? 'Изменить' : 'Добавить' }}
                  </span>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>