<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <mat-form-field class="select-create setting-field" appearance="outline">
            <mat-label>Выбрать вид</mat-label>
            <mat-select>
              <mat-option (click)="changeCurrentView(0)">Структурный вид
              </mat-option>
              <mat-option (click)="changeCurrentView(1)">Табличный вид
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="currentViewIndex == 0" class="select-create setting-field"
                          appearance="outline"
          >
            <mat-label>Раскрыть до уровня</mat-label>
            <mat-select>
              <mat-option *ngFor="let levelName of this.currentTableToggle, let i = index"
                          (click)="toggleToLevel(i-1)"
              >
                {{levelName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="select-create setting-field" id="find-field" appearance="outline">
            <input matInput placeholder="Поиск по частичному совпадению" oninput=""
                   [(ngModel)]="nameFilter" (keyup.enter)="performFilter()"
            >
            <button title="Найти" mat-icon-button matSuffix (click)="performFilter()">
              <mat-icon matSuffix >search</mat-icon>
            </button>
            <button title="Сбросить" mat-icon-button matSuffix
                    (click)="resetFound()">
              <mat-icon matSuffix >delete_outline</mat-icon>
            </button>
          </mat-form-field>


        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Нематериальные активы</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <div class="row">
                  <!-- <div class="tools">
                    <div style="display: flex; justify-content: space-between">
                      <h2>{{this.currentView}}</h2>
                      <div style="text-align: right">
                        <mat-form-field *ngIf="currentViewIndex == 1" class="select-create setting-field"
                                        appearance="outline"
                        >
                          <mat-label>Фильтр</mat-label>
                          <mat-select>
                            <mat-option *ngFor="let levelName of this.tableFilter, let i = index"
                                        (click)="setFilterData(i)"
                            >
                              {{levelName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div> -->
                  <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Нематериальные активы">
                      <h1 class="text-center m-3 tools-title" *ngIf="!wbs || wbs.length === 0">
                        Нет данных
                      </h1>
                      <table *ngIf="wbs.length !== 0 && currentViewIndex == 0" mat-table [dataSource]="structureViewDataSource"
                        class="mat-elevation-z8" style="width: 100%;box-shadow:none">
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>
                            <span [style.paddingLeft.px]="40"> Наименование </span>
                          </th>
                          <td mat-cell *matCellDef="let data"
                            [style.background-color]="data.filtered ? '#ffb374' : 'white'">
                            <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                              [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
                              <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                              </mat-icon>
                            </button>

                            {{data.code_wbs}}. {{data.name}}

                            <button *ngIf="tablesViewColumns.length > data.level + 1"
                              title="Добавить {{clue[data.level + 1]}}" mat-icon-button
                              class="row-button" (click)="toggleFormVisibility(data.level, data)">
                              <mat-icon>add</mat-icon>
                            </button>
                            <button *ngIf="tablesViewColumns.length > data.level"
                              title="Редактировать {{clue[data.level]}}" mat-icon-button
                              class="row-button" (click)="toggleUpdateVisibility(data.level, data)">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button title="Раскрыть карточку" mat-icon-button class="row-button"
                              (click)="toggleElementsListVisible(data, data.level, data.id)">
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="type_node">
                          <th mat-header-cell *matHeaderCellDef> Уровень </th>
                          <td mat-cell *matCellDef="let data"
                            [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.type_node}} </td>
                        </ng-container>

<!--                        <ng-container matColumnDef="start_date">-->
<!--                          <th mat-header-cell *matHeaderCellDef> Дата начала </th>-->
<!--                          <td mat-cell *matCellDef="let data"-->
<!--                            [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.start_date}} </td>-->
<!--                        </ng-container>-->

<!--                        <ng-container matColumnDef="end_date">-->
<!--                          <th mat-header-cell *matHeaderCellDef> Дата окончания </th>-->
<!--                          <td mat-cell *matCellDef="let data"-->
<!--                            [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.end_date}} </td>-->
<!--                        </ng-container>-->

                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef> Категория </th>
                          <td mat-cell *matCellDef="let data"
                            [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.category}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="structureViewColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: structureViewColumns;"></tr>
                      </table>
                      <table *ngIf="wbs.length !== 0 && currentViewIndex == 1" mat-table [dataSource]="tableViewDataSources"
                        class="mat-elevation-z8 tableData" style="width: 100%;box-shadow:none">

                        <ng-container matColumnDef="{{this.tablesViewColumns[0]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[0]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan('level0', i)"
                            [style.display]="(getRowspan('level0', i)) ? '' : 'none'"
                            [style.background-color]="data.level0.filtered ? '#ffb374' : 'white'">
                            <span *ngIf="data.level0.name != ''">{{data.level0.wbs.code_wbs}}.
                              {{data.level0.name}}</span>
                            <div *ngIf="data.level0.name != ''">
                              <button *ngIf="tablesViewColumns.length > 1"
                                title="Добавить {{clue[1]}}" mat-icon-button class="row-button"
                                (click)="toggleFormVisibility(0, data.level0.wbs)">
                                <mat-icon>add</mat-icon>
                              </button>
                              <button title="Редактировать {{clue[0]}}" mat-icon-button
                                class="row-button" (click)="toggleUpdateVisibility(0, data.level0.wbs)">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                (click)="toggleElementsListVisible(data.level0.wbs, 0, data.level0.wbs.id)">
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data.level0.name != ''">{{data.level0.wbs.start_date}} -
                              {{data.level0.wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle"
                              *ngIf="data.level0.name != ''">{{data.level0.wbs.category}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="{{this.tablesViewColumns[1]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[1]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan('level1', i)"
                            [style.display]="(getRowspan('level1', i)) ? '' : 'none'"
                            [style.background-color]="data.level1.filtered ? '#ffb374' : 'white'">
                            <div *ngIf="data.level1.name != ''">
                              <span>{{data.level1.wbs?.code_wbs}}. {{data.level1.name}}</span>
                              <button *ngIf="tablesViewColumns.length > 2"
                                title="Добавить {{clue[2]}}" mat-icon-button class="row-button"
                                (click)="toggleFormVisibility(1, data.level1.wbs)">
                                <mat-icon>add</mat-icon>
                              </button>
                              <button title="Редактировать {{clue[1]}}" mat-icon-button
                                class="row-button" (click)="toggleUpdateVisibility(1, data.level1.wbs)">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                (click)="toggleElementsListVisible(data.level1.wbs, 1, data.level1.wbs.id)">
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data.level1.name != ''">{{data.level1.wbs.start_date}} -
                              {{data.level1.wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle"
                              *ngIf="data.level1.name != ''">{{data.level1.wbs.category}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="{{this.tablesViewColumns[2]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[2]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan('level2', i)"
                            [style.display]="(getRowspan('level2', i)) ? '' : 'none'"
                            [style.background-color]="data.level2.filtered ? '#ffb374' : 'white'">
                            <div *ngIf="data.level2.name != ''">
                              <span>{{data.level2.wbs?.code_wbs}}. {{data.level2.name}}</span>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                (click)="toggleElementsListVisible(data.level2.wbs, 2, data.level2.wbs.id)">
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data.level2.name != ''">{{data.level2.wbs.start_date}} -
                              {{data.level2.wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle"
                              *ngIf="data.level2.name != ''">{{data.level2.wbs.category}}</span>
                          </td>
                        </ng-container>

                        <!-- Заголовочная строка -->
                        <tr mat-header-row *matHeaderRowDef="tablesViewColumns"></tr>

                        <!-- Строка данных -->
                        <tr mat-row *matRowDef="let row; columns: tablesViewColumns"></tr>
                      </table>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </mat-card-content>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div style="justify-content: flex-end;" class="create" [ngClass]="{'show': isElementsListVisible}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeElementList()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h1 class="element_title">{{this.selectedWbs?.name}}</h1>
        <mat-list style="width: 100%;">
          <mat-list-item>Тип: {{this.selectedWbs?.type_node}}</mat-list-item>
          <!-- <mat-list-item>Идентификатор: {{this.selectedWbs?.id}}</mat-list-item> -->
          <!-- <mat-list-item>Код СДР(WBS): {{this.selectedWbs?.code_wbs}}</mat-list-item> -->
          <mat-list-item>Готовность: {{this.selectedWbs?.percent_date}}%</mat-list-item>
          <mat-list-item>Дата начала: {{this.selectedWbs?.start_date}}</mat-list-item>
          <mat-list-item>Дата окончания: {{this.selectedWbs?.end_date}}</mat-list-item>
          <mat-list-item>Категория: {{this.selectedWbs?.category}}</mat-list-item>
          <mat-list-item>
            <button style="margin-right: 5px;width: 35%;" mat-stroked-button class="mat-btn-danger"
              (click)="deletePackage(this.selectedWbs)">Удалить</button>
            <!-- <button mat-stroked-button class="mat-btn-recolor" (click)="toggleElementCreateVisible()">Добавить элемент</button> -->
          </mat-list-item>
        </mat-list>
        <div>
          <h2 class="element_title">Пакеты:</h2>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let packet of this.selectedWbs?.children">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{packet.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-list>
                  <mat-list-item>
                    Версия: {{packet.code_wbs}}
                  </mat-list-item>
                  <mat-list-item>
                    Категория: {{packet.category}}
                  </mat-list-item>
                  <mat-list-item>
                    Готовность: {{packet.percent_date}}%
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <h3 *ngIf="this.selectedWbs?.children?.length == 0">Нет пакетов</h3>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': isFormVisible[0]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closed(); clearGroup(DirectionFilters)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>{{this.tablesViewColumns[1]}}</h2>

        <div class="col-12">
          <form [formGroup]="DirectionFilters" (ngSubmit)="addDirectionFilter(DirectionFilters)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="DirectionFilters.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР(WBS):</mat-label>
                <input matInput formControlName="code_wbs">
                <mat-error *ngIf="DirectionFilters.get('code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата начала:</mat-label>-->
<!--                <input matInput type="date" formControlName="start_date">-->
<!--                <mat-error *ngIf="DirectionFilters.get('start_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата конца:</mat-label>-->
<!--                <input matInput type="date" formControlName="end_date">-->
<!--                <mat-error *ngIf="DirectionFilters.get('end_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select  formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!categories || categories.length === 0">Нет доступных категорий</mat-hint>
                <mat-error *ngIf="DirectionFilters.get('category').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="DirectionFilters.get('name').invalid
                || DirectionFilters.get('code_wbs').invalid
                || DirectionFilters.get('start_date').invalid
                || DirectionFilters.get('end_date').invalid
                || DirectionFilters.get('category').invalid"
              >Создать</button>
            </div>
          </form>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': isFormVisible[1]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closed(); clearGroup(ObjectFilters)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>{{this.tablesViewColumns[2]}}</h2>

        <div class="col-12">
          <form [formGroup]="ObjectFilters" (ngSubmit)="addObjectFilter(ObjectFilters)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="ObjectFilters.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР(WBS):</mat-label>
                <input matInput formControlName="code_wbs">
                <mat-error *ngIf="ObjectFilters.get('code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата начала:</mat-label>-->
<!--                <input matInput type="date" formControlName="start_date">-->
<!--                <mat-error *ngIf="ObjectFilters.get('start_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата конца:</mat-label>-->
<!--                <input matInput type="date" formControlName="end_date">-->
<!--                <mat-error *ngIf="ObjectFilters.get('end_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select  formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-hint *ngIf="!categories || categories.length === 0">Нет доступных категорий</mat-hint>
                <mat-error *ngIf="ObjectFilters.get('category').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="ObjectFilters.get('name').invalid
                || ObjectFilters.get('code_wbs').invalid
                || ObjectFilters.get('start_date').invalid
                || ObjectFilters.get('end_date').invalid
                || ObjectFilters.get('category').invalid"
              >Создать</button>
            </div>
          </form>
        </div>
      </div>

<!--      <div class="create" [ngClass]="{'show': isFormVisible[2]}">-->
<!--        <div class="col text-end">-->
<!--          <button class="mat-btn-exit" mat-stroked-button (click)="closed()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <h2>{{this.tablesViewColumns[3]}}</h2>-->


<!--        <div class="col">-->
<!--          <form [formGroup]="SystemFilters" (ngSubmit)="addSystemFilter(SystemFilters)" class="row">-->
<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Название:</mat-label>-->
<!--                <input matInput formControlName="name">-->
<!--                <mat-error *ngIf="DirectionFilters.get('name').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Код СДР(WBS):</mat-label>-->
<!--                <input matInput formControlName="code_wbs">-->
<!--                <mat-error *ngIf="DirectionFilters.get('code_wbs').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата начала:</mat-label>-->
<!--                <input matInput type="date" formControlName="start_date">-->
<!--                <mat-error *ngIf="DirectionFilters.get('start_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата конца:</mat-label>-->
<!--                <input matInput type="date" formControlName="end_date">-->
<!--                <mat-error *ngIf="DirectionFilters.get('end_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Категория:</mat-label>-->
<!--                <mat-select  formControlName="category">-->
<!--                  <mat-option *ngFor="let category of categories" [value]="category.id">-->
<!--                    {{category.name}}-->
<!--                  </mat-option>-->
<!--                </mat-select>-->
<!--                <mat-error *ngIf="DirectionFilters.get('category').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="col-12">-->
<!--              <button mat-stroked-button class="mat-btn-recolor" type="submit"-->
<!--                      [disabled]="DirectionFilters.get('name').invalid-->
<!--                || DirectionFilters.get('code_wbs').invalid-->
<!--                || DirectionFilters.get('start_date').invalid-->
<!--                || DirectionFilters.get('end_date').invalid-->
<!--                || DirectionFilters.get('category').invalid"-->
<!--              >Создать</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="create" [ngClass]="{'show': isFormVisible[3]}">-->
<!--        <div class="col text-end">-->
<!--          <button class="mat-btn-exit" mat-stroked-button (click)="closed()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <h2>{{this.tablesViewColumns[4]}}</h2>-->


<!--        <div class="col">-->
<!--          <form [formGroup]="WorkFilters" (ngSubmit)="addWorkFilter()" class="row">-->
<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Название:</mat-label>-->
<!--                <input matInput formControlName="name">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Код СДР(WBS):</mat-label>-->
<!--                <input matInput formControlName="code_wbs">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="col-12">-->
<!--              <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="create" [ngClass]="{'show': isFormVisible[4]}">-->
<!--        <div class="col text-end">-->
<!--          <button class="mat-btn-exit" mat-stroked-button (click)="closed()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <h2>{{this.tablesViewColumns[5]}}</h2>-->


<!--        <div class="col">-->
<!--          <form [formGroup]="EstimateFilters" (ngSubmit)="addEstimateFilter()" class="row">-->
<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Название:</mat-label>-->
<!--                <input matInput formControlName="name">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Код СДР(WBS):</mat-label>-->
<!--                <input matInput formControlName="code_wbs">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Родительский узел:</mat-label>-->
<!--                <input matInput formControlName="node_parent">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="col-12">-->
<!--              <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->

      <div class="create" [ngClass]="{'show': isUpdateVisible[0]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closed(); clearGroup(ProjectPackage)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>{{this.tablesViewColumns[0]}}</h2>

        <div class="col-12">
          <form [formGroup]="ProjectPackage" (ngSubmit)="updateProjectFilter(ProjectPackage)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="ProjectPackage.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР(WBS):</mat-label>
                <input matInput formControlName="code_wbs">
                <mat-error *ngIf="ProjectPackage.get('code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата начала:</mat-label>-->
<!--                <input matInput type="date" formControlName="start_date">-->
<!--                <mat-error *ngIf="ProjectPackage.get('start_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата конца:</mat-label>-->
<!--                <input matInput type="date" formControlName="end_date">-->
<!--                <mat-error *ngIf="ProjectPackage.get('end_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select formControlName="category" [value]="ProjectPackage.get('category').value">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ProjectPackage.get('category').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="ProjectPackage.get('name').invalid
                || ProjectPackage.get('code_wbs').invalid
                || ProjectPackage.get('start_date').invalid
                || ProjectPackage.get('end_date').invalid
                || ProjectPackage.get('category').invalid"
              >Сохранить</button>
            </div>
          </form>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': isUpdateVisible[1]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closed(); clearGroup(DirectionPackage)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>{{this.tablesViewColumns[1]}}</h2>

        <div class="col-12">
          <form [formGroup]="DirectionPackage" (ngSubmit)="updateDirectionFilter(DirectionPackage)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="DirectionPackage.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР(WBS):</mat-label>
                <input matInput formControlName="code_wbs">
                <mat-error *ngIf="DirectionPackage.get('code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата начала:</mat-label>-->
<!--                <input matInput type="date" formControlName="start_date">-->
<!--                <mat-error *ngIf="DirectionPackage.get('start_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата конца:</mat-label>-->
<!--                <input matInput type="date" formControlName="end_date">-->
<!--                <mat-error *ngIf="DirectionPackage.get('end_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="DirectionPackage.get('category').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="DirectionPackage.get('name').invalid
                || DirectionPackage.get('code_wbs').invalid
                || DirectionPackage.get('start_date').invalid
                || DirectionPackage.get('end_date').invalid
                || DirectionPackage.get('category').invalid"
              >Сохранить</button>
            </div>
          </form>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': isUpdateVisible[2]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closed(); clearGroup(ObjectPackage)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>{{this.tablesViewColumns[2]}}</h2>


        <div class="col-12">
          <form [formGroup]="ObjectPackage" (ngSubmit)="updateObjectFilter(ObjectPackage)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="ObjectPackage.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР(WBS):</mat-label>
                <input matInput formControlName="code_wbs">
                <mat-error *ngIf="ObjectPackage.get('code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата начала:</mat-label>-->
<!--                <input matInput type="date" formControlName="start_date">-->
<!--                <mat-error *ngIf="ObjectPackage.get('start_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Дата конца:</mat-label>-->
<!--                <input matInput type="date" formControlName="end_date">-->
<!--                <mat-error *ngIf="ObjectPackage.get('end_date').errors?.['required']">Обязательное поле</mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select  formControlName="category_id">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ObjectPackage.get('category_id').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="ObjectPackage.get('name').invalid
                || ObjectPackage.get('code_wbs').invalid
                || ObjectPackage.get('start_date').invalid
                || ObjectPackage.get('end_date').invalid
                || ObjectPackage.get('category').invalid"
              >Сохранить</button>
            </div>
          </form>
        </div>
      </div>

<!--      <div class="create" [ngClass]="{'show': isUpdateVisible[3]}">-->
<!--        <div class="col text-end">-->
<!--          <button class="mat-btn-exit" mat-stroked-button (click)="closed()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <h2>{{this.tablesViewColumns[3]}}</h2>-->


<!--        <div class="col">-->
<!--          <form [formGroup]="SystemPackage" (ngSubmit)="updateSystemFilter()" class="row">-->
<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Название:</mat-label>-->
<!--                <input matInput formControlName="name">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            &lt;!&ndash;              <div class="mb-3 col-12">&ndash;&gt;-->
<!--            &lt;!&ndash;                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">&ndash;&gt;-->
<!--            &lt;!&ndash;                  <mat-label>Код СДР(WBS):</mat-label>&ndash;&gt;-->
<!--            &lt;!&ndash;                  <input matInput formControlName="code_wbs">&ndash;&gt;-->
<!--            &lt;!&ndash;                </mat-form-field>&ndash;&gt;-->
<!--            &lt;!&ndash;              </div>&ndash;&gt;-->

<!--            <div class="col-12">-->
<!--              <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="create" [ngClass]="{'show': isUpdateVisible[4]}">-->
<!--        <div class="col text-end">-->
<!--          <button class="mat-btn-exit" mat-stroked-button (click)="closed()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <h2>{{this.tablesViewColumns[4]}}</h2>-->

<!--        <div class="col">-->
<!--          <form [formGroup]="WorkPackage" (ngSubmit)="updateWorkFilter()" class="row">-->
<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Название:</mat-label>-->
<!--                <input matInput formControlName="name">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Код СДР(WBS):</mat-label>-->
<!--                <input matInput formControlName="code_wbs">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="col-12">-->
<!--              <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="create" [ngClass]="{'show': isUpdateVisible[5]}">-->
<!--        <div class="col text-end">-->
<!--          <button class="mat-btn-exit" mat-stroked-button (click)="closed()">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--        <h2>{{this.tablesViewColumns[5]}}</h2>-->


<!--        <div class="col">-->
<!--          <form [formGroup]="EstimatePackage" (ngSubmit)="updateEstimateFilter()" class="row">-->
<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Название:</mat-label>-->
<!--                <input matInput formControlName="name">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Код СДР(WBS):</mat-label>-->
<!--                <input matInput formControlName="code_wbs">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="mb-3 col-12">-->
<!--              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">-->
<!--                <mat-label>Родительский узел:</mat-label>-->
<!--                <input matInput formControlName="node_parent">-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="col-12">-->
<!--              <button mat-stroked-button class="mat-btn-recolor" type="submit">Сохранить</button>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
