<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="contracts()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр договоров</span>
          <span class="tools-inner">Форма создание договора и назначение этапов</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>
                <mat-tab-group animationDuration="0ms" [selectedIndex]="selected.value"
                  (selectedIndexChange)="selected.setValue($event)">
                  <mat-tab class="display-tab" label="Реестр">
                    <div class="mat-elevation-z8">
                      <!-- table -->
                      <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="serial_number">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>№</span>
                      </th>
                      <td mat-cell *matCellDef="let i = index">
                        <span>
                          {{i+1}}
                        </span>
                      </td>
                    </ng-container>

                        <ng-container matColumnDef="side">
                          <th mat-header-cell *matHeaderCellDef> Код договора </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element.code}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.code_contract" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="code_contract">
                          <th mat-header-cell *matHeaderCellDef> Контрагент </th>
                          <td mat-cell *matCellDef="let element">
                            <span>{{element.name}}</span>
                            <!-- <input matInput *ngIf="element.editing" [(ngModel)]="element.code_contract" class="editing"> -->
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Действие </th>
                          <td mat-cell *matCellDef="let element" class="edit">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu class="customize" #menu="matMenu">
                              <!-- <button mat-menu-item (click)="showDetails(element); ">
                                <mat-icon>sort</mat-icon>
                                <span>Подробне1е</span>
                              </button> -->
                              <button mat-menu-item (click)="showRegMore(element.code)">
                                <mat-icon class="mat-menu-icon">sort</mat-icon>
                                <span>Детали</span>
                              </button>
                            </mat-menu>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                      <mat-paginator #table_1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>

                    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="2"
                      id="editEmployee" aria-labelledby="offcanvasScrollingLabel" style="width: 40%;">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Изменить</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                          aria-label="Close"></button>
                      </div>
                      <div class="container-lg overflow-auto">

                      </div>
                    </div>



                    <!-- showBlock2 -->
                    <div class="col add-block" [ngClass]="{'show': showBlock2}"
                      style="padding: 25px;overflow: auto; width: 47%;">
                      <div class="col">
                        <div class="row">
                          <h2>Платежи</h2>
                          <div class="col text-end">
                            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>
                        <mat-tab-group animationDuration="0ms">
                          <mat-tab label="Плановый">

                            <form [formGroup]="paymentForm"
                              (ngSubmit)="contractDetails && addPayment(contractDetails.id)">
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Тип платежа:</mat-label>
                                <mat-select formControlName="type_pay">
                                  <mat-option *ngFor="let typepay of typePays" [value]="typepay[1]">{{ typepay[0]
                                    }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Дата платежа:</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="date_pay">
                                <mat-hint>{{getDateFormatString()}}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Этап:</mat-label>
                                <input matInput formControlName="stage">
                              </mat-form-field>
                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Статья бюджета:</mat-label>
                                <input matInput formControlName="budget_item">
                              </mat-form-field>

                              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                                <mat-label>Сумма с НДС:</mat-label>
                                <input matInput formControlName="amount">
                              </mat-form-field>
                              <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                                type="submit">
                                <span class="d-flex align-items-center">Добавить</span>
                              </button>
                            </form>
                          </mat-tab>
                          <mat-tab label="Фактический">

                            <form [formGroup]="dynamicForm">
                              <!-- Другие статические поля вашей формы... -->

                              <!-- Dynamic Group 1 -->
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Счёта-фактуры</h5>
                                  <div class="table-responsive">
                                    <table class="table ">
                                      <thead style="font-size: 12px;">
                                        <tr>
                                          <th scope="col">№ Документа</th>
                                          <th scope="col">Дата документа</th>
                                          <th scope="col">Сумма с НДС</th>
                                          <th scope="col">Порядок расчётов согласно условиям договора</th>
                                          <th scope="col">Действие</th>
                                        </tr>
                                      </thead>
                                      <tbody formArrayName="by_invoices">
                                        <tr *ngFor="let group of by_invoices.controls; let i = index"
                                          [formGroupName]="i">
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="num_document"></textarea>
                                          </td>
                                          <td>

                                            <mat-form-field appearance="legacy">
                                              <input matInput [matDatepicker]="data1" formControlName="date_document">

                                              <mat-datepicker-toggle matSuffix [for]="data1"></mat-datepicker-toggle>
                                              <mat-datepicker #data1></mat-datepicker>
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="amount"></textarea>

                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="pay_procedure"></textarea>
                                          </td>
                                          <td>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                              <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                              <button mat-menu-item (click)="removeGroup1(i)">
                                                <mat-icon>clear</mat-icon>
                                                <span>Удалить</span>
                                              </button>
                                            </mat-menu>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <button class="button-add-row" mat-button (click)="addGroup1()">+ Добавить
                                      счёт-фактуру</button>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Счета на предоплату</h5>
                                  <div class="table-responsive">
                                    <table class="table ">
                                      <thead style="font-size: 12px;">
                                        <tr>
                                          <th scope="col">№ Документа</th>
                                          <th scope="col">Дата документа</th>
                                          <th scope="col">Сумма с НДС</th>
                                          <th scope="col">Порядок расчётов, поставки (выполнения работ) согласно
                                            условиям
                                            договора</th>
                                          <th scope="col">Действие</th>
                                        </tr>
                                      </thead>
                                      <tbody formArrayName="by_prepay_invoices">

                                        <tr *ngFor="let group of by_prepay_invoices.controls; let i = index"
                                          [formGroupName]="i">
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="num_document"></textarea>
                                          </td>
                                          <td>

                                            <mat-form-field appearance="legacy">
                                              <input matInput [matDatepicker]="picker" formControlName="date_document">

                                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                              <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="amount"></textarea>

                                          </td>
                                          <td>
                                            <textarea matInput class="editing" rows="2"
                                              formControlName="pay_procedure"></textarea>
                                          </td>
                                          <td>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                              <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                              <button mat-menu-item (click)="removeGroup2(i)">
                                                <mat-icon>clear</mat-icon>
                                                <span>Удалить</span>
                                              </button>
                                            </mat-menu>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <button class="button-add-row" mat-button (click)="addGroup2()">+ Добавить
                                      счёт на предоплату </button>
                                  </div>
                                </div>
                              </div>



                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Пункты плана</h5>

                                  <div class="row"> <!-- Создаем новую строку -->

                                    <!-- Левая колонка -->
                                    <div class="col-6">
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead style="font-size: 12px;">
                                            <tr>
                                              <th scope="col">Пункты</th>
                                              <th scope="col">Действия</th>
                                            </tr>
                                          </thead>
                                          <tbody formArrayName="planitems">
                                            <tr *ngFor="let group of planitems.controls; let i = index"
                                              [formGroupName]="i">
                                              <td>
                                                <input mdbInput type="text" class="form-control"
                                                  formControlName="plan_item" />
                                              </td>
                                              <td>
                                                <button mat-icon-button (click)="removeGroup3(i)">
                                                  <mat-icon>clear</mat-icon>
                                                </button>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <button class="button-add-row" mat-button (click)="addGroup3()">+ Добавить
                                          пункт
                                          плана</button>
                                      </div>
                                    </div>

                                    <!-- Правая колонка -->
                                    <div class="col-6">
                                      <mat-form-field appearance="outline" class="example-full-width"
                                        style="width: 100%;">
                                        <mat-label>Этап:</mat-label>
                                        <input matInput formControlName="stage">
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" class="example-full-width"
                                        style="width: 100%;">
                                        <mat-label>Группы учета:</mat-label>
                                        <mat-select formControlName="accounting_groups"
                                          [(ngModel)]="selectedAccounting">
                                          <mat-option *ngFor="let rate of getAccounting" [value]="rate">{{ rate
                                            }}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>

                                  </div>
                                </div>
                              </div>

                              <button class="btn-table mat-btn-recolor" (click)="addPaymentsFact(contractDetails.id)"
                                mat-stroked-button>
                                <span class="d-flex align-items-center">Добавить</span>
                              </button>

                            </form>


                          </mat-tab>
                        </mat-tab-group>
                      </div>
                    </div>



                    <!-- showBlock3 -->
                    <div class="col add-block" [ngClass]="{'show': showBlock3}" style="padding: 25px;">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <h2>Акты</h2>
                          </div>
                          <div class="col text-end">
                            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>
                        <form [formGroup]="actsForm" (ngSubmit)="contractDetails && addActs(contractDetails.id)">
                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Описание:</mat-label>
                            <input matInput formControlName="description">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Документ Факт:</mat-label>
                            <input matInput formControlName="document_fact">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата платежа:</mat-label>
                            <input matInput [matDatepicker]="datepicker2" formControlName="planned_date">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker2></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Этап:</mat-label>
                            <input matInput formControlName="stage">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Статья бюджета:</mat-label>
                            <input matInput formControlName="cost_item">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Сумма с НДС:</mat-label>
                            <input matInput formControlName="amount">
                          </mat-form-field>
                          <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                            type="submit">
                            <span class="d-flex align-items-center">Добавить</span>
                          </button>
                        </form>
                      </div>
                    </div>

                    <!-- showBlock4 -->
                    <div class="col create" [ngClass]="{'show': showBlock4}">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <h2>Добавить договор</h2>
                          </div>

                          <div class="col text-end">
                            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>
                        <form [formGroup]="contractsCreate">
                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Код контрагента:</mat-label>
                            <mat-select formControlName="code_counterparty" [(ngModel)]="selectedCon">
                              <mat-option *ngFor="let rate of getContracts" [value]="rate.code">{{ rate.code }} &nbsp;
                                {{ rate.name }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Код договора:</mat-label>
                            <input matInput formControlName="code_contract">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Юридический номер договора:</mat-label>
                            <input matInput formControlName="legal_number">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Предмет договора:</mat-label>
                            <input matInput formControlName="subject">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Ставка НДС:</mat-label>
                            <mat-select formControlName="VAT_rate" [(ngModel)]="selectedVAR">
                              <mat-option *ngFor="let rate of getVARrate" [value]="rate">{{ rate }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Сумма с НДС:</mat-label>
                            <input matInput formControlName="amount_with_VAT">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Валюта:</mat-label>
                            <mat-select formControlName="currency" [(ngModel)]="selectedCur">
                              <mat-option *ngFor="let currency of getCurrency" [value]="currency">{{ currency
                                }}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата начала:</mat-label>
                            <input matInput [matDatepicker]="picker3" formControlName="date_start">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата окончания:</mat-label>
                            <input matInput [matDatepicker]="datepicker4" formControlName="date_end">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker4"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker4></mat-datepicker>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Юр. номер (SAP):</mat-label>
                            <input matInput formControlName="legal_code_SAP">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Номер договора (SAP):</mat-label>
                            <input matInput formControlName="num_contr_SAP">
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                            <mat-label>Дата договора (SAP):</mat-label>
                            <input matInput [matDatepicker]="datepicker5" formControlName="date_contr_SAP">
                            <mat-hint>{{getDateFormatString()}}</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="datepicker5"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker5></mat-datepicker>
                          </mat-form-field>

                          <button (click)="addContractsCreate()" class="btn-table mat-btn-recolor"
                            matTooltip="Сохранить" mat-stroked-button type="submit">
                            <span class="d-flex align-items-center">Сохранить</span>
                          </button>
                        </form>
                      </div>
                    </div>

                   

                    <!-- showBlock6 -->
                    <div class="inv-block" [ngClass]="{'show': showBlock6}" style="padding: 25px;">
                      <form [formGroup]="createDocx" (ngSubmit)="saveDocx(contractDetails.id, contractDetailsFact.id)">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Кому, компания:</mat-label>
                          <input matInput formControlName="whom_company">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Кому, ФИО:</mat-label>
                          <input matInput formControlName="whom_FCs">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>ПФМ Код:</mat-label>
                          <input matInput formControlName="pfm_code">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Менеджер по строительству:</mat-label>
                          <input matInput formControlName="construction_manager">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Коммерческий директор:</mat-label>
                          <input matInput formControlName="commercial_director">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Исполнитель, ФИО:</mat-label>
                          <input matInput formControlName="executor">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Исполнитель, Номер телефона:</mat-label>
                          <input prefix="+7" mask="(000) 000 00 00" matInput formControlName="num_tel">
                        </mat-form-field>

                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                          type="submit">
                          <span class="d-flex align-items-center">Сформировать</span>
                        </button>
                      </form>
                    </div>

                    <!-- showBlock7 -->
                    <div class="inv-block" [ngClass]="{'show': showBlock7}" style="padding: 25px;">
                      <h2>Счета на предоплату</h2>
                      <form [formGroup]="InvoicesForm"
                        (ngSubmit)="saveInvoices(contractDetails.id, contractDetailsFact.id)">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Номер документа:</mat-label>
                          <input matInput formControlName="num_document">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата документа:</mat-label>
                          <input matInput [matDatepicker]="pickerInvoices" formControlName="date_document">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="pickerInvoices"></mat-datepicker-toggle>
                          <mat-datepicker #pickerInvoices></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Сумма, c НДС:</mat-label>
                          <input matInput formControlName="amount">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Порядок расчетов:</mat-label>
                          <input matInput formControlName="pay_procedure">
                        </mat-form-field>

                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                          type="submit">
                          <span class="d-flex align-items-center">Создать</span>
                        </button>
                      </form>
                    </div>

                    <!-- showBlock8 -->
                    <div class="inv-block" [ngClass]="{'show': showBlock8}" style="padding: 25px;">
                      <h2>Счета-фактуры</h2>
                      <form [formGroup]="PrepayForm"
                        (ngSubmit)="savePrepay(contractDetails.id, contractDetailsFact.id)">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Номер документа:</mat-label>
                          <input matInput formControlName="num_document">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата документа:</mat-label>
                          <input matInput [matDatepicker]="pickerPrepay" formControlName="date_document">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="pickerPrepay"></mat-datepicker-toggle>
                          <mat-datepicker #pickerPrepay></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Сумма, c НДС:</mat-label>
                          <input matInput formControlName="amount">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Порядок расчетов:</mat-label>
                          <input matInput formControlName="pay_procedure">
                        </mat-form-field>

                        <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
                          type="submit">
                          <span class="d-flex align-items-center">Создать</span>
                        </button>
                      </form>
                    </div>

                    <!-- showBlock9 -->
                    <div class="col add-block" [ngClass]="{'show': showBlock9}"
                      style="padding: 25px;overflow: auto; width: 47%;">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <h2>Код СДР</h2>
                          </div>
                          <div class="col text-end">
                            <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                              <mat-icon>close</mat-icon>
                            </button>
                          </div>
                        </div>

                        <button class="submit-button" mat-raised-button (click)="submitSDR()">Сохранить</button>

                        <mat-tree [dataSource]="TreeDataSource" [treeControl]="treeControl" class="example-tree">
                          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                            <li class="mat-tree-node">
                              <mat-checkbox (change)="itemToggle($event.checked,node)"
                                [checked]="node.selected">{{node.name}}</mat-checkbox>
                            </li>
                          </mat-tree-node>
                          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">

                            <div class="mat-tree-node">
                              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                              </button>
                              <mat-checkbox [checked]="node.selected"
                                [indeterminate]="node.indeterminate && !node.selected"
                                (change)="itemToggle($event.checked,node)">
                                {{node.name}}
                              </mat-checkbox>
                            </div>
                            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                              <ng-container matTreeNodeOutlet></ng-container>
                            </ul>

                          </mat-nested-tree-node>
                        </mat-tree>


                      </div>
                    </div>



                    <!-- Добавить СДР Платежи ,план -->
                    <div class="inv-block" [ngClass]="{'show': showBlock10}"
                      style="padding: 25px;overflow: auto; width: 47%;">
                      <div class="row">
                        <div class="col">
                          <h2>Платежи ,план: СДР</h2>
                        </div>
                        <div class="col text-end">
                          <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">

                            <table class="table">
                              <thead style="font-size: 12px;">
                                <tr>
                                  <th scope="col">Код</th>
                                  <th scope="col">Название</th>
                                  <th scope="col">Сумма</th>
                                  <th scope="col">Действие</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let wbs of WBSListPlan ">

                                  <td>{{ wbs.code }}</td>
                                  <td>{{ wbs.name }}</td>
                                  <td>
                                    <span *ngIf="!wbs.editing">{{wbs.amount| number: '1.2-2' }}</span>
                                    <input matInput *ngIf="wbs.editing" [(ngModel)]="wbs.amount" class="editing">
                                  </td>

                                  <td>
                                    <button mat-icon-button [matMenuTriggerFor]="menuPlanMore">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menuPlanMore="matMenu">

                                      <button mat-menu-item *ngIf="wbs.editing"
                                        (click)="saveWBSPlanAmount(wbs.id , wbs)">
                                        <mat-icon>done</mat-icon>
                                        <span>Сохранить</span>
                                      </button>

                                      <button mat-menu-item *ngIf="!wbs.editing" (click)="editActs(wbs)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Изменить</span>
                                      </button>

                                      <button mat-menu-item (click)="delWBSPlan(wbs.id)">
                                        <mat-icon>clear</mat-icon>
                                        <span>Удалить</span>
                                      </button>

                                    </mat-menu>
                                  </td>
                                </tr>
                              </tbody>

                              <!-- Кнопка, которая откроет меню -->
                              <button mat-icon-button [matMenuTriggerFor]="menuPlan">
                                <mat-icon>add</mat-icon>
                              </button>

                              <!-- Меню с чекбоксами -->
                              <mat-menu #menuPlan="matMenu">
                                <div class="checkbox-list">
                                  <button (click)="addPaymentWBS('payments_plan')"
                                    class="btn-table btn-tbl col-6 btn btn-success" mat-stroked-button>
                                    Сохранить
                                  </button>
                                  <mat-checkbox *ngFor="let item of WBSList" [(ngModel)]="item.selected"
                                    (click)="$event.stopPropagation()">
                                    {{item.code}} - {{item.name}}
                                  </mat-checkbox>
                                </div>
                              </mat-menu>
                            </table>

                          </div>
                        </div>
                      </div>
                    </div>





                    <!-- Добавить СДР АКТЫ -->
                    <div class="inv-block" [ngClass]="{'show': showBlock11}"
                      style="padding: 25px;overflow: auto; width: 47%;">
                      <div class="row">
                        <div class="col">
                          <h2>Акт: СДР</h2>
                        </div>
                        <div class="col text-end">
                          <button class="mat-btn-recolor" mat-stroked-button (click)="closedAdd()">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">

                            <table class="table">
                              <thead style="font-size: 12px;">
                                <tr>
                                  <th scope="col">Код</th>
                                  <th scope="col">Название</th>
                                  <th scope="col">Сумма</th>
                                  <th scope="col">Действие</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let wbs of WBSListAct ">

                                  <td>{{ wbs.code }}</td>
                                  <td>{{ wbs.name }}</td>
                                  <td>
                                    <span *ngIf="!wbs.editing">{{wbs.amount| number: '1.2-2' }}</span>
                                    <input matInput *ngIf="wbs.editing" [(ngModel)]="wbs.amount" class="editing">
                                  </td>

                                  <td>
                                    <button mat-icon-button [matMenuTriggerFor]="menuActMore">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menuActMore="matMenu">

                                      <button mat-menu-item *ngIf="wbs.editing"
                                        (click)="saveWBSActAmount(wbs.id , wbs)">
                                        <mat-icon>done</mat-icon>
                                        <span>Сохранить</span>
                                      </button>

                                      <button mat-menu-item *ngIf="!wbs.editing" (click)="editActs(wbs)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Изменить</span>
                                      </button>

                                      <button mat-menu-item (click)="delWBSAct(wbs.id)">
                                        <mat-icon>clear</mat-icon>
                                        <span>Удалить</span>
                                      </button>

                                    </mat-menu>
                                  </td>
                                </tr>
                              </tbody>

                              <!-- Кнопка, которая откроет меню -->
                              <button mat-icon-button [matMenuTriggerFor]="menuAct">
                                <mat-icon>add</mat-icon>
                              </button>

                              <!-- Меню с чекбоксами -->
                              <mat-menu #menuAct="matMenu">
                                <div class="checkbox-list">
                                  <button (click)="addPaymentWBS('acts')"
                                    class="btn-table btn-tbl col-6 btn btn-success" mat-stroked-button>
                                    Сохранить123
                                  </button>
                                  <mat-checkbox *ngFor="let item of WBSList" [(ngModel)]="item.selected"
                                    (click)="$event.stopPropagation()">
                                    {{item.code}} - {{item.name}}
                                  </mat-checkbox>
                                </div>
                              </mat-menu>
                            </table>

                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>

                  <!-- <mat-tab label="Календарь платежей">
                  </mat-tab> -->
                </mat-tab-group>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>