<table class="table dark-table">
  <thead>
    <tr style="font-size: 12px;">
      <th scope="col">№ </th>
      <th scope="col">Название</th>
      <th scope="col">Производитель</th>
      <th scope="col">Тех.характеристики</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Описание</th>
      <!-- <th scope="col">Проект</th> -->
      <th scope="col">Категория</th>
      <th scope="col">Валюта</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of analog.dataEquip; let i = index">
      <th scope="row"><span>{{i+1}}</span></th>
      <th scope="row"><span>{{ item.title }}</span></th>
      <td><span>{{ item.manufacturer }}</span></td>
      <td><span>{{ item.tech_description }}</span></td>
      <td><span>{{ item.total_cost }}</span></td>
      <td><span>{{ item.description }}</span></td>
      <!-- <td><span>{{ item.project }}</span></td> -->
      <td><span>{{ item.type }}</span></td>
      <td><span>{{ item.currency }}</span></td>

      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item    (click)="editEquipment(item); show.toggleShowBlock(2)">
            <mat-icon>edit</mat-icon>
            <span>Редактировать</span>
          </button>
          <button   mat-menu-item (click)="delEquipment(item)">
            <mat-icon>clear</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Оборудование (Редактирование) -->
<div class="col create" [ngClass]="{'show': show.showBlock[2]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2>Редактировать оборудование</h2>

  <form [formGroup]="editEquipmenForm">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Название:</mat-label>
          <input matInput formControlName="title">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Производитель:</mat-label>
          <input matInput formControlName="manufacturer">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Технические характеристики:</mat-label>
          <input matInput formControlName="tech_description">

        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Цена:</mat-label>
          <input matInput formControlName="total_cost">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Описание:</mat-label>
          <input matInput formControlName="description">

        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Проект:</mat-label>
          <input matInput formControlName="analog_project">

        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Категория:</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let option of analog.getAnalogTypeEquipment" [value]="option.id">{{ option.title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Валюта:</mat-label>
          <mat-select formControlName="currency">
            <mat-option *ngFor="let option of analog.getCurrencyList" [value]="option.id">{{option.title}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-12">
        <div class="d-flex justify-content-start">
          <button (click)="saveEquipment()" style="margin-bottom: 15px;" mat-stroked-button
            class="mat-btn-recolor">
            <span class="d-flex align-items-center">Сохранить</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>