table {
    width: 100%;
  }
  ::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }
  
::ng-deep.select-create .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
}


    .example-container {
      overflow-y: scroll;
    }

    
    .mat-header-cell, .mat-footer-cell, .mat-cell {
      min-width: 100px;
      box-sizing: border-box;
    }
    