<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addContractPackages" (click)="add()" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addContractPackages">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Добавить контрактный пакет
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button routerLink="/directory-contract-packages" class="chevron" type="button"
            style="margin-bottom: 15px;  margin-right: 5px;">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Справочник контрактных пакетов
              <mat-icon>lists</mat-icon>
            </span>
          </button>

          <mat-form-field class="select-create" style="margin: -5px 0px -25px 5px" appearance="outline">
            <mat-label>Проект:</mat-label>
            <mat-select [(value)]="SelectProject" (selectionChange)="applyFilterByProject($event)">
              <mat-option [value]="0">Все</mat-option>
              <mat-option *ngFor="let project of SelectProjectList" [value]="project.id">
                {{ project.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр контрактных пакетов</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                <table *ngIf="!isLoading && dataContractPackagesTableSource.data?.length > 0; else noData" mat-table
                  [dataSource]="dataContractPackagesTableSource" mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>
                  <!-- Код контрактного пакета -->
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Код контрактного пакета</th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                  </ng-container>

                  <!-- Название контрактного пакета -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Название контрактного пакета</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <!-- Дисциплина -->
                  <ng-container matColumnDef="discipline">
                    <th mat-header-cell *matHeaderCellDef> Дисциплина </th>
                    <td mat-cell *matCellDef="let element"> {{element.discipline}} </td>
                  </ng-container>

                  <!-- Стоимость плановая, тыс.руб-->
                  <ng-container matColumnDef="cost_planned">
                    <th mat-header-cell *matHeaderCellDef> Стоимость плановая, тыс.руб </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost_planned| customNumber}} </td>
                  </ng-container>
                  <!-- Стоимость тендерная, тыс.руб -->
                  <ng-container matColumnDef="cost_trending">
                    <th mat-header-cell *matHeaderCellDef> Стоимость тендерная, тыс.руб </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost_trending| customNumber}} </td>
                  </ng-container>
                  <!-- Отклонение, тыс.руб -->
                  <ng-container matColumnDef="cost_deviation">
                    <th mat-header-cell *matHeaderCellDef> Отклонение, тыс.руб </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost_deviation| customNumber}} </td>
                  </ng-container>
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <!-- <p>{{element.id}}</p> -->
                        <button mat-menu-item type="button" (click)="editContractPackages(element)"
                          data-bs-toggle="offcanvas" data-bs-target="#addContractPackages"
                          aria-controls="addContractPackages">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="delContractPackages(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                        <button mat-menu-item type="button" (click)="moreContractPackages(element.id)">
                          <mat-icon>sort</mat-icon>
                          <span>Подробнее</span>
                        </button>

                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row
                    *matHeaderRowDef="['id','code', 'name', 'discipline', 'cost_planned','cost_trending','cost_deviation', 'action']">
                  </tr>
                  <tr mat-row
                    *matRowDef="let row; columns: ['id','code', 'name', 'discipline', 'cost_planned','cost_trending','cost_deviation', 'action']">
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                  aria-label="Select page of periodic elements" #PaginatorContractPackages>
                </mat-paginator>
                <ng-template #noData>
                  <mat-card *ngIf="!isLoading">
                    Данные отсутствуют
                  </mat-card>
                </ng-template>
              </mat-card-content>

              <!-- Добавить  контрактный пакет -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="addContractPackages" aria-labelledby="addScrollingLabel" style="width: 25%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="addContractPackages">{{ editMode ? 'Изменить' : 'Добавить' }}
                    контрактный пакет</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormAddEditContractPackages">
                    <div class="container row gx-3">

                      <!-- Name -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Название:</mat-label>
                        <input matInput formControlName="name" required>
                      </mat-form-field>

                      <!-- Estimate -->
                      <mat-form-field appearance="outline">
                        <mat-label>Дисциплина:</mat-label>
                        <mat-select formControlName="discipline" required>
                          <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'name'"
                            [array]="SelectDirectoryList"
                            (filteredReturn)="filteredListDirectoryList=$event"></mat-select-filter>

                          <mat-option *ngFor="let directory of filteredListDirectoryList" [value]="directory.id">
                            {{ directory.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>



                      <div class="col-12">
                        <button (click)="AddEditContractPackages()" mat-stroked-button class="mat-btn-recolor"
                          [disabled]="!FormAddEditContractPackages.valid">
                          <span class="align-text-center">
                            {{ editMode ? 'Изменить' : 'Добавить' }}
                          </span>
                        </button>
                      </div>

                    </div>
                  </form>

                </div>
              </div>



            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>