<!-- Коэффициент сложности (Вывод) -->
<table class="table table-hover" style="font-size: 12px;" *ngIf="estimated.ratio.length > 0">
  <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Обозначение</th>
      <th scope="col">Значение</th>
      <th scope="col">Описание</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of estimated.ratio; let i = index">
    <tr *ngIf="item.estimated_budget == estId">
      <th scope="row">
        <span>{{i+1}}</span>
      </th>
      <th scope="row">
        <span>{{ item.title }}</span>
      </th>
      <th>
        <span>{{ item.number }}</span>
      </th>
      <th>
        <span>{{ item.rate }}</span>
      </th>
      <th>
        <span>{{ item.comments }}</span>
      </th>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editRatio(item); show.toggleShowBlock(7); estimated.toggleStyle()">
            <mat-icon>edit</mat-icon>
            <span>Редактировать</span>
          </button>
          <button mat-menu-item (click)="delRatio(item)">
            <mat-icon>clear</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Коэффициент сложности (Редактирование) -->
<div class="col create" [ngClass]="{'show': show.showBlock[7]}">
  <div class="d-flex col-12 justify-content-between">
    <div class="col-8">
      <h2>Коэффициент сложности</h2>
    </div>
    <div class="col text-end">
      <button class="btn-table mat-btn-exit" mat-stroked-button (click)="closedAdd()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

    <form [formGroup]="editRatioForm">
      <div class="col">
        <div class="col">

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Обозначение:</mat-label>
            <input matInput formControlName="number">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Значение:</mat-label>
            <input matInput formControlName="rate">

          </mat-form-field>
          
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Название:</mat-label>
            <input matInput formControlName="title">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Описание:</mat-label>
            <input matInput formControlName="comments">

          </mat-form-field>

          <div class="d-flex justify-content-end">
            <button (click)="saveRatio()" style="margin-bottom: 15px;" mat-stroked-button
              class="mat-btn-recolor">
              <span class="d-flex align-items-center">Сохранить
              </span>
            </button>
          </div>
        </div>
      </div>
    </form>
</div>