<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="theme.setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addDirectoryContractPackages" (click)="add()" aria-controls="addDirectoryContractPackages">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Добавить типовой контрактный пакет
              <mat-icon>library_add</mat-icon>
            </span>
          </button>



          <mat-form-field class="select-create" style="margin: -5px 0px -25px 5px" appearance="outline">
            <mat-label>Проект:</mat-label>
            <mat-select [(value)]="SelectProject" (selectionChange)="applyFilterByProject($event)">
              <mat-option [value]="0">Все</mat-option>
              <mat-option *ngFor="let project of SelectProjectList" [value]="project.id">
                {{ project.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Справочник контрактных пакетов </span>
          <!-- <span class="tools-inner">Информационный раздел</span> -->
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                <table *ngIf="!isLoading && dataDirectoryContractPackagesTable.data?.length > 0; else noData" mat-table
                  [dataSource]="dataDirectoryContractPackagesTable" mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>
                  <!-- Типовой код -->
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Типовой код</th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                  </ng-container>

                  <!-- Название контрактноо пакета -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Название контрактноо пакета</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>
                  <!-- Дисциплина -->
                  <ng-container matColumnDef="discipline">
                    <th mat-header-cell *matHeaderCellDef> Дисциплина контрактного пакета </th>
                    <td mat-cell *matCellDef="let element"> {{element.discipline}} </td>
                  </ng-container>

                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="editDirectoryContractPackages(element)"
                          data-bs-toggle="offcanvas" data-bs-target="#addDirectoryContractPackages"
                          aria-controls="addDirectoryContractPackages">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="delDirectoryContractPackages(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>

                        <!--<button mat-menu-item type="button" data-bs-toggle="offcanvas"
                          data-bs-target="#editSeparationShee" (click)="editSeparationShee(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Привязка договора</span>
                        </button> -->

                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['id','code', 'name', 'discipline', 'action']">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['id','code', 'name', 'discipline', 'action']">
                  </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                  aria-label="Select page of periodic elements" #PaginatorDirectoryContractPackages>
                </mat-paginator>
                <ng-template #noData>
                  <mat-card *ngIf="!isLoading">
                    Данные отсутствуют
                  </mat-card>
                </ng-template>
              </mat-card-content>

              <!-- Добавить типовой контрактный пакет -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="addDirectoryContractPackages" aria-labelledby="addScrollingLabel" style="width: 25%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="addDirectoryContractPackages">{{ editMode ? 'Изменить' : 'Добавить' }}
                    типовой контрактный пакет</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormAddEditDirectoryContractPackages">
                    <div class="container row gx-3">
                      <!-- Estimate -->
                      <mat-form-field appearance="outline">
                        <mat-label>Проект:</mat-label>
                        <mat-select formControlName="project_id" required>
                          <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'name'"
                            [array]="SelectProjectList"
                            (filteredReturn)="filteredListProjectList=$event"></mat-select-filter>
                            
                          <mat-option *ngFor="let project of filteredListProjectList" [value]="project.id">
                            {{ project.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- typical_code -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Типовой код:</mat-label>
                        <input matInput formControlName="typical_code" required>
                      </mat-form-field>

                      <!-- Name -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Название:</mat-label>
                        <input matInput formControlName="name" required>
                      </mat-form-field>

                      <!-- discipline  -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Дисциплина:</mat-label>
                        <input matInput formControlName="discipline" required>
                      </mat-form-field>



                      <div class="col-12">
                        <button (click)="AddEditDirectoryContractPackages()" mat-stroked-button class="mat-btn-recolor"
                          [disabled]="!FormAddEditDirectoryContractPackages.valid">
                          <span class="align-text-center">
                            {{ editMode ? 'Изменить' : 'Добавить' }}
                          </span>
                        </button>
                      </div>

                    </div>
                  </form>

                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>