<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addProject" style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="Status" (click)="add()">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Добавить проект
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button routerLink="/status-project" class="chevron" type="button"
            style="margin-bottom: 15px;  margin-right: 5px;">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Статусы проекта
              <mat-icon>lists</mat-icon>
            </span>
          </button>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Отчет по портфелю</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-tab-group>

                  <!--"Общая информация-->
                  <mat-tab class="mat-elevation-z8" label="Общая информация">
                    <table *ngIf="dataPortfolioReportSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="dataPortfolioReportSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef>Код проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <!-- Название проекта -->
                      <ng-container matColumnDef="name_wbs">
                        <th mat-header-cell *matHeaderCellDef>Название проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
                      </ng-container>

                      <!-- Code WBS Column -->
                      <ng-container matColumnDef="project_type">
                        <th mat-header-cell *matHeaderCellDef> Тип проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.project_type}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="head_of_project">
                        <th mat-header-cell *matHeaderCellDef> Руководитель проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.head_of_project}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef> Предприятие</th>
                        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="dates_deviations">
                        <th mat-header-cell *matHeaderCellDef> Отклонение по срокам</th>
                        <td mat-cell *matCellDef="let element"> {{element.dates_deviations}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="budget_deviations">
                        <th mat-header-cell *matHeaderCellDef> Отклонение по бюджету </th>
                        <td mat-cell *matCellDef="let element"> {{element.budget_deviations|customNumber}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Статус проекта </th>
                        <td mat-cell *matCellDef="let element">{{element.status}} </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <!-- <p>{{element.id}}</p> -->
                            <!-- <button mat-menu-item type="button" (click)="moreeparationSheetPlan(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                            <button mat-menu-item (click)="delSeparationSheetPlan(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button> -->

                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addProject" (click)="editPortfolioReport(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                            <!-- (click)="editSeparationShee(element)" -->
                            <button mat-menu-item type="button" (click)="morePortfolioReport(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>

                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id','code_wbs', 'name_wbs', 'project_type', 'head_of_project', 'company', 'dates_deviations', 'budget_deviations','status', 'action']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id','code_wbs', 'name_wbs', 'project_type', 'head_of_project', 'company', 'dates_deviations', 'budget_deviations','status', 'action']">
                      </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorPlan>
                    </mat-paginator>
                  </mat-tab>

                  <!-- Сроки  -->
                  <mat-tab class="mat-elevation-z8" label="Сроки">
                    <table *ngIf="dataPortfolioReportSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="dataPortfolioReportSource">

                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef>Код проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <!-- Название проекта -->
                      <ng-container matColumnDef="name_wbs">
                        <th mat-header-cell *matHeaderCellDef>Название проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
                      </ng-container>

                      <!-- dates_deviations -->
                      <ng-container matColumnDef="dates_deviations">
                        <th mat-header-cell *matHeaderCellDef> Отклонение по срокам</th>
                        <td mat-cell *matCellDef="let element"> {{element.dates_deviations}} </td>
                      </ng-container>

                      <!-- budget_deviations -->
                      <ng-container matColumnDef="budget_deviations">
                        <th mat-header-cell *matHeaderCellDef> Отклонение по бюджету </th>
                        <td mat-cell *matCellDef="let element"> {{element.budget_deviations|customNumber}} </td>
                      </ng-container>

                      <!-- status -->
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Статус проекта </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.status}}
                        </td>
                      </ng-container>
                      <!-- date_start_plan-->
                      <ng-container matColumnDef="date_start_plan">
                        <th mat-header-cell *matHeaderCellDef> Дата начала план </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_start_plan}} </td>
                      </ng-container>

                      <!-- date_end_fact -->
                      <ng-container matColumnDef="date_end_fact">
                        <th mat-header-cell *matHeaderCellDef> Дата окончания факт </th>
                        <td mat-cell *matCellDef="let element"> {{element.date_end_fact}} </td>
                      </ng-container>

                      <!-- date_start_prediction -->
                      <ng-container matColumnDef="date_start_prediction">
                        <th mat-header-cell *matHeaderCellDef> Дата начала прогноз</th>
                        <td mat-cell *matCellDef="let element"> {{element.date_start_prediction}} </td>
                      </ng-container>

                      <!-- date_end_prediction -->
                      <ng-container matColumnDef="date_end_prediction">
                        <th mat-header-cell *matHeaderCellDef> Дата окончания прогноз</th>
                        <td mat-cell *matCellDef="let element"> {{element.date_end_prediction}} </td>
                      </ng-container>


                      <tr mat-header-row
                        *matHeaderRowDef="[ 'id','code_wbs','name_wbs','budget_deviations','status','date_start_plan','date_end_fact','date_start_prediction','date_end_prediction', 'dates_deviations']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: [ 'id','code_wbs','name_wbs','budget_deviations','status','date_start_plan','date_end_fact','date_start_prediction','date_end_prediction', 'dates_deviations']">
                      </tr>
                    </table>
                  </mat-tab>

                  <!-- Бюджет  -->
                  <mat-tab class="mat-elevation-z8" label="Бюджет">
                    <table *ngIf="dataPortfolioReportSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="dataPortfolioReportSource">

                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef>Код проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <!-- Название проекта -->
                      <ng-container matColumnDef="name_wbs">
                        <th mat-header-cell *matHeaderCellDef>Название проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
                      </ng-container>


                      <!-- dates_deviations -->
                      <ng-container matColumnDef="budget_plan">
                        <th mat-header-cell *matHeaderCellDef> Бюджет план</th>
                        <td mat-cell *matCellDef="let element"> {{element.budget_plan|customNumber}} </td>
                      </ng-container>

                      <!-- budget_deviations -->
                      <ng-container matColumnDef="budget_prediction">
                        <th mat-header-cell *matHeaderCellDef> Бюджет прогноз </th>
                        <td mat-cell *matCellDef="let element"> {{element.budget_prediction|customNumber}} </td>
                      </ng-container>

                      <!-- status -->
                      <ng-container matColumnDef="budget_saving">
                        <th mat-header-cell *matHeaderCellDef> Бюджет накопительно</th>
                        <td mat-cell *matCellDef="let element">
                          {{element.budget_saving|customNumber}}
                        </td>
                      </ng-container>
                      <!-- date_start_plan-->
                      <ng-container matColumnDef="budget_deviations">
                        <th mat-header-cell *matHeaderCellDef> Отклонение по бюджету </th>
                        <td mat-cell *matCellDef="let element"> {{element.budget_deviations|customNumber}} </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="[ 'id','code_wbs', 'name_wbs','budget_plan','budget_prediction','budget_saving','budget_deviations']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id','code_wbs', 'name_wbs','budget_plan','budget_prediction','budget_saving','budget_deviations']">
                      </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorPlan>
                    </mat-paginator>
                  </mat-tab>

                  <!--Показатели проекта-->
                  <mat-tab class="mat-elevation-z8" label="Показатели проекта">
                    <table *ngIf="dataPortfolioReportSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="dataPortfolioReportSource">

                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef>Код проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <!-- Название проекта -->
                      <ng-container matColumnDef="name_wbs">
                        <th mat-header-cell *matHeaderCellDef>Название проекта</th>
                        <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
                      </ng-container>


                      <!-- dates_deviations -->
                      <ng-container matColumnDef="npv">
                        <th mat-header-cell *matHeaderCellDef> NPV</th>
                        <td mat-cell *matCellDef="let element"> {{element.npv}} </td>
                      </ng-container>

                      <ng-container matColumnDef="irr">
                        <th mat-header-cell *matHeaderCellDef> IRR</th>
                        <td mat-cell *matCellDef="let element"> {{element.irr}} </td>
                      </ng-container>

                      <ng-container matColumnDef="pi">
                        <th mat-header-cell *matHeaderCellDef> PI</th>
                        <td mat-cell *matCellDef="let element"> {{element.pi}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="['id','code_wbs', 'name_wbs','npv','irr','pi']">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['id','code_wbs', 'name_wbs','npv','irr','pi']">
                      </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorPlan>
                    </mat-paginator>
                  </mat-tab>

                  <ng-template #noData>
                    <mat-card>
                      Данные отсутствуют
                    </mat-card>
                  </ng-template>

                </mat-tab-group>
              </mat-card-content>


              <!-- Добавить типовой контрактный пакет -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="addProject" aria-labelledby="addProject" style="width: 40%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="addProject"> {{ editMode ? 'Изменить' : 'Добавить' }}
                    проект {{ editMode ? FormAddProject.value.name_wbs : '' }}</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormAddProject">
                    <div class="container row gx-3">


                      <!-- code_wbs -->
                      <mat-form-field appearance="outline" class="col-3">
                        <mat-label>Код проекта:</mat-label>
                        <input matInput formControlName="code_wbs" required>
                      </mat-form-field>

                      <!-- name_wbs -->
                      <mat-form-field appearance="outline" class="col-9">
                        <mat-label>Название проекта:</mat-label>
                        <input matInput formControlName="name_wbs" required>
                      </mat-form-field>

                      <!-- project_type -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Тип проекта:</mat-label>
                        <input matInput formControlName="project_type" required>
                      </mat-form-field>

                      <!-- head_of_project -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Руководитель проекта:</mat-label>
                        <input matInput formControlName="head_of_project" required>
                      </mat-form-field>

                      <!-- company -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Предприятие:</mat-label>
                        <input matInput formControlName="company" required>
                      </mat-form-field>


                      <!-- date_start_plan -->
                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Дата начала план:</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="date_start_plan">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>

                      <!-- date_end_fact -->
                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Дата окончания факт:</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="date_end_fact">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>

                      <!-- date_start_prediction -->
                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Дата начала прогноз:</mat-label>
                        <input matInput [matDatepicker]="picker3" formControlName="date_start_prediction">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>

                      <!-- date_end_prediction -->
                      <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Дата окончания прогноз:</mat-label>
                        <input matInput [matDatepicker]="picker4" formControlName="date_end_prediction">
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                      </mat-form-field>

                      <!-- budget_plan -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Бюджет план:</mat-label>
                        <input matInput formControlName="budget_plan" type="number">
                      </mat-form-field>

                      <!-- budget_prediction -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Бюджет прогноз:</mat-label>
                        <input matInput formControlName="budget_prediction" type="number">
                      </mat-form-field>

                      <!-- budget_saving -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Бюджет накопительно:</mat-label>
                        <input matInput formControlName="budget_saving" type="number">
                      </mat-form-field>

                      <!-- npv -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>NPV:</mat-label>
                        <input matInput formControlName="npv" type="number">
                      </mat-form-field>

                      <!-- irr -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>IRR:</mat-label>
                        <input matInput formControlName="irr" type="number">
                      </mat-form-field>

                      <!-- pi -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>PI:</mat-label>
                        <input matInput formControlName="pi" type="number">
                      </mat-form-field>


                      <mat-form-field appearance="outline">
                        <mat-label>Статус проекта:</mat-label>
                        <mat-select formControlName="status" required>
                          <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'title'"
                            [array]="SelectStatusList"
                            (filteredReturn)="filteredListSelectStatusListList=$event"></mat-select-filter>

                          <mat-option *ngFor="let directory of filteredListSelectStatusListList" [value]="directory.id">
                            {{ directory.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>


                      <div class="col-12">
                        <button (click)="AddEditProjectPortfolioReport()" mat-stroked-button class="mat-btn-recolor"
                          [disabled]="!FormAddProject.valid">
                          <span class="align-text-center">
                            {{ editMode ? 'Изменить' : 'Добавить' }}
                          </span>
                        </button>
                      </div>

                    </div>
                  </form>


                </div>
              </div>

            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>