<div class="mat-elevation-z8">
  <table mat-table [dataSource]="categoryService.dataSourcePack">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Наименование </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Действия </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="customize" #menu="matMenu">
          <button mat-menu-item  *ngIf="!element.editing" (click)="editPack(element); show.toggleShowBlock(5)">
            <mat-icon class="mat-menu-icon">edit</mat-icon>
            <span>Редактировать</span>
          </button>
          <button *ngIf="!element.editing" mat-menu-item (click)="delPack(element)">
            <mat-icon class="mat-menu-icon">clear</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<!-- Редактирование -->
      <div class="col create" [ngClass]="{'show': show.showBlock[5]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(5)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать пакет работ</h2>

              <form [formGroup]="editForm" style="width: 100%;">
                <div class="row">
                  <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Обозначение:</mat-label>
                  <input matInput formControlName="title">
                </mat-form-field>
      
                <div class="d-flex justify-content-end">
                  <button style="margin-bottom: 15px;" (click)="savePack()" mat-stroked-button
                    class="mat-btn-recolor">
                    <span class="d-flex align-items-center">
                      Сохранить
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
