<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Обновить план" mat-stroked-button (click)="updatePlan()" class="more">
            <span class="d-flex align-items-center"> Обновить
              <mat-icon>autorenew</mat-icon>
            </span>
          </button>
          <mat-form-field class="select-create setting-field" appearance="outline">
            <mat-label>Фильтр по году</mat-label>
            <mat-select matTooltip="Раскрыть план по месяцам">
              <mat-option (click)="getPlan()">
                Сбросить фильтр
              </mat-option>
              <mat-option *ngFor="let year of filterYears" (click)="getAnnualPlan(year['year'])">
                {{year['year']}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <form [formGroup]="searchForm" style="height: 38px; margin-left: 5px">
            <mat-form-field appearance="outline" style="margin-top: -5px;"
                            class="example-full-width select-create">
              <mat-label>Поиск:</mat-label>
              <input matInput formControlName="searchText" (input)="applyFilters()">
            </mat-form-field>
          </form>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Финансирование план</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
        <!-- <div class="col">
          <div class="alert alert-danger" *ngIf="theme.error">
            {{ theme.error }}
          </div>
          <div class="alert alert-info" *ngIf="theme.info">
            {{ theme.info }}
          </div>
        </div> -->
      </div>
      <div>
        <div class="col" style="height: auto; padding: 10px 10px 50px;">
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-header *ngIf="loading">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-header>
                <mat-card-content *ngIf="!loading">
                  <div class="col" style="padding: 5px;">
                    <div class="row">
                      <div class="col" style="overflow-x: scroll; overflow-y: auto; transform: rotateX(180deg)">
                        <table mat-table [dataSource]="filteredData" style="transform: rotateX(180deg)">

                          <ng-container matColumnDef="wbs_id">
                            <th mat-header-cell *matHeaderCellDef>
                              № СДР
                            </th>
                            <td style="padding-right: 20px" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.code_wbs}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                              Наименование
                            </th>
                            <td style="padding-right: 20px" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.name_wbs}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="date_start">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              Дата начала
                            </th>
                            <td style="padding-right: 20px; padding-left: 20px" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.date_start}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="date_end">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              Дата окончания
                            </th>
                            <td style="padding-right: 20px; padding-left: 20px;" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.date_end}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="amount">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              Стоимость
                            </th>
                            <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.amount | customNumber}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="smr">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              СМР
                            </th>
                            <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.smr_amount | customNumber}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="pir">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              ПИР
                            </th>
                            <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.pir_amount | customNumber}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="equipment">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              Оборудование
                            </th>
                            <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.oto_amount | customNumber}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="other">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              Прочее
                            </th>
                            <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.other_amount | customNumber}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="point_of_fin">
                            <th class="text-center" mat-header-cell *matHeaderCellDef>
                              Расчет финансирования
                            </th>
                            <td mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              {{element.point_of_fin}}
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="actions">
                            <th class="text-center" style="padding-left: 15px;" mat-header-cell *matHeaderCellDef>
                              Действия
                            </th>
                            <td class="text-center" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item  *ngIf="!element.editing" (click)="editPlan(element.id)"
                                        [disabled]="element.type_of_mode === 'upper'"
                                >
                                  <mat-icon>edit</mat-icon>
                                  <span>Редактировать</span>
                                </button>
                              </mat-menu>
                            </td>
                          </ng-container>

                          <ng-container *ngFor="let year of years, let i = index" matColumnDef="{{year}}">
                            <th class="text-center" [ngClass]="{'monthsColumn': (isNaN(Number(year)))}" mat-header-cell *matHeaderCellDef>
                              {{year}}
                            </th>
                            <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level, year)">
                              {{element.plan_fin[i]?.amount | customNumber}}
                            </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        </table>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
                <mat-card-footer *ngIf="!loading">
                  <div class="border-card"></div>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': isPlanUpdateVisible}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="setPlanUpdateVisible(false)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h1>Редактировать план</h1>
        <div *ngIf="isPlanUpdateVisible" class="col">
          <form [formGroup]="UpdatedPlan" (ngSubmit)="savePlan()" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Вид расчета</mat-label>
                <mat-select (selectionChange)="_resetFields()" formControlName="mode">
                  <mat-option *ngFor="let mode of modes" [value]="mode">
                    {{mode}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="_getControlValue('mode').errors?.['required']">Обязательное поле</mat-error>
                <mat-hint *ngIf="_getControlValue('mode').value === 'Договор'" style="color: red">
                  Внимание, если стоимость в договорах отличается от стоимости в плане финансирования, стоимость, указанная здесь, изменится!
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label
                  [style.color]="
                    (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? 'grey' : 'black'
                  "
                >Количество дней аванса:</mat-label>
                <input type="number" matInput formControlName="days_for_advance" min="0" step="1"
                       oninput="validity.valid||(value='');"
                       [attr.disabled]="
                    (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? true : null
                  "
                >
                <mat-error *ngIf="_getControlValue('days_for_advance').errors?.['required'] && !_checkFieldByMode('Ежемесячный платёж')">Обязательное поле</mat-error>
                <mat-hint style="color: red" *ngIf="_checkFieldByMode('Ежемесячный платёж') && _getControlValue('proccent_advance').value">Обязательное поле</mat-hint>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label
                  [style.color]="
                    (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? 'grey' : 'black'
                  "
                >Размер аванса (в %):</mat-label>
                <input type="number" matInput formControlName="proccent_advance" max="100"
                       [attr.disabled]="
                  (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор'))  ? true : null
                 "
                >
                <mat-error *ngIf="_getControlValue('proccent_advance').errors?.['required']
                  && _getControlValue('proccent_advance').value == ''"
                >Обязательное поле</mat-error>
                <mat-error *ngIf="_getControlValue('proccent_advance').errors?.['max']">Максимум - 100%</mat-error>
                <mat-hint style="color: red" *ngIf="_getControlValue('mode').value !== 'Ежемесячный платёж' &&
                  _getControlValue('proccent_postponement').value + _getControlValue('proccent_advance').value != 100
                ">Сумма процентов должна быть равна 100%</mat-hint>
                <mat-hint style="color: red" *ngIf="_checkFieldByMode('Ежемесячный платёж') && _getControlValue('days_for_advance').value">Обязательное поле</mat-hint>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label
                  [style.color]="
                    (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? 'grey' : 'black'
                  "
                >Отсрочка последнего платежа (в днях):</mat-label>
                <input type="number" matInput formControlName="days_for_postponement" min="0" step="1"
                       oninput="validity.valid||(value='');"
                       [attr.disabled]="
                  (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? true : null
                 "
                >
                <mat-error *ngIf="_getControlValue('days_for_postponement').errors?.['required'] && !_checkFieldByMode('Ежемесячный платёж')">Обязательное поле</mat-error>
                <mat-hint style="color: red" *ngIf="_checkFieldByMode('Ежемесячный платёж') && _getControlValue('proccent_postponement').value">Обязательное поле</mat-hint>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label
                  [style.color]="
                    (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? 'grey' : 'black'
                  "
                >Величина отсрочки:</mat-label>
                <input type="number" matInput formControlName="proccent_postponement" max="100"
                       [attr.disabled]="
                  (_checkFieldByMode('По умолчанию') || _checkFieldByMode('Договор')) ? true : null
                 "
                >
                <mat-error *ngIf="
                  _getControlValue('proccent_postponement').errors?.['required']
                  && _getControlValue('proccent_postponement').value == ''
                ">Обязательное поле</mat-error>
                <mat-hint style="color: red" *ngIf="
                  _getControlValue('mode').value !== 'Ежемесячный платёж' &&
                  (_getControlValue('proccent_postponement').value + _getControlValue('proccent_advance').value != 100)
                ">Сумма процентов должна быть равна 100%</mat-hint>
                <mat-hint style="color: red" *ngIf="_checkFieldByMode('Ежемесячный платёж') && _getControlValue('days_for_postponement').value">Обязательное поле</mat-hint>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label
                  [style.color]="(_checkFieldByMode('По умолчанию')
                    || _checkFieldByMode('Договор')
                    || _checkFieldByMode('Аванс с отсрочкой (два платежа)')) ? 'grey' : 'black'
                  "
                >Кол-во дней задержки платежей</mat-label>
                <input type="number" matInput formControlName="days_for_delay"
                 [attr.disabled]="(_checkFieldByMode('По умолчанию')
                  || _checkFieldByMode('Договор')
                  || _checkFieldByMode('Аванс с отсрочкой (два платежа)')) ? true : null
                 "
                >
                <mat-error *ngIf="_getControlValue('days_for_delay').errors?.['required'] && !_checkFieldByMode('Ежемесячный платёж')">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                [disabled]="_disabledSubmitByUsedMode()"
              >Редактировать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
