@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'),
       url(./../../../assets/fonts/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2) format('woff2'),
       url(./../../../assets/fonts/Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2) format('woff2'),
       url(./../../../assets/fonts/Z9XUDmZRWg6M1LvRYsHOwcmJrrg.woff2) format('woff2');
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:
       url('./../../../assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2'),
       url('./../../../assets/fonts/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2') format('woff2'),
       url('./../../../assets/fonts/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0NjbrHg.woff2') format('woff2'),
       url('./../../../assets/fonts/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmPq_HTTw.woff2') format('woff2'),
       url('./../../../assets/fonts/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvRImcycg.woff2') format('woff2')

}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

  html {
    background: var(--theme-background);
    color: var(--theme-color);
    transition: all ease-in-out 400ms;
  }
  body {
    background-color: var(--theme-main-bg) !important;
    transition: all ease-in-out 400ms;
  }
  mat-label {
    color: var(--theme-mat-label-color);
  }
  .mat-btn-recolor {
    color: #4da958;
    border-color: var(--theme-modal-button-recolor) !important;
    width: 100%;
    display: flex !important;
    justify-content: center;
  }
  .exit-recolor {
    color: var(--theme-modal-exit-color) !important;
    border-color: var(--theme-modal-exit-border) !important;
  }
  .mat-btn-resize {
    border: var(--theme-nav-border) !important;
    color: #6c6c6c;
    background: #fff;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-right: 5px;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    z-index: 2;
  }
  .mat-btn-resize:hover {
    background: #f5f5f5;
  }
  .mat-btn-exit {
    border: var(--theme-nav-border) !important;
    color: #6c6c6c;
    z-index: 2;
  }
  .mat-btn-danger {
    color: #FF0000FF;
  }
  mat-expansion-panel {
    border-radius: 0px !important;
    box-shadow: none !important;
  }
  .container-fluid {
    background-color: var(--theme-main-head-bg);
    transition: all ease-in-out 400ms;
  }
  .tools {
    background: var(--theme-head-bg);
    border-bottom: 1px solid var(--theme-head-border-bg);
    padding: 20px;
  }
  .arrow--tools {
    display: none;
  }
  .arrow-block-tools {
    display: block;
  }
  .text {
    color: var(--theme-menu-txt-bg);
  }
  .mat-card {
    background: var(--theme-content-bg);
    color: var(--theme-content-txt-bg);
    margin-bottom: 10px;
    /* z-index: 0; */
  }
  .mat-card-subtitle {
    color: var(--theme-content-title-bg);
  }
  .active {
    border-bottom: 5px solid #b5dca4;
    font-weight: 500;
    height: 6cqh;
    display: flex;
    align-items: center;
    /* background-color: var(--theme-menu-active-bg); */
    color: var(--theme-menu-active-txt-bg) !important;
  }
  a.nav-link {
    padding: 25px 0px 25px 0px;
  }
  a.nav-link:hover {
    color: #B5DCA4 !important;
  }
  .type-a-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--theme-setting-bg);
    min-width: 220px;
    top: 54px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .type-a-dropdown-content a:hover {
    background-color: var(--theme-setting-a-bg);
  }
  #navbarText > div > div.col.set-wrapper > div > div > div > a {
    color: var(--theme-setting-txt-bg);
    height: 6cqh;
    display: flex;
    align-items: center;
  }
  .text-link {
    text-decoration: none;
    color: var(--theme-text-link-color);
  }
  .text-link:hover {
    color: #eb8b2d;
  }
  .toggle {
    display: flex;
    padding: 12px 16px;
    color: var(--theme-setting-toggle-bg);
  }
  .dropbtn {
    background: var(--theme-menu-smoll-bg);
    color: white;
    padding: 12px;
    width: 81px;
    font-size: 0px;
    border: none;
  }

  .dropdown:hover .dropbtn {
    background-color: var(--theme-menu-btn-bg);
  }
  .icon-no-active {
    color: var(--theme-menu-txt-bg);
    margin-right: 23px;
    font-size: 20px;
  }
  .aside-wrapper {
    padding-top: 0px;
    width: 220px;
    height: 94vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: var(--theme-menu-bg);
    border-right: 1px solid var(--theme-menu-border-bg);
    transition: all .2s ease-in-out;
  }
  .mat-expansion-panel {
    background: var(--theme-menu-bg) !important;
  }
  .small-menu-size {
    width: 90px;
    height: 100%;
    position: fixed;
    box-shadow: 4px 0px 8px 0px rgb(9 14 32 / 10%);
    background-color: var(--theme-small-menu-size);
    color: var(--theme-color);
    backdrop-filter: blur(10px);
    z-index: 2;
  }
  .content-wrapper {
    background-color: var(--theme-bgwrapper);
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    min-width: 100%;
    border-radius: 5px;
    backdrop-filter: blur(25px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-color: var(--theme-border);;
    color: var(--theme-color);
    overflow: auto;
    transition: all ease-in-out 400ms;
}
#resize-menu > ul > li > a {
  color: var(--theme-nav-a);
  text-decoration: none;
}
.button-tools {
  margin-bottom: 10px;
  display: flex;
}
.chevron {
  /* margin: 24px; */
  background: none;
  border: none;
  color: var(--theme-nav-a);
}
.bnt-register--tools {
  height: 35px;
  padding: 5px;
  margin-right: 5px !important;
  border: 1px solid #cacaca;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
.bnt-register--tools:hover {
  background: #B5DCA4;
}

.bnt-help--tools {
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #cacaca;
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
.bnt-help--tools:hover {
  background: #B5DCA4;
}

/* alerts */
.alert-success {
  color: var(--theme-alerts-s-txt-bg);
  background-color: var(--theme-alerts-s-bg);
  border-color: var(--theme-alerts-s-border-bg);
}
.alert-danger {
  color: var(--theme-alerts-d-txt-bg);
  background-color: var(--theme-alerts-d-bg);
  border-color: var(--theme-alerts-d-border-bg);
}
.alert-info {
  color: var(--theme-alerts-i-txt-bg);
  background-color: var(--theme-alerts-i-bg);
  border-color: var(--theme-alerts-i-border-bg);
}
.alerts {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.alert-ind {
  margin: 0px;
  border-radius: 0;
}
.btn-add,.btn-add:hover, .btn-add:active{
  border-color: #eb8b2d; /* Здесь задайте свой цвет границы кнопки */
  color: #ffffff; /* Здесь задайте свой цвет текста кнопки */
  background: #eb8b2d;
  border: none;
}

.create {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 2;
}
.create.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: start;
  /* transform: translateX(0px); */
  /* transition: margin-right .5s; */
  width: 32em;
  padding: 25px;
}
.compared {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: var(--theme-modal-background);
  color: var(--theme-modal-color);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 2;
}
.compared.show {
  width: 40%;
  padding: 25px;
}
/* .create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 26%;
  height: 100vh;
  color: var(--theme-modal-color);
  background: var(--theme-modal-background);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: translateX(1920px);
  z-index: 2;
} */

.dark-table > thead > tr > th {
  color: var(--theme-dark-table-color);
  border-bottom: var(--theme-dark-table-border);
}
.dark-table > tbody > tr > th {
  color: var(--theme-dark-table-color);
  border-bottom: var(--theme-dark-table-border);
}
.dark-table > tbody > tr > td {
  color: var(--theme-dark-table-color);
  border-bottom: var(--theme-dark-table-border);
}
.mat-header-cell,
.mat-cell {
  border-color: var(--theme-mat-cell-header-border-bg);
  color: var(--theme-mat-cell-header-color-bg);
}
.mat-cell {
  color: var(--theme-mat-cell-bg);
}
.mat-table {
  background: var(--theme-mat-table-bg);
}
.mat-paginator {
  display: block;
  background: var(--theme-mat-paginator-bg);
  color: var(--theme-mat-paginator-color-bg);
}
.mat-menu-icon {
  color: var(--theme-context-icon) !important;
}
/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #cacaca;
}
.mat-select-value{
  color: var(--theme-select-value);
}
/* .mat-stroked-button {
  border: var(--theme-nav-border) !important;
} */