table {
    width: 100%;
}
.content {
  overflow-y: scroll;
  height: 94vh;
}
.container-row-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
}
.tools-wrapper {
  display: flex;
  flex-direction: column;
}
.tools-title {
  color: #eb8b2d;
  font-size: 1.5rem;
  line-height: 1.1;
}
.tools-inner {
  color: #9f9d9d;
}
.border-card {
  background: #eb8b2d;
  width: 100%;
  height: 5px;
}
.box-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smoll-inp {
  width: 255px;
  margin: 5px;
}
.box-column {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.example-full-width {
  width: 100%;
}
.form-budget {
  width: 100%;
}
textarea {
  height: 100px;
}
textarea::-webkit-resizer {
  background-color: #fff;
}
.create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 30%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  transform: translateX(750px);
}
.create.show {
  display: block;
  transform: translateX(0px);
}
.budget {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 30%;
  width: 20%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: -8px 0px 6px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out;
  display: none;
}
.budget.show {
  display: block;
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
::ng-deep .custom-accordion>.mat-expansion-panel:hover {
  background-color: #fff !important
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #eb8b2d !important;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #eb8b2d !important;
}

/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}
:host ::ng-deep .custom-spinner circle{
  stroke: #eb8b2d;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #eb8b2d;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }

::ng-deep.select-create .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.mat-expansion-panel:hover {
  background-color: #fff;
  color: #333;
}
.mat-header-cell,
.mat-cell {
  border-color: var(--theme-mat-cell-header-border-bg);
  color: var(--theme-mat-cell-header-color-bg);
}
.mat-cell {
  color: var(--theme-mat-cell-bg);
}
.mat-table {
  background: var(--theme-mat-table-bg);
}
.mat-paginator {
  display: block;
  background: var(--theme-mat-paginator-bg);
  color: var(--theme-mat-paginator-color-bg);
}
.more {
  color: #6c6c6c;
}
.block {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 53%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  transition: opacity 0.3s ease;
}
.block.show {
  display: block;
}
.card-add-details {
  position: absolute;
  width: 95%;
}
.editing {
  border-bottom: 1px solid #949494;
  width: 95%;
  height: 30px;
}
.disabled {
  border-bottom: 2px dotted #949494;
  height: 30px;
}
.thead {
  font-size: 12px;
  background: #f2f2f2;
  margin-left: 0px;
  margin-right: 0px;
}
.tbody {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d5d5d5;
}
.gpcs_button:hover {
  background: #B5DCA4;
}

.delimiter-header {
  border-right: 1px solid rgb(224, 225, 233);
}

.setting-field {
  margin-top: -5px;
  margin-left: 5px;
}
.checkbox-help--tools {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #cacaca;
  border-radius: 3px;
  height: 35px;
}

.mat-column-month-width{
  min-width: 100px !important;
}
.rotate{
  transform: rotateX(180deg);
}

