<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Сгенерировать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>note_add</mat-icon>
          </button>
          <!-- !Temp -->
          <button  class="chevron checkbox-help--tools">
            Отправить в АССОИ
          </button>
          <mat-form-field class="select-create setting-field" appearance="outline">
            <mat-label>Выбрать ГПКС документ</mat-label>
            <mat-select>
              <mat-option *ngFor="let document of this.documents, let i = index" (click)="getGpcsForm(document.id)">
                {{document.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox (change)="changeMonthShowing()" matTooltip="Показать помесячные выплаты" class="chevron checkbox-help--tools">Помесячно</mat-checkbox>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">ГПКС</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
        <div class="col">
          <div class="alert alert-success" *ngIf="theme.access">
            {{ theme.access }}
          </div>
          <div class="alert alert-danger" *ngIf="theme.error">
            {{ theme.error }}
          </div>
          <div class="alert alert-info" *ngIf="theme.info">
            {{ theme.info }}
          </div>
        </div>
      </div>
      <div>
        <div class="col" style="padding: 10px;overflow-x: hidden;">
          <div class="row">
            <div class="col">
        <mat-card>
          <mat-card-header *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-header>
          <mat-card-content *ngIf="!loading">
            <div class="col" style="padding: 5px;overflow-x: hidden;">
              <div class="row">
                <div class="col" style="overflow-x: scroll" [ngClass]="{rotate:!monthsShowing}">
                  <table *ngIf="!monthsShowing" mat-table [dataSource]="dataSource" matSort [ngClass]="{rotate:!monthsShowing}">

                    <ng-container matColumnDef="WbsCode">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Код СДР
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.code_wbs}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Id">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        № 
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.code_assoi}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Наименование
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.name}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="StartDate">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Начало
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.build_date_start}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="EndDate">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Окончание
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.build_date_end}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Approved">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Утвержденная стоимость 2024
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.info_object_approved | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Completed">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Выполнено 2023
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.info_object_completed | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Remains">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Остаток выполнения на 31.12.2023
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.info_object_remains | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="TotalPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Всего
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.total_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="SmrPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        СМР
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center"  style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.smr_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OtoPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Оборудование
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.oto_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="PirPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        ПИР
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.pir_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OtherPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Прочее
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.other_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="FinancingPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        План финансирования
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center"  style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.total_plan | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OnePg">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Освоение 1 пг.
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.one_pg | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="TwoPg">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Освоение 2 пг.
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.two_pg | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Действия
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item  *ngIf="!element.editing" (click)="prepareToEditGpcsForm(element)">
                            <mat-icon>edit</mat-icon>
                            <span>Редактировать</span>
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="placeholder1">
                      <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="3"></td>
                    </ng-container>

                    <ng-container matColumnDef="deadlines">
                      <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                        Сроки строительства
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="info">
                      <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                        Информация об объекте
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="3"></td>
                    </ng-container>

                    <ng-container matColumnDef="investmentPlan">
                      <th mat-header-cell *matHeaderCellDef colspan="5" class="text-center delimiter-header">
                        План капитальных вложений
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="5"></td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="execPlan">
                      <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                        План выполнения
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container> -->

                    <ng-container matColumnDef="placeholder2">
                      <th mat-header-cell *matHeaderCellDef colspan="4">
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="4"></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['placeholder1', 'deadlines', 'info', 'investmentPlan', 'placeholder2']"></tr>

                    <tr mat-header-row *matHeaderRowDef="formDisplayedColumns"></tr>

                    <tr mat-row *matRowDef="let row; columns: formDisplayedColumns;"></tr>
                  </table>
                  <table *ngIf="monthsShowing" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [ngClass]="{rotate:!monthsShowing}">

                    <ng-container matColumnDef="Id">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        № 
                      </th>
                      <td mat-cell *matCellDef="let element, let i = index" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{i+1}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="WbsCode">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Код СДР
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.code_wbs}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Наименование
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.name}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="StartDate">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Начало
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.build_date_start}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="EndDate">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Окончание
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <span>{{element.build_date_end}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Approved">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Утвержденная стоимость 2024
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.info_object_approved | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Completed">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Выполнено 2023
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.info_object_completed | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Remains">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Остаток выполнения на 31.12.2023
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.info_object_remains | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="TotalPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Всего
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.total_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="SmrPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        СМР
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.smr_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="PirPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        ПИР
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.pir_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OtoPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        Оборудование
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.oto_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OtherPrice">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Прочее
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.other_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OnePg">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Освоение 1 пг.
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.one_pg | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="TwoPg">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Освоение 2 пг.
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.two_pg | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="FinancingPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План финансирования. всего
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width"  style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.total_plan | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="JanuaryPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.january_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="JanuaryFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.january_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="FebruaryPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.february_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="FebruaryFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.february_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MarchPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.march_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MarchFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.march_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="AprilPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.april_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="AprilFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.april_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MayPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.may_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="MayFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.may_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="JunePlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.june_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="JuneFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.june_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="JulyPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.july_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="JulyFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.july_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="AugustPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.august_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="AugustFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.august_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="SeptemberPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.september_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="SeptemberFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.september_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OctoberPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.october_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="OctoberFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.october_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="NovemberPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.november_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="NovemberFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.november_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="DecemberPlan">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        План
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.december_plan_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="DecemberFact">
                      <th mat-header-cell *matHeaderCellDef class="text-center delimiter-header" style="padding-left: 5px; padding-right: 5px;">
                        Факт
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center mat-column-month-width" style="padding-left: 5px; padding-right: 5px;">
                        <span>{{element.december_fact_price | customNumber}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="padding-left: 5px; padding-right: 5px;">
                        Действия
                      </th>
                      <td mat-cell *matCellDef="let element" class="text-center">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item  *ngIf="!element.editing" (click)="prepareToEditGpcsForm(element)">
                            <mat-icon>edit</mat-icon>
                            <span>Редактировать</span>
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="placeholder1">
                      <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="3"></td>
                    </ng-container>

                    <ng-container matColumnDef="deadlines">
                      <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                        Сроки строительства
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="info">
                      <th mat-header-cell *matHeaderCellDef colspan="3" class="text-center delimiter-header">
                        Информация об объекте
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="3"></td>
                    </ng-container>

                    <ng-container matColumnDef="investmentPlan">
                      <th mat-header-cell *matHeaderCellDef colspan="5" class="text-center delimiter-header">
                        План капитальных вложений на 2024 год
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="5"></td>
                    </ng-container>

                    <ng-container matColumnDef="execPlan">
                      <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                        План выполнения
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="placeholder2">
                      <th mat-header-cell *matHeaderCellDef colspan="1">
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="1"></td>
                    </ng-container>

                    <ng-container matColumnDef="january">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Январь
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="february">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Февраль
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="march">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Март
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="april">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Апрель
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="may">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Май
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="june">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Июнь
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="july">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Июль
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="august">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Август
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="september">
                      <th mat-header-cell *matHeaderCellDef colspan="2" class="text-center delimiter-header">
                        Сентябрь
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="october">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Октябрь
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="november">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Ноябрь
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <ng-container matColumnDef="december">
                      <th mat-header-cell *matHeaderCellDef colspan="2"  class="text-center delimiter-header">
                        Декабрь
                      </th>
                      <td mat-cell *matCellDef="let element" colspan="2"></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['placeholder1', 'deadlines', 'info', 'investmentPlan', 'execPlan', 'placeholder2', 'january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']"></tr>

                    <tr mat-header-row *matHeaderRowDef="formByMonthsDisplayedColumns"></tr>

                    <tr mat-row *matRowDef="let row; columns: formByMonthsDisplayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer *ngIf="!loading">
            <div class="border-card"></div>
          </mat-card-footer>
        </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[0]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Сгенерировать</h2>

          <div class="col">
            <form [formGroup]="generateGpcs" (ngSubmit)="addGenerateGpcs()" class="row">

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Название документа:</mat-label>
                <input matInput formControlName="name">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Тип ГПКС:</mat-label>
                <mat-select formControlName="type_gpcs">
                  <mat-option *ngFor="let type of types" [value]="types.indexOf(type)">{{type}}</mat-option>
                </mat-select>
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit"
                        [disabled]="_addGenerateObjectProperty('name').invalid
                        || _addGenerateObjectProperty('comment').invalid
                        || _addGenerateObjectProperty('type_gpcs').invalid"
                >Сгенерировать</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[1]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Редактировать форму</h2>

          <div class="col">
            <form [formGroup]="updateGpcsForm" (ngSubmit)="editGpcsForm()" class="row">

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Дата начала:</mat-label>
                <input type="date" matInput formControlName="build_date_start">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Дата окончания:</mat-label>
                <input type="date" matInput formControlName="build_date_end">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Утвержденная стоимость:</mat-label>
                <input type="number" matInput formControlName="info_object_approved">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Выполненная стоимость:</mat-label>
                <input type="number" matInput formControlName="info_object_completed">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Остаток выполнения:</mat-label>
                <input type="number" matInput formControlName="info_object_remains">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Общая сумма:</mat-label>
                <input type="number" matInput formControlName="total_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>СМР сумма:</mat-label>
                <input type="number" matInput formControlName="smr_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>ПИР сумма:</mat-label>
                <input type="number" matInput formControlName="pir_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Оборудование сумма:</mat-label>
                <input type="number" matInput formControlName="oto_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Прочее:</mat-label>
                <input type="number" matInput formControlName="other_price">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>1 половина:</mat-label>
                <input type="number" matInput formControlName="one_pg">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>2 половина:</mat-label>
                <input type="number" matInput formControlName="two_pg">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>Всего план:</mat-label>
                <input type="number" matInput formControlName="total_plan">
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>ГПКС документ:</mat-label>
                <mat-select formControlName="document">
                  <mat-option *ngFor="let document of documents" [value]="document.id">{{document.name}}</mat-option>
                </mat-select>
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" appearance="outline">
                <mat-label>ГПКС:</mat-label>
                <mat-select formControlName="gpcs">
                  <mat-option *ngFor="let gpcs of data" [value]="gpcs.id">{{gpcs.name}}</mat-option>
                </mat-select>
                <mat-error>Обязательное поле</mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit"
                        [disabled]="_addGpcsFormProperty('build_date_start').invalid ||
                        _addGpcsFormProperty('build_date_end').invalid ||
                        _addGpcsFormProperty('info_object_approved').invalid ||
                        _addGpcsFormProperty('info_object_completed').invalid ||
                        _addGpcsFormProperty('info_object_remains').invalid ||
                        _addGpcsFormProperty('total_price').invalid ||
                        _addGpcsFormProperty('smr_price').invalid ||
                        _addGpcsFormProperty('pir_price').invalid ||
                        _addGpcsFormProperty('oto_price').invalid ||
                        _addGpcsFormProperty('other_price').invalid ||
                        _addGpcsFormProperty('one_pg').invalid ||
                        _addGpcsFormProperty('two_pg').invalid ||
                        _addGpcsFormProperty('total_plan').invalid ||
                        _addGpcsFormProperty('document').invalid ||
                        _addGpcsFormProperty('gpcs').invalid"
                >Сохранить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
