<div class="resotre-page">
<div class="resotre-screen"></div>
  <header class="header">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <div class="logo-wrapper">
          <img src="../../../../assets/img/logo.png" class="image" />
          <div class="title-logo">
            <span style="color: #eb8b2d;">UMMC</span>
            <span>УГМК</span>
          </div>
        </div>
        <span class="navbar-text">Уже есть учётная запись в УГМК?
          <button class="btn-in" routerLink="/" mat-raised-button>Авторизация</button>
        </span>
      </div>
    </nav>
  </header>
  <div class="col section">
    <div class="container">
        <div class="resotre-wrapper">
          <div class="resotre-form">
            <div class="col text-center">
              <h1 class="title">Восстановление пароля</h1>
            </div>
            <div class="resotre-inner">
              <!-- <form #f="ngForm" name="theForm" (submit)="addUser(f)" style="display: flex;flex-direction: column;">   -->

                <mat-stepper [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="resetPasswordForm">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="level1()" style="display: flex;flex-direction: column;">
                      <label for="" style="font-size: 12px;">Имя пользователя</label>
                      <ng-template matStepLabel>Ваш адрес электронной почты</ng-template>
                      <mat-form-field appearance="outline">
                        <mat-label>Elegant-Master</mat-label>
                        <input matInput type="email" formControlName="email" name="email" required>
                      </mat-form-field>
                      <div class="alert alert-danger alerts" *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.hasError('required')">
                        Поле обязательно для заполнения.
                      </div>
                      <div class="alert alert-danger alerts" *ngIf="resetPasswordForm.get('email')?.hasError('email')">
                        Пожалуйста, введите корректный адрес электронной почты.
                      </div>
                      <div class="alert alert-danger alerts" *ngIf="emailNotFoundError">
                        Указанного адреса электронной почты не существует.
                      </div>
                      <div>
                        <button mat-button type="submit" matStepperNext>Далее</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="secondFormGroup" label="Придумайте новый пароль">
                    <form [formGroup]="secondFormGroup" (ngSubmit)="level2()" style="display: flex;flex-direction: column;">
                      <label for="" style="font-size: 12px;">Код Подтверждения</label>
                      <mat-form-field appearance="outline">
                        <mat-label>Введите код подтверждения</mat-label>
                        <input matInput  name="token" formControlName="token" required>
                      </mat-form-field>
                      <label for="" style="font-size: 12px;">Новый пароль</label>
                      <mat-form-field appearance="outline">
                        <mat-label>Минимум 8 символов</mat-label>
                        <input matInput  name="password" formControlName="password" required>
                      </mat-form-field>
                      <label for="" style="font-size: 12px;">Подтвердите пароль</label>
                      <mat-form-field appearance="outline">
                        <mat-label>Подтверждение</mat-label>
                        <input matInput  name="confirmed_password" formControlName="confirmed_password" required>
                      </mat-form-field>
                      <div *ngIf="resetPasswordForm.get('token')?.hasError('recoveryCodeInvalid')">
                        Введен недействительный код восстановления.
                      </div>
                      <div>
                        <button mat-button matStepperPrevious>Назад</button>
                        <button mat-button type="submit" matStepperNext>Далее</button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel>Готово!</ng-template>
                    <p class="alert alert-success">Пароль успешно восстановлен! Можем продолжить <a class="text-center link-auth" routerLink="/login">авторизацию</a></p>
                    <div>
                      <button mat-button matStepperPrevious>Назад</button>
                      <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                  </mat-step>
                </mat-stepper>

                <!-- <label for="" style="font-size: 12px;">Имя пользователя</label>
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput  name="last_name" required>
                </mat-form-field>
                <button class="btn-in" mat-raised-button>Зарегистрироваться</button><br> -->

              <!-- </form> -->
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
