table {
    width: 100%;
  }
  ::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }
  
::ng-deep.select-create .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
}



    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
      padding-left: 0;
  }
    .mat-column-id,
    .mat-column-utilization_realization,
    .mat-column-financing_realization
    {
      width: 5%;
    }
  
    .mat-column-counterparty,
    .mat-column-contract{
      text-align:left ;
      /* min-width: 200px; */
      /* color: rgb(255, 0, 0); */
    }  