<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>


        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Остаток по договорам. Контрагенты.</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">

        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                <table *ngIf="!isLoading && dataBalanceUnderContractsTableSource.data?.length > 0; else noData"
                  mat-table [dataSource]="dataBalanceUnderContractsTableSource" mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>
                  <!-- Имя контрагента -->
                  <ng-container matColumnDef="counterparty">
                    <th mat-header-cell *matHeaderCellDef> Имя контрагента </th>
                    <td mat-cell *matCellDef="let element"> {{element.counterparty}} </td>
                  </ng-container>
                  <!-- Стоимость договора -->
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Стоимость договора </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount| customNumber}} </td>
                  </ng-container>
                  <!-- Освоение накопительно план -->
                  <ng-container matColumnDef="utilization_plan">
                    <th mat-header-cell *matHeaderCellDef> Освоение накопительно план </th>
                    <td mat-cell *matCellDef="let element"> {{element.utilization_plan| customNumber}} </td>
                  </ng-container>
                  <!-- Освоение накопительно факт -->
                  <ng-container matColumnDef="utilization_fact">
                    <th mat-header-cell *matHeaderCellDef> Освоение накопительно факт </th>
                    <td mat-cell *matCellDef="let element"> {{element.utilization_fact| customNumber}} </td>
                  </ng-container>
                  <!-- Отклонение по освоению -->
                  <ng-container matColumnDef="utilization_deviation">
                    <th mat-header-cell *matHeaderCellDef> Отклонение по освоению </th>
                    <td mat-cell *matCellDef="let element"> {{element.utilization_deviation| customNumber}} </td>
                  </ng-container>
                  <!-- Остаток по освоению -->
                  <ng-container matColumnDef="utilization_remains">
                    <th mat-header-cell *matHeaderCellDef> Остаток по освоению </th>
                    <td mat-cell *matCellDef="let element"> {{element.utilization_remains| customNumber}} </td>
                  </ng-container>
                  <!-- Финансирование накопительно план -->
                  <ng-container matColumnDef="financing_plan">
                    <th mat-header-cell *matHeaderCellDef> Финансирование накопительно план </th>
                    <td mat-cell *matCellDef="let element"> {{element.financing_plan| customNumber}} </td>
                  </ng-container>
                  <!-- Финансирование накопительно факт -->
                  <ng-container matColumnDef="financing_fact">
                    <th mat-header-cell *matHeaderCellDef> Финансирование накопительно факт </th>
                    <td mat-cell *matCellDef="let element"> {{element.financing_fact| customNumber}} </td>
                  </ng-container>
                  <!-- Отклонение по финансированию -->
                  <ng-container matColumnDef="financing_deviation">
                    <th mat-header-cell *matHeaderCellDef> Отклонение по финансированию </th>
                    <td mat-cell *matCellDef="let element"> {{element.financing_deviation| customNumber}} </td>
                  </ng-container>
                  <!-- Остаток по финансированию -->
                  <ng-container matColumnDef="financing_remains">
                    <th mat-header-cell *matHeaderCellDef> Остаток по финансированию </th>
                    <td mat-cell *matCellDef="let element"> {{element.financing_remains| customNumber}} </td>
                  </ng-container>
                  <!-- Выполнение договора по освоению, % -->
                  <ng-container matColumnDef="utilization_realization">
                    <th mat-header-cell *matHeaderCellDef> Выполнение договора по освоению, % </th>
                    <td mat-cell *matCellDef="let element"> {{element.utilization_realization}} </td>
                  </ng-container>
                  <!-- Выполнение договора по финансированию, % -->
                  <ng-container matColumnDef="financing_realization">
                    <th mat-header-cell *matHeaderCellDef> Выполнение договора по финансированию, % </th>
                    <td mat-cell *matCellDef="let element"> {{element.financing_realization}} </td>
                  </ng-container>
                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <!-- <p>{{element.code_counterparty}}</p> -->
                        <!-- <button mat-menu-item type="button" (click)="editContractPackages(element)"
                          data-bs-toggle="offcanvas" data-bs-target="#addContractPackages"
                          aria-controls="addContractPackages">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="delContractPackages(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button> -->
                        <button mat-menu-item type="button"
                          (click)="moreBalanceUnderContract(element.code_counterparty)">
                          <mat-icon>sort</mat-icon>
                          <span>Подробнее</span>
                        </button>

                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row
                    *matHeaderRowDef="['id', 'counterparty', 'amount', 'utilization_plan', 'utilization_fact', 'utilization_deviation', 'utilization_remains', 'financing_plan', 'financing_fact', 'financing_deviation', 'financing_remains', 'utilization_realization', 'financing_realization', 'action']">
                  </tr>
                  <tr mat-row
                    *matRowDef="let row; columns: ['id', 'counterparty', 'amount', 'utilization_plan', 'utilization_fact', 'utilization_deviation', 'utilization_remains', 'financing_plan', 'financing_fact', 'financing_deviation', 'financing_remains', 'utilization_realization', 'financing_realization', 'action']">
                  </tr>
                </table>


                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                  aria-label="Select page of periodic elements" #paginatorForBalanceUnderContracts>
                </mat-paginator>
                <ng-template #noData>
                  <mat-card *ngIf="!isLoading">
                    Данные отсутствуют
                  </mat-card>
                </ng-template>
              </mat-card-content>




            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>