<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="theme.setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#EditAddScrollingReserve" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="add()">
            <span class="d-flex align-items-center">Добавить резерв
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Резерв</span>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/reserve-management">Управление
                  резервами</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col">
                  {{this.reserveData.title}}
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <table mat-table [dataSource]="dataReserveTable">

                  <!-- ID -->
                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> №</th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <!-- Code WBS -->
                  <ng-container matColumnDef="code_wbs">
                    <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                    <td mat-cell *matCellDef="let element">{{ element.code_wbs }}</td>
                  </ng-container>
                  <!-- Name -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Объект </th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                  </ng-container>



                  <!-- Plan Price -->
                  <ng-container matColumnDef="plan_price">
                    <th mat-header-cell *matHeaderCellDef> План </th>
                    <td mat-cell *matCellDef="let element">{{ element.plan_price|customNumber }}</td>
                  </ng-container>

                  <!-- Reserve Price -->
                  <ng-container matColumnDef="reserve_price">
                    <th mat-header-cell *matHeaderCellDef> Резерв </th>
                    <td mat-cell *matCellDef="let element">{{ element.reserve_price |customNumber }}</td>
                  </ng-container>

                  <ng-container matColumnDef="budget_source_name">
                    <th mat-header-cell *matHeaderCellDef> Источник стоимости </th>
                    <td mat-cell *matCellDef="let element">{{ element.budget_source_name }}</td>
                  </ng-container>

                  <!-- Процент -->
                  <ng-container matColumnDef="budget_source_percent_rate">
                    <th mat-header-cell *matHeaderCellDef> Процент </th>
                    <td mat-cell *matCellDef="let element">{{ element?.budget_source_percent_rate }} %</td>
                  </ng-container>

                  <!-- Action -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu class="customize" #menu="matMenu">
                        <button mat-menu-item type="button" (click)="editReserve(element)" data-bs-toggle="offcanvas"
                          data-bs-target="#EditAddScrollingReserve">
                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item type="button" (click)="TransactionReserve(element)"
                          data-bs-toggle="offcanvas" data-bs-target="#TransactionReserve">
                          <mat-icon class="mat-menu-icon">receipt_long</mat-icon>
                          <span>Транзакия</span>
                        </button>

                        <button mat-menu-item type="button" (click)="delReserve(element.common_budget_id)">
                          <mat-icon class="mat-menu-icon">close</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>


              </mat-card-content>
            </mat-card>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="EditAddScrollingReserve" aria-labelledby="addScrollingReserveLabel" style="width: 40%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="EditAddScrollingReserve">{{ editMode ? 'Изменить' : 'Добавить' }} резерв
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <form [formGroup]="FormAddEditReserveItem">
                  <div class="container row gx-3">


                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Объект:</mat-label>
                      <mat-select formControlName="wbs">
                        <mat-option *ngFor="let wbs of wbsData" [value]="wbs.id">
                          {{ wbs.code_wbs }} - {{ wbs.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>


                    <!-- Plan Price -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>План:</mat-label>
                      <input matInput type="number" formControlName="plan_price" required>
                    </mat-form-field>

                    <!-- Reserve Price -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Резерв:</mat-label>
                      <input matInput type="number" formControlName="reserve_price" required>
                    </mat-form-field>

                    <!-- Объект -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Источник стоимости:</mat-label>
                      <mat-select formControlName="budget_source" required>
                        <mat-option *ngFor="let budget of BudgetSourceData" [value]="budget.id">
                          {{ budget.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>


                    <div class="col-4">
                      <button (click)="createOrUpdateReserve()" mat-stroked-button class="mat-btn-recolor">
                        <span class="align-text-center">
                          {{ editMode ? 'Сохранить' : 'Добавить' }}
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>



            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="TransactionReserve" aria-labelledby="addScrollingLabel" style="width: 30%;">
              <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="TransactionReserve">Транзакия
                </h2>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <form [formGroup]="TransactionReserveForm">
                  <div class="container row gx-3">

                    <div>
                      <p>Остаток резерва: {{ remainingReserve|customNumber }}</p>
                    </div>

                    <!-- <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Общая сумма:</mat-label>
                      <input type="number" matInput (input)="calculateRemainingReserve()" formControlName="total_price">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>СМР сумма:</mat-label>
                      <input type="number" matInput (input)="calculateRemainingReserve()" formControlName="smr_price">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ПИР сумма:</mat-label>
                      <input type="number" matInput (input)="calculateRemainingReserve()" formControlName="pir_price">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ОТО сумма:</mat-label>
                      <input type="number" matInput  (input)="calculateRemainingReserve()" formControlName="oto_price">
                    </mat-form-field> -->

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Прочее сумма:</mat-label>
                      <input type="number" matInput (input)="calculateRemainingReserve()" formControlName="other_price">
                    </mat-form-field>

                    <div class="col-5">
                      <button (click)="addTransaction(TransactionReserveForm.value)" mat-stroked-button
                        class="mat-btn-recolor">
                        <span class="align-text-center">Сохранить
                        </span>
                      </button>
                    </div>
                    <br>
                    <!-- <mat-card-content>
                      <mat-tab-group>
                        <mat-tab class="mat-elevation-z8" label="Привязанные объекты">
                          <ng-container *ngIf="isLoadingListLink; else dataLoaded">
                            <br>
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                          </ng-container>
                          <ng-template #dataLoaded>
                            <ng-container *ngIf="dataLinkBudgetList.data.length; else noData">

                              <table mat-table [dataSource]="dataLinkBudgetList">
                                <ng-container matColumnDef="serial_number">
                                  <th mat-header-cell *matHeaderCellDef> № </th>
                                  <td mat-cell *matCellDef="let i = index">
                                    <span>
                                      {{i+1}}
                                    </span>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="code_wbs">
                                  <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                                  <td mat-cell *matCellDef="let element">{{ element?.code_wbs }}</td>
                                </ng-container>

                                <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Наименование</th>
                                  <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
                                </ng-container>

                                <ng-container matColumnDef="rate">
                                  <th mat-header-cell *matHeaderCellDef> Доля(%) </th>
                                  <td mat-cell *matCellDef="let element">{{ element?.rate }} %</td>
                                </ng-container>


                                <ng-container matColumnDef="pir">
                                  <th mat-header-cell *matHeaderCellDef> ПИР</th>
                                  <td mat-cell *matCellDef="let element">{{ element?.pir |customNumber}}</td>
                                </ng-container>

                                <ng-container matColumnDef="smr">
                                  <th mat-header-cell *matHeaderCellDef> СМР</th>
                                  <td mat-cell *matCellDef="let element">{{ element?.smr |customNumber}}</td>
                                </ng-container>


                                <ng-container matColumnDef="oto">
                                  <th mat-header-cell *matHeaderCellDef> ОТО</th>
                                  <td mat-cell *matCellDef="let element">{{ element?.oto |customNumber}}</td>
                                </ng-container>


                                <ng-container matColumnDef="other">
                                  <th mat-header-cell *matHeaderCellDef> Прочее</th>
                                  <td mat-cell *matCellDef="let element">{{ element?.other |customNumber}}</td>
                                </ng-container>


                                <ng-container matColumnDef="total">
                                  <th mat-header-cell *matHeaderCellDef> Всего</th>
                                  <td mat-cell *matCellDef="let element">{{ element?.total |customNumber}}</td>
                                </ng-container>


                                <ng-container matColumnDef="actions">
                                  <th mat-header-cell *matHeaderCellDef> Действие </th>
                                  <td mat-cell *matCellDef="let element" class="edit">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">

                                      <button mat-menu-item type="button" (click)='editRateLinkBudgetList(element)'>
                                        <mat-icon>link</mat-icon>
                                        <span>Изменить долю</span>
                                      </button>

                                      <button mat-menu-item (click)="delElementLinkBudgetList(element.id)">
                                        <mat-icon>clear</mat-icon>
                                        <span>Удалить</span>
                                      </button>

                                    </mat-menu>
                                  </td>
                                </ng-container>

                                <tr mat-header-row
                                  *matHeaderRowDef="['serial_number', 'code_wbs', 'name','rate', 'pir', 'smr', 'oto', 'other', 'total', 'actions']">
                                </tr>
                                <tr mat-row
                                  *matRowDef="let row; columns: ['serial_number', 'code_wbs', 'name', 'rate', 'pir', 'smr', 'oto', 'other', 'total', 'actions']">
                                </tr>
                              </table>
                            </ng-container>
                            <ng-template #noData>
                              <p>Нет привязанных объектов.</p>
                            </ng-template>
                          </ng-template>
                        </mat-tab>
                      </mat-tab-group>

                    </mat-card-content> -->

                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>