<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>



          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#EditAddScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="add()">
            <span class="d-flex align-items-center">Добавить смету
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" type="button" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="fileInput.click()">
            <span class="d-flex align-items-center">Загрузить смету (gsfx)<mat-icon>upload_file</mat-icon>
            </span>
          </button>
          <input type="file" #fileInput (change)="onFileSelected($event)" accept=".gsfx" />
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр смет</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-tab-group>
                  <mat-tab class="mat-elevation-z8" label="Реестр смет">
                    <!-- table -->
                    <table mat-table [dataSource]="dataRegisterEstimatesTable">
                      <ng-container matColumnDef="serial_number">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      <!-- Код СДР-->
                      <ng-container matColumnDef="system_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                        <td mat-cell *matCellDef="let element">{{ element?.system_code_wbs }}</td>
                      </ng-container>

                      <!-- Наименование системы -->
                      <ng-container matColumnDef="system_name">
                        <th mat-header-cell *matHeaderCellDef> Наименование системы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.system_name }}</td>
                      </ng-container>

                      <!-- Номер пакета СДР -->
                      <ng-container matColumnDef="number_package_code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Номер пакета СДР</th>
                        <td mat-cell *matCellDef="let element">{{ element?.number_package_code_wbs }}</td>
                      </ng-container>

                      <!--  Название пакета работ -->
                      <ng-container matColumnDef="name_work_package">
                        <th mat-header-cell *matHeaderCellDef> Название пакета работ </th>
                        <td mat-cell *matCellDef="let element">{{ element?.name_work_package }}</td>
                      </ng-container>

                      <!-- Шифр и номер сметы (Total) -->
                      <ng-container matColumnDef="code_number_estimate_total">
                        <th mat-header-cell *matHeaderCellDef> Шифр и номер сметы (Total)</th>
                        <td mat-cell *matCellDef="let element">{{ element?.code_number_estimate_total }}</td>
                      </ng-container>

                      <!-- Шифр замены-->
                      <ng-container matColumnDef="replacement_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр замены </th>
                        <td mat-cell *matCellDef="let element">{{ element?.replacement_code }}</td>
                      </ng-container>

                      <!-- Шифр изменения-->
                      <ng-container matColumnDef="change_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр изменения </th>
                        <td mat-cell *matCellDef="let element">{{ element?.change_code }}</td>
                      </ng-container>

                      <!-- ПД/РД-->
                      <ng-container matColumnDef="design_working_documentation">
                        <th mat-header-cell *matHeaderCellDef> ПД/РД</th>
                        <td mat-cell *matCellDef="let element">{{ element?.design_working_documentation }}</td>
                      </ng-container>

                      <!-- Шифр раздела -->
                      <ng-container matColumnDef="section_code">
                        <th mat-header-cell *matHeaderCellDef> Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.section_code }}</td>
                      </ng-container>

                      <!-- Шифр раздела -->
                      <ng-container matColumnDef="estimate_name">
                        <th mat-header-cell *matHeaderCellDef>Шифр раздела</th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_name }}</td>
                      </ng-container>

                      <!-- Разработчик сметы -->
                      <ng-container matColumnDef="estimate_developer">
                        <th mat-header-cell *matHeaderCellDef> Разработчик сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_developer }}</td>
                      </ng-container>

                      <!-- Статус сметы  -->
                      <ng-container matColumnDef="estimate_status">
                        <th mat-header-cell *matHeaderCellDef> Статус сметы </th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_status }}</td>
                      </ng-container>

                      <!-- Сметная стоимость в ценах 2001 г. -->
                      <ng-container matColumnDef="estimate_cost_2001">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в ценах 2001 г.</th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_cost_2001 | customNumber }}</td>
                      </ng-container>

                      <!-- Сметная стоимость в текущих ценах  -->
                      <ng-container matColumnDef="estimate_cost_current_prices">
                        <th mat-header-cell *matHeaderCellDef> Сметная стоимость в текущих ценах </th>
                        <td mat-cell *matCellDef="let element">{{ element?.estimate_cost_current_prices |customNumber}}
                        </td>
                      </ng-container>


                      <!-- Действие -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element" class="edit">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button" (click)="editEstimates(element)"
                              data-bs-toggle="offcanvas" data-bs-target="#EditAddScrolling">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>

                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons
                      aria-label="Select page of estimates"></mat-paginator>
                  </mat-tab>
                  <mat-tab class="mat-elevation-z8" label="Реестр смет(GSFX)">
                    <table mat-table [dataSource]="dataRegisterEstimatesGSFX" class="mat-elevation-z8">
                      <ng-container matColumnDef="serial_number">
                        <th mat-header-cell *matHeaderCellDef> № П/П </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Number Column -->
                      <ng-container matColumnDef="number">
                        <th mat-header-cell *matHeaderCellDef> Number </th>
                        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                      </ng-container>

                      <!-- Cost PZ Column -->
                      <ng-container matColumnDef="cost_pz">
                        <th mat-header-cell *matHeaderCellDef> Cost PZ </th>
                        <td mat-cell *matCellDef="let element"> {{element.cost_pz |customNumber}} </td>
                      </ng-container>

                      <!-- Caption Column -->
                      <ng-container matColumnDef="caption">
                        <th mat-header-cell *matHeaderCellDef> Caption </th>
                        <td mat-cell *matCellDef="let element"> {{element.caption}} </td>
                      </ng-container>


                      <tr mat-header-row *matHeaderRowDef="displayedColumnsGSFX"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsGSFX;"></tr>
                    </table>

                  </mat-tab>
                </mat-tab-group>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>


            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="EditAddScrolling" aria-labelledby="addScrollingLabel" style="width: 40%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="EditAddScrolling">{{ editMode ? 'Изменить' : 'Добавить' }} смету
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <form [formGroup]="FormAddEditEstimates">
                  <div class="container row gx-3">
                    <mat-tab-group mat-align-tabs="start">
                      <mat-tab label="Общая информация ">

                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Код СДР системы</mat-label>
                          <mat-select formControlName="wbs_system" required
                            (selectionChange)="getPackageWBS($event.value)">
                            <mat-option *ngFor="let wbs of wbsData" [value]="wbs.id">
                              {{ wbs.code_wbs }} - {{ wbs.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>




                        <!-- System Name -->
                        <!-- <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Наименование системы:</mat-label>
                          <input matInput formControlName="system_name" required>
                        </mat-form-field> -->


                        <!-- Number Package Code WBS -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Номер пакета СДР:</mat-label>
                          <mat-select formControlName="wbs_work_package" required>
                            <mat-option *ngFor="let wbs of PackageWBSData" [value]="wbs.id">
                              {{ wbs.code_wbs }} - {{ wbs.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <!-- Name Work Package -->
                        <!-- <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Наименование пакета работ:</mat-label>
                          <input matInput formControlName="name_work_package" required>
                        </mat-form-field> -->

                        <!-- Code Number Estimate Total -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Шифр и номер сметы (Total):</mat-label>
                          <input matInput formControlName="code_number_estimate_total" required>
                        </mat-form-field>

                        <!-- Replacement Code -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>Шифр замены:</mat-label>
                          <input matInput formControlName="replacement_code" required>
                        </mat-form-field>

                        <!-- Change Code -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>Шифр изменения:</mat-label>
                          <input matInput formControlName="change_code" required>
                        </mat-form-field>

                        <!-- ПД/РД -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>ПД/РД:</mat-label>
                          <input matInput formControlName="design_working_documentation" required>
                        </mat-form-field>

                        <!-- Section Code -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>Шифр раздела:</mat-label>
                          <input matInput formControlName="section_code" required>
                        </mat-form-field>




                        <!-- Estimate Name -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Наименование сметы:</mat-label>
                          <input matInput formControlName="estimate_name" required>
                        </mat-form-field>

                        <!-- № ЛСР -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>№ ЛСР</mat-label>
                          <input matInput formControlName="name_local_estimate_calculation" required>
                        </mat-form-field>

                        <!-- Estimate Developer -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Проектировщик:</mat-label>
                          <input matInput formControlName="estimate_developer">
                        </mat-form-field>

                        <!-- Estimate Status -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Статус сметы:</mat-label>
                          <input matInput formControlName="estimate_status" required>
                        </mat-form-field>
                      </mat-tab>
                      <mat-tab label="БЛОК Смет 2001 (Смета в производство)">

                        <!-- 
                        <mat-card-header>
                          <mat-card-title>БЛОК Смет 2001 (Смета в производство)</mat-card-title>
                        </mat-card-header> -->

                        <!-- Estimate Cost 2001 -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Сметная стоимость в ценах 2001 г.:</mat-label>
                          <input type="number" matInput formControlName="estimate_cost_2001">
                        </mat-form-field>

                        <!-- Labor Costs Main Workers -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>Т/з основных рабочих:</mat-label>
                          <input matInput formControlName="labor_costs_main_wokers">
                        </mat-form-field>

                        <!-- Labor Costs Machine Operators -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>Т/з механизаторов:</mat-label>
                          <input matInput formControlName="labor_costs_machine_operators">
                        </mat-form-field>

                        <!-- SMR 2001 -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> СМР:</mat-label>
                          <input type="number" matInput formControlName="smr_2001">
                        </mat-form-field>

                        <!-- Base Salary Amount -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>ОЗП:</mat-label>
                          <input type="number" matInput formControlName="base_salary_amount">
                        </mat-form-field>

                        <!-- Costs Operation Machines Mechanisms -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>ЭММ:</mat-label>
                          <input type="number" matInput formControlName="costs_operation_machines_mechanisms">
                        </mat-form-field>

                        <!-- Overhead Amount -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>OНР:</mat-label>
                          <input type="number" matInput formControlName="overhead_amount">
                        </mat-form-field>

                        <!-- Estimated Profit Amount -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>СП:</mat-label>
                          <input type="number" matInput formControlName="estimated_profit_amount">
                        </mat-form-field>

                        <!-- Materials -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Материалы:</mat-label>
                          <input type="number" matInput formControlName="materials">
                        </mat-form-field>

                        <!-- Contractor Materials -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Подрядчика:</mat-label>
                          <input type="number" matInput formControlName="contractor_materials">
                        </mat-form-field>

                        <!-- Controlled Materials -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Контролируемые:</mat-label>
                          <input type="number" matInput formControlName="controlled_materials">
                        </mat-form-field>

                        <!-- Uncontrolled Materials -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Неконтролируемые:</mat-label>
                          <input type="number" matInput formControlName="uncontrolled_materials">
                        </mat-form-field>

                        <!-- Customer Materials -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Заказчика:</mat-label>
                          <input type="number" matInput formControlName="customer_materials">
                        </mat-form-field>

                        <!-- Equipment -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Оборудование:</mat-label>
                          <input type="number" matInput formControlName="equipment">
                        </mat-form-field>

                        <!-- Contractor Equipment -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Подрядчика:</mat-label>
                          <input type="number" matInput formControlName="contractor_equipment">
                        </mat-form-field>

                        <!-- Customer Equipment -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Заказчика:</mat-label>
                          <input type="number" matInput formControlName="customer_equipment">
                        </mat-form-field>

                        <!-- Other Expenses 2001 -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Прочие:</mat-label>
                          <input type="number" matInput formControlName="other_expenses_2001">
                        </mat-form-field>
                      </mat-tab>

                      <mat-tab label="БЛОК Смета в текущей стоимости">

                        <!-- <mat-card-header>
                          <mat-card-title>БЛОК Смета в текущей стоимости</mat-card-title>
                        </mat-card-header> -->
                        <!-- Estimate Cost Current Prices -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Сметная стоимость в текущих ценах:</mat-label>
                          <input type="number" matInput formControlName="estimate_cost_current_prices">
                        </mat-form-field>

                        <!-- SMR Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>СМР:</mat-label>
                          <input type="number" matInput formControlName="smr_current_price">
                        </mat-form-field>

                        <!-- Base Salary Amount Current Price -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>ОПЗ:</mat-label>
                          <input type="number" matInput formControlName="base_salary_amount_current_price">
                        </mat-form-field>

                        <!-- Costs Operation Machines Mechanisms Current Price -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>ЭММ:</mat-label>
                          <input type="number" matInput
                            formControlName="costs_operation_machines_mechanisms_current_price">
                        </mat-form-field>

                        <!-- Overhead Amount Current Price -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>НР:</mat-label>
                          <input type="number" matInput formControlName="overhead_amount_current_price">
                        </mat-form-field>

                        <!-- Estimated Profit Amount Current Price -->
                        <mat-form-field appearance="outline" class="col-6">
                          <mat-label>СП:</mat-label>
                          <input type="number" matInput formControlName="estimated_profit_amount_current_price">
                        </mat-form-field>

                        <!-- Materials Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Материалы:</mat-label>
                          <input type="number" matInput formControlName="materials_current_price">
                        </mat-form-field>

                        <!-- Contractor Materials Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Подрядчика:</mat-label>
                          <input type="number" matInput formControlName="contractor_materials_current_price">
                        </mat-form-field>

                        <!-- Controlled Materials Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Контролируемые:</mat-label>
                          <input type="number" matInput formControlName="controlled_materials_current_price">
                        </mat-form-field>

                        <!-- Uncontrolled Materials Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Неконтролируемые:</mat-label>
                          <input type="number" matInput formControlName="uncontrolled_materials_current_price">
                        </mat-form-field>

                        <!-- Customer Materials Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Заказчика:</mat-label>
                          <input type="number" matInput formControlName="customer_materials_current_price">
                        </mat-form-field>

                        <!-- Equipment Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Оборудование:</mat-label>
                          <input type="number" matInput formControlName="equipment_current_price">
                        </mat-form-field>

                        <!-- Contractor Equipment Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Подрядчика:</mat-label>
                          <input type="number" matInput formControlName="contractor_equipment_current_price">
                        </mat-form-field>

                        <!-- Customer Equipment Current Price -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Заказчика:</mat-label>
                          <input type="number" matInput formControlName="customer_equipment_current_price">
                        </mat-form-field>

                        <!-- Costs Chapters 8, 9, 12 -->
                        <mat-form-field appearance="outline" class="col-11">
                          <mat-label>Затраты по главам 8/9/12 ССР:</mat-label>
                          <input type="number" matInput formControlName="costs_chapters_8_9_12">
                        </mat-form-field>
                        <span class="col-1" #tooltip="matTooltip"
                          matTooltip="Лимитированные затраты - группа затрат, определяемых по установленным сметным нормативам в процентах от того или иного элемента сметной стоимости. В строительстве к категории лимитированных относят: зимние удорожания, средства на возведение временных зданий и сооружений, резерв на непредвиденные работы и затраты, связанные с подвижным и разъездным характером работ, затраты, связанные с командированием работников строительно-монтажных организаций, затраты по возмещению затрат по перевозке работников строительно-монтажных организаций автомобильным транспортом и ряд других.">
                          <mat-icon>info</mat-icon>
                        </span>

                        <!-- Temporary Buildings Structures -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> Временные здания и сооружения:</mat-label>
                          <input type="number" matInput formControlName="temporary_buildings_structures">
                        </mat-form-field>

                        <!-- Winter Rise Prices -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Зимнее удорожание:</mat-label>
                          <input type="number" matInput formControlName="winter_rise_prices">
                        </mat-form-field>

                        <!-- Snow Removal -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Снегоборьба:</mat-label>
                          <input type="number" matInput formControlName="snow_removal">
                        </mat-form-field>

                        <!-- Mechanisms Relocation -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Перебазировка механизмов:</mat-label>
                          <input type="number" matInput formControlName="mechanisms_relocation">
                        </mat-form-field>

                        <!-- Costs Shift Work -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Затраты, связанные с осуществлением работ вахтовым методом:</mat-label>
                          <input type="number" matInput formControlName="costs_shift_work">
                        </mat-form-field>

                        <!-- Costs Fight Against Gnat -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Затраты на борьбу с гнусом:</mat-label>
                          <input type="number" matInput formControlName="costs_fight_against_gnat">
                        </mat-form-field>

                        <!-- Electricity Cost Compensation -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Компенсация стоимости электроэнергии:</mat-label>
                          <input type="number" matInput formControlName="electricity_cost_compensation">
                        </mat-form-field>

                        <!-- Commissioning Works -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Пусконаладочные работы:</mat-label>
                          <input type="number" matInput formControlName="commissioning_works">
                        </mat-form-field>

                        <!-- Travel Costs -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Командировочные затраты:</mat-label>
                          <input type="number" matInput formControlName="travel_costs">
                        </mat-form-field>

                        <!-- Author Supervision -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Авторский надзор:</mat-label>
                          <input type="number" matInput formControlName="author_supervision">
                        </mat-form-field>

                        <!-- Object Insurance -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Страхование объекта:</mat-label>
                          <input type="number" matInput formControlName="object_insurance">
                        </mat-form-field>

                        <!-- Unexpected Expenses -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Непредвиденные расходы:</mat-label>
                          <input type="number" matInput formControlName="unexpected_expenses">
                        </mat-form-field>

                        <!-- Total With Contractual Coefficient -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Итого с учетом договорного коэффициента:</mat-label>
                          <input type="number" matInput formControlName="total_with_contractual_coefficient">
                        </mat-form-field>

                        <!-- Contractual Coefficient -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Размер договорного коэффициента:</mat-label>
                          <input type="number" matInput formControlName="contractual_coefficient">
                        </mat-form-field>

                        <!-- Contractor Name -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>ПОДРЯДЧИК:</mat-label>
                          <input matInput formControlName="contractor_name">
                        </mat-form-field>

                        <!-- No Contract Contractor -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label> № ДОГОВОРА С ПОДРЯДЧИКОМ:</mat-label>
                          <input matInput formControlName="no_contract_contractor">
                        </mat-form-field>
                      </mat-tab>


                      <mat-tab label="КОНТРОЛЬНЫЕ ТОЧКИ И ПРИМЕЧАНИЯ">
                        <!-- 
                        <mat-card-header>
                          <mat-card-title>КОНТРОЛЬНЫЕ ТОЧКИ И ПРИМЕЧАНИЯ</mat-card-title>
                        </mat-card-header> -->
                        <!-- Designer -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Проектировщик:</mat-label>
                          <input matInput formControlName="designer">
                        </mat-form-field>

                        <!-- Receipt Date Doc Designer -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Дата получения ПСД от проектировщика (подрядчика):</mat-label>
                          <input matInput [matDatepicker]="receiptDatePicker"
                            formControlName="receipt_date_doc_designer">
                          <mat-datepicker-toggle matSuffix [for]="receiptDatePicker"></mat-datepicker-toggle>
                          <mat-datepicker #receiptDatePicker></mat-datepicker>
                        </mat-form-field>

                        <!-- Date Submission Comments -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Дата отправки замечаний после рассмотрения:</mat-label>
                          <input matInput [matDatepicker]="dateSubmissionPicker"
                            formControlName="date_submission_comments">
                          <mat-datepicker-toggle matSuffix [for]="dateSubmissionPicker"></mat-datepicker-toggle>
                          <mat-datepicker #dateSubmissionPicker></mat-datepicker>
                        </mat-form-field>

                        <!-- No Letter -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>№ письма:</mat-label>
                          <input matInput formControlName="no_letter">
                        </mat-form-field>

                        <!-- Reason Change -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Причина изменения ПСД:</mat-label>
                          <input matInput formControlName="reason_change">
                        </mat-form-field>

                        <!-- No Date Letter -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>№, дата письма направления в работу Подрядчику:</mat-label>
                          <input matInput formControlName="no_date_letter">
                        </mat-form-field>


                      </mat-tab>
                    </mat-tab-group>

                    <div class="col-4">
                      <button (click)="createOrUpdateEstimate()" mat-stroked-button class="mat-btn-recolor">
                        <span class="align-text-center">
                          {{ editMode ? 'Сохранить' : 'Добавить' }}
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>