<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>
    <div class="col section content" *ngIf="DataPortfolioReportItem ; else loadingContent">

      <div class="col section content">
        <div class="tools">
          <div class="button-tools">
            <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
              (click)="theme.setWidthMin()">
              <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
              <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
            </button>
            <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
              <mat-icon>reply_all</mat-icon>
            </button>
            <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
              (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>

            <!-- <button mat-stroked-button (click)="add()" class="chevron" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#addWorkPackages" style="margin-bottom: 15px;  margin-right: 5px;"
              aria-controls="addWorkPackages">

              <span class="d-flex align-items-center">Добавить пакет работ
                <mat-icon>library_add</mat-icon>
              </span>
            </button> -->


          </div>
          <div class="col tools-wrapper">
            <span class="tools-title">Проект: {{dataPortfolioReportItemTable.data[0].name_wbs}} </span>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb tools-inner">
                <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/portfolio-report">Отчёт по
                    портфелю</a></li>
                <li class="breadcrumb-item actived d-flex" aria-current="page">
                  <div class="col">
                    {{dataPortfolioReportItemTable.data[0].name_wbs}}
                  </div>
                </li>
              </ol>
            </nav>
          </div>

          <table mat-table [dataSource]="dataPortfolioReportItemTable">
            <!-- Name Column -->
            <ng-container matColumnDef="code_wbs">
              <th mat-header-cell *matHeaderCellDef>Код проекта</th>
              <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
            </ng-container>

            <!-- Название проекта -->
            <ng-container matColumnDef="name_wbs">
              <th mat-header-cell *matHeaderCellDef>Название проекта</th>
              <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
            </ng-container>

            <!-- Code WBS Column -->
            <ng-container matColumnDef="project_type">
              <th mat-header-cell *matHeaderCellDef> Тип проекта</th>
              <td mat-cell *matCellDef="let element"> {{element.project_type}} </td>
            </ng-container>

            <!-- Updated Date Column -->
            <ng-container matColumnDef="head_of_project">
              <th mat-header-cell *matHeaderCellDef> Руководитель проекта</th>
              <td mat-cell *matCellDef="let element"> {{element.head_of_project}} </td>
            </ng-container>

            <!-- Updated Date Column -->
            <ng-container matColumnDef="company">
              <th mat-header-cell *matHeaderCellDef> Предприятие</th>
              <td mat-cell *matCellDef="let element"> {{element.company}} </td>
            </ng-container>

            <!-- Updated Date Column -->
            <ng-container matColumnDef="dates_deviations">
              <th mat-header-cell *matHeaderCellDef> Отклонение по срокам</th>
              <td mat-cell *matCellDef="let element"> {{element.dates_deviations}} </td>
            </ng-container>

            <!-- Updated Date Column -->
            <ng-container matColumnDef="budget_deviations">
              <th mat-header-cell *matHeaderCellDef> Отклонение по бюджету </th>
              <td mat-cell *matCellDef="let element"> {{element.budget_deviations|customNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Статус проекта </th>
              <td mat-cell *matCellDef="let element">
                {{element.status[0][0].status_title}}
              </td>
            </ng-container>

            <tr mat-header-row
              *matHeaderRowDef="['code_wbs', 'name_wbs', 'project_type', 'head_of_project', 'company', 'dates_deviations', 'budget_deviations','status']">
            </tr>
            <tr mat-row
              *matRowDef="let row; columns: ['code_wbs', 'name_wbs', 'project_type', 'head_of_project', 'company', 'dates_deviations', 'budget_deviations','status']">
            </tr>
          </table>

        </div>

        <div class="col" style="padding: 10px;overflow-x: hidden;">
          <div class="row">
            <div class="col">
              <mat-card class="example-card widget change-pass">
                <mat-card-content>

                  <mat-tab-group>

                    <!--Документация по проекту-->
                    <mat-tab class="mat-elevation-z8" label="Документация по проекту">
                      <table *ngIf="dataPortfolioReportDocument.data?.length > 0 ; else noData" mat-table
                        [dataSource]="dataPortfolioReportDocument">


                        <!-- dates_deviations -->
                        <ng-container matColumnDef="document">
                          <th mat-header-cell *matHeaderCellDef> Документ</th>
                          <td mat-cell *matCellDef="let element"> {{element.document}} </td>
                        </ng-container>

                        <!-- budget_deviations -->
                        <ng-container matColumnDef="files">
                          <th mat-header-cell *matHeaderCellDef> Файл </th>
                          <td mat-cell *matCellDef="let element">
                            <p><a href="{{element.files}}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{element.files}}</a></p>
                             <!-- <a mat-raised-button
                              routerLink=".">{{element.files}}</a> -->
                             </td>
                        </ng-container>

                        <!-- status -->
                        <ng-container matColumnDef="button">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-stroked-button>Загрузить</button>
                          </td>
                        </ng-container>

                        <!-- date_start_plan-->
                        <ng-container matColumnDef="status_title">
                          <th mat-header-cell *matHeaderCellDef> Статус </th>
                          <td mat-cell *matCellDef="let element"> {{element.status_title}} </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Действие </th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item type="button" (click)="editDocument(element)"
                                data-bs-toggle="offcanvas" data-bs-target="#addDocument"
                                aria-controls="addDocument">
                                <mat-icon>edit</mat-icon>
                                <span>Изменить</span>
                              </button>
                              <button mat-menu-item (click)="delDocument(element.id)">
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>


                            </mat-menu>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="[ 'document','files','button','status_title','action']">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['document','files','button','status_title','action']">
                        </tr>
                      </table>


                      <!-- (click)="add()" -->
                      <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#addDocument" aria-controls="addDocument" (click)="add()">
                        <span class="d-flex align-items-center">Добавить документ
                          <mat-icon><span class="material-symbols-outlined">
                              note_add
                            </span> </mat-icon>
                        </span>
                      </button>

                      <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                        aria-label="Select page of periodic elements" #PaginatorPlan>
                      </mat-paginator>
                    </mat-tab>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                  </mat-tab-group>
                </mat-card-content>

                <!-- Добавить типовой контрактный пакет -->
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                  id="addDocument" aria-labelledby="addScrollingLabel" style="width: 25%;">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="addDocument">{{ editMode ? 'Изменить' : 'Добавить' }}
                      документ </h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body ">
                    <form [formGroup]="FormAddEditDocument">
                      <div class="container row gx-3">


                        <!-- Name -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Документ:</mat-label>
                          <input matInput formControlName="document" required>
                        </mat-form-field>

                        <!-- Name -->
                        <mat-form-field appearance="outline" class="col-12">
                          <mat-label>Файл:</mat-label>
                          <input matInput formControlName="files" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                          <mat-label>Статус проекта:</mat-label>
                          <mat-select formControlName="status_id" required>
                            <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'title'"
                              [array]="SelectStatusList"
                              (filteredReturn)="filteredListSelectStatusListList=$event"></mat-select-filter>

                            <mat-option *ngFor="let directory of filteredListSelectStatusListList"
                              [value]="directory.id">
                              {{ directory.title }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="col-4">
                          <button (click)="AddEditDocument()" mat-stroked-button class="mat-btn-recolor"
                            [disabled]="!FormAddEditDocument.valid">
                            <span class="align-text-center">
                              {{ editMode ? 'Изменить' : 'Добавить' }}
                            </span>
                          </button>
                        </div>

                      </div>
                    </form>


                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <ng-template #loadingContent>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>
</div>