<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="theme.setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addEditStatus" (click)="add()" aria-controls="addDirectoryContractPackages">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Добавить статус
              <mat-icon>library_add</mat-icon>
            </span>
          </button>


        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Статусы проекта </span>
          <!-- <span class="tools-inner">Информационный раздел</span> -->
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>

                <table mat-table [dataSource]="StatusProjectTableInfo" mat-table>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- Дисциплина -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Статус </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>

                  <!-- Action Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" (click)="editStatusProject(element)"
                          data-bs-toggle="offcanvas" data-bs-target="#addEditStatus"
                          aria-controls="addEditStatus">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="delStatusProject(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button> 


                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['id','title',  'action']">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['id','title',  'action']">
                  </tr>
                </table>
              </mat-card-content>

              <!-- Добавить типовой контрактный пакет -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="addEditStatus" aria-labelledby="addScrollingLabel" style="width: 25%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="addEditStatus">{{ editMode ? 'Изменить' : 'Добавить' }}
                    статус проекта </h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormAddEditStatus">
                    <div class="container row gx-3">


                      <!-- Name -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Статус:</mat-label>
                        <input matInput formControlName="title" required>
                      </mat-form-field>



                      <div class="col-12">
                        <button (click)="AddEditStatus()" mat-stroked-button class="mat-btn-recolor"
                          [disabled]="!FormAddEditStatus.valid">
                          <span class="align-text-center">
                            {{ editMode ? 'Изменить' : 'Добавить' }}
                          </span>
                        </button>
                      </div>

                    </div>
                  </form>


                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>