<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Бюджет проекта</span>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/project-budget">Бюджет проекта</a></li>
              <li class="breadcrumb-item actived" aria-current="page">Перенесенный бюджет</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card class="example-card widget change-pass" style="margin-bottom: 15px;">
              <mat-card-content>
            <div class="card">
              <p-treeTable [value]="sales" [resizableColumns]="true" [autoLayout]="true"  [tableStyle]="{'min-width':'50rem;'}">
                <ng-template pTemplate="header">
                  <tr style="font-size: 14px;">
                    <th rowspan="3">Название СДР</th>
                    <th *ngFor="let head_year of unpack_name_year | keyvalue" [attr.colspan]="head_year.value">{{head_year.key}}</th>
                  </tr>
                  <tr *ngIf="unpack_name_month" style="font-size: 14px;">
                    <th *ngFor="let head_month of unpack_name_month | keyvalue" [attr.colspan]="head_month.value">{{head_month.key}}</th>
                  </tr>
                  <tr *ngIf="unpack_name_day" style="font-size: 14px;">
                    <th *ngFor="let head_day of unpack_name_day | keyvalue" [attr.colspan]="head_day.value">{{head_day.key}}</th>
                  </tr>
                  <tr style="font-size: 14px;">
                    <th *ngFor="let name_price of unpuck_name_price">{{name_price|customNumber}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-rowIndex="rowIndex">
                  <tr style="font-size: 14px;">
                    <td>
                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                      {{ rowData.code_wbs |customNumber}}.{{ rowData.name |customNumber}}
                    </td>
                    <td *ngFor="let column_data of rowData.column_list_data ">{{column_data|customNumber}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr style="font-size: 14px;">
                    <td colspan="3">ИТОГО</td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass" style="margin-bottom: 15px;">
              <mat-card-content>
                <h2>Общепроектный бюджет</h2>
            <div class="card">
              <p-treeTable [value]="general" [resizableColumns]="true" [autoLayout]="true"  [tableStyle]="{'min-width':'50rem;'}">
                <ng-template pTemplate="header">
                  <tr style="font-size: 14px;">
                    <th rowspan="3">Название СДР</th>
                    <th *ngFor="let head_year of unpack_name_year | keyvalue" [attr.colspan]="head_year.value">{{head_year.key}}</th>
                  </tr>
                  <tr *ngIf="unpack_name_month" style="font-size: 14px;">
                    <th *ngFor="let head_month of unpack_name_month | keyvalue" [attr.colspan]="head_month.value">{{head_month.key}}</th>
                  </tr>
                  <tr *ngIf="unpack_name_day" style="font-size: 14px;">
                    <th *ngFor="let head_day of unpack_name_day | keyvalue" [attr.colspan]="head_day.value">{{head_day.key}}</th>
                  </tr>
                  <tr style="font-size: 14px;">
                    <th *ngFor="let name_price of unpuck_name_price">{{name_price|customNumber}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-rowIndex="rowIndex">
                  <tr style="font-size: 14px;">
                    <td>
                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                      {{ rowData.code_wbs |customNumber}}.{{ rowData.name |customNumber}}
                    </td>
                    <td *ngFor="let column_data of rowData.column_list_data ">{{column_data|customNumber}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr style="font-size: 14px;">
                    <td colspan="3">ИТОГО</td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass" style="margin-bottom: 55px;">
              <mat-card-content>
                <h2>НМА бюджет</h2>
            <div class="card">
              <p-treeTable [value]="intangible" [resizableColumns]="true" [autoLayout]="true"  [tableStyle]="{'min-width':'50rem;'}">
                <ng-template pTemplate="header">
                  <tr style="font-size: 14px;">
                    <th rowspan="3">Название СДР</th>
                    <th *ngFor="let head_year of unpack_name_year | keyvalue" [attr.colspan]="head_year.value">{{head_year.key}}</th>
                  </tr>
                  <tr *ngIf="unpack_name_month" style="font-size: 14px;">
                    <th *ngFor="let head_month of unpack_name_month | keyvalue" [attr.colspan]="head_month.value">{{head_month.key}}</th>
                  </tr>
                  <tr *ngIf="unpack_name_day" style="font-size: 14px;">
                    <th *ngFor="let head_day of unpack_name_day | keyvalue" [attr.colspan]="head_day.value">{{head_day.key}}</th>
                  </tr>
                  <tr style="font-size: 14px;">
                    <th *ngFor="let name_price of unpuck_name_price">{{name_price|customNumber}}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-rowIndex="rowIndex">
                  <tr style="font-size: 14px;">
                    <td>
                      <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                      {{ rowData.code_wbs |customNumber}}.{{ rowData.name |customNumber}}
                    </td>
                    <td *ngFor="let column_data of rowData.column_list_data ">{{column_data|customNumber}}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr style="font-size: 14px;">
                    <td colspan="3">ИТОГО</td>
                  </tr>
                </ng-template>
              </p-treeTable>
            </div>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>