<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>
    <div class="col section content" *ngIf="!isLoading; else loadingContent">
      <div class="col section content">
        <div class="tools">
          <div class="button-tools">
            <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
              (click)="theme.setWidthMin()">
              <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
              <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
            </button>
            <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
              <mat-icon>reply_all</mat-icon>
            </button>
            <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
              (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
          </div>

          <div class="col tools-wrapper">
            <div class="col tools-wrapper">
              <span class="tools-title">Остаток по договорам. Контракты.</span>
              <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
            </div>
            
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb tools-inner">
                <li class="breadcrumb-item"><a class="text-link tools-inner"
                    routerLink="/balance-under-contracts">Остаток по договорам</a></li>
                <li class="breadcrumb-item actived d-flex" aria-current="page">
                  <div class="col">
                    {{DataBalanceUnderContractItem.data[0]['counterparty']}}
                  </div>
                </li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="col" style="padding: 10px;overflow-x: hidden;">
          <div class="row">
            <div class="col">
              <mat-card class="example-card widget change-pass">
                <mat-card-content>
                  <table *ngIf="DataBalanceUnderContractItem.data?.length > 0; else noData" mat-table
                    [dataSource]="DataBalanceUnderContractItem" mat-table>
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> № </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="code_contract">
                      <th mat-header-cell *matHeaderCellDef> № договора </th>
                      <td mat-cell *matCellDef="let element"> {{element.code_contract}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="counterparty">
                      <th mat-header-cell *matHeaderCellDef> Имя контрагента </th>
                      <td mat-cell *matCellDef="let element"> {{element.counterparty}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="subject">
                      <th mat-header-cell *matHeaderCellDef> Предмет договора </th>
                      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Стоимость договора </th>
                      <td mat-cell *matCellDef="let element"> {{element.amount | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="utilization_plan">
                      <th mat-header-cell *matHeaderCellDef> Освоение накопительно план </th>
                      <td mat-cell *matCellDef="let element"> {{element.utilization_plan | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="utilization_fact">
                      <th mat-header-cell *matHeaderCellDef> Освоение накопительно факт </th>
                      <td mat-cell *matCellDef="let element"> {{element.utilization_fact | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="utilization_deviation">
                      <th mat-header-cell *matHeaderCellDef> Отклонение по освоению </th>
                      <td mat-cell *matCellDef="let element"> {{element.utilization_deviation | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="utilization_remains">
                      <th mat-header-cell *matHeaderCellDef> Остаток по освоению </th>
                      <td mat-cell *matCellDef="let element"> {{element.utilization_remains | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="financing_plan">
                      <th mat-header-cell *matHeaderCellDef> Финансирование накопительно план </th>
                      <td mat-cell *matCellDef="let element"> {{element.financing_plan | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="financing_fact">
                      <th mat-header-cell *matHeaderCellDef> Финансирование накопительно факт </th>
                      <td mat-cell *matCellDef="let element"> {{element.financing_fact | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="financing_deviation">
                      <th mat-header-cell *matHeaderCellDef> Отклонение по финансированию </th>
                      <td mat-cell *matCellDef="let element"> {{element.financing_deviation | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="financing_remains">
                      <th mat-header-cell *matHeaderCellDef> Остаток по финансированию </th>
                      <td mat-cell *matCellDef="let element"> {{element.financing_remains | customNumber}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="utilization_realization">
                      <th mat-header-cell *matHeaderCellDef> Выполнение договора по освоению, % </th>
                      <td mat-cell *matCellDef="let element"> {{element.utilization_realization}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="financing_realization">
                      <th mat-header-cell *matHeaderCellDef> Выполнение договора по финансированию, % </th>
                      <td mat-cell *matCellDef="let element"> {{element.financing_realization}} </td>
                    </ng-container>

                    <tr mat-header-row
                      *matHeaderRowDef="['id', 'code_contract', 'counterparty', 'subject', 'amount', 'utilization_plan', 'utilization_fact', 'utilization_deviation', 'utilization_remains', 'financing_plan', 'financing_fact', 'financing_deviation', 'financing_remains', 'utilization_realization', 'financing_realization']">
                    </tr>
                    <tr mat-row
                      *matRowDef="let row; columns: ['id', 'code_contract', 'counterparty', 'subject', 'amount', 'utilization_plan', 'utilization_fact', 'utilization_deviation', 'utilization_remains', 'financing_plan', 'financing_fact', 'financing_deviation', 'financing_remains', 'utilization_realization', 'financing_realization']">
                    </tr>
                  </table>

                  <ng-template #noData>
                    <mat-card *ngIf="!isLoading">
                      Данные отсутствуют
                    </mat-card>
                  </ng-template>
                </mat-card-content>
                <mat-card-footer>
                  <div class="border-card"></div>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
        </div>

      </div>
    </div>
    <ng-template #loadingContent>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-template>
  </div>
</div>