<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Сравнить" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(1);"
            style="margin-bottom: 15px;">
            <mat-icon>compare</mat-icon>
          </button>


          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#EditAddScrollingReserve" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="add()">
            <span class="d-flex align-items-center">Создать резерв бюджета
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#EditAddScrollingReserve" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="generate_reserv()">
            <span class="d-flex align-items-center">Cгенерировать резерв бюджета
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Управление резервами</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;margin-bottom: 50px;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <table mat-table [dataSource]="dataReserveManagementTable">

                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> №</th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="toggleAllRows(); updateArray()"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation(); getReserves(row)"
                        (change)="toggleRow(row); updateArray()" [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <!-- Название расчета резерва -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Название расчета резерва </th>
                    <td mat-cell *matCellDef="let element">{{ element?.title }}</td>
                  </ng-container>

                  <!-- Дата -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Дата создания</th>
                    <td mat-cell *matCellDef="let element">{{ element?.date }}</td>
                  </ng-container>

                  <!-- Цена резерва -->
                  <ng-container matColumnDef="reserve_price">
                    <th mat-header-cell *matHeaderCellDef> Резерв, тыс.руб </th>
                    <td mat-cell *matCellDef="let element">{{ element?.reserve_price |customNumber }}</td>
                  </ng-container>

                  <!-- Комментарии -->
                  <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef> Комментарии </th>
                    <td mat-cell *matCellDef="let element"><app-expandable-text
                        [text]="element?.comments"></app-expandable-text></td>
                  </ng-container>

                  <!-- Тип расчета -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Тип расчета </th>
                    <td mat-cell *matCellDef="let element">{{ element?.status }}</td>
                  </ng-container>

                  <!-- Действие -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element" class="edit">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu class="customize" #menu="matMenu">
                        <button mat-menu-item type="button" (click)="moreDetailsReserve(element)">
                          <mat-icon class="mat-menu-icon">sort</mat-icon>
                          <span>Подробнее</span>
                        </button>
                        <button mat-menu-item type="button" (click)="editReserve(element)" data-bs-toggle="offcanvas"
                          data-bs-target="#EditAddScrollingReserve">
                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item type="button" (click)="delReserve(element)">
                          <mat-icon class="mat-menu-icon">close</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsReserve"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsReserve;"></tr>
                </table>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="EditAddScrollingReserve" aria-labelledby="addScrollingReserveLabel" style="width: 40%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="EditAddScrollingReserve">
                  {{ isGeneratedMode ? 'Генерация резерва бюджета' : (editMode ? 'Изменить' : 'Добавить') + ' резерв' }}
                </h5>

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <form [formGroup]="FormAddEditReserve">
                  <div class="container row gx-3">

                    <!-- Title -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title" required>
                    </mat-form-field>



                    <!-- Reserve Price -->
                    <mat-form-field *ngIf="!isGeneratedMode" appearance="outline" class="col-12">
                      <mat-label>Резерв:</mat-label>
                      <input matInput type="number" formControlName="reserve_price">
                    </mat-form-field>

                    <!-- Comments -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарии:</mat-label>
                      <textarea matInput formControlName="comments"></textarea>
                    </mat-form-field>

                    <!-- Status -->
                    <!-- <mat-form-field>
                      <mat-label>Select an option</mat-label>
                      <mat-select formControlName="status" [value]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field> -->

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Статус:</mat-label>
                      <mat-select formControlName="status" [(value)]="setStatus" required>
                        <mat-option *ngFor="let s of statuses" [value]="s.id">
                          {{ s.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Бюджет:</mat-label>
                      <mat-select formControlName="register_budget_id" required>
                        <mat-option *ngFor="let budget of RegisterBudgetData" [value]="budget.id">
                          {{ budget.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>


                    <div class="col-4">
                      <!-- Кнопка для режима редактирования или добавления -->
                      <button *ngIf="!isGeneratedMode" (click)="createOrUpdateReserve()" mat-stroked-button
                        class="mat-btn-recolor">
                        <span class="align-text-center">
                          {{ editMode ? 'Сохранить' : 'Добавить' }}
                        </span>
                      </button>

                      <!-- Кнопка для режима генерации -->
                      <button *ngIf="isGeneratedMode" (click)="generateOrUpdateReserve()" mat-stroked-button
                        class="mat-btn-recolor">
                        <span class="align-text-center">
                          Сгенерировать
                        </span>
                      </button>
                    </div>

                  </div>
                </form>
              </div>
            </div>

            <!-- Сравнение -->
            <div class="col card-add-details">
              <div class="col compared" [ngClass]="{'show': show.showBlock[1]}">
                <div class="col text-end">
                  <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <h2>Сравнение</h2>
                <!-- <div *ngIf="!clickedRows.size">
            Выбранные строки будут занесены в журнал
          </div> -->
                <table mat-table [dataSource]="clickedRowsArray" style="width: 100%;">

                  <!-- Название Column -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Название расчета </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>


                  <!-- <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef> Версия </th>
              <td mat-cell *matCellDef="let element"> {{element.version}} </td>
            </ng-container>

            
            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef> Комментарии </th>
              <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
            </ng-container> -->

                  <!-- Применяемые макропоказатели Column -->
                  <ng-container matColumnDef="macro">
                    <th mat-header-cell *matHeaderCellDef> Резерв </th>
                    <td mat-cell *matCellDef="let element"> {{element.macro}} </td>
                  </ng-container>

                  <!-- Актуальная стоимость объекта Column -->
                  <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Актуальная стоимость объекта </th>
                    <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действия </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu2">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu2="matMenu">
                        <!-- <button mat-menu-item *ngIf="!element.editing" (click)="showMore(element)">
                    <mat-icon>sort</mat-icon>
                    <span>Подробнее</span>
                  </button> -->
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['title', 'macro', 'cost', 'action']">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['title',  'macro', 'cost', 'action'];">
                  </tr>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>