<div class="col">
  <div class="alert alert-ind alert-success" *ngIf="theme.access">
    {{ theme.access }}
  </div>
  <div class="alert alert-ind alert-danger" *ngIf="theme.error">
    {{ theme.error }}
  </div>
  <div class="alert alert-ind alert-info" *ngIf="theme.info">
    {{ theme.info }}
  </div>
</div>