<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling">
            <span class="d-flex align-items-center">Добавить карточку проекта
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
          <button mat-stroked-button class="chevron" matBadge="{{selectionKeyProjectValues.selected.length}}"
            [matBadgeHidden]="selectionKeyProjectValues.selected.length === 0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" style="margin-bottom: 15px; margin-right: 5px;"
            aria-controls="offcanvasScrolling">
            <span class="d-flex align-items-center">Сравнение карточек проекта
              <mat-icon>compare</mat-icon>
            </span>
          </button>



        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Параметры проекта</span>
          <span class="tools-inner">Реестр параметров проекта</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card class="example-card">

              <table mat-table [dataSource]="dataProjectsParamsTable" multiTemplateDataRows>
                <!-- ID
                <ng-container matColumnDef="serial_number">
                  <th mat-header-cell *matHeaderCellDef> №  </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{i+1}}
                </td>
                </ng-container> -->


                <!--  -->
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                      (click)="toggleExpand(element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElements.indexOf(element) === -1">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElements.indexOf(element) !== -1">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>


                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Название портфеля</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Expanded Content Column -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                      [@detailExpand]="expandedElements.indexOf(element) !== -1 ? 'expanded' : 'collapsed'">

                      <table mat-table [dataSource]="element.keyprojectvalues" class="mat-elevation-z8">

                        <ng-container matColumnDef="serial_number">
                          <th mat-header-cell *matHeaderCellDef> № </th>
                          <td mat-cell *matCellDef="let element; let i = index" style="width: 5%;">
                            {{i+1}}
                          </td>
                        </ng-container>
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <th mat-header-cell *matHeaderCellDef>

                          </th>
                          <td mat-cell *matCellDef="let row" style="width: 5%;">
                            <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? toggleSelection(row) : null"
                              [checked]="selectionKeyProjectValues.isSelected(row)" [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                          <th mat-header-cell *matHeaderCellDef style="width: 30%;">Версия параметра проекта</th>
                          <td mat-cell *matCellDef="let element">{{element.title}}</td>
                        </ng-container>

                        <ng-container matColumnDef="budget">
                          <th mat-header-cell *matHeaderCellDef>Бюджет проекта (млн.руб)</th>
                          <td mat-cell *matCellDef="let element">{{element.budget| customNumber}}</td>
                        </ng-container>

                        <ng-container matColumnDef="priority">
                          <th mat-header-cell *matHeaderCellDef>Приоритет</th>
                          <td mat-cell *matCellDef="let element">{{element.priority}}</td>
                        </ng-container>
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef>Категория</th>
                          <td mat-cell *matCellDef="let element">{{element.category}}</td>
                        </ng-container>
                        <!-- Другие колонки -->

                        <tr mat-header-row *matHeaderRowDef="nestedDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: nestedDisplayedColumns;"></tr>
                      </table>



                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="project_manager">
                  <th mat-header-cell *matHeaderCellDef>Руководитель проекта</th>
                  <td mat-cell *matCellDef="let element">{{element.project_manager}}</td>
                </ng-container>

                <ng-container matColumnDef="created">
                  <th mat-header-cell *matHeaderCellDef>Дата</th>
                  <td mat-cell *matCellDef="let element">{{element.created}}</td>
                </ng-container>

                <ng-container matColumnDef="activ">
                  <th mat-header-cell *matHeaderCellDef>Актив</th>
                  <td mat-cell *matCellDef="let element">{{element.activ}}</td>
                </ng-container>

                <ng-container matColumnDef="phase">
                  <th mat-header-cell *matHeaderCellDef>Текущая фаза проекта</th>
                  <td mat-cell *matCellDef="let element">{{element.phase}}</td>
                </ng-container>


                <!-- <ng-container matColumnDef="effective_plan">
                  <th mat-header-cell *matHeaderCellDef>Эффективный план</th>
                  <td mat-cell *matCellDef="let element">{{element.effective_plan}}</td>
                </ng-container> -->

                <ng-container matColumnDef="level">
                  <th mat-header-cell *matHeaderCellDef>Уровень принятия решения</th>
                  <td mat-cell *matCellDef="let element">{{element.level}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Действие </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menuPortfel">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuPortfel="matMenu">

                      <button mat-menu-item (click)="showProjDetails(element.id)" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#moreDetails" aria-controls="addScrolling">
                        <mat-icon>sort</mat-icon>
                        <span>Подробнее</span>
                      </button>

                      <button  (click)="editPortfolio(element)" mat-menu-item type="button" data-bs-toggle="offcanvas" data-bs-target="#editPortfolio"
                        aria-controls="addScrolling">
                        <mat-icon>edit</mat-icon>
                        <span>Изменить</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                  [class.example-expanded-row]="expandedElements.indexOf(element) !== -1">
                </tr>

                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

              </table>

              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>


            <!-- Изменить портфель  -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="editPortfolio" aria-labelledby="offcanvasScrollingLabel" style="width: 40%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="editPortfolioLabel">Изменить портфель</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="row">
                  <form [formGroup]="editPortfolioForm">
                    <div class="container row gx-3">

                      <!-- Название проекта -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Название портфеля </mat-label>
                        <input matInput formControlName="name" required>
                      </mat-form-field>

                      <!-- Актив -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Актив: </mat-label>
                        <input matInput formControlName="activ" required>
                      </mat-form-field>

                      <!-- Фаза -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Текущая фаза проекта:</mat-label>
                        <mat-select formControlName="phase" required>
                          <mat-option value="Фаза 1">Фаза 1</mat-option>
                          <mat-option value="Фаза 2">Фаза 2</mat-option>
                          <mat-option value="Фаза 3">Фаза 3</mat-option>
                          <mat-option value="Фаза 4">Фаза 4</mat-option>
                          <mat-option value="Фаза 5">Фаза 5</mat-option>
                        </mat-select>
                      </mat-form-field>
                      


                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Уровень принятия решений: </mat-label>
                        <mat-select formControlName="level" required>
                          <mat-option value="ТСО">ТСО</mat-option>
                          <mat-option value="ТС УГМК">ТС УГМК</mat-option>
                          <mat-option value="ИК УГМК">ИК УГМК</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <!-- Менеджер проекта -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Руководительпроекта: </mat-label>
                        <input matInput formControlName="project_manager" required>
                      </mat-form-field>

                      <!-- Эффективный план -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Ожидаемая эффективность (тыс.т. в месяц): </mat-label>
                        <input matInput formControlName="effective_plan" type="number" required>
                      </mat-form-field>

                      <!-- Дата создания -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Дата создания</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="created" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <!-- Кнопка Сохранить -->
                      <div class="col-4">
                        <button (click)="updatePortfolioProject()" mat-stroked-button aria-label="Save">
                          <span class="align-text-center">
                            Сохранить
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>



            <!-- Подробнее  -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="moreDetails" aria-labelledby="offcanvasScrollingLabel" style="width: 50%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="moreDetailsLabel">Подробнее ({{NameProj}})</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <div class="row">
                  <div class="col-3" *ngFor="let detail of selectedProjectDetails">
                    <app-card-params-options [details]="detail" (deleteEvent)="deleteProj($event)"
                      (saveEvent)="updateProj($event)"></app-card-params-options>
                    <br>
                  </div>
                </div>
              </div>
            </div>

            <!-- Сравнение  -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 100%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Сравнение карточек проекта</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <table mat-table [dataSource]="tableSelectionKeyProjectValues" matSort class="mat-elevation-z8">
                  <!-- Title Column -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Карточка проекта</th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                  </ng-container>

                  <!-- Budget Column -->
                  <ng-container matColumnDef="budget">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Бюджет проекта (млн.руб)</th>
                    <td mat-cell *matCellDef="let element">{{element.budget| customNumber}}</td>
                  </ng-container>

                  <!-- IRR Column -->
                  <ng-container matColumnDef="IRR">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>IRR проекта (%)</th>
                    <td mat-cell *matCellDef="let element">{{element.IRR}}</td>
                  </ng-container>

                  <!-- WACC Column -->
                  <ng-container matColumnDef="WACC">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>WACC</th>
                    <td mat-cell *matCellDef="let element">{{element.WACC|customNumber}}</td>
                  </ng-container>

                  <!-- NPV Column -->
                  <ng-container matColumnDef="NPV">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NPV пароекта(млн.руб)</th>
                    <td mat-cell *matCellDef="let element">{{element.NPV| customNumber}}</td>
                  </ng-container>

                  <!-- Priority Column -->
                  <ng-container matColumnDef="priority">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
                    <td mat-cell *matCellDef="let element">{{element.priority}}</td>
                  </ng-container>

                  <!-- Category Column -->
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория проекта</th>
                    <td mat-cell *matCellDef="let element">{{element.category}}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>

            <!-- Добавление -->
            <div class="offcanvas offcanvas-end" #addScrolling1 data-bs-scroll="true" data-bs-backdrop="false"
              tabindex="-1" id="addScrolling" aria-labelledby="addScrollingLabel" style="width: 40%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="addScrolling">Добавить</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
                <form [formGroup]="projectValueCreate">
                  <div class="container row gx-3">
                    <mat-form-field appearance="outline" class="col-md-6 ">
                      <mat-label>Проект:</mat-label>
                      <mat-select formControlName="project" required>
                        <mat-option *ngFor="let option of ProjectList" [value]="option.id">
                          {{ option.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="col-md-6">
                      <mat-label>Версия параметров проекта:</mat-label>
                      <input matInput formControlName="title" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>Бюджет проекта(млн.руб):</mat-label>
                      <input type="number" matInput formControlName="budget" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к бюджету проекта:</mat-label>
                      <textarea matInput formControlName="comment_budget"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>IRR %:</mat-label>
                      <input type="number" matInput formControlName="IRR" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к IRR % проекта:</mat-label>
                      <textarea matInput formControlName="comment_IRR"></textarea>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="col-6">
                      <mat-label>WACC:</mat-label>
                      <input matInput formControlName="WACC" required>
                    </mat-form-field> -->

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>Веха проекта:</mat-label>
                      <input matInput [matDatepicker]="picker3" formControlName="effective_plan_date" required>
                      <!-- <mat-hint>{{getDateFormatString()}}</mat-hint> -->
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к вехам проекта:</mat-label>
                      <textarea matInput formControlName="comment_effective_plan_date"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>Объём добычи:</mat-label>
                      <input type="number" matInput formControlName="production_volume" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к объёму добычи:</mat-label>
                      <textarea matInput formControlName="comment_production_volume"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>NPV проекта (млн.руб):</mat-label>
                      <input type="number" matInput formControlName="NPV" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к NPV проекта:</mat-label>
                      <textarea matInput formControlName="comment_NPV"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>Приоритет проекта:</mat-label>
                      <input type="number" matInput formControlName="priority" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к приоритету проекта:</mat-label>
                      <textarea matInput formControlName="comment_priority"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                      <mat-label>Категория проекта:</mat-label>
                      <input matInput formControlName="category" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Комментарий к категории проекта:</mat-label>
                      <textarea matInput formControlName="comment_category"></textarea>
                    </mat-form-field>

                    <div class="col-5">
                      <button (click)="addKeyProjectList()" mat-stroked-button class="mat-btn-recolor">
                        <span class=" align-text-center">Сохранить</span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>