<div class="signup-page">
<div class="signup-screen"></div>
  <header class="header">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <div class="logo-wrapper">
          <img src="../../../../assets/img/logo.png" class="image" />
          <div class="title-logo">
            <span style="color: #eb8b2d;">UMMC</span>
            <span>УГМК</span>
          </div>
        </div>
        <span class="navbar-text">Уже есть учётная запись в УГМК?
          <button class="btn-in" routerLink="/" mat-raised-button>Авторизация</button>
        </span>
      </div>
    </nav>
  </header>
  <div class="col section">
    <div class="container">
        <div class="signup-wrapper">
          <div class="signup-form">
            <div class="col text-center">
              <h1 class="title">Давайте начнём!</h1>
            </div>
            <div class="signup-inner">
              <form  [formGroup]="form" (ngSubmit)="addUser()" style="display: flex;flex-direction: column;">
                <label for="" style="font-size: 12px;">Имя</label>
                <mat-form-field appearance="outline">
                  <mat-label>Иммануил </mat-label>
                  <input matInput  name="last_name" formControlName="last_name">
                </mat-form-field>
                <div *ngIf="form.get('last_name')?.touched && form.get('last_name')?.invalid"
                  class="alert alert-danger" [ngClass]="{'is-invalid': form.get('last_name')?.errors}">
                  <div *ngIf="form.get('last_name')?.errors?.['required']">
                    Это поле обязательно для заполнения.
                  </div>
                  <div *ngIf="form.get('last_name')?.hasError('pattern')">
                    Имя может содержать только буквы кирилицы
                  </div>
                </div>

                <label for="" style="font-size: 12px;">Фамилия</label>
                <mat-form-field appearance="outline">
                  <mat-label>Кант</mat-label>
                  <input matInput name="first_name" formControlName="first_name" trim>
                </mat-form-field>
                <div *ngIf="form.get('first_name')?.touched && form.get('first_name')?.invalid"
                  class="alert alert-danger" [ngClass]="{'is-invalid': form.get('first_name')?.errors}">
                  <div *ngIf="form.get('first_name')?.errors?.['required']">
                    Это поле обязательно для заполнения.
                  </div>
                  <div *ngIf="form.get('first_name')?.hasError('pattern')">
                    Фамилия может содержать только буквы кирилицы
                  </div>
                </div>

                <label for="" style="font-size: 12px;">Имя пользователя</label>
                <mat-form-field appearance="outline">
                  <mat-label>Elegant-Master</mat-label>
                  <input matInput name="username" formControlName="username"  required>
                </mat-form-field>
                <div *ngIf="form.get('username')?.touched && form.get('username')?.invalid" class="alert alert-danger" [ngClass]="{'is-invalid': form.get('username')?.errors}">
                  <div *ngIf="form.get('username')?.errors?.['required']">
                    Это поле обязательно для заполнения.
                  </div>
                  <div *ngIf="form.get('username')?.hasError('pattern')">
                    Имя пользователя может содержать только латинские буквы и цифры
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="errorMessage">
                  {{ errorMessage }}
                </div>

                <label for="" style="font-size: 12px;">Email</label>
                <mat-form-field appearance="outline">
                  <mat-label>Example@site.ru</mat-label>
                  <input matInput  name="email" formControlName="email" >
                </mat-form-field>

                <label for="" style="font-size: 12px;">Пароль</label>
                <mat-form-field appearance="outline">
                  <mat-label>Минимум 8 символов</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password" >
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
                  class="alert alert-danger" [ngClass]="{'is-invalid': form.get('password')?.errors}">
                  <div *ngIf="form.get('password')?.errors">
                    Пароль должен содержать не менее 8 символов
                  </div>
                </div>

                <button class="btn-in" type="submit" [disabled]="!form.valid" mat-raised-button>Зарегистрироваться</button><br>
                <div class="alert alert-success text-center" *ngIf="accessDenied">
                  Всё готово, можем <a class="access" routerLink="/login">авторизоваться!</a>
                </div>

              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
