<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matToolTip="Добавить актив" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Общепроектные затраты</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>
                <table mat-table [dataSource]="assets">

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>№ </th>
                    <td mat-cell *matCellDef="let i = index">
                      {{i}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="type_project">
                    <th mat-header-cell *matHeaderCellDef>Тип проекта СДР</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.type_project}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="type_general_project">
                    <th mat-header-cell *matHeaderCellDef>Тип общепроектной СДР</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.type_general_project}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="code_work_package">
                    <th mat-header-cell *matHeaderCellDef>Код пакета работ СДР</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.code_work_package}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Имя узла</th>
                    <td mat-cell *matCellDef="let element">
                      {{element.name}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Действия</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu class="customize" #actions_menu="matMenu">
                        <button mat-menu-item (click)="show.toggleShowBlock(2); showDetails(element.id)">
                          <mat-icon class="mat-menu-icon">subtitles</mat-icon>
                          Код пакета работ
                        </button>
                        <button mat-menu-item (click)="show.toggleShowBlock(1); setUpdatedFields(element);">
                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                          Редактировать
                        </button>
                        <button mat-menu-item (click)="removeAsset(element.id)">
                          <mat-icon class="mat-menu-icon">clear</mat-icon>
                          Удалить
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-card-content>
            </mat-card>

            <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <h2>Добавить актив</h2>

              <form [formGroup]="AddedAsset">
                <div class="row">
                  <div class="col">

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Имя узла:</mat-label>
                      <input matInput formControlName="name">
                      <mat-error *ngIf="getAddedFormControl('name').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Тип проекта СДР:</mat-label>
                        <input matInput formControlName="type_project">
                        <mat-error *ngIf="getAddedFormControl('type_project').errors?.['required']">
                          Обязательное поле
                        </mat-error>
                      </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Тип общепроектной СДР:</mat-label>
                      <input matInput formControlName="type_general_project">
                      <mat-error *ngIf="getAddedFormControl('type_general_project').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Код пакета работ СДР:</mat-label>
                      <input matInput formControlName="code_work_package">
                      <mat-error *ngIf="getAddedFormControl('code_work_package').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                    <div class="d-flex justify-content-end">
                      <button (click)="addAsset()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button class="mat-btn-recolor"
                      [disabled]="getAddedFormControl('name').invalid
                      || getAddedFormControl('type_project').invalid
                      || getAddedFormControl('type_general_project').invalid
                      || getAddedFormControl('code_work_package').invalid"
                      >
                        <span class="d-flex align-items-center">Добавить</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <h2>Обновить актив</h2>

              <form [formGroup]="UpdatedAsset">
                <div class="row">
                  <div class="col">

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Имя узла:</mat-label>
                      <input matInput formControlName="name">
                      <mat-error *ngIf="getUpdatedFormControl('name').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Тип проекта СДР:</mat-label>
                      <input matInput formControlName="type_project">
                      <mat-error *ngIf="getUpdatedFormControl('type_project').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Тип общепроектной СДР:</mat-label>
                      <input matInput formControlName="type_general_project">
                      <mat-error *ngIf="getUpdatedFormControl('type_general_project').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Код пакета работ СДР:</mat-label>
                      <input matInput formControlName="code_work_package">
                      <mat-error *ngIf="getUpdatedFormControl('code_work_package').errors?.['required']">
                        Обязательное поле
                      </mat-error>
                    </mat-form-field>

                    <div class="d-flex justify-content-end">
                      <button (click)="updateAsset()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button class="mat-btn-recolor"
                              [disabled]="getUpdatedFormControl('name').invalid
                      || getUpdatedFormControl('type_project').invalid
                      || getUpdatedFormControl('type_general_project').invalid
                      || getUpdatedFormControl('code_work_package').invalid"
                      >
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(2)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <h2>Код пакета работ</h2>

              
                <div class="col-12">
                  <p>{{ items.work_package_code }}</p>
                </div>
              </div>
        

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
