<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 0px 0px;" class="chevron" (click)="show.toggleShowBlock(0)">
            <span class="d-flex align-items-center">Оборудование
              <mat-icon>add_box</mat-icon>
            </span>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 0px 0px;" class="chevron" (click)="show.toggleShowBlock(1)">
            <span class="d-flex align-items-center">Пакет работ
              <mat-icon>add_box</mat-icon>
            </span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Объекты аналоги</span>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/analogy">Объекты аналоги</a>
              </li>
              <li class="breadcrumb-item actived" aria-current="page">Детали</li>
            </ol>
          </nav>

          <!-- <span class="tools-inner">Информационный раздел</span> -->
        </div>
      </div>
      
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="col">
          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>

<!-- Таблица Объекты аналоги -->
        
                <table mat-table [dataSource]="visibleData">
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Название</th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.title }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="smr_comp">
                    <th mat-header-cell *matHeaderCellDef>Предприятие СМР </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.smr_comp }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="constr_smr">
                    <th mat-header-cell *matHeaderCellDef> СМР стоимость </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.constr_smr }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_start">
                    <th mat-header-cell *matHeaderCellDef> Дата начала факт</th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.date_start }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_end">
                    <th mat-header-cell *matHeaderCellDef> Дата окончания факт</th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.date_end }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="pir_comp">
                    <th mat-header-cell *matHeaderCellDef>Предприятие ПИР </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.pir_comp }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="eng_pir">
                    <th mat-header-cell *matHeaderCellDef> ПИР стоимость </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.eng_pir }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="oto_cost">
                    <th mat-header-cell *matHeaderCellDef> Оборудование стоимость </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.oto_cost }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="etc_cost">
                    <th mat-header-cell *matHeaderCellDef> Прочее стоимость </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.etc_cost }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="tech_description">
                    <th mat-header-cell *matHeaderCellDef> Тех.характеристики </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.tech_description }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Стоимость </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.cost }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="project">
                    <th mat-header-cell *matHeaderCellDef> Проект реализации </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.project }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Категория </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.type }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="region">
                    <th mat-header-cell *matHeaderCellDef> Регион </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.region }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="currency">
                    <th mat-header-cell *matHeaderCellDef> Валюта </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="setID === element.id">{{ element.currency }}</span>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        

                <mat-tab-group>
                  <mat-tab label="Оборудование">
                    <app-equipment></app-equipment>
                  </mat-tab>
                  <mat-tab label="Пакет работ">
                    <app-package></app-package>
                  </mat-tab>
                </mat-tab-group>

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>

<!-- Оборудование -->
          <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
            <div class="col text-end" style="margin-bottom: 15px;">
              <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <h2>Добавить оборудование</h2>

            <form [formGroup]="equipmenForm">
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Название:</mat-label>
                    <input matInput formControlName="title">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Производитель:</mat-label>
                    <input matInput formControlName="manufacturer">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Технические характеристики:</mat-label>
                    <input matInput formControlName="tech_description">

                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Цена:</mat-label>
                    <input matInput formControlName="total_cost">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Описание:</mat-label>
                    <input matInput formControlName="description">

                  </mat-form-field>

                  <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Проект реализации:</mat-label>
                    <input matInput formControlName="analog_project">

                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Категория:</mat-label>
                    <mat-select formControlName="type" [(ngModel)]="analog.AnalogTypeEquipment">
                      <mat-option *ngFor="let option of analog.getAnalogTypeEquipment" [value]="option.id">{{option.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Валюта:</mat-label>
                    <mat-select formControlName="currency" [(ngModel)]="analog.CurrencyList">
                      <mat-option *ngFor="let option of analog.getCurrencyList" [value]="option.id">{{option.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-12">
                  <div class="d-flex justify-content-start">
                    <button (click)="addEquipments()" style="margin-bottom: 15px;" mat-stroked-button
                      class="mat-btn-recolor">
                      <span class="d-flex align-items-center">Добавить</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
  
          </div>

<!-- Пакет работ -->
          <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
            <div class="col text-end" style="margin-bottom: 15px;">
              <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <h2>Добавить пакет работ</h2>

            <form [formGroup]="workPackage">
              <div class="row">
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Подрядчик:</mat-label>
                      <input matInput formControlName="contractor">

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Стоимость итого:</mat-label>
                      <input matInput formControlName="total_cost">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Трудозатраты:</mat-label>
                      <input matInput formControlName="mh">

                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Описание:</mat-label>
                      <input matInput formControlName="comments">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Физ.объем:</mat-label>
                      <input matInput formControlName="volume">

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Единица измерения:</mat-label>
                      <mat-select formControlName="unit_of_measure">
                        <mat-option *ngFor="let option of analog.getUnitOfMeasure" [value]="option.id">{{option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>
      

                    <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                      <mat-label>Стоимость удельная:</mat-label>
                      <input matInput formControlName="pp_cost" >

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Категория:</mat-label>
                      <mat-select formControlName="type" [(ngModel)]="analog.AnalogType">
                        <mat-option *ngFor="let option of analog.getAnalogType" [value]="option.id">{{option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Регион:</mat-label>
                      <mat-select formControlName="region" [(ngModel)]="analog.RegionList">
                        <mat-option *ngFor="let option of analog.getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Валюта:</mat-label>
                      <mat-select formControlName="currency" [(ngModel)]="analog.CurrencyList">
                        <mat-option *ngFor="let option of analog.getCurrencyList" [value]="option.id">{{option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                  </div>
                  <div class="col-12">
                    <div class="d-flex justify-content-start">
                      <button (click)="addWorkPackage()" style="margin-bottom: 15px;" mat-stroked-button
                        class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Добавить</span>
                      </button>
                    </div>
                  </div>
                </div>
            </form>
          </div>

      </div>
    </div>
  </div>
</div>