table {
  width: 100%;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 5px;
  font-size: 12px;
}
.example-full-width {
  width: 100%;
}
.budget {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 53%;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  display: none;
}
.budget.show {
  display: block;
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
::ng-deep .custom-accordion>.mat-expansion-panel:hover {
  background-color: #fff !important
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #eb8b2d !important;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #eb8b2d !important;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}
/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:rgba(0,0,0,.25) !important;
}

/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
.more {
  color: #6c6c6c;
}
.block {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 53%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  transition: opacity 0.3s ease;
}
.block.show {
  display: block;
}
.card-add-details {
  position: absolute;
  width: 95%;
}
.editing {
  border-bottom: 1px solid #949494;
  width: 95%;
}
.disabled {
  border-bottom: 2px dotted #949494;
}