<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 16px 0px;" class="more" (click)="show.toggleShowBlock(0)">
            <span class="chevron d-flex align-items-center">Добавить платеж
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 16px 0px;" class="more" (click)="show.toggleShowBlock(1)">
            <span class="chevron d-flex align-items-center">Добавить акт
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 16px 0px;" class="more" (click)="show.toggleShowBlock(2)">
            <span class="chevron d-flex align-items-center">Добавить СДР
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
          <button class="chevron" style="margin: 0px 5px 16px 0px;" matTooltip="Изменить" mat-stroked-button *ngIf="!contractDetails?.editing" (click)="edit(contractDetails)">
            <span>Редактировать договор</span>
          </button>
          <button class="more" style="margin: 0px 5px 15px 0px;" matTooltip="Отменить" mat-stroked-button *ngIf="contractDetails?.editing" (click)="show.cancel(contractDetails)">
            <span>Отменить</span>
          </button>
          <button class="more" style="margin: 0px 5px 15px 0px;" matTooltip="Сохранить" mat-stroked-button *ngIf="contractDetails?.editing" (click)="saveReg(contractDetails)">
            <span>Сохранить</span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Номер договора: {{contractDetails?.legal_number}}</span>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/register-contracts">Реестр договоров</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col" *ngIf="contractDetails">
                  <!-- *ngFor="let item of dataSvzName" {{ item.name }} -->
                  Стороны: {{contractDetails.side}}
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="col">

          <div class="col">
            <mat-card class="example-card">
              <mat-card-content>

                <div class="d-flex flex-column" *ngIf="contractDetails">
                  <div class="row">
                    <div class="col">
                      <div class="sub-title">Стороны:
                        <span *ngIf="!contractDetails.editing">{{contractDetails.code_counterparty}} {{contractDetails.side}}</span>
                        <!-- <input matInput *ngIf="contractDetails.side" [(ngModel)]="contractDetails.side" class="editing"> -->
                      </div>
                      <mat-form-field *ngIf="contractDetails.editing" class="example-full-width" style="width: 100%;">
                        <mat-label>{{contractDetails.side}}:</mat-label>
                        <mat-select [(ngModel)]="ContractsSet">
                          <mat-option *ngFor="let rate of getContracts" [value]="rate.code">{{ rate.code }} &nbsp; {{ rate.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <!-- <div class="sub-title">Код контрагента:
                        <span *ngIf="!contractDetails.editing">{{contractDetails.code_counterparty}}</span>
                        <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.code_counterparty" class="disabled" disabled>
                      </div> -->
                      <div class="sub-title">Предмет договора:
                        <span *ngIf="!contractDetails.editing">{{contractDetails.subject}}</span>
                        <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.subject" class="editing">
                      </div>
                    </div>
                    <div class="col text-end">
                      <div class="sub-title">Юр. номер договора:
                        <span *ngIf="!contractDetails.editing">{{contractDetails.legal_number}}</span>
                        <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.legal_number" class="editing">
                      </div>
                      <div class="sub-title">Код договора:
                        <span *ngIf="!contractDetails.editing">{{contractDetails.code_contract}}</span>
                        <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.code_contract" class="editing">
                      </div>
                      <div class="sub-title">Статус:
                        <span *ngIf="!contractDetails.editing"> {{contractDetails.status}}</span>
                        <mat-form-field class="example-full-width" *ngIf="contractDetails.editing">
                          <mat-label>{{contractDetails.status}}</mat-label>
                          <mat-select [(ngModel)]="statusSet">
                            <mat-option *ngFor="let status of statusSets" [value]="status[1]">{{ status[1] }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="col text-start">


                    <!-- <h3>Детали договора</h3> -->
                    <div class="row">
                      <div class="col-4 text-start">
                        <mat-accordion>
                          <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <h3>Стоимость</h3>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row-set">
                              Ставка НДС:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.VAT_rate}}</span>
                              <mat-form-field class="example-full-width" *ngIf="contractDetails.editing">
                                <mat-label>{{contractDetails.VAT_rate}}</mat-label>
                                <mat-select [(ngModel)]="varRateSet">
                                  <mat-option *ngFor="let varrate of varRateSets" [value]="varrate[1]">{{ varrate[1] }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="row-set">Сумма с НДС:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.amount_with_VAT | number: '1.2-2'}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.amount_with_VAT" class="editing">
                            </div>
                            <div class="row-set">Сумма без НДС:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.amount_without_VAT | number: '1.2-2'}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.amount_without_VAT" class="disabled" disabled>
                            </div>
                            <!-- <div class="row-set">Схема оплаты:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.pay_schem}}</span>
                              <mat-form-field class="example-full-width" *ngIf="contractDetails.editing">
                                <mat-label>{{contractDetails.pay_schem}}</mat-label>
                                <mat-select [(ngModel)]="payScheme">
                                  <mat-option *ngFor="let option of paySchemes" [value]="option.id">{{option.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div> -->
                            <div class="row-set">Аванс, %:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.advance}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.advance" class="editing">
                            </div>
                            <div class="row-set">Валюта:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.currency}}</span>
                              <mat-form-field class="example-full-width" *ngIf="contractDetails.editing">
                                <mat-label>{{contractDetails.currency}}</mat-label>
                                <mat-select [(ngModel)]="CurrencySet">
                                  <mat-option *ngFor="let currency of CurrencySets" [value]="currency[1]">{{ currency[1] }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>

                      <div class="col-4">
                      <!-- <h3>Финансирование</h3> -->
                        <mat-accordion>
                          <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <h3>Фактические показатели</h3>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row-set">Лимит по договору:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.contract_limit}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.contract_limit" class="editing">
                            </div>
                            <div class="row-set">Факт освоения:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.fact_development}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.fact_development" class="editing">
                            </div>
                            <div class="row-set">% освоения:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.prcent_development}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.prcent_development" class="disabled" disabled>
                            </div>
                            <div class="row-set">Факт финансирования:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.fact_financing}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.fact_financing" class="editing">
                            </div>
                            <div class="row-set">% финансирования:
                              <span *ngIf="!contractDetails.editing">{{contractDetails.procent_financing}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.procent_financing" class="disabled" disabled>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>

                      <div class="col-4 text-start">
                        <mat-accordion>
                          <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                <h3>Даты</h3>
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row-set">
                              Дата начала:
                              <span *ngIf="!contractDetails.editing">{{ contractDetails.date_start | date: 'YYYY-MM-dd' }}</span>
                              <mat-form-field class="example-full-width" appearance="legacy" *ngIf="contractDetails.editing">
                                <mat-label *ngIf="!contractDetails.editing">{{contractDetails.date_start | date: 'YYYY-MM-DD'}}</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="contractDetails.date_start">
                                <mat-hint>{{getDateFormatString()}}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="row-set">Дата окончания:
                              <span *ngIf="!contractDetails.editing">{{ contractDetails.date_end | date: 'YYYY-MM-dd' }}</span>
                              <mat-form-field class="example-full-width" appearance="legacy" *ngIf="contractDetails.editing">
                                <mat-label *ngIf="!contractDetails.editing">{{contractDetails.date_end | date: 'YYYY-MM-DD'}}</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="contractDetails.date_end">
                                <mat-hint>{{getDateFormatString()}}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="row-set">Юр. номер(SAP):
                              <span *ngIf="!contractDetails.editing">{{contractDetails.legal_code_SAP}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.legal_code_SAP" class="editing">
                            </div>
                            <div class="row-set">Номер договора(SAP):
                              <span *ngIf="!contractDetails.editing">{{contractDetails.num_contr_SAP}}</span>
                              <input matInput *ngIf="contractDetails.editing" [(ngModel)]="contractDetails.num_contr_SAP" class="editing">
                            </div>
                            <div class="row-set">Дата договора(SAP):
                              <span *ngIf="!contractDetails.editing">{{ contractDetails.date_contr_SAP | date: 'YYYY-MM-dd' }}</span>
                              <mat-form-field class="example-full-width" appearance="legacy" *ngIf="contractDetails.editing">
                                <mat-label *ngIf="!contractDetails.editing">{{contractDetails.date_contr_SAP | date: 'YYYY-MM-DD'}}</mat-label>
                                <input matInput [matDatepicker]="picker6" [(ngModel)]="contractDetails.date_contr_SAP">
                                <mat-hint>{{getDateFormatString()}}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                <mat-datepicker #picker6></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                  </div>
                </div>
                              
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>

          <div class="col" style="margin-bottom: 55px;">
            <mat-card class="example-card">
              <mat-card-content>              
                  
                  <mat-tab-group>
                  <!-- Платежи -->
                    <mat-tab label="Платежи, факт">
                      <table class="table dark-table">
                        <thead style="font-size: 12px;">
                          <tr>
                            <th scope="col"> № </th>
                            <th scope="col">Статус</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Этап</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Сумма без учета НДС</th>
                            <th scope="col">Сумма НДС</th>
                            <th scope="col">Действие</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let facts of reg.fact; let i = index">
                            <th scope="row"><span>{{i+1}}</span></th>
                            <td><span>{{ facts.status }}</span></td>
                            <td><span>{{ facts.date_pay }}</span></td>
                            <td><span>{{ facts.stage }}</span></td>
                            <td><span>{{ facts.amount | number: '1.2-2'}}</span></td>
                            <td>{{ facts.amount_without_VAT | number: '1.2-2'}}</td>
                            <td>{{ facts.amount_VAT | number: '1.2-2' }}</td>
                            <td>
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu class="customize" #menu="matMenu">
                                <button mat-menu-item (click)="getWBSFacts(facts.id); show.toggleShowBlock(8)">
                                  <mat-icon class="mat-menu-icon">menu_open</mat-icon>
                                  <span>СДР</span>
                                </button>
                                <button mat-menu-item (click)="showFactMore(contractDetails.id, facts.id)">
                                  <mat-icon class="mat-menu-icon">sort</mat-icon>
                                  <span>Подробнее</span>
                                </button>
                                <button mat-menu-item (click)="deletePaymentFact(contractDetails.id, facts.id)">
                                  <mat-icon class="mat-menu-icon">close</mat-icon>
                                  <span>Удалить</span>
                                </button>
                              </mat-menu>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-tab>
                    <mat-tab label="Платежи, план">
                      <app-payments></app-payments>
                    </mat-tab>
                  <!-- Акты -->
                    <mat-tab label="Акты">
                      <app-acts></app-acts>
                    </mat-tab>
                  <!-- СДР -->
                    <mat-tab label="СДР">
                      <app-reg-wbs></app-reg-wbs>
                    </mat-tab>
                  </mat-tab-group>
                
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>

      </div>
    </div>

<!-- Выборка по дереву СДР -->
    <div class="col wbs" [ngClass]="{'show': show.showBlock[2]}">
      <div class="col d-flex flex-row-reverse justify-content-start">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(2)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="col-10">
          <h2>Код СДР</h2>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <mat-form-field appearance="outline" style="margin-top: -5px; margin-left: 5px;" class="example-full-width select-create">
              <input matInput [(ngModel)]="searchString" placeholder="Поиск по сдр:">
            </mat-form-field>

            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding [style.display]="filterLeafNode(node) ? 'none' : 'block'">
                <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node"
                              [checked]="checklistSelection.isSelected(node)"
                              (change)="todoLeafItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
              </mat-tree-node>
            
              <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding [style.display]="filterLeafNode(node) ? 'none' : 'block'">
                <button mat-icon-button disabled></button>
                <!-- <mat-form-field appearance="fill">
                  <mat-label>New item...</mat-label>
                  <input matInput #itemValue placeholder="Ex. Lettuce">
                </mat-form-field>
                <button mat-button (click)="saveNode(node, itemValue.value)">Save</button> -->
              </mat-tree-node>
            
              <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding [style.display]="filterLeafNode(node) ? 'none' : 'block'">
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.item">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-checkbox [checked]="descendantsAllSelected(node)"
                              [indeterminate]="descendantsPartiallySelected(node)"
                              (change)="todoItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
                <!-- <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button> -->
              </mat-tree-node>
            </mat-tree>
          </div>
          <div class="col" style="border-left: 1px solid #e2e2e2;">
            <div class="col-12">
              <button class="btn-table mat-btn-recolor" style="padding-top: 6px; padding-bottom: 6px;" mat-stroked-button (click)="submitSDR(getId)">Сохранить</button>
            </div>
            <div class="col">
              <h3>Выбранные элементы:</h3>
            </div>
            <div *ngIf="getSelectedNodes().length > 0">
              <!-- <h3>Выбранные элементы:</h3> -->
              <ul>
                <li *ngFor="let node of getSelectedNodes()">
                  {{ node.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>

      
    </div>

<!-- Платежи -->
    <div class="col create-cost" [ngClass]="{'show': show.showBlock[0]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
          <mat-icon>close</mat-icon>
        </button>

        <mat-tab-group animationDuration="0ms" #tabs>
          <mat-tab label="Плановый">
            <h2 class="text-start">Платежи</h2>
            
            <form [formGroup]="paymentForm" (ngSubmit)="contractDetails && addPayment(contractDetails.id)">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Тип платежа:</mat-label>
                <mat-select formControlName="type_pay">
                  <mat-option *ngFor="let typepay of typePays" [value]="typepay[1]">{{ typepay[0]}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата платежа:</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date_pay">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Этап:</mat-label>
                <input matInput formControlName="stage">
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Статья бюджета:</mat-label>
                <input matInput formControlName="budget_item">
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Сумма с НДС:</mat-label>
                <input matInput formControlName="amount">
              </mat-form-field>
              <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button type="submit">
                <span class="d-flex align-items-center">Добавить</span>
              </button>
            </form>
          
          </mat-tab>

          <mat-tab label="Фактический">
            <h2 class="text-start">Платежи</h2>
            <form [formGroup]="dynamicForm">

              <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Данные о платеже</h5>

                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Дата платежа:</mat-label>
                          <input matInput [matDatepicker]="picker0" formControlName="date_pay">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                          <mat-datepicker #picker0></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Этап:</mat-label>
                          <input matInput formControlName="stage">
                        </mat-form-field>
                      </div>
                    </div>
                </div>
              </div>

              <!-- Dynamic Group 1 -->
              <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Счёта-фактуры</h5>
                  <div class="table-responsive">
                    <table class="table ">
                      <thead style="font-size: 12px;">
                        <tr>
                          <th scope="col">№ Документа</th>
                          <th scope="col">Дата документа</th>
                          <th scope="col">Сумма с НДС</th>
                          <th scope="col">Порядок расчётов согласно условиям договора</th>
                          <th scope="col">Действие</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="by_invoices">
                        <tr *ngFor="let group of regFormsInstance.by_invoices?.controls; let i = index"
                          [formGroupName]="i">
                          <td>
                            <textarea matInput class="editing" rows="2"
                              formControlName="num_document"></textarea>
                          </td>
                          <td>

                            <mat-form-field appearance="legacy">
                              <input matInput [matDatepicker]="data1" formControlName="date_document">

                              <mat-datepicker-toggle matSuffix [for]="data1"></mat-datepicker-toggle>
                              <mat-datepicker #data1></mat-datepicker>
                            </mat-form-field>
                          </td>
                          <td>
                            <textarea matInput class="editing" rows="2"
                              formControlName="amount"></textarea>

                          </td>
                          <td>
                            <textarea matInput class="editing" rows="2"
                              formControlName="pay_procedure"></textarea>
                          </td>
                          <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="removeGroup1(i)">
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="button-add-row" mat-button (click)="addGroup1()">+ Добавить счёт-фактуру</button>
                  </div>
                </div>
              </div>

              <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Счета на предоплату</h5>
                  <div class="table-responsive">
                    <table class="table ">
                      <thead style="font-size: 12px;">
                        <tr>
                          <th scope="col">№ Документа</th>
                          <th scope="col">Дата документа</th>
                          <th scope="col">Сумма с НДС</th>
                          <th scope="col">Порядок расчётов, поставки (выполнения работ) согласно условиям договора</th>
                          <th scope="col">Действие</th>
                        </tr>
                      </thead>
                      <tbody formArrayName="by_prepay_invoices">

                        <tr *ngFor="let group of regFormsInstance.by_prepay_invoices?.controls; let i = index"
                          [formGroupName]="i">
                          <td>
                            <textarea matInput class="editing" rows="2"
                              formControlName="num_document"></textarea>
                          </td>
                          <td>

                            <mat-form-field appearance="legacy">
                              <input matInput [matDatepicker]="picker" formControlName="date_document">

                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </td>
                          <td>
                            <textarea matInput class="editing" rows="2"
                              formControlName="amount"></textarea>

                          </td>
                          <td>
                            <textarea matInput class="editing" rows="2"
                              formControlName="pay_procedure"></textarea>
                          </td>
                          <td>
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item (click)="removeGroup2(i)">
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>
                            </mat-menu>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button class="button-add-row" mat-button (click)="addGroup2()">+ Добавить счёт на предоплату </button>
                  </div>
                </div>
              </div>

              <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                  <h5 class="card-title">Группа учета</h5>

                  <div class="row"> <!-- Создаем новую строку -->

                    <!-- Левая колонка -->
                    <div class="col-6">
                      <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                        <mat-label>Группа учета:</mat-label>
                        <mat-select formControlName="accounting_groups" [(ngModel)]="selectedAccounting">
                          <mat-option *ngFor="let rate of getAccounting" [value]="rate">{{ rate }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                    <!-- Правая колонка -->
                    <div class="col-6">
                      <div class="table-responsive">
                        <table class="table">
                          <thead style="font-size: 12px;">
                            <tr>
                              <th scope="col">Пункты</th>
                              <th scope="col">Действия</th>
                            </tr>
                          </thead>
                          <tbody formArrayName="planitems">
                            <tr *ngFor="let group of regFormsInstance.planitems?.controls; let i = index"
                              [formGroupName]="i">
                              <td>
                                <input mdbInput type="text" class="form-control"
                                  formControlName="plan_item" />
                              </td>
                              <td>
                                <button mat-icon-button (click)="removeGroup3(i)">
                                  <mat-icon>clear</mat-icon>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button class="button-add-row" mat-button (click)="addGroup3()">+ Добавить пункт плана</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <button class="btn-table mat-btn-recolor" (click)="addPaymentsFact(contractDetails.id)"
                mat-stroked-button>
                <span class="d-flex align-items-center">Добавить</span>
              </button>
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
        


    </div>

<!-- Акты -->
    <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
        <h2>Акт</h2>

        <form [formGroup]="actsForm" (ngSubmit)="contractDetails && addActs(contractDetails.id)">
          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
            <mat-label>Описание:</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
            <mat-label>Документ Факт:</mat-label>
            <input matInput formControlName="document_fact">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
            <mat-label>Дата платежа:</mat-label>
            <input matInput [matDatepicker]="datepicker2" formControlName="planned_date">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
            <mat-datepicker #datepicker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
            <mat-label>Этап:</mat-label>
            <input matInput formControlName="stage">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
            <mat-label>Статья бюджета:</mat-label>
            <input matInput formControlName="cost_item">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
            <mat-label>Сумма с НДС:</mat-label>
            <input matInput formControlName="amount">
          </mat-form-field>
          <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button
            type="submit">
            <span class="d-flex align-items-center">Добавить</span>
          </button>
        </form>

    </div>

    <div class="col create" [ngClass]="{'show': show.showBlock[8]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(8); toggleShowBlock = false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
        <h2>СДР: Платежи, факт</h2>
    
        <table class="table">
          <thead style="font-size: 12px;">
            <tr>
              <th scope="col">Код</th>
              <th scope="col">Название</th>
              <th scope="col">Сумма</th>
              <th scope="col">Действие</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wbs of WBSListFact ">
    
              <td>{{ wbs.code }}</td>
              <td>{{ wbs.name }}</td>
              <td>
                <span *ngIf="!wbs.editing">{{wbs.amount| number: '1.2-2' }}</span>
                <input matInput *ngIf="wbs.editing" [(ngModel)]="wbs.amount" class="editing">
              </td>
    
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menuPlanMore">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menuPlanMore="matMenu">
                  <button mat-menu-item *ngIf="!wbs.editing" (click)="editFact(wbs); show.toggleShowBlock(9)">
                    <mat-icon>edit</mat-icon>
                    <span>Изменить</span>
                  </button>
                  <button mat-menu-item (click)="delWBSFact(wbs.id)">
                    <mat-icon>clear</mat-icon>
                    <span>Удалить</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="mat-btn-recolor" mat-stroked-button (click)="toggleShowWbs()">Добавить СДР
          <mat-icon>add_box</mat-icon>
        </button>
    </div>

<!-- Изменить -->
<div class="col create" [ngClass]="{'show': show.showBlock[9]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(9)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Изменить: платеж, факт (СДР)</h2>

    <form [formGroup]="editWBSFact" style="width: 100%;">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Цена:</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>

      <button (click)="saveWBSFactAmount(facts,amount)" class="mat-btn-recolor" mat-stroked-button>Сохранить</button>
    </form>

  </div>

<!-- Добавить -->
    <div class="col wbs" [ngClass]="{'show': toggleShowBlock}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit" mat-stroked-button (click)="closedWbs()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
        <h2>Добавить СДР</h2>

        <!-- Меню с чекбоксами -->
    
        <div class="checkbox-list">
          <div class="col list" *ngFor="let item of WBSList">
            <mat-checkbox
              [(ngModel)]="item.selected"
              (click)="$event.stopPropagation()">
              {{item.code}} - {{item.name}}
            </mat-checkbox>
          </div>
          <button (click)="addPaymentWBS('payments_fact')" class="mat-btn-recolor" mat-stroked-button>Сохранить</button>
        </div>
        
      </div>