.more {
  color: #6c6c6c;
}
.create-cost {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: var(--theme-modal-background);
  color: var(--theme-modal-color);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 2;
}
.create-cost.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: start;
  width: 36vw;
  padding: 25px;
}
.wbs {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 70vw;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: -8px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
  display: none;
  z-index: 2;
}
.wbs.show {
  display: block;
  transform: translateX(0px);
}
.list {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.example-full-width {
  width: 100%;
}
.smoll-create {
  width: 25%;
}
.example-full-width {
  width: 100%;
}
.editing {
  border-bottom: 1px solid #949494;
  width: 100%;
}
.disabled {
  border-bottom: 2px dotted #949494;
  height: 30px;
}
/* disable mat-ripple */
::ng-deep div.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-after.mat-elevation-z4,
::ng-deep div.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-tab-header-pagination-disabled {
  display: none;
}
::ng-deep div.col.create-cost.show > div > mat-tab-group > .mat-tab-header,
::ng-deep div.col.create-cost.show.smoll-create > div > mat-tab-group > .mat-tab-header {
  top: -40px;
}
::ng-deep .mat-stroked-button {
  border: var(--theme-nav-border) !important;
}
/* input color class */
::ng-deep input.mat-input-element {
  color: #484a4c;
}
/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #eb8b2d !important;
}
/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #eb8b2d !important;
}

/* To change mat form field border color */
/* :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:rgba(0,0,0,.25) !important;
} */
/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}