<table class="table dark-table">
  <thead style="font-size: 12px;">
    <tr>
      <th scope="col"> № </th>
      <th scope="col">Тип платежа</th>
      <th scope="col">Дата</th>
      <th scope="col">Этап</th>
      <th scope="col">Статья бюджета</th>
      <th scope="col">Сумма</th>
      <th scope="col">Сумма без учета НДС</th>
      <th scope="col">Сумма НДС</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of reg.payments; let i = index">
      <th scope="row"><span>{{i+1}}</span></th>
      <td>{{ payment.type_pay }}</td>
      <td>{{ payment.date_pay | date: 'YYYY-MM-dd'}}</td>
      <td>{{ payment.stage }}</td>
      <td>{{ payment.budget_item }}</td>
      <td>{{ payment.amount | number: '1.2-2'}}</td>
      <td>{{ payment.amount_without_VAT | number: '1.2-2'}}</td>
      <td>{{ payment.amount_VAT | number: '1.2-2'}}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu class="customize" #menu="matMenu">
          <button mat-menu-item (click)="getWBSPlan(payment.id); show.toggleShowBlock(3)">
            <mat-icon class="mat-menu-icon">menu_open</mat-icon>
            <span>СДР</span>
          </button>
          <button mat-menu-item (click)="editPayments(payment); show.toggleShowBlock(5)">
            <mat-icon class="mat-menu-icon">edit</mat-icon>
            <span>Изменить</span>
          </button>
          <button mat-menu-item (click)="deletePayment(getId, payment.id)">
            <mat-icon class="mat-menu-icon">clear</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </td>
    </tr>

  </tbody>
</table>

<!-- СДР: платежи,план -->
<div class="col create smoll-create" [ngClass]="{'show': show.showBlock[3]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(3); toggleShowBlock = false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>СДР: платежи,план</h2>

    <table class="table dark-table">
      <thead style="font-size: 12px;">
        <tr>
          <th scope="col">Код</th>
          <th scope="col">Название</th>
          <th scope="col">Сумма</th>
          <th scope="col">Действие</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wbs of WBSListPlan ">

          <td>{{ wbs.code }}</td>
          <td>{{ wbs.name }}</td>
          <td>
            <span>{{wbs.amount| number: '1.2-2' }}</span>
            <!-- <input matInput *ngIf="wbs.editing" [(ngModel)]="wbs.amount" class="editing"> -->
          </td>

          <td>
            <button mat-icon-button [matMenuTriggerFor]="menuPlanMore">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="customize" #menuPlanMore="matMenu">
              <!-- <button mat-menu-item *ngIf="wbs.editing"
                (click)="saveWBSPlanAmount(wbs.id , wbs)">
                <mat-icon>done</mat-icon>
                <span>Сохранить</span>
              </button> -->
              <button mat-menu-item (click)="editPlan(wbs); show.toggleShowBlock(4)">
                <mat-icon class="mat-menu-icon">edit</mat-icon>
                <span>Изменить</span>
              </button>
              <button mat-menu-item (click)="delWBSPlan(wbs.id)">
                <mat-icon class="mat-menu-icon">clear</mat-icon>
                <span>Удалить</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="mat-btn-recolor" mat-stroked-button (click)="toggleShowWbs()">Добавить СДР
      <mat-icon>add_box</mat-icon>
    </button>
</div>

<!-- Изменить -->
<div class="col create" [ngClass]="{'show': show.showBlock[4]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(4)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Изменить: платеж, план (СДР)</h2>

    <form [formGroup]="editWBSPlan" style="width: 100%;">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Цена:</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>

      <button (click)="saveWBSPlanAmount(plans,amount)" class="mat-btn-recolor" mat-stroked-button>Сохранить</button>
    </form>

  </div>

<!-- Изменить -->
<div class="col create" [ngClass]="{'show': show.showBlock[5]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(5)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
    <h2>Изменить: платежи, план</h2>

    <form [formGroup]="editPayment">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Тип платежа:</mat-label>
        <mat-select formControlName="type_pay">
          <mat-option *ngFor="let typepay of typePays" [value]="typepay[1]">{{ typepay[0]}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Дата платежа:</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_pay">
        <mat-hint>{{getDateFormatString()}}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Этап:</mat-label>
        <input matInput formControlName="stage">
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Статья бюджета:</mat-label>
        <input matInput formControlName="budget_item">
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Сумма с НДС:</mat-label>
        <input matInput formControlName="amount">
      </mat-form-field>
      <button class="btn-table mat-btn-recolor" matTooltip="Сохранить" mat-stroked-button type="submit" (click)="savePayments()">
        <span class="d-flex align-items-center">Сохранить</span>
      </button>
    </form>

  </div>
  
<!-- Добавить -->
  <div class="col wbs" [ngClass]="{'show': toggleShowBlock}">
    <div class="col text-end" style="margin-bottom: 15px;">
      <button class="mat-btn-exit" mat-stroked-button (click)="closedWbs()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
      <h2>Добавить СДР</h2>
  
      <!-- Меню с чекбоксами -->
   
      <div class="checkbox-list">
        <div class="col list" *ngFor="let item of WBSList">
          <mat-checkbox
            [(ngModel)]="item.selected"
            (click)="$event.stopPropagation()">
            {{item.code}} - {{item.name}}
          </mat-checkbox>
        </div>
        <button (click)="addPaymentWBS('payments_plan')" class="mat-btn-recolor" mat-stroked-button>Сохранить</button>
      </div>
      
    </div>

