<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content" *ngIf="DataSeparationSheetItem; else loadingContent">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
            (click)="theme.setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>



          <button *ngIf="DataSeparationSheetItem.status" (click)="add()" mat-stroked-button class="chevron" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#addSeparationSheetItem"
            style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="addSeparationSheetItem">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Добавить Материал/Оборудование
              <mat-icon>library_add</mat-icon>
            </span>
          </button>


          <!-- Данная кнопка появляется только когда !DataSeparationSheetItem.status=true -->
          <button *ngIf="!DataSeparationSheetItem.status" mat-stroked-button type="button"
            style="margin-bottom: 15px;  margin-right: 5px;" (click)="downloadExcelSeparationSheetItemFile()">
            <span class="d-flex align-items-center">Выгрузить в Excel
              <mat-icon>description</mat-icon>
            </span>
          </button>
          <!-- <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling">
            (click)="add()"
            <span class="d-flex align-items-center">Добавить разделительную ведомость
              <mat-icon>library_add</mat-icon>
            </span>
          </button> -->
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Разделительная ведомость: {{DataSeparationSheetItem.name}}</span>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/separation-sheet">Разделительная
                  ведомость</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col">
                  {{DataSeparationSheetItem.name}}

                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">

              <div *ngIf="dataSource.data?.length > 0; else noData" class=" example-container mat-elevation-z8">
                <div>
                  <mat-button-toggle-group multiple [value]="['id_position', 'action']"
                    #stickyColumns="matButtonToggleGroup" class="example-sticky-toggle-group">
                    <mat-button-toggle value="id_position"> Позиция </mat-button-toggle>
                    <mat-button-toggle value="action"> Действия </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>

                <mat-table [dataSource]="dataSource" *ngFor="let table of tables">

                  <ng-container matColumnDef="id_position" [sticky]="isSticky(stickyColumns, 'id_position')">
                    <th mat-header-cell *matHeaderCellDef> №  </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container> -->

                  <ng-container matColumnDef="request_number">
                    <mat-header-cell *matHeaderCellDef> № Заявки</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.request_number}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="request_date" [sticky]="isSticky(stickyColumns, 'request_date')">
                    <mat-header-cell *matHeaderCellDef> Дата заявки</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.request_date}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="item_id">
                    <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.item_id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="material_or_equipment">
                    <mat-header-cell *matHeaderCellDef> Материал/Оборудование</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.material_or_equipment}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="mtp_name">
                    <mat-header-cell *matHeaderCellDef> Наименование MTP</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mtp_name}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="code_wbs">
                    <mat-header-cell *matHeaderCellDef> Код СДР</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.code_wbs}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="spp_element_number">
                    <mat-header-cell *matHeaderCellDef> № СПП элемента</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.spp_element_number}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="object_name">
                    <mat-header-cell *matHeaderCellDef> Пакет</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.object_name}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="p_object">
                    <mat-header-cell *matHeaderCellDef> Система</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.p_object}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="technical_specifications">
                    <mat-header-cell *matHeaderCellDef> Технические характеристики</mat-header-cell>
                    <mat-cell *matCellDef="let element"><app-expandable-text
                        [text]="element?.technical_specifications"></app-expandable-text> </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="unit_of_measurement">
                    <mat-header-cell *matHeaderCellDef> Ед. изм.</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unit_of_measurement}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef> Количество</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="quantity_per_request">
                    <mat-header-cell *matHeaderCellDef> Кол-во по заявке</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.quantity_per_request}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="remaining_quantity">
                    <mat-header-cell *matHeaderCellDef> Остаток</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.remaining_quantity}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="survey_sheet_or_technical_assignment">
                    <mat-header-cell *matHeaderCellDef> Опросный лист/Тех. Задание</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.survey_sheet_or_technical_assignment}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="issue_date">
                    <mat-header-cell *matHeaderCellDef> Дата выдачи ТхС, ОЛ</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.issue_date}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Название</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="brand">
                    <mat-header-cell *matHeaderCellDef> Марка</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="delivery_split">
                    <mat-header-cell *matHeaderCellDef>Разделение поставки</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.delivery_split}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="delivery_plan">
                    <mat-header-cell *matHeaderCellDef> План поставки</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.delivery_plan}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="mto_responsible">
                    <mat-header-cell *matHeaderCellDef> Ответственный MTO</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mto_responsible}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="notes">
                    <mat-header-cell *matHeaderCellDef> Примечание</mat-header-cell>
                    <mat-cell *matCellDef="let element"><app-expandable-text
                        [text]="element?.notes"></app-expandable-text> </mat-cell>
                  </ng-container>



                  <ng-container matColumnDef="separation_sheet">
                    <mat-header-cell *matHeaderCellDef> separation_sheet</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.separation_sheet}} </mat-cell>
                  </ng-container>


                  <!-- Action Column -->
                  <ng-container matColumnDef="action" [stickyEnd]="isSticky(stickyColumns, 'action')">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <div *ngIf="DataSeparationSheetItem.status">
                          <button mat-menu-item type="button" (click)="editSeparationSheetItem(element)"
                            data-bs-toggle="offcanvas" data-bs-target="#addSeparationSheetItem"
                            aria-controls="addSeparationSheetItem">
                            <mat-icon>edit</mat-icon>
                            <span>Изменить</span>
                          </button>
                          <button mat-menu-item (click)="delSeparationSheetItem(element.id)">
                            <mat-icon>clear</mat-icon>
                            <span>Удалить</span>
                          </button>
                        </div>
                        <button mat-menu-item disabled *ngIf="!DataSeparationSheetItem.status">Действия
                          недопустимы</button>
                        <!-- <p>{{element.id}}</p> -->


                      </mat-menu>
                    </td>
                  </ng-container>


                  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
              </div>
              <ng-template #noData>
                <mat-card>
                  Данные отсутствуют
                </mat-card>
              </ng-template>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="addSeparationSheetItem" aria-labelledby="addSeparationSheetItem" style="width: 25%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="addSeparationSheetItem">{{ editMode ? 'Изменить' : 'Добавить' }}
                  Материал/Оборудование

                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>

              </div>
              <div class="offcanvas-body ">
                <!-- <p> Добавление материал оборудование принадлежащее разделительной ведомости </p> -->
                <form [formGroup]="FormAddSeparationSheetItem" (ngSubmit)="CreateEditSeparationSheetsItems()">
                  <div class="container row gx-3">
                    <!-- material_or_equipment -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Материал/Оборудование:</mat-label>
                      <mat-select formControlName="material_or_equipment">
                        <mat-option value="МТР">Материал</mat-option>
                        <mat-option value="О">Оборудование</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <!-- spp_element_number -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>№ СПП элемента:</mat-label>
                      <input matInput formControlName="spp_element_number" required>
                    </mat-form-field>


                    <!-- mtp_name-->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Наименование MTP:</mat-label>
                      <input matInput formControlName="mtp_name" required>
                    </mat-form-field>

                    <!-- technical_specifications-->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Технические характеристики:</mat-label>
                      <input matInput formControlName="technical_specifications" required>
                    </mat-form-field>

                    <!-- unit_of_measurement-->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Еденица измерения:</mat-label>
                      <input matInput formControlName="unit_of_measurement" required>
                    </mat-form-field>
                    <!-- quantity -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Количество:</mat-label>
                      <input matInput formControlName="quantity" required>
                    </mat-form-field>
                    <!-- quantity_per_request -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Количество по заявке:</mat-label>
                      <input matInput formControlName="quantity_per_request" required>
                    </mat-form-field>

                    <!-- survey_sheet_or_technical_assignment -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Опросный лист/Тех. Задание:</mat-label>
                      <input matInput formControlName="survey_sheet_or_technical_assignment" required>
                    </mat-form-field>

                    <!-- issue_date -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Дата выдачи ТхС, ОЛ:</mat-label>
                      <input matInput [matDatepicker]="picker_issue_date " formControlName="issue_date" required>
                      <mat-datepicker-toggle matSuffix [for]="picker_issue_date "></mat-datepicker-toggle>
                      <mat-datepicker #picker_issue_date></mat-datepicker>
                    </mat-form-field>


                    <!-- title -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Tитул:</mat-label>
                      <input matInput formControlName="title" required>
                    </mat-form-field>

                    <!-- brand -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Марка:</mat-label>
                      <input matInput formControlName="brand" required>
                    </mat-form-field>


                    <!-- delivery_split -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Разделение поставки:</mat-label>
                      <input matInput formControlName="delivery_split" required>
                    </mat-form-field>


                    <!-- delivery_plan -->

                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>План поставки:</mat-label>
                      <input matInput [matDatepicker]="picker_delivery_plan " formControlName="delivery_plan" required>
                      <mat-datepicker-toggle matSuffix [for]="picker_delivery_plan "></mat-datepicker-toggle>
                      <mat-datepicker #picker_delivery_plan></mat-datepicker>
                    </mat-form-field>

                    <!-- mto_responsible -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Ответственный MTO:</mat-label>
                      <input matInput formControlName="mto_responsible">
                    </mat-form-field>

                    <!-- notes -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Примечание:</mat-label>
                      <textarea matInput formControlName="notes"></textarea>
                    </mat-form-field>


                    <div class="col-12">
                      <button type="submit" class="btn btn-primary" mat-stroked-button class="mat-btn-recolor"
                        [disabled]="!FormAddSeparationSheetItem.valid">
                        <span class="align-text-center">
                          {{ editMode ? 'Изменить' : 'Добавить' }}
                        </span></button>
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingContent>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>
</div>