.example-container {
  overflow-y: scroll;
}
.example-container::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(28, 28, 28, 0.15);
  border-radius: 5px;
  height: 15px;
}

.example-container {
  height: 100wh;
  overflow: auto;
}

.mat-row, .mat-header-row, .mat-footer-row {
  align-items: normal
}

/* .mat-table-sticky { 
  background: #59abfd; 
  opacity: 1; 
} */

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 20px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 100px;
  box-sizing: border-box;
}

.mat-header-row, .mat-footer-row, .mat-row {
  min-width: 300%; /* 24 columns, 80px each */
}
/* 
.mat-table-sticky-border-elem-top {
  border-bottom: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-right {
  border-left: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-bottom {
  border-top: 2px solid midnightblue;
} */

.mat-table-sticky-border-elem-left {
  border-right: 2px solid 
}



.mat-column-technical_specifications,.mat-column-notes{
  min-width: 520px;
  /* color: rgb(255, 0, 0); */
}

.mat-column-survey_sheet_or_technical_assignment,
.mat-column-mto_responsible,.mat-column-mtp_name,.mat-column-object_name,.mat-column-p_object,
.mat-column-brand{
  min-width: 200px;
  /* color: rgb(255, 0, 0); */
}
.mat-column-action{
    display: flex;
    align-items: center;}