<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать ГПКС документ" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0)">
            <mat-icon>library_add</mat-icon>
          </button>
          <button matTooltip="Создать ГПФКС документ" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(1)">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">ГПКС / ГПФКС документы</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card>
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <mat-tab-group animationDuration="0ms">
                  <mat-tab label="ГПКС">
                    <table mat-table [dataSource]="dataGpcs" matSort (matSortChange)="announceSortChange($event)"
                      class="mat-elevation-z8">

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                          Наименование
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.editing">{{ element.name }}</span>
                          <input matInput *ngIf="element.editing" [(ngModel)]="editedElement.name" class="editing">
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                          Дата
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.editing">{{ element.date }}</span>
                          <input type="date" matInput *ngIf="element.editing" [(ngModel)]="editedElement.date" class="editing">
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="budget_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                          sortActionDescription="Sort by budget_name">
                          Название бюджета
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.editing">{{ element.budget_name }}</span>
                          <mat-select *ngIf="element.editing" [(ngModel)]="editedElement.budget_name" class="editing">
                            <mat-option *ngFor="let option of getBudget" [value]="option.id">{{ option.name}}</mat-option>
                          </mat-select>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by action">
                          Действия
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf="!element.editing"
                                    [routerLinkActive]="['link-active']"
                                    routerLink="/gpcs"
                                    [queryParams]="{id: element.id}">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                            <button mat-menu-item *ngIf="!element.editing" (click)="setEditing(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Редактировать</span>
                            </button>
                            <button mat-menu-item *ngIf="element.editing" (click)="editGpcsDoc(element)">
                              <mat-icon>done</mat-icon>
                              <span>Сохранить</span>
                            </button>
                            <button *ngIf="element.editing" mat-menu-item (click)="cancelEditing(element)">
                              <mat-icon>block</mat-icon>
                              <span>Отменить</span>
                            </button>
                            <button *ngIf="!element.editing" mat-menu-item (click)="deleteGpcsDoc(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </mat-tab>
                  <mat-tab label="ГПФКС">
                    <table mat-table [dataSource]="dataGpfcs" matSort (matSortChange)="announceSortChange($event)"
                      class="mat-elevation-z8">

                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                          Наименование
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.editing">{{ element.name }}</span>
                          <input matInput *ngIf="element.editing" [(ngModel)]="editedElement.name" class="editing">
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                          Дата
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.editing">{{ element.date }}</span>
                          <input matInput *ngIf="element.editing" [(ngModel)]="editedElement.date" class="editing">
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="budget_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                          sortActionDescription="Sort by budget_name">
                          Название бюджета
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span *ngIf="!element.editing">{{ element.budget_name }}</span>
                          <mat-select *ngIf="element.editing" [(ngModel)]="editedElement.budget_name" class="editing">
                            <mat-option *ngFor="let option of getBudget" [value]="option.id">{{ option.name}}</mat-option>
                          </mat-select>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by action">
                          Действия
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item *ngIf="!element.editing"
                                    [routerLinkActive]="['link-active']"
                                    routerLink="/gpfcs"
                                    [queryParams]="{id: element.id}">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                            <button mat-menu-item *ngIf="!element.editing" (click)="setEditing(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Редактировать</span>
                            </button>
                            <button mat-menu-item *ngIf="element.editing" (click)="editGpfcsDoc(element)">
                              <mat-icon>done</mat-icon>
                              <span>Сохранить</span>
                            </button>
                            <button *ngIf="element.editing" mat-menu-item (click)="cancelEditing(element)">
                              <mat-icon>block</mat-icon>
                              <span>Отменить</span>
                            </button>
                            <button *ngIf="!element.editing" mat-menu-item (click)="deleteGpfcsDoc(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </mat-tab>
                </mat-tab-group>

                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- Добавить ГПКС -->
      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[0]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Добавить ГПКС документ</h2>

          <div class="col">
            <form [formGroup]="gpcsForm" (ngSubmit)="addGpcsDoc()" class="row">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="this._gpcsName.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Бюджет:</mat-label>
                <mat-select formControlName="budget" [(ngModel)]="selectedRegion">
                  <mat-option *ngFor="let option of getBudget" [value]="option.id">{{ option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="this._gpcsBudget.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit"
                        [disabled]="_gpcsName.invalid || _gpcsBudget.invalid"
                >Создать</button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <!-- Добавить ГПФКС -->
      <div class="col">
        <div class="form-budget col create" [ngClass]="{'show': show.showBlock[1]}" style="z-index: 100;">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Добавить ГПФКС документ</h2>

          <div class="col">
            <form [formGroup]="gpfcsForm" (ngSubmit)="addGpfcsDoc()" class="row">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="this._gpfcsName.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Бюджет:</mat-label>
                <mat-select formControlName="budget" [(ngModel)]="selectedRegion">
                  <mat-option *ngFor="let option of getBudget" [value]="option.id">{{ option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="this._gpfcsBudget.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>

              <div>
                <button mat-stroked-button class="mat-btn-recolor" type="submit"
                        [disabled]="_gpfcsName.invalid || _gpfcsBudget.invalid"
                >Создать</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
