table {
  width: 100%;
}

::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }
.mat-elevation-z8 {
  /* Или любое другое значение, которое вам подходит */
  overflow: auto;
}



.example-container {
  height: 400px;
  overflow: auto;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row, .mat-footer-row, .mat-row {
  min-width: 1920px; /* 24 columns, 80px each */
}
