<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu" style="z-index: 999;"></app-menu>

    <div class="col section content">
      <div class="tools">

        <div class="button-tools" style="margin: 0;">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <mat-form-field appearance="outline" style="margin-top: -5px; margin-left: 5px;"
            class="example-full-width select-create">
            <mat-label>Поиск:</mat-label>
            <input matInput  (keyup)="applyFilter($event)">
          </mat-form-field>
          

          <!-- <mat-form-field appearance="outline" style="margin-top: -5px; margin-left: 5px;"
            class="example-full-width select-create">
            <mat-label>Диапазон</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input matStartDate formControlName="start" placeholder="от">
              <input matEndDate formControlName="end" placeholder="до">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Неверно указана дата</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Неверно указана дата</mat-error>
          </mat-form-field>
          <button *ngIf="showButton" mat-stroked-button (click)="getDate()"
            style="margin-top: -5px; margin-left: 5px;">Отобразить</button> -->


        </div>


        <div class="col tools-wrapper">
          <span class="tools-title">Освоение: Причины отклонений</span>
          <span class="tools-inner"> Исполнение плана освоения </span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
              <button mat-stroked-button class="col-2 " (click)="download_to_excel()">Выгрузить в Excel</button>
              <div *ngIf="!dataLoaded">
                Загрузка данных...
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
              <div *ngIf="dataLoaded" class="card">
                <div class=" table-responsive" style="max-height: 60vh;">
                  <table mat-table [dataSource]="dataSource" matSort>
                    <!-- п.п -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="code_wbs">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        СДР
                      </th>
                      <td mat-cell *matCellDef="let transaction">
                        {{transaction.code_wbs}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">
                        Объект
                      </th>
                      <td mat-cell *matCellDef="let transaction">
                        {{transaction.name}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> ВСЕГО </td>
                    </ng-container>

                    <!-- Plan Column -->
                    <ng-container matColumnDef="financing.plan">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        План
                      </th>
                      <td mat-cell *matCellDef="let transaction">
                        {{transaction?.financing?.plan| customNumber}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>{{getTotal('plan')| customNumber}}</td>
                    </ng-container>

                    <!-- Prediction Column -->
                    <ng-container matColumnDef="financing.prediction">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Прогноз
                      </th>
                      <td mat-cell *matCellDef="let transaction">
                        {{transaction?.financing?.prediction| customNumber}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>{{getTotal('prediction')| customNumber}}</td>
                    </ng-container>

                    <!-- Deviation Column -->
                    <ng-container matColumnDef="financing.deviation">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Отклонение
                      </th>
                      <td mat-cell *matCellDef="let transaction">
                        {{transaction?.financing?.deviation| customNumber}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>{{getTotal('deviation')| customNumber}}</td>
                    </ng-container>

                    <!-- Cause Column -->
                    <ng-container matColumnDef="financing.cause">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50%;">
                        Причины отклонения
                      </th>
                      <td mat-cell *matCellDef="let transaction">
                        {{transaction?.financing?.cause}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>



                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef style="width: 5%;"> Действие </th>
                      <td mat-cell *matCellDef="let transaction" class="edit">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">

                          <button *ngIf="!transaction.financing" mat-menu-item type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#Mastering" aria-controls="Mastering" (click)="addDetails(transaction)">
                            <mat-icon>sort</mat-icon>
                            <span>Добавить причину отклонения</span>
                          </button>


                          <button *ngIf="transaction.financing" mat-menu-item type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#Mastering" aria-controls="Mastering"
                            (click)="editDetails(transaction.financing)">
                            <mat-icon>sort</mat-icon>
                            <span>Изменить</span>
                          </button>


                          <button *ngIf="transaction.financing" mat-menu-item type="button"
                            (click)="delDetails(transaction.financing)">
                            <mat-icon>sort</mat-icon>
                            <span>Удалить причину отклонения</span>
                          </button>

                        </mat-menu>
                      </td>
                      <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <!-- Define the header and the row templates -->
                    <tr style="background: #b3b3b3;" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <tr style="background: #b3b3b3; font-weight: bold;" mat-footer-row
                      *matFooterRowDef="displayedColumns; sticky: true">
                    </tr>

                  </table>

                </div>
              </div>
              <br>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="Mastering" aria-labelledby="offcanvasScrollingLabel" style="width: 30%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
                  {{ isEditing ? 'Изменить причину отклонения' : 'Добавить причину отклонения' }}
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="container-lg overflow-hidden">
                <form [formGroup]="isEditing ? detailFormEdit : detailForm"
                  (ngSubmit)="isEditing ? submitFormEdit() : submitFormAdd()" class="row">


                  <!-- Plan Field -->
                  <div style="display: none;">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>financing_object</mat-label>
                      <input matInput type="number" formControlName="financing_object">
                    </mat-form-field>
                  </div>


                  <!-- Plan Field -->
                  <div class="mb-3 col-12">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>План</mat-label>
                      <input matInput type="number" formControlName="plan">
                    </mat-form-field>
                  </div>

                  <!-- Prediction Field -->
                  <div class="mb-3 col-12">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Прогноз</mat-label>
                      <input matInput type="number" formControlName="prediction">

                    </mat-form-field>
                  </div>
                  <!-- Cause Field -->
                  <div class="mb-3 col-12">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                      <mat-label>Причина</mat-label>
                      <textarea matInput type="text" formControlName="cause"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="(isEditing ? detailFormEdit : detailForm).invalid"
                      data-bs-dismiss="offcanvas">Сохранить</button>
                  </div>
                </form>
              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>