table {
  width: 100%;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  /* border: 2px solid black; */
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  /* height: 104px; */
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.active-button {
  background-color: #eb8b2d; /* Замените этот цвет на тот, который вам нужен */
  color: #fff;
}
.inactive-button {
  background-color: #fff; /* Замените этот цвет на тот, который вам нужен */
  color: #000;
}
::ng-deep .p-element.ng-trigger.ng-trigger-animation {
  width: 30vw;
  z-index: 1101;
  position: absolute;
  right: 0px;
  height: 100%;
  max-height: 100%;
  margin: 0;
}
::ng-deep.p-dialog .p-dialog-content {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
::ng-deep.p-dialog .p-dialog-header {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
/* .create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: translateX(1920px);
  z-index: 2;
}
.create.show {
  display: block;
  transform: translateX(0px);
} */
.budget {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 53%;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  display: none;
}
.budget.show {
  display: block;
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
::ng-deep .custom-accordion>.mat-expansion-panel:hover {
  background-color: #fff !important
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background, 
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #eb8b2d !important;
}
::ng-deep .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: #eb8b2d !important;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}
/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:rgba(0,0,0,.25) !important;
}

/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
.mat-expansion-panel:hover {
  background-color: #fff;
  color: #333;
}
.mat-header-cell,
.mat-cell {
  border-color: var(--theme-mat-cell-header-border-bg);
  color: var(--theme-mat-cell-header-color-bg);
}
.mat-cell {
  color: var(--theme-mat-cell-bg);
}
.mat-table {
  background: var(--theme-mat-table-bg);
}
.mat-paginator {
  display: block;
  background: var(--theme-mat-paginator-bg);
  color: var(--theme-mat-paginator-color-bg);
}
.more {
  color: #6c6c6c;
}
.block {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 53%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: none;
  transition: opacity 0.3s ease;
}
.block.show {
  display: block;
}
.card-add-details {
  position: absolute;
  width: 95%;
}
.editing {
  border-bottom: 1px solid #949494;
  width: 100%;
  height: 30px;
}
.disabled {
  border-bottom: 2px dotted #949494;
  height: 30px;
}
.thead {
  font-size: 12px;
  background: #f2f2f2;
  margin-left: 0px;
  margin-right: 0px;
}
.tbody {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #d5d5d5;
}
.changed-index {
  z-index: -1 !important;
  position: relative;
}
.index {
  z-index: 0; 
  position: relative;
}
.example-full-width {
  width: 100%;
}
::ng-deep.mat-tab-body-content {
  overflow-x: hidden !important;
}
.table-td {
  width: 250px;
}
.table-th {
  padding-left: 35px;
}