<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Отправить в бюджет" class="chevron bnt-help--tools" (click)="addToWbs()">
              <mat-icon>open_in_browser</mat-icon>
          </button>
          <button matTooltip="Добавить" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(1); addDirections()">
            <mat-icon>library_add</mat-icon>
        </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Оценочный бюджет</span>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/estimated">Оценочный бюджет</a></li>
              <li class="breadcrumb-item actived" aria-current="page">Детали: {{ title }}</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card>
              <mat-card-content>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Проект</th>
                      <th scope="col">Комментарий</th>
                      <th scope="col">Валюта</th>
                      <!-- <th scope="col">Дата создания</th> -->
                      <th scope="col">Дата начала прогноз</th>
                      <th scope="col">Дата окончания прогноз</th>
                      <th scope="col">СМР стоимость</th>
                      <th scope="col">ПИР стоимость</th>
                      <th scope="col">Оборудование стоимость</th>
                      <th scope="col">Прочее стоимость</th>
                      <th scope="col">Итого</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of dataSources.data">
                    <tr>
                      <td> {{ item.title }} </td>
                      <td> {{ item.comments }} </td>
                      <td> {{ item.currency }} </td>
                      <!-- <td> {{ item.date_created }} </td> -->
                      <td> {{ item.date_start_plan }} </td>
                      <td> {{ item.date_end_plan }} </td>
                      <td> {{ item.smr_cost }} </td>
                      <td> {{ item.pir_cost }} </td>
                      <td> {{ item.oto_cost }} </td>
                      <td> {{ item.etc_cost }} </td>
                      <td> {{ item.cost_total }} </td>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass">
              <mat-card-content style="z-index: 0;position: relative;">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
                  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef> {{ translationMap[column] }} </th>
                    <td mat-cell *matCellDef="let element" (click)="showInfo(element)"> {{element[column]}} </td>
                  </ng-container>
                  <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu class="customize" #actions_menu="matMenu">
                        <button mat-menu-item (click)="addObject(element)">
                          <mat-icon class="mat-menu-icon">add</mat-icon>
                          <span>Добавить объект</span>
                        </button>
                        <button mat-menu-item (click)="editDirection(element)">
                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                          <span>Редактировать</span>
                        </button>
                        <button mat-menu-item (click)="delDirection(element)">
                          <mat-icon class="mat-menu-icon">clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                      </button>
                    </td>
                  </ng-container>
         
                  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                      <div class="example-element-detail"
                           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="col">
                          <div class="row">
                            <!-- <div class="col-12">
                              <button mat-menu-item (click)="addObject(element)">Добавить объект</button>
                            </div> -->
                          </div>
                          <table class="table" style="width: 100%;">
                            <thead>
                              <tr>
                                  <th scope="col">Название</th>
                                  <th scope="col">Тип</th>
                                  <th scope="col">СМР предприятие</th>
                                  <th scope="col">Регион</th>

                                  <th scope="col">СМР стоимость</th>
                                  <th scope="col">ПИР стоимость</th>
                                  <th scope="col">Оборудование стоимость</th>
                                  <th scope="col">Прочее стоимость</th>
                                  <th scope="col">Итого</th>
                                  <th scope="col">Действия</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let item of element.children">
                                  <tr>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.smr_comp }}</td>
                                    <td>{{ item.region }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.smr_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.pir_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.oto_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.etc_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.total_cost }}</td>
                                    <td>
                                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                                        <mat-icon>
                                          more_vert
                                        </mat-icon>
                                      </button>
                                      <mat-menu class="customize" #actions_menu="matMenu">
                                        <button mat-menu-item (click)="showComplexity(item)">
                                          <mat-icon class="mat-menu-icon">add</mat-icon>
                                          <span>Применить коэффициент</span>
                                        </button>
                                        <button mat-menu-item (click)="showInfo(item); show.toggleShowBlock(1)">
                                          <mat-icon class="mat-menu-icon">sort</mat-icon>
                                          <span>Параметры расчета</span>
                                        </button>
                                        <button mat-menu-item  (click)="getDetail(item.id)">
                                          <mat-icon class="mat-menu-icon">sort</mat-icon>
                                          <span>Детали</span>
                                        </button>
                                        <button mat-menu-item (click)="editObject(item)">
                                          <mat-icon class="mat-menu-icon">edit</mat-icon>
                                          <span>Редактировать</span>
                                        </button>
                                        <button mat-menu-item (click)="delObject(item)">
                                          <mat-icon class="mat-menu-icon">clear</mat-icon>
                                          <span>Удалить</span>
                                        </button>
                                      </mat-menu>
                                    </td>
                                  </tr>
                            </tbody>
                          </table>
                          <div *ngFor="let item of element.children">
                            <mat-tab-group animationDuration="0ms" *ngIf="detail && item.id === selectedItemId">
                              <mat-tab label="Пакет работ"> 
                                <div class="row">
                                  <div class="col-11">
                                    <button mat-menu-item (click)="addPackage(item.id)">Добавить пакет работ</button>
                                  </div>
                                  <div class="col">
                                    <button mat-menu-item class="text-center" (click)="detail = false"><mat-icon>close</mat-icon></button>
                                  </div>
                                </div>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">Название</th>
                                      <th scope="col">Тип</th>
                                      <th scope="col">Регион</th>
                                      <th scope="col">СМР стоимость</th>
                                      <th scope="col">ПИР стоимость</th>
                                      <th scope="col">Оборудование стоимость</th>
                                      <th scope="col">Прочее стоимость</th>
                                      <th scope="col">Стоимость удельная</th>
                                      <th scope="col">Итого</th>
                                      <th scope="col">Действия</th>
                                    </tr>
                                  </thead>
                                  <tbody *ngFor="let packageItem of item?.children.estimated_budget_package">
                                    <tr>
                                      <td>{{ packageItem.title }}</td>
                                      <td>{{ packageItem.type }}</td>
                                      <td>{{ packageItem.region }}</td>
                                      <td>{{ packageItem.smr_cost }}</td>
                                      <td>{{ packageItem.pir_cost }}</td>
                                      <td>{{ packageItem.oto_cost }}</td>
                                      <td>{{ packageItem.etc_cost }}</td>
                                      <td>{{ packageItem.pp_cost }}</td>
                                      <td>{{ packageItem.total_cost }}</td>
                                      <td>
                                        <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                                          <mat-icon>
                                            more_vert
                                          </mat-icon>
                                        </button>
                                        <mat-menu class="customize" #actions_menu="matMenu">
                                          <button mat-menu-item (click)="editPackage(packageItem)">
                                            <mat-icon class="mat-menu-icon">edit</mat-icon>
                                            <span>Редактировать</span>
                                          </button>
                                          <button mat-menu-item (click)="delPackage(packageItem)">
                                            <mat-icon class="mat-menu-icon">clear</mat-icon>
                                            <span>Удалить</span>
                                          </button>
                                        </mat-menu>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </mat-tab>
                              <mat-tab label="Оборудование"> 
                                <div class="row">
                                  <div class="col-11">
                                    <button mat-menu-item (click)="addEquip(item.id)">Добавить оборудование</button>
                                  </div>
                                  <div class="col">
                                    <button mat-menu-item class="text-center" (click)="detail = false"><mat-icon>close</mat-icon></button>
                                  </div>
                                </div>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th scope="col">Название</th>
                                      <th scope="col">Тип</th>
                                      <th scope="col">Регион</th>
                                      <th scope="col">СМР стоимость</th>
                                      <th scope="col">ПИР стоимость</th>
                                      <th scope="col">Оборудование стоимость</th>
                                      <th scope="col">Прочее стоимость</th>
                                      <th scope="col">Стоимость удельная</th>
                                      <th scope="col">Итого</th>
                                      <th scope="col">Действия</th>
                                    </tr>
                                  </thead>
                                  <tbody *ngFor="let equipItem of item?.children.estimated_budget_equipment">
                                    <tr>
                                      <td>{{ equipItem.title }}</td>
                                      <td>{{ equipItem.type }}</td>
                                      <td>{{ equipItem.region }}</td>
                                      <td>{{ equipItem.smr_cost }}</td>
                                      <td>{{ equipItem.pir_cost }}</td>
                                      <td>{{ equipItem.oto_cost }}</td>
                                      <td>{{ equipItem.etc_cost }}</td>
                                      <td>{{ equipItem.pp_cost }}</td>
                                      <td>{{ equipItem.total_cost }}</td>
                                      <td>
                                        <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                                          <mat-icon>
                                            more_vert
                                          </mat-icon>
                                        </button>
                                        <mat-menu class="customize" #actions_menu="matMenu">
                                          <button mat-menu-item (click)="editEquip(equipItem)">
                                            <mat-icon class="mat-menu-icon">edit</mat-icon>
                                            <span>Редактировать</span>
                                          </button>
                                          <button mat-menu-item (click)="delEquip(equipItem)">
                                            <mat-icon class="mat-menu-icon">clear</mat-icon>
                                            <span>Удалить</span>
                                          </button>
                                        </mat-menu>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </mat-tab>
                            </mat-tab-group>
                          </div>
                        </div>
                        <!-- <div class="example-element-description">
                          {{element.description}}
                          <span class="example-element-description-attribution"> -- Object </span>
                        </div> -->
                      </div>
                    </td>
                  </ng-container>
         
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>

                <p-dialog header="Header" 
                          styleClass="modal-element" 
                          [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" 
                          [(visible)]="show.showBlock[1]" 
                          [position]="theme.position" 
                          [draggable]="false" 
                          [maximizable]="false" 
                          [closable]="false" 
                          (onHide)="show.closedAdd(0)">
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>
                          {{ section === 'level-1' ? 'Расчёт' : 
                          section === 'level-2' ? 'Добавить направление' : 
                          section === 'level-3' ? 'Добавить пакет работ' : 
                          section === 'level-4' ? 'Добавить оборудование' : 'Добавить объект'}}
                        </h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[1] = false">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                <div *ngIf="section == 'level-1'">
                  <mat-tab-group>
                    <mat-tab label="Стоимость"> 
                      
                      <div *ngFor="let item of getData">
                        <div *ngIf="item.id === selectedItemId">
                          <div>
                            <h2 *ngIf="item?.cost_source?.manual">Ручной ввод</h2>
                            <h2 *ngIf="item?.cost_source?.auto">Автоматический расчёт по пакетам</h2>
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col" *ngIf="item?.cost_source?.manual">СМР</th>
                                    <th scope="col" *ngIf="item?.cost_source?.manual">ПИР</th>
                                    <th scope="col" *ngIf="item?.cost_source?.manual">Оборудование</th>
                                    <th scope="col" *ngIf="item?.cost_source?.manual">ЕТС</th>
                                    <th scope="col" *ngIf="item?.cost_source?.manual">Итого</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr >
                                    <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.smr_cost }}</td>
                                    <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.pir_cost }}</td>
                                    <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.oto_cost }}</td>
                                    <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.etc_cost }}</td>
                                    <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.total_cost }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>

                        <div *ngFor="let item of getData">
                          <div *ngIf="item.id === selectedItemId">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col" *ngIf="item?.cost_source?.auto">СМР</th>
                                    <th scope="col" *ngIf="item?.cost_source?.auto">ПИР</th>
                                    <th scope="col" *ngIf="item?.cost_source?.auto">Оборудование</th>
                                    <th scope="col" *ngIf="item?.cost_source?.auto">ЕТС</th>
                                    <th scope="col" *ngIf="item?.cost_source?.auto">Итого</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr >
                                    <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.smr_cost }}</td>
                                    <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.pir_cost }}</td>
                                    <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.oto_cost }}</td>
                                    <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.etc_cost }}</td>
                                    <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.total_cost }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                        <div *ngFor="let item of getData">
                          <div *ngIf="item.id === selectedItemId">
                            <h2 *ngIf="item?.cost_source?.with_factor">Расчёт с учётом коэффициентов сложности</h2>
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col" *ngIf="item?.cost_source?.with_factor">СМР</th>
                                    <th scope="col" *ngIf="item?.cost_source?.with_factor">ПИР</th>
                                    <th scope="col" *ngIf="item?.cost_source?.with_factor">Оборудование</th>
                                    <th scope="col" *ngIf="item?.cost_source?.with_factor">ЕТС</th>
                                    <th scope="col" *ngIf="item?.cost_source?.with_factor">Итого</th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <tr >
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.smr_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.pir_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.oto_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.etc_cost }}</td>
                                    <td *ngIf="item?.cost_source?.with_factor">{{ item.cost_source.with_factor.total_cost }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                    </mat-tab>
                    <mat-tab label="Коэффициент сложности"> 
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Обозначение</th>
                            <th scope="col">Значение</th>
                            <th scope="col">Название</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col">Действия</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let item of getData">
                          <tr *ngFor="let factor of item?.complexity_factors">
                            <td *ngIf="item.id === selectedItemId">{{ factor.number }}</td>
                            <td *ngIf="item.id === selectedItemId">{{ factor.rate }}</td>
                            <td *ngIf="item.id === selectedItemId">{{ factor.title }}</td>
                            <td *ngIf="item.id === selectedItemId">{{ factor.comments }}</td>
                            <td *ngIf="item.id === selectedItemId">
                              <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                                <mat-icon>
                                  more_vert
                                </mat-icon>
                              </button>
                              <mat-menu class="customize" #actions_menu="matMenu">
                                <button mat-menu-item (click)="editComplexity(factor)">
                                  <mat-icon class="mat-menu-icon">edit</mat-icon>
                                  <span>Редактировать</span>
                                </button>
                                <button mat-menu-item (click)="delComplexity(factor)">
                                  <mat-icon class="mat-menu-icon">clear</mat-icon>
                                  <span>Удалить</span>
                                </button>
                              </mat-menu>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-tab>
                  </mat-tab-group>
                  

                </div>
                <div *ngIf="section == 'level-2'">
                    <form [formGroup]="directionForm">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Название:</mat-label>
                        <input matInput formControlName="title">
                      </mat-form-field>
  
                      <!-- <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Направление</mat-label>
                        <mat-select formControlName="role_id">
                          <mat-option value="0">Направление</mat-option>
                          <mat-option *ngFor="let item of getDirectionList" [value]="item.id">{{ item.title }}</mat-option>
                        </mat-select>
                      </mat-form-field> -->
  
                      <div class="d-flex justify-content-start">
                        <button (click)="createDirection()" style="margin-bottom: 15px;" [disabled]="!directionForm.valid" mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                </div>
                <div *ngIf="section == 'level-3'">
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 1, 'inactive-button': activeButton !== 1}" (click)="addSection_1()">Ручной ввод</button>
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 2, 'inactive-button': activeButton !== 2}" style="margin-left: 5px;margin-bottom: 10px;" (click)="addSection_2()">Из справочника</button>
                  <div *ngIf="block == 'section-1'">
                    <form [formGroup]="packageForm">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Название:</mat-label>
                        <input matInput formControlName="title">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Подрядчик:</mat-label>
                        <input matInput formControlName="contractor">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Трудозатраты:</mat-label>
                        <input matInput formControlName="mh">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Описание:</mat-label>
                        <textarea matInput formControlName="comments"></textarea>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Физ.объем:</mat-label>
                        <input matInput formControlName="volume">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>СМР стоимость:</mat-label>
                        <input matInput formControlName="smr_cost">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>ПИР стоимость:</mat-label>
                        <input matInput formControlName="pir_cost">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Оборудование стоимость:</mat-label>
                        <input matInput formControlName="oto_cost">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Прочее стоимость:</mat-label>
                        <input matInput formControlName="etc_cost">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Единица измерения:</mat-label>
                        <mat-select formControlName="unit_of_measure">
                          <mat-option value="">ед.измерения</mat-option>
                          <mat-option *ngFor="let item of getUnitList" [value]="item.id">{{ item.title }}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Типовой раздел:</mat-label>
                        <mat-select formControlName="type">
                          <mat-option value="">Типовой раздел</mat-option>
                          <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%;" appearance="outline">
                        <mat-label>Регион:</mat-label>
                        <mat-select formControlName="region">
                          <mat-option value="">Регион</mat-option>
                          <mat-option *ngFor="let option of getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Валюта:</mat-label>
                        <mat-select formControlName="currency" [ngModel]="selectRub">
                          <mat-option value="">Валюта</mat-option>
                          <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <input matInput style="display: none;" formControlName="estimated_analog" [ngModel]="setId">

                      <div class="d-flex justify-content-start">
                        <button (click)="createPackage()" [disabled]="!packageForm.valid" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="block == 'section-2'">
                    <form [formGroup]="packageReferencesForm">
                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Пакет работ:</mat-label>
                        <mat-select formControlName="analog_package_id" required="">
                          <mat-option value="">Пакет работ</mat-option>
                          <mat-option *ngFor="let option of getPackegeList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <input style="display: none;" formControlName="estimated_object_id" [ngModel]="setId">
                      <div class="d-flex justify-content-start">
                        <button (click)="createPackageReferences()" [disabled]="!packageReferencesForm.valid" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div *ngIf="section == 'level-4'">
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 1, 'inactive-button': activeButton !== 1}" (click)="addSection_1()">Ручной ввод</button>
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 2, 'inactive-button': activeButton !== 2}" style="margin-left: 5px;margin-bottom: 10px;" (click)="addSection_2()">Из справочника</button>
                  <div *ngIf="block == 'section-1'">
                    <form [formGroup]="equipForm">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Название:</mat-label>
                        <input matInput formControlName="title">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Производитель:</mat-label>
                        <textarea matInput formControlName="manufacturer"></textarea>
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Технические характеристики:</mat-label>
                        <textarea matInput formControlName="tech_description"></textarea>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>СМР стоимость:</mat-label>
                        <input matInput formControlName="smr_cost">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>ПИР стоимость:</mat-label>
                        <input matInput formControlName="pir_cost">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Оборудование стоимость:</mat-label>
                        <input matInput formControlName="oto_cost">
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Прочее стоимость:</mat-label>
                        <input matInput formControlName="etc_cost">
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Описание:</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Проект:</mat-label>
                        <textarea matInput formControlName="analog_project"></textarea>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Типовой раздел:</mat-label>
                        <mat-select formControlName="type">
                          <mat-option value="">Типовой раздел</mat-option>
                          <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Валюта:</mat-label>
                        <mat-select formControlName="currency" [ngModel]="selectRub">
                          <mat-option value="">Валюта</mat-option>
                          <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <input matInput style="display: none;" formControlName="estimated_analog" [ngModel]="setId">

                      <div class="d-flex justify-content-start">
                        <button (click)="createEquip()" [disabled]="!equipForm.valid" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="block == 'section-2'">
                    <form [formGroup]="equipReferencesForm">
                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Оборудование:</mat-label>
                        <mat-select formControlName="analog_equipment_id" required="">
                          <mat-option value="">Оборудование</mat-option>
                          <mat-option *ngFor="let option of getEquipList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <input style="display: none;" formControlName="estimated_object_id" [ngModel]="setId">
                      <div class="d-flex justify-content-start">
                        <button (click)="createEquipReferences()" [disabled]="!equipReferencesForm.valid" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div *ngIf="section == 'level-5'">
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 1, 'inactive-button': activeButton !== 1}" (click)="addSection_1()">Ручной ввод</button>
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 2, 'inactive-button': activeButton !== 2}" style="margin-left: 5px;margin-bottom: 10px;" (click)="addSection_2()">Объект из справочника</button>
                  <button mat-stroked-button [ngClass]="{'active-button': activeButton === 3, 'inactive-button': activeButton !== 3}"  style="margin-left: 5px;margin-bottom: 10px;" (click)="addSection_3()">Объект, включая пакеты работ</button>
                  <div *ngIf="block == 'section-1'">
                    <form [formGroup]="objectForm">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Название:</mat-label>
                        <input matInput formControlName="title">

                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Предприятие СМР:</mat-label>
                        <textarea matInput formControlName="smr_comp"></textarea>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>СМР стоимость:</mat-label>
                        <input matInput formControlName="smr_cost">

                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Дата начала:</mat-label>
                        <input formControlName="date_start" matInput [matDatepicker]="date_start" [(ngModel)]="getMore.selectedDate_start3">
                        <mat-hint>{{getDateFormatString()}}</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="date_start"></mat-datepicker-toggle>
                        <mat-datepicker #date_start></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Дата окончания:</mat-label>
                        <input formControlName="date_end" matInput [matDatepicker]="date_end" [(ngModel)]="getMore.selectedDate_end3">
                        <mat-hint>{{getDateFormatString()}}</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="date_end"></mat-datepicker-toggle>
                        <mat-datepicker #date_end></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Предприятие ПИР:</mat-label>
                        <textarea matInput formControlName="pir_comp"></textarea>
                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>ПИР стоимость:</mat-label>
                        <input matInput formControlName="pir_cost">

                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Оборудование стоимость:</mat-label>
                        <input matInput formControlName="oto_cost">

                      </mat-form-field>

                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Прочее стоимость:</mat-label>
                        <input matInput formControlName="etc_cost">

                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Технические характеристики:</mat-label>
                        <textarea matInput formControlName="tech_description"></textarea>
                      </mat-form-field>

                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Проект:</mat-label>
                        <textarea matInput formControlName="project"></textarea>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Типовой раздел:</mat-label>
                        <mat-select formControlName="type">
                          <mat-option value="">Типовой раздел</mat-option>
                          <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%;" appearance="outline">
                        <mat-label>Регион:</mat-label>
                        <mat-select formControlName="region">
                          <mat-option value="">Регион</mat-option>
                          <mat-option *ngFor="let option of getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Валюта:</mat-label>
                        <mat-select formControlName="currency" [ngModel]="selectRub">
                          <mat-option value="">Валюта</mat-option>
                          <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <section class="example-section" style="margin-bottom: 15px;">
                        <mat-checkbox class="example-margin" formControlName="is_calculated_flag">Автоматический расчет по пакетам</mat-checkbox>
                      </section>
                      <input matInput style="display: none;" formControlName="estimated_budget_direction" [ngModel]="objId">

                      <div class="d-flex justify-content-start">
                        <button (click)="createObject()" [disabled]="!objectForm.valid" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="block == 'section-2'">
                    <form [formGroup]="objectReferencesForm">
                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Объект:</mat-label>
                        <mat-select formControlName="analog_budget_id" required="">
                          <mat-option value="">Объект</mat-option>
                          <mat-option *ngFor="let option of getAnalogList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <input matInput style="display: none;" formControlName="estimated_budget_direction_id" [ngModel]="objId">
                      <div class="d-flex justify-content-start">
                        <button (click)="createObjectReferences()" [disabled]="!objectReferencesForm.valid" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="block == 'section-3'">
                    <form [formGroup]="objectReferencesForm">
                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Объект:</mat-label>
                        <mat-select formControlName="analog_budget_id" required="">
                          <mat-option value="">Объект</mat-option>
                          <mat-option *ngFor="let option of getAnalogList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <input matInput style="display: none;" formControlName="estimated_budget_direction_id" [ngModel]="objId">
                      <div class="d-flex justify-content-start">
                        <button (click)="createObjectAllReferences()" [disabled]="!objectReferencesForm.valid" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                </p-dialog>

                <p-dialog header="Header" 
                          styleClass="modal-element" 
                          [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" 
                          [(visible)]="show.showBlock[2]" 
                          [position]="theme.position" 
                          [draggable]="false" 
                          [maximizable]="false" 
                          [closable]="false" 
                          (onHide)="show.closedAdd(0)">
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>{{ section2 === 'level-1' ? 'Рассчёт' : section2 === 'level-2' ? 'Редактировать направление' : section2 === 'level-3' ? 'Редактировать пакет работ' : section2 === 'level-4' ? 'Редактировать оборудование' : 'Редактировать объект' }}</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[2] = false">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                <div *ngIf="section2 == 'level-1'">
                   <mat-slide-toggle>Ручной/авто</mat-slide-toggle>
                  <h2>Автоматический расчёт</h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">СМР</th>
                        <th scope="col">ПИР</th>
                        <th scope="col">Оборудование</th>
                        <th scope="col">ЕТС</th>
                        <th scope="col">Итого</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of getData">
                      <tr *ngIf="item.id === selectedItemId">
                        <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.smr_cost }}</td>
                        <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.pir_cost }}</td>
                        <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.oto_cost }}</td>
                        <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.etc_cost }}</td>
                        <td *ngIf="item?.cost_source?.manual">{{ item.cost_source.manual.total_cost }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <h2>Ручной расчёт</h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">СМР</th>
                        <th scope="col">ПИР</th>
                        <th scope="col">Оборудование</th>
                        <th scope="col">ЕТС</th>
                        <th scope="col">Итого</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of getData">
                      <tr *ngIf="item.id === selectedItemId">
                        <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.smr_cost }}</td>
                        <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.pir_cost }}</td>
                        <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.oto_cost }}</td>
                        <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.etc_cost }}</td>
                        <td *ngIf="item?.cost_source?.auto">{{ item.cost_source.auto.total_cost }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="section2 == 'level-2'">
                  <form [formGroup]="directionForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">
                    </mat-form-field>

                    <!-- <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Направление</mat-label>
                      <mat-select formControlName="role_id">
                        <mat-option value="0">Направление</mat-option>
                        <mat-option *ngFor="let item of getDirectionList" [value]="item.id">{{ item.title }}</mat-option>
                      </mat-select>
                    </mat-form-field> -->

                    <div class="d-flex justify-content-start">
                      <button (click)="saveDirection()" style="margin-bottom: 15px;" [disabled]="!directionForm.valid" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>

                <div *ngIf="section2 == 'level-3'">
                  <form [formGroup]="packageForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Подрядчик:</mat-label>
                      <input matInput formControlName="contractor">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Трудозатраты:</mat-label>
                      <input matInput formControlName="mh">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Описание:</mat-label>
                      <textarea matInput formControlName="comments"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Физ.объем:</mat-label>
                      <input matInput formControlName="volume">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>СМР стоимость:</mat-label>
                      <input matInput formControlName="smr_cost">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ПИР стоимость:</mat-label>
                      <input matInput formControlName="pir_cost">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Оборудование стоимость:</mat-label>
                      <input matInput formControlName="oto_cost">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Прочее стоимость:</mat-label>
                      <input matInput formControlName="etc_cost">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Единица измерения:</mat-label>
                      <mat-select formControlName="unit_of_measure">
                        <mat-option value="">Статус</mat-option>
                        <mat-option *ngFor="let item of getUnitList" [value]="item.id">{{ item.title }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                      <mat-label>Типовой раздел:</mat-label>
                      <mat-select formControlName="type">
                        <mat-option value="">Типовой раздел</mat-option>
                        <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%;" appearance="outline">
                      <mat-label>Регион:</mat-label>
                      <mat-select formControlName="region">
                        <mat-option value="">Регион</mat-option>
                        <mat-option *ngFor="let option of getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                      <mat-label>Валюта:</mat-label>
                      <mat-select formControlName="currency">
                        <mat-option value="">Валюта</mat-option>
                        <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <input matInput style="display: none;"  formControlName="estimated_analog">

                    <div class="d-flex justify-content-start">
                      <button (click)="savePackage()" [disabled]="!packageForm.valid" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>

                <div *ngIf="section2 == 'level-4'">
                  <form [formGroup]="equipForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Производитель:</mat-label>
                      <textarea matInput formControlName="manufacturer"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Технические характеристики:</mat-label>
                      <textarea matInput formControlName="tech_description"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>СМР стоимость:</mat-label>
                      <input matInput formControlName="smr_cost">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ПИР стоимость:</mat-label>
                      <input matInput formControlName="pir_cost">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Оборудование стоимость:</mat-label>
                      <input matInput formControlName="oto_cost">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Прочее стоимость:</mat-label>
                      <input matInput formControlName="etc_cost">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Описание:</mat-label>
                      <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Проект:</mat-label>
                      <textarea matInput formControlName="analog_project"></textarea>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                      <mat-label>Типовой раздел:</mat-label>
                      <mat-select formControlName="type">
                        <mat-option value="">Типовой раздел</mat-option>
                        <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                      <mat-label>Валюта:</mat-label>
                      <mat-select formControlName="currency">
                        <mat-option value="">Валюта</mat-option>
                        <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <input matInput style="display: none;" formControlName="estimated_analog">

                    <div class="d-flex justify-content-start">
                      <button (click)="saveEquip()" [disabled]="!equipForm.valid" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>

                <div *ngIf="section2 == 'level-5'">
                  <form [formGroup]="objectForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Предприятие СМР:</mat-label>
                      <textarea matInput formControlName="smr_comp"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>СМР стоимость:</mat-label>
                      <input matInput formControlName="smr_cost">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Дата начала:</mat-label>
                      <input formControlName="date_start" matInput [matDatepicker]="date_start">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="date_start"></mat-datepicker-toggle>
                      <mat-datepicker #date_start></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Дата окончания:</mat-label>
                      <input formControlName="date_end" matInput [matDatepicker]="date_end">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="date_end"></mat-datepicker-toggle>
                      <mat-datepicker #date_end></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Предприятие ПИР:</mat-label>
                      <textarea matInput formControlName="pir_comp"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>ПИР стоимость:</mat-label>
                      <input matInput formControlName="pir_cost">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Оборудование стоимость:</mat-label>
                      <input matInput formControlName="oto_cost">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Прочее стоимость:</mat-label>
                      <input matInput formControlName="etc_cost">

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Технические характеристики:</mat-label>
                      <textarea matInput formControlName="tech_description"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Проект:</mat-label>
                      <textarea matInput formControlName="project"></textarea>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                      <mat-label>Типовой раздел:</mat-label>
                      <mat-select formControlName="type">
                        <mat-option value="">Типовой раздел</mat-option>
                        <mat-option *ngFor="let option of getAnalogType" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%;" appearance="outline">
                      <mat-label>Регион:</mat-label>
                      <mat-select formControlName="region">
                        <mat-option value="">Регион</mat-option>
                        <mat-option *ngFor="let option of getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                      <mat-label>Валюта:</mat-label>
                      <mat-select formControlName="currency">
                        <mat-option value="">Валюта</mat-option>
                        <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{ option.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                    <section class="example-section" style="margin-bottom: 15px;">
                      <mat-checkbox class="example-margin" formControlName="is_calculated_flag">Автоматический расчет по пакетам</mat-checkbox>
                    </section>
                    <input matInput style="display: none;" formControlName="estimated_budget_direction" [ngModel]="objId">

                    <div class="d-flex justify-content-start">
                      <button (click)="saveObject()" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>
                </p-dialog>

                <p-dialog header="Header" 
                          styleClass="modal-element" 
                          [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" 
                          [(visible)]="show.showBlock[3]" 
                          [position]="theme.position" 
                          [draggable]="false" 
                          [maximizable]="false" 
                          [closable]="false" 
                          [modal]="true"
                          (onHide)="show.closedAdd(0)">
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>{{ section2 === 'level-1' ? 'Применить коэффициент сложности' : section2 === 'level-2' ? 'Редактировать коэффициент сложности' : section === 'level-3' ? 'Добавить пакет работ' : section === 'level-4' ? 'Добавить оборудование' : 'Добавить объект' }}</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[3] = false; show.toggleShowBlock(1)">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                <div *ngIf="section2 == 'level-1'">
                    <button mat-stroked-button [ngClass]="{'active-button': activeButton === 1, 'inactive-button': activeButton !== 1}" (click)="addSection_1()">Ручной ввод</button>
                    <button mat-stroked-button [ngClass]="{'active-button': activeButton === 2, 'inactive-button': activeButton !== 2}" style="margin-left: 5px;margin-bottom: 10px;" (click)="addSection_2()">Из справочника</button>
                  <div *ngIf="block == 'section-1'">
                    <form [formGroup]="factorForm">
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Обозначение:</mat-label>
                        <input matInput formControlName="number">
  
                      </mat-form-field>
  
                      <mat-form-field appearance="outline" class="example-full-width">
                        <mat-label>Значение:</mat-label>
                        <input matInput formControlName="rate">
  
                      </mat-form-field>
  
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Название:</mat-label>
                        <textarea matInput formControlName="title"></textarea>
                      </mat-form-field>
  
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Описание:</mat-label>
                        <textarea matInput formControlName="comments"></textarea>
                      </mat-form-field>
  
                      <input style="display: none;" formControlName="estimated_object" [ngModel]="complexity">

                      <div class="d-flex justify-content-start">
                        <button (click)="createComplexity()" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                  <div *ngIf="block == 'section-2'">
                    <form [formGroup]="factorReferenceForm">
                      <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                        <mat-label>Объект:</mat-label>
                        <mat-select formControlName="complexity_factor_id" required="">
                          <mat-option value="">Объект</mat-option>
                          <mat-option *ngFor="let option of getFactorList" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <input matInput style="display: none;" formControlName="estimated_object_id" [ngModel]="objId">
                      <div class="d-flex justify-content-start">
                        <button (click)="createComplexityReferences()" [disabled]="!factorReferenceForm.valid" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                          <span class="d-flex align-items-center">Добавить</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <div *ngIf="section2 == 'level-2'">
                  <form [formGroup]="factorForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Обозначение:</mat-label>
                      <input matInput formControlName="number">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Значение:</mat-label>
                      <input matInput formControlName="rate">

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Название:</mat-label>
                      <textarea matInput formControlName="title"></textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Описание:</mat-label>
                      <textarea matInput formControlName="comments"></textarea>
                    </mat-form-field>

                    <input style="display: none;" formControlName="estimated_object" [ngModel]="complexity">

                    <div class="d-flex justify-content-start">
                      <button (click)="saveComplexity()" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>
                </p-dialog>

<!-- Отправить в бюджет -->
                <div class="col create" [ngClass]="{'show': show.showBlock[12]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="closed()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h2>Отправить в бюджет</h2>

                  <form [formGroup]="goToWbs">
                    <div class="row">
                      <div class="col">
                  
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Направление:</mat-label>
                          <mat-select formControlName="parent_id" [(ngModel)]="wbsList">
                            <mat-option *ngFor="let option of getToWbs" [value]="option.id">{{ option.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                          <mat-label>Проект:</mat-label>
                          <input matInput formControlName="estimated_budget_id" [(ngModel)]="estId">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Код СДР:</mat-label>
                          <input matInput formControlName="code_wbs">

                        </mat-form-field>

                        <!-- <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Категория:</mat-label>
                          <mat-select formControlName="category_id" [(ngModel)]="categoryList">
                            <mat-option *ngFor="let option of getCategory" [value]="option.id">{{ option.name}}</mat-option>
                          </mat-select>
                        </mat-form-field> -->

                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Источник бюджета:</mat-label>
                          <mat-select formControlName="budget_source" [(ngModel)]="budgetSourceList">
                            <mat-option *ngFor="let option of getBudgetSource" [value]="option.id">{{ option.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                          <button (click)="addWbs()" style="margin-bottom: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Отправить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                
                <!-- <mat-tab-group class="index" [ngClass]="{'changed-index': estimated.changeIndex}">
                  <mat-tab label="Оборудование">
                    <app-equipmentEst></app-equipmentEst>
                  </mat-tab>
                  <mat-tab label="Пакет работ">
                    <app-packageEst></app-packageEst>
                  </mat-tab>
                </mat-tab-group> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
