<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">

          <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
                  (click)="setWidthMin()">
            <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
            <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Добавить объект" class="chevron bnt-help--tools" (click)="openCreateForm()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">СВЗ</span>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/svz-documents">История СВЗ</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="col" *ngFor="let item of dataSvzName">
                  Детали: {{ item.name }}
                </div>
              </li>
            </ol>
          </nav>

          <!-- <span class="tools-inner">Сводная ведомость затрат</span> -->
        </div>
        <div class="col">
          <div class="alert alert-success" *ngIf="theme.access">
            {{ theme.access }}
          </div>
          <div class="alert alert-danger" *ngIf="theme.error">
            {{ theme.error }}
          </div>
          <div class="alert alert-info" *ngIf="theme.info">
            {{ theme.info }}
          </div>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <div class="row">
                  <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="number">
                      <th mat-header-cell *matHeaderCellDef> №  </th>
                      <td mat-cell *matCellDef="let element, let i = index"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_assoi">
                      <th mat-header-cell *matHeaderCellDef> Id ASSOI </th>
                      <td mat-cell *matCellDef="let element"> {{element.code_assoi}} </td>
                    </ng-container>

                    <ng-container matColumnDef="code_sdr">
                      <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                      <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Наименование </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actual_price">
                      <th mat-header-cell *matHeaderCellDef> Утвержденная стоимость </th>
                      <td mat-cell *matCellDef="let element"> {{element.actual_price | customNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fact_price">
                      <th mat-header-cell *matHeaderCellDef> Актуализированная стоимость </th>
                      <td mat-cell *matCellDef="let element"> {{element.fact_price | customNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="reamains_price">
                      <th mat-header-cell *matHeaderCellDef> Факт выполнения </th>
                      <td mat-cell *matCellDef="let element"> {{element.reamains_price | customNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total_price">
                      <th mat-header-cell *matHeaderCellDef> Остаток на выполнение </th>
                      <td mat-cell *matCellDef="let element"> {{element.total_price | customNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comment">
                      <th mat-header-cell *matHeaderCellDef> Примечание </th>
                      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Действие </th>
                      <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                          <mat-icon>
                            more_vert
                          </mat-icon>
                        </button>
                        <mat-menu class="customize" #actions_menu="matMenu">
                          <button mat-menu-item (click)="openEditForm(element)">
                            <mat-icon class="mat-menu-icon">edit</mat-icon>
                            Редактировать
                          </button>
                          <button mat-menu-item (click)="deleteObject(element.id)">
                            <mat-icon class="mat-menu-icon">clear</mat-icon>
                            Удалить
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                 #paginator
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>

                </div>
              </mat-card-content>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': getCreateFormVisible()}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeCreateForm()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить объект</h2>

        <div class="col-12">
          <form [formGroup]="ObjectCreate" (ngSubmit)="addObject()" class="row">

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Наименование объекта строительства:</mat-label>
                <mat-select formControlName="objects_wbs">
                  <mat-option *ngFor="let object of wbs" [value]="object.id">
                    {{object.name}}
                  </mat-option>
                </mat-select>
<!--                <input matInput formControlName="name">-->
                <mat-error *ngIf="_wbsObjectCreate.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Утверждение стоимости:</mat-label>
                <input type="number" matInput formControlName="total_price">
                <mat-error *ngIf="_totalCreate.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Актуализация стоимости:</mat-label>
                <input type="number" matInput formControlName="actual_price">
                <mat-error *ngIf="_actualCreate.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Факт выполнения с начала строительства:</mat-label>
                <input type="number" matInput formControlName="fact_price">
                <mat-error *ngIf="_factCreate.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Остаток выполнения:</mat-label>
                <input type="number" matInput formControlName="reamains_price">
                <mat-error *ngIf="_reamainsCreate.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Примечание:</mat-label>
                <textarea matInput formControlName="comment"></textarea>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                [disabled]="_wbsObjectCreate.invalid || _totalCreate.invalid ||
                  _actualCreate.invalid || _factCreate.invalid || _reamainsCreate.invalid"
              >Создать</button>
            </div>

          </form>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': getEditFormVisible()}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeEditForm()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать объект</h2>

          <div class="col-12">
            <form [formGroup]="ObjectEdit" (ngSubmit)="editObject()" class="row">

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Наименование объекта строительства:</mat-label>
                  <mat-select formControlName="objects_wbs">
                    <mat-option *ngFor="let object of wbs" [value]="object.id">
                      {{object.name}}
                    </mat-option>
                  </mat-select>
<!--                  <input matInput formControlName="name">-->
                  <mat-error *ngIf="_wbsObjectEdit.errors?.['required']">Обязательное поле</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Утверждение стоимости:</mat-label>
                  <input type="number" matInput formControlName="total_price">
                  <mat-error *ngIf="_totalCreate.errors?.['required']">Обязательное поле</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Актуализация стоимости:</mat-label>
                  <input type="number" matInput formControlName="actual_price">
                  <mat-error *ngIf="_actualCreate.errors?.['required']">Обязательное поле</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Факт выполнения с начала строительства:</mat-label>
                  <input type="number" matInput formControlName="fact_price">
                  <mat-error *ngIf="_factCreate.errors?.['required']">Обязательное поле</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Остаток выполнения:</mat-label>
                  <input type="number" matInput formControlName="reamains_price">
                  <mat-error *ngIf="_reamainsCreate.errors?.['required']">Обязательное поле</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-3 col-12">
                <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                  <mat-label>Примечание:</mat-label>
                  <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"
                            formControlName="comment">
                  </textarea>
                </mat-form-field>
              </div>

              <div class="col-12">
                <button mat-stroked-button class="mat-btn-recolor" type="submit"
                  [disabled]="_wbsObjectEdit.invalid || _totalEdit.invalid ||
                    _actualEdit.invalid || _factEdit.invalid || _reamainsEdit.invalid"
                >Сохранить</button>
              </div>

            </form>
          </div>
      </div>
    </div>

  </div>
</div>
