<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0); addToWbs()">
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-stroked-button class="chevron" type="button" style="margin-bottom: 30px;  margin-right: 5px;"
            aria-controls="addScrolling" (click)="fileInput.click()">
            <span class="d-flex align-items-center">Загрузить файл<mat-icon>upload_file</mat-icon>
            </span>
          </button>
          <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx" />
          <mat-form-field appearance="outline" class="select-filter" style="margin-top: -9px; margin-left: -5px;">
            <mat-label>Поиск:</mat-label>
            <input matInput (keyup)="applyFilters($event)" placeholder="">
          </mat-form-field>
          <mat-form-field class="select-filter" style="margin: -9px 0px -15px -5px" appearance="outline">
            <mat-label>Показать бюджет</mat-label>
            <mat-select [formControl]="toppings" [(ngModel)]="selectedPriceFields" (valueChange)="test($event)">
              <mat-option value="all">Все</mat-option>
              <mat-option value="true">Текущий</mat-option>
              <mat-option value="false">Базовый</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Реестр объектов</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <table mat-table [dataSource]="dataSource" matSort>

                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="code_wbs">
                    <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                    <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date_start">
                    <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                    <td mat-cell *matCellDef="let element"> {{element.date_start}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date_end">
                    <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                    <td mat-cell *matCellDef="let element"> {{element.date_end}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Объект </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="total_price">
                    <th mat-header-cell *matHeaderCellDef> Стоимость текущая </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu class="customize" #actions_menu="matMenu">
                        <button mat-menu-item *ngIf="!element.editing" (click)="showDetails(element.id)">
                          <mat-icon class="mat-menu-icon">sort</mat-icon>
                          <span>Подробнее</span>
                        </button>
                        <!-- <button mat-menu-item (click)="editRegisterBudget(element); show.toggleShowBlock(1)">
                          <mat-icon>edit</mat-icon>
                          Редактировать
                        </button> -->
                        <!-- <button mat-menu-item (click)="deleteRegisterBudget(element.id)">
                          <mat-icon>clear</mat-icon>
                          Удалить
                        </button> -->
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[100, 150, 200]" showFirstLastButtons></mat-paginator>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

<!-- Создать объект -->
      <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить объект</h2>

        <form [formGroup]="createPackage">
          <div class="row">
            <div class="col">

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="datepicker1" formControlName="start_date">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                <mat-datepicker #datepicker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="datepicker2" formControlName="end_date">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                <mat-datepicker #datepicker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Наименование:</mat-label>
                <input matInput formControlName="name">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>node_parent:</mat-label>
                <input matInput formControlName="node_parent" [ngModel]="1">

              </mat-form-field>

              <!-- <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Напрвление:</mat-label>
                <mat-select formControlName="node_parent" [(ngModel)]="wbsList">
                  <mat-option *ngFor="let option of getCategory" [value]="option.id">{{ option.name}}</mat-option>
                </mat-select> 
              </mat-form-field> -->

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Категория:</mat-label>
                <mat-select formControlName="category" [(ngModel)]="categoryList">
                  <mat-option *ngFor="let option of getCategory" [value]="option.id">{{ option.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Код SAP:</mat-label>
                <input matInput formControlName="code_sap">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Код АССОИ:</mat-label>
                <input matInput formControlName="code_assoi">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Код СДР:</mat-label>
                <input matInput formControlName="code_wbs">

              </mat-form-field>

              <div class="d-flex justify-content-end">
                <button (click)="addCreatePackage()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button class="mat-btn-recolor">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>