table {
    width: 100%;
  }
  .mat-cell input, .mat-header-cell input {
    width: 90%;
    /* height: 100%; */
    padding: 0 ;
    margin: 0;
    border-bottom: 1px solid rgba(90, 90, 90, 0.295);
  }
  .content {
    overflow-y: scroll;
    height: 94vh;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  .box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .smoll-inp {
    width: 255px;
    margin: 5px;
  }
  .box-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  /* custom steper */
  .block {
    position: fixed;
    overflow: auto;
    padding: 25px;
    top: 0px;
    right: 0px;
    width: 53%;
    height: 100vh;
    background: rgb(255 255 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    transform: translateX(1000px);
  }
  .block.show {
    display: block;
    transform: translateX(0px);
  }
  .inv-block {
    position: fixed;
    overflow: auto;
    padding: 25px;
    top: 0px;
    right: 53%;
    width: 17%;
    height: 100vh;
    background: rgb(255 255 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    display: none;
  }
  .inv-block.show {
    display: block;
  }
  .btn-tbl {
    margin-left: 5px;
    min-width: 25px !important;
    min-height: 25px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .add-block {
    position: fixed;
    top: 0px;
    right: 53%;
    width: 30%;
    height: 100vh;
    background: rgb(255 255 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
  
    transition: opacity 0.3s ease;
  }
  .add-block.show {
    display: block;
  }
  .mat-large-box {
    height: 655px;
    width: 50%;
  }
  ::ng-deep.mat-panel-title:hover {
    color: red; /* Измените цвет текста на желаемый */
  }
  ::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
  ::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep.select-create .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }
  /* ink bar */
  ::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,#eb8b2d) !important;
  }
  .mat-header-cell,
  .mat-cell {
    border-color: var(--theme-mat-cell-header-border-bg);
    color: var(--theme-mat-cell-header-color-bg);
  }
  .mat-cell {
    color: var(--theme-mat-cell-bg);
  }
  .mat-table {
    background: var(--theme-mat-table-bg);
  }
  .mat-paginator {
    display: block;
    background: var(--theme-mat-paginator-bg);
    color: var(--theme-mat-paginator-color-bg);
  }
  .more {
    color: #6c6c6c;
  }
  .editing {
    border-bottom: 1px solid #949494;
  
  }
  .sub-title {
    font-size: 12px;
  }
  .row-set {
    margin-bottom: 10px;
  }
  .btn-add {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 45px;
  }
  .card{
    border-radius: 0;
    margin-bottom: 10px;
  }
  .btn-tbl{
    margin: 0;
  }
  .mat-expansion-panel-header{
    padding-left: 0;
  }
  /* .btn-success{
    color: ;
  } */

  .content {
    overflow-y: scroll;
    height: 94vh;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  .box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .smoll-inp {
    width: 255px;
    margin: 5px;
  }
  .box-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .mat-drawer-container {
    background-color: #fff;
  }
  
  .block {
    position: fixed;
    overflow: auto;
    padding: 25px;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 100vh;
    background: rgb(255 255 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    transform: translateX(750px);
  }
  .block.show {
    display: block;
    transform: translateX(0px);
  }
  @keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  .more {
    color: #6c6c6c;
  }
  .more:hover {
    background: #B5DCA4;
  }
  .mat-tree{
    min-width: 50%;
    background: none;
  }
  .mat-focus-indicator .mat-button{
    padding: 0;
  }
  .accordion-item{
    padding: 0;
  }
  .view {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .view.show {
    opacity: 1;
  }
  @keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  .project-name {
    font-weight: 700;
  }
  /* ink bar */
  ::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,#eb8b2d) !important;
  }
  
  .mat-header-cell,
  .mat-cell {
    border-color: var(--theme-mat-cell-header-border-bg);
    color: var(--theme-mat-cell-header-color-bg);
  }
  .mat-cell {
    color: var(--theme-mat-cell-bg);
  }
  .mat-table {
    background: var(--theme-mat-table-bg);
  }
  .mat-paginator {
    display: block;
    background: var(--theme-mat-paginator-bg);
    color: var(--theme-mat-paginator-color-bg);
  }
  ::ng-deep.mat-panel-title:hover {
    color: red; /* Измените цвет текста на желаемый */
  }
  ::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
  ::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep.select-create .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }
  /* ink bar */
  ::ng-deep .mat-ink-bar {
    background-color: var(--primary-color,#eb8b2d) !important;
  }
  :host ::ng-deep .custom-spinner circle{
    stroke: #eb8b2d;
  }
  
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #eb8b2d;
  }
  
  ::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
  }
  
  ::ng-deep .mat-progress-bar {
    border-radius: 2px;
  }
  
  .tableData td, .tableData th {
    vertical-align: top;
    border-right: 1px solid rgba(0,0,0,.12);
    padding-left: 16px;
    padding-top: 14px;
  }
  .row-button {
    color: #eb8b2d;
  }
  span.mat-list-item-content {
    justify-content: space-between;
  }
  .element_title {
    margin-bottom: 0;
  }
  .date_subtitle {
    font-size: smaller;
    color: #999999;
  }
  .setting-field {
    margin-top: -5px;
    margin-left: 5px;
  }
  #loading-spinner-wrapper {
    justify-content: center;
  }
  .loading-spinner {
    padding: 10%;
  }
  #find-field {
    width: 40%;
  }
  