<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            style=" margin-right: 5px; margin-bottom: 25px;" aria-controls="offcanvasScrolling">
            <span class="d-flex align-items-center">Отклонение
              <mat-icon>compare</mat-icon>
            </span>
          </button>
          <mat-form-field class="select-create setting-field" appearance="outline">
            <mat-label>Выбрать год</mat-label>
            <mat-select [(value)]="selectedYear" (selectionChange)="getMasteringData($event.value)">
              <mat-option value="">Все</mat-option>
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Освоение</span>
          <span class="tools-inner"> Исполнение плана освоения </span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">




              <apx-chart *ngIf="dataLoaded" [series]="chartOptions.series" [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis" [markers]="chartOptions.markers" [stroke]="chartOptions.stroke"
                [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title"
                [fill]="chartOptions.fill" [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend"
                [colors]="chartOptions.colors"></apx-chart>

              <div *ngIf="!dataLoaded" style="height: 350px;">

                Загрузка данных...
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>

              </div>


              <mat-card-title>Накопительные</mat-card-title>
              <div *ngIf="!dataLoaded" style="height: 100px;">

                Загрузка данных...
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>

              </div>
              <div class="table-responsive" *ngIf="dataLoaded">
                <table class="table table-bordered .table-striped">
                  <tbody>
                    <tr>
                      <th>Дата</th>
                      <td *ngFor="let item of this.MasteringArray">{{ item.date }}</td>
                    </tr>
                    <tr>
                      <th>План</th>
                      <td *ngFor="let item of this.MasteringArray" style="background-color: #c1c1c180">
                        {{item.accumulated_plan | customNumber}}
                      </td>
                    </tr>
                    <tr>
                      <th>Факт</th>
                      <td *ngFor="let item of this.MasteringArray" style="background-color: #ff8e1c78;">
                        {{item.accumulated_fact| customNumber}}
                      </td>
                    </tr>
                    <tr>
                      <th>Прогноз</th>
                      <td *ngFor="let item of this.MasteringArray" style="background-color: #06ad5472">{{
                        item.accumulated_prediction| customNumber }}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <mat-card-title>Показатели</mat-card-title>
              <div *ngIf="!dataLoaded" style="height: 100px;">

                Загрузка данных...
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>

              </div>
              <div class="table-responsive" *ngIf="dataLoaded">
                <table class="table table-bordered .table-striped">
                  <tbody>
                    <tr>
                      <th>Дата</th>
                      <td *ngFor="let item of this.MasteringArray">{{ item.date }}</td>
                    </tr>
                    <tr>
                      <th>План</th>
                      <td *ngFor="let item of this.MasteringArray" style="background-color: #c1c1c180">{{ item.plan | customNumber}}
                      </td>
                    </tr>
                    <tr>
                      <th>Факт</th>
                      <td *ngFor="let item of this.MasteringArray" style="background-color: #ff8e1c78;">{{ item.fact| customNumber
                        }}
                      </td>
                    </tr>
                    <tr>
                      <th>Прогноз</th>
                      <td *ngFor="let item of this.MasteringArray" style="background-color: #06ad5472">{{
                        item.prediction| customNumber }}</td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>


      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="width: 70%;">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Отклонение по исполнению плана</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="container-lg overflow-hidden">
          <form class="row form">
            <mat-form-field appearance="outline" class="col-md-3 ">
              <mat-label>Год</mat-label>
              <mat-select [(ngModel)]="selectedYearShortfall" name="year"
                (selectionChange)="yearChanged(); updateDataIfFilled()">
                <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-3 ">
              <mat-label>Месяц 1</mat-label>
              <mat-select [(ngModel)]="selectedMonth1" name="month1" [disabled]="!selectedYearShortfall"
                (selectionChange)="updateDataIfFilled()">
                <mat-option *ngFor="let month of months" [value]="month.value">{{month.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-md-3 ">
              <mat-label>Месяц 2</mat-label>
              <mat-select [(ngModel)]="selectedMonth2" name="month2" [disabled]="!selectedYearShortfall"
                (selectionChange)="updateDataIfFilled()">
                <mat-option *ngFor="let month of months" [value]="month.value">{{month.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
              <mat-checkbox [(ngModel)]="checked" name="accumulativeToggle" (change)="updateDataIfFilled()">Отклонение
                по месяцам отображать как Накопительные</mat-checkbox>
            </div>

          </form>


          <div class="row  ">
            <div class="col">
              <div class="card  p-3">

                <div *ngIf="showNoDataMessage">
                  Данные для отображения не выбраны
                </div>

                <apx-chart
                  *ngIf="!showNoDataMessage && chartOptionsPlanDeviation?.series && chartOptionsPlanDeviation?.series.length"
                  [series]="chartOptionsPlanDeviation.series" [chart]="chartOptionsPlanDeviation.chart"
                  [xaxis]="chartOptionsPlanDeviation.xaxis" [markers]="chartOptionsPlanDeviation.markers"
                  [stroke]="chartOptionsPlanDeviation.stroke" [yaxis]="chartOptionsPlanDeviation.yaxis"
                  [dataLabels]="chartOptionsPlanDeviation.dataLabels" [title]="chartOptionsPlanDeviation.title"
                  [fill]="chartOptionsPlanDeviation.fill" [tooltip]="chartOptionsPlanDeviation.tooltip"
                  [legend]="chartOptionsPlanDeviation.legend" [colors]="chartOptionsPlanDeviation.colors"></apx-chart>
              </div>
            </div>
            <div class="col">
              <div class="card col p-3">
                <div *ngIf="showNoDataMessage">
                  Данные для отображения не выбраны
                </div>
                <apx-chart
                  *ngIf="!showNoDataMessage && chartShortfalPercentage?.series && chartShortfalPercentage?.series.length"
                  [series]="chartShortfalPercentage.series" [chart]="chartShortfalPercentage.chart"
                  [xaxis]="chartShortfalPercentage.xaxis" [markers]="chartShortfalPercentage.markers"
                  [stroke]="chartShortfalPercentage.stroke" [yaxis]="chartShortfalPercentage.yaxis"
                  [dataLabels]="chartShortfalPercentage.dataLabels" [title]="chartShortfalPercentage.title"
                  [fill]="chartShortfalPercentage.fill" [tooltip]="chartShortfalPercentage.tooltip"
                  [legend]="chartShortfalPercentage.legend" [colors]="chartShortfalPercentage.colors"></apx-chart>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>