<table mat-table [dataSource]="dataSources">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="width: 33%;"> Наименование </th>
    <td mat-cell *matCellDef="let node;">
      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.code_wbs}} . {{node.name}} 
      <!-- getSelect1(node.wbs_id) -->
      <input [ngModel]="node.wbs_id" style="display: none;">
      <!-- <butt  | customNumberon> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="serial_number">
    <th mat-header-cell *matHeaderCellDef style="width: 8%;">
      <span>№</span>
    </th>
    <td mat-cell *matCellDef="let i = index">
      <span>
        {{i+1}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="date_end">
    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Дата конца </th>
    <td mat-cell *matCellDef="let node"> {{ node.date_end }} </td>
  </ng-container>

  <ng-container matColumnDef="date_start">
    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Дата начала </th>
    <td mat-cell *matCellDef="let node"> {{ node.date_start }} </td>
  </ng-container>
  
  <ng-container matColumnDef="smr_price">
    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> СМР </th>
    <td mat-cell *matCellDef="let node"> {{node.smr_price  | customNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="pir_price">
    <th mat-header-cell *matHeaderCellDef style="width: 9%;"> ПИР </th>
    <td mat-cell *matCellDef="let node"> {{node.pir_price  | customNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="oto_price">
    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Оборудование </th>
    <td mat-cell *matCellDef="let node"> {{node.oto_price  | customNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="other_price">
    <th mat-header-cell *matHeaderCellDef style="width: 19%;"> Прочее </th>
    <td mat-cell *matCellDef="let node"> {{node.other_price  | customNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="total_price">
    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Итого </th>
    <td mat-cell *matCellDef="let node"> {{node.total_price  | customNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="title"><td mat-footer-cell *matFooterCellDef></td></ng-container>
  <ng-container matColumnDef="pir"><td mat-footer-cell *matFooterCellDef>{{ totals?.smr_price  | customNumber }}</td></ng-container>
  <ng-container matColumnDef="smr"><td mat-footer-cell *matFooterCellDef>{{ totals?.pir_price  | customNumber }}</td></ng-container>
  <ng-container matColumnDef="oto"><td mat-footer-cell *matFooterCellDef>{{ totals?.oto_price  | customNumber }}</td></ng-container>
  <ng-container matColumnDef="other"><td mat-footer-cell *matFooterCellDef>{{ totals?.other_price  | customNumber }}</td></ng-container>

  <ng-container matColumnDef="item">
    <th mat-header-cell *matHeaderCellDef> Item </th>
    <td mat-cell *matCellDef="let transaction"> {{ totals }} </td>
    <td mat-footer-cell *matFooterCellDef> Итого </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Item </th>
    <td mat-footer-cell *matFooterCellDef> {{ totals?.total_price  | customNumber }} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <span>Действия</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
        <mat-icon>
          more_vert
        </mat-icon>
      </button>
      <mat-menu #actions_menu="matMenu">
        <button mat-menu-item (click)="editCommonCostsDirectory(element); show.toggleShowBlock(4)">
          <mat-icon>edit</mat-icon>
          Редактировать
        </button>
        <button mat-menu-item (click)="delCommonCosts(element.common_budget_id)">
          <mat-icon>clear</mat-icon>
          Удалить
        </button>
      </mat-menu>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumnsTotal"></tr>
</table>