<table class="table dark-table">
  <thead>
    <tr style="font-size: 12px;">
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Подрядчик</th>
      <th scope="col">Стоимость итого</th>
      <th scope="col">Трудозатраты</th>
      <th scope="col">Описание</th>
      <th scope="col">Физ.объем</th>
      <th scope="col">Единица измерения</th>
      <th scope="col">Стоимость удельная</th>
      <th scope="col">Категория</th>
      <!-- <th scope="col">Проект</th> -->
      <th scope="col">Регион</th>
      <th scope="col">Валюта</th>
      <th scope="col">Действие</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of analog.dataPack; let i = index">
      <th scope="row"><span>{{i+1}}</span></th>
      <th scope="row"><span>{{ item.title }}</span></th>
      <td><span>{{ item.contractor }}</span></td>
      <td><span>{{ item.total_cost }}</span></td>
      <td><span>{{ item.mh }}</span></td>
      <td><span>{{ item.comments }}</span></td>
      <td><span>{{ item.volume }}</span></td>
      <td><span>{{ item.unit_of_measure }}</span></td>
      <td><span>{{ item.pp_cost }}</span></td>
      <td><span>{{ item.type }}</span></td>
      <!-- <td><span>{{ item.project }}</span></td> -->
      <td><span>{{ item.region }}</span></td>
      <td><span>{{ item.currency }}</span></td>
      <td> 
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item  *ngIf="!item.editing" (click)="editWorkPackage(item); show.toggleShowBlock(3)">
            <mat-icon>edit</mat-icon>
            <span>Редактировать</span>
          </button>
          <button *ngIf="!item.editing" mat-menu-item (click)="delWorkPackage(item)">
            <mat-icon>clear</mat-icon>
            <span>Удалить</span>
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
</table>

<!-- Пакет работ (Редактирование) -->
<div class="col create" [ngClass]="{'show': show.showBlock[3]}">
  <div class="col text-end" style="margin-bottom: 15px;">
    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h2>Редактировать пакет работ</h2>

      <form [formGroup]="editWorkPackageForm">
        <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="title">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Подрядчик:</mat-label>
                <input matInput formControlName="contractor">

              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Стоимость итого:</mat-label>
                <input matInput formControlName="total_cost">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Трудозатраты:</mat-label>
                <input matInput formControlName="mh">

              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Описание:</mat-label>
                <input matInput formControlName="comments">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Физ.объем:</mat-label>
                <input matInput formControlName="volume">

              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Единица измерения:</mat-label>
                <mat-select formControlName="unit_of_measure">
                  <mat-option *ngFor="let option of analog.getUnitOfMeasure" [value]="option.id">{{option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>project:</mat-label>
                <input matInput formControlName="project" [ngModel]="setID">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>Стоимость удельная:</mat-label>
                <input matInput formControlName="pp_cost">

              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Категория:</mat-label>
                <mat-select formControlName="type">
                  <mat-option *ngFor="let option of analog.getAnalogType" [value]="option.id">{{option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Регион:</mat-label>
                <mat-select formControlName="region">
                  <mat-option *ngFor="let option of analog.getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Валюта:</mat-label>
                <mat-select formControlName="currency">
                  <mat-option *ngFor="let option of analog.getCurrencyList" [value]="option.id">{{option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-12">
              <div class="d-flex justify-content-start">
                <button (click)="saveWorkPackage()" style="margin-bottom: 15px;" mat-stroked-button
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">Сохранить</span>
                </button>
              </div>
            </div>
          </div>
      </form>

</div>