<table mat-table [dataSource]="DataSourse" multiTemplateDataRows class="mat-elevation-z8">
  <!-- Колонка для кнопки раскрытия -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="toggleExpand(element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElements.indexOf(element) === -1">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElements.indexOf(element) !== -1">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Колонка для имени пользователя -->
  <ng-container *ngFor="let header of headers; let i = index" [matColumnDef]="keys[i]">
    <th mat-header-cell *matHeaderCellDef>{{ header }}</th>
    <td mat-cell *matCellDef="let element"> {{ element[keys[i]]|customNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Действие </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <p>{{element.id}}</p> -->
        <button mat-menu-item type="button" (click)="ShowChartWaterfall(element)" data-bs-toggle="offcanvas"
          data-bs-target="#ShowChartWaterfall">
          <mat-icon>more</mat-icon>
          <span>Подробнее</span>
        </button>
        <button mat-menu-item type="button" (click)="editFactorAnalysisinner(element)" data-bs-toggle="offcanvas"
          data-bs-target="#EditAddScrolling">
          <mat-icon>edit</mat-icon>
          <span>Изменить</span>
        </button>
        <button mat-menu-item type="button" (click)="delitedFactorAnalysisinner(element)">
          <mat-icon>close</mat-icon>
          <span>Удалить</span>
        </button>

        <button mat-menu-item type="button" (click)="AddInfluence(element)" data-bs-toggle="offcanvas"
          data-bs-target="#EditAddInfluence" aria-controls="addScrolling">
          <!-- (click)="add()" -->
          <mat-icon>add_box</mat-icon>
          <span>Добавить влияние на текущий бюджет</span>
        </button>

      </mat-menu>
    </td>
  </ng-container>

  <!-- Expanded Content Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
        [@detailExpand]="expandedElements.indexOf(element) !== -1 ? 'expanded' : 'collapsed'">

        <div *ngIf="element.factor_analysis_influence && element.factor_analysis_influence.length > 0; else emptyBlock"
          style="width: 100%;">
          <table mat-table [dataSource]="element.factor_analysis_influence" class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;"> №  </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Название</th>
              <td mat-cell *matCellDef="let parameter"> {{parameter.title}} </td>
            </ng-container>

            <!-- desc -->
            <ng-container matColumnDef="desc">
              <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Описание</th>
              <td mat-cell *matCellDef="let parameter">
                <app-expandable-text [text]="parameter?.desc">
                </app-expandable-text>
              </td>
            </ng-container>

            <!-- desc -->
            <ng-container matColumnDef="influence">
              <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Описание</th>
              <td mat-cell *matCellDef="let parameter">
                <app-expandable-text [text]="parameter?.influence"></app-expandable-text>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Действие </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- <p>{{element.id}}</p> -->
                  <button mat-menu-item type="button" (click)="UpdateInfluence(element)" data-bs-toggle="offcanvas"
                    data-bs-target="#EditAddInfluence" aria-controls="addScrolling">
                    <mat-icon>edit</mat-icon>
                    <span>Изменить</span>
                  </button>

                  <button mat-menu-item type="button" (click)="DelInfluence(element)">
                    <mat-icon>close</mat-icon>
                    <span>Удалить</span>
                  </button> 
                </mat-menu>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="['id', 'title','desc','influence','action']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['id', 'title','desc','influence','action']"></tr>
          </table>

        </div>
        <ng-template #emptyBlock>
          <p>Данные отсутствуют</p>
        </ng-template>
      </div>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElements.indexOf(element) !== -1">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>