<body class="body-wrp">
  <div class="wrapper">
    <div class="abs-center wd-xl">
       <!-- START card-->
       <div class="text-center mb-4">
          <div class="text-lg mb-3">500</div>
          <p class="lead m-0">Мы не смогли найти эту страницу.</p>
          <p>Запрошенная страница не существует.</p>
       </div>
       <div class="input-group mb-4">
    
        <div class="title-logo">
          <img src="../../assets/img/33920.png" class="image" />
        </div>
       </div>
       <ul class="list-inline text-center text-sm mb-4">
          <li class="list-inline-item">
            <button class="text-muted" (click)="goHome()">На Главную</button>
          </li>
          <li class="text-muted list-inline-item">|</li>
          <li class="list-inline-item">
             <button class="text-muted" (click)="goBack()">Назад</button>
          </li>
       </ul>
       <div class="p-3 text-center">
  
       </div>
    </div>
  </div>
  </body>