body.body-wrp {
    font-family: "Source Sans Pro", sans-serif;
    color: #656565;
    font-size: 0.875rem; }
.text-lg {
    font-size: 2.625rem; }
.wd-xl {
  width: 500px; }
.text-muted {
  border: none;
  background: none; }
.text-muted:hover {
  color: #EB8B2D !important; }  
.abs-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }    
.image {
  display: inline-block;
  width: 100%; }
.title-logo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
}