<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
        <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0); create()">
          <mat-icon>library_add</mat-icon>
        </button>
      </div>
      <div class="col tools-wrapper">
        <span class="tools-title">Валюта</span>
        <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
      </div>
    </div>
    <div class="col" style="padding: 10px;overflow-x: hidden;">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <mat-card-content>

              <table mat-table [dataSource]="dataSourceCurrency">

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Наименование </th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Действия </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu class="customize" #menu="matMenu">
                      <button mat-menu-item  *ngIf="!element.editing" (click)="editCurrency(element); show.toggleShowBlock(1)">
                        <mat-icon class="mat-menu-icon">edit</mat-icon>
                        <span>Редактировать</span>
                      </button>
                      <button *ngIf="!element.editing" mat-menu-item (click)="delCurrency(element)">
                        <mat-icon class="mat-menu-icon">clear</mat-icon>
                        <span>Удалить</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons 
                             aria-label="Select page of periodic elements">
              </mat-paginator>

            </mat-card-content>
            <mat-card-footer>
              <div class="border-card"></div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>

<!-- Добавить -->
    <div class="col create" [ngClass]="{'show': show.showBlock[0]}" (clickOutside)="show.closedAdd(0)">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
        <h2>Добавить валюту</h2>

            <form [formGroup]="editForm" style="width: 100%;">
              <div class="row">
                <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Обозначение:</mat-label>
                <input matInput formControlName="title">
              </mat-form-field>
    
              <div class="d-flex justify-content-end">
                <button style="margin-bottom: 15px;" (click)="addCurrency()" mat-stroked-button
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">
                    Добавить
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

<!-- Редактирование -->
    <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
      <div class="col text-end" style="margin-bottom: 15px;">
        <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
        <h2>Редактировать валюту</h2>

            <form [formGroup]="editForm" style="width: 100%;">
              <div class="row">
                <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Обозначение:</mat-label>
                <input matInput formControlName="title">
              </mat-form-field>
    
              <div class="d-flex justify-content-end">
                <button style="margin-bottom: 15px;" (click)="saveCurrency()" mat-stroked-button
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">
                    Сохранить
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
    </div>