<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>
    <div class="col section content" *ngIf="DataContractPackagesItem; else loadingContent">
      <div class="col section content">
        <div class="tools">
          <div class="button-tools">
            <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
              (click)="theme.setWidthMin()">
              <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
              <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
            </button>
            <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
              <mat-icon>reply_all</mat-icon>
            </button>
            <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
              (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>

            <button mat-stroked-button (click)="add()" class="chevron" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#addWorkPackages" style="margin-bottom: 15px;  margin-right: 5px;"
              aria-controls="addWorkPackages">

              <span class="d-flex align-items-center">Добавить пакет работ
                <mat-icon>library_add</mat-icon>
              </span>
            </button>


          </div>
          <div class="col tools-wrapper">
            <span class="tools-title">Контрактный пакет: {{DataContractPackagesItem[0].contract_package.name}} </span>
            <!--  -->

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb tools-inner">
                <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/contract-packages">Реестр
                    контрактных пакетов</a></li>
                <li class="breadcrumb-item actived d-flex" aria-current="page">
                  <div class="col">
                    {{DataContractPackagesItem[0].contract_package.name}}
                  </div>
                </li>
              </ol>
            </nav>
          </div>

          <table mat-table [dataSource]="ContractPackageItemsTableInfo">
            <!-- Код контрактного пакета -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Код контрактного пакета</th>
              <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <!-- Название контрактного пакета -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Название контрактного пакета</th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Дисциплина -->
            <ng-container matColumnDef="discipline">
              <th mat-header-cell *matHeaderCellDef> Дисциплина </th>
              <td mat-cell *matCellDef="let element"> {{element.discipline}} </td>
            </ng-container>

            <!-- Стоимость плановая, тыс.руб-->
            <ng-container matColumnDef="cost_planned">
              <th mat-header-cell *matHeaderCellDef> Стоимость плановая</th>
              <!-- , тыс.руб  -->
              <td mat-cell *matCellDef="let element"> {{element.cost_planned| customNumber}} </td>
            </ng-container>
            <!-- Стоимость тендерная, тыс.руб -->
            <ng-container matColumnDef="cost_trending">
              <th mat-header-cell *matHeaderCellDef> Стоимость тендерная </th>
              <td mat-cell *matCellDef="let element"> {{element.cost_trending| customNumber}} </td>
            </ng-container>
            <!-- Отклонение, тыс.руб -->
            <ng-container matColumnDef="cost_deviation">
              <th mat-header-cell *matHeaderCellDef> Отклонение</th>
              <td mat-cell *matCellDef="let element"> {{element.cost_deviation| customNumber}} </td>
            </ng-container>

            
            <tr mat-header-row
              *matHeaderRowDef="['code', 'name', 'discipline', 'cost_planned','cost_trending','cost_deviation']"></tr>
            <tr mat-row
              *matRowDef="let row; columns: ['code', 'name', 'discipline', 'cost_planned','cost_trending','cost_deviation']">
            </tr>
          </table>

        </div>

        <div class="col" style="padding: 10px;overflow-x: hidden;">
          <div class="row">
            <div class="col">
              <mat-card class="example-card widget change-pass">
                <mat-card-content>
                  <mat-tab-group>

                    <!-- План  -->
                    <mat-tab class="mat-elevation-z8" label="Плановая стоимость контрактного пакета">
                      <table *ngIf="ContractPackagesItemPlanTable.data?.length > 0 ; else noData" mat-table
                        [dataSource]="ContractPackagesItemPlanTable">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> № </th>
                          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="code_wbs">
                          <th mat-header-cell *matHeaderCellDef>Код СДР</th>
                          <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Название пакета работ</th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Плановая стоимость, тыс.руб -->
                        <ng-container matColumnDef="total_cost">
                          <th mat-header-cell *matHeaderCellDef>Плановая стоимость</th>
                          <td mat-cell *matCellDef="let element"> {{element.total_cost| customNumber}} </td>
                        </ng-container>


                        <!-- Code WBS Column -->
                        <ng-container matColumnDef="pir">
                          <th mat-header-cell *matHeaderCellDef> ПИР</th>
                          <td mat-cell *matCellDef="let element"> {{element.pir| customNumber}} </td>
                        </ng-container>

                        <!-- Code WBS Column -->
                        <ng-container matColumnDef="smr">
                          <th mat-header-cell *matHeaderCellDef> СМР</th>
                          <td mat-cell *matCellDef="let element"> {{element.smr| customNumber}} </td>
                        </ng-container>

                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="equipment">
                          <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                          <td mat-cell *matCellDef="let element"> {{element.equipment| customNumber}} </td>
                        </ng-container>


                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="other">
                          <th mat-header-cell *matHeaderCellDef> Прочее </th>
                          <td mat-cell *matCellDef="let element"> {{element.other| customNumber}} </td>
                        </ng-container>

                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef> Категория </th>
                          <td mat-cell *matCellDef="let element"> {{element.category| customNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Действие </th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">

                              <button mat-menu-item (click)="delContractPackagesItem(element.id)">
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>
                            

                            </mat-menu>
                          </td>
                        </ng-container>


                        <tr mat-header-row
                          *matHeaderRowDef="['id','code_wbs','name', 'total_cost','pir', 'smr', 'equipment', 'other','category','action']">
                        </tr>
                        <tr mat-row
                          *matRowDef="let row; columns: ['id','code_wbs','name', 'total_cost','pir', 'smr', 'equipment', 'other','category','action']">
                        </tr>
                      </table>


                      <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                        aria-label="Select page of periodic elements" #PaginatorPlan>
                      </mat-paginator>

                    </mat-tab>

                    <!--Стоимость контрактного пакета по результатам тендера  -->
                    <mat-tab class="mat-elevation-z8" label="Стоимость контрактного пакета по результатам тендера">
                      <table *ngIf="ContractPackagesItemTenderTable.data?.length > 0 ; else noData" mat-table
                        [dataSource]="ContractPackagesItemTenderTable">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> № </th>
                          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="code_wbs">
                          <th mat-header-cell *matHeaderCellDef>Код СДР</th>
                          <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Название пакета работ</th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Тендерная стоимость, тыс.руб -->
                        <ng-container matColumnDef="total_cost">
                          <th mat-header-cell *matHeaderCellDef>Тендерная стоимость</th>
                          <td mat-cell *matCellDef="let element"> {{element.total_cost| customNumber}} </td>
                        </ng-container>


                        <!-- Code WBS Column -->
                        <ng-container matColumnDef="pir">
                          <th mat-header-cell *matHeaderCellDef> ПИР</th>
                          <td mat-cell *matCellDef="let element"> {{element.pir| customNumber}} </td>
                        </ng-container>

                        <!-- Code WBS Column -->
                        <ng-container matColumnDef="smr">
                          <th mat-header-cell *matHeaderCellDef> СМР</th>
                          <td mat-cell *matCellDef="let element"> {{element.smr| customNumber}} </td>
                        </ng-container>

                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="equipment">
                          <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                          <td mat-cell *matCellDef="let element"> {{element.equipment| customNumber}} </td>
                        </ng-container>


                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="other">
                          <th mat-header-cell *matHeaderCellDef> Прочее </th>
                          <td mat-cell *matCellDef="let element"> {{element.other| customNumber}} </td>
                        </ng-container>

                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef> Категория </th>
                          <td mat-cell *matCellDef="let element"> {{element.category| customNumber}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Действие </th>
                          <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item type="button" (click)="editContractPackagesItemTender(element)"
                                data-bs-toggle="offcanvas" data-bs-target="#editContractPackagesItemTender"
                                aria-controls="editContractPackagesItemTender">
                                <mat-icon>edit</mat-icon>
                                <span>Изменить</span>
                              </button>
                              <!-- <button mat-menu-item (click)="delContractPackages(element.id)">
                                <mat-icon>clear</mat-icon>
                                <span>Удалить</span>
                              </button>
                             -->

                            </mat-menu>
                          </td>
                        </ng-container>


                        <tr mat-header-row
                          *matHeaderRowDef="['id','code_wbs','name', 'total_cost','pir', 'smr', 'equipment', 'other','category', 'action']">
                        </tr>
                        <tr mat-row
                          *matRowDef="let row; columns: ['id','code_wbs','name', 'total_cost','pir', 'smr', 'equipment', 'other','category', 'action']">
                        </tr>
                      </table>


                      <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                        aria-label="Select page of periodic elements" #PaginatorPlan>
                      </mat-paginator>
                    </mat-tab>

                    <!-- Отклонение тенедреной стоимости от плановой-->
                    <mat-tab class="mat-elevation-z8" label="Отклонение тенедреной стоимости от плановой">
                      <table *ngIf="ContractPackagesItemDeviationTable.data?.length > 0 ; else noData" mat-table
                        [dataSource]="ContractPackagesItemDeviationTable">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> № </th>
                          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="code_wbs">
                          <th mat-header-cell *matHeaderCellDef>Код СДР</th>
                          <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Название пакета работ</th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Отклонение стоимости, тыс.руб -->
                        <ng-container matColumnDef="total_cost">
                          <th mat-header-cell *matHeaderCellDef>Отклонение стоимости</th>
                          <td mat-cell *matCellDef="let element"> {{element.total_cost| customNumber}} </td>
                        </ng-container>


                        <!-- Code WBS Column -->
                        <ng-container matColumnDef="pir">
                          <th mat-header-cell *matHeaderCellDef> ПИР</th>
                          <td mat-cell *matCellDef="let element"> {{element.pir| customNumber}} </td>
                        </ng-container>

                        <!-- Code WBS Column -->
                        <ng-container matColumnDef="smr">
                          <th mat-header-cell *matHeaderCellDef> СМР</th>
                          <td mat-cell *matCellDef="let element"> {{element.smr| customNumber}} </td>
                        </ng-container>

                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="equipment">
                          <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                          <td mat-cell *matCellDef="let element"> {{element.equipment| customNumber}} </td>
                        </ng-container>


                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="other">
                          <th mat-header-cell *matHeaderCellDef> Прочее </th>
                          <td mat-cell *matCellDef="let element"> {{element.other| customNumber}} </td>
                        </ng-container>

                        <!-- Updated Date Column -->
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef> Категория </th>
                          <td mat-cell *matCellDef="let element"> {{element.category| customNumber}} </td>
                        </ng-container>



                        <tr mat-header-row
                          *matHeaderRowDef="['id','code_wbs','name', 'total_cost','pir', 'smr', 'equipment', 'other','category']">
                        </tr>
                        <tr mat-row
                          *matRowDef="let row; columns: ['id','code_wbs','name', 'total_cost','pir', 'smr', 'equipment', 'other','category']">
                        </tr>
                      </table>


                      <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                        aria-label="Select page of periodic elements" #PaginatorPlan>
                      </mat-paginator>

                    </mat-tab>


                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>
                  </mat-tab-group>
                </mat-card-content>
                <mat-card-footer>
                  <div class="border-card"></div>
                </mat-card-footer>
              </mat-card>




              <!-- Добавть пакет работ -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="addWorkPackages" aria-labelledby="addScrollingLabel" style="width: 35%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="addWorkPackages"> Добавить пакет работ</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormWorkPackages">
                    <div class="container row gx-3">


                      <!-- Estimate -->
                      <mat-form-field appearance="outline">
                        <mat-label>Объект:</mat-label>
                        <mat-select formControlName="object" required (selectionChange)="getObject_WBS($event.value)">
                          <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'code_name'" [array]="ObjectList"
                            (filteredReturn)="filteredListObjectList=$event"></mat-select-filter>

                          <mat-option *ngFor="let directory of filteredListObjectList" [value]="directory.id">
                            {{ directory.code_name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>


                      <mat-progress-bar *ngIf="isLoadingWBS" mode="query"></mat-progress-bar>

                      <mat-form-field *ngIf="!isLoadingWBS" appearance="outline">
                        <mat-label>СДР:</mat-label>
                        <mat-select formControlName="wbs"
                          [disabled]="!FormWorkPackages.get('object').value || WBSList.length === 0" required>
                          <mat-select-filter [placeholder]="'Поиск'" [displayMember]="'code_name'" [array]="WBSList"
                            (filteredReturn)="filteredListWBSList=$event"></mat-select-filter>

                          <!-- Проверяем, есть ли данные в WBSList -->
                          <ng-container *ngIf="WBSList && WBSList.length > 0; else noWBS">
                            <mat-option *ngFor="let directory of filteredListWBSList" [value]="directory.id">
                              {{ directory.code_name }}
                            </mat-option>
                          </ng-container>

                          <!-- Шаблон, когда WBSList пуст -->
                          <ng-template #noWBS>
                            <mat-option disabled>СДР отсутствует</mat-option>
                          </ng-template>
                        </mat-select>
                      </mat-form-field>


                      <div class="col-12">
                        <button (click)="AddWorkPackagse()" mat-stroked-button class="mat-btn-recolor"
                          [disabled]="!FormWorkPackages.valid">
                          <span class="align-text-center">
                            Добавить
                          </span>
                        </button>
                      </div>

                    </div>
                  </form>

                </div>
              </div>


              <!-- Изменить план,подготовка к переносу в Факт -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="editContractPackagesItemTender" aria-labelledby="addScrollingLabel" style="width: 25%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="editContractPackagesItemTender">Изменение стоимости тендера</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormEditContractPackagesItemTender"
                    (ngSubmit)="updateContractPackagesItemTender(FormEditContractPackagesItemTender.value)">
                    <div class="container row gx-3">

                      <mat-form-field appearance="outline" >
                        <mat-label>ПИР:</mat-label>
                        <input type="number" matInput formControlName="pir">
                      </mat-form-field>

                      <mat-form-field appearance="outline" >
                        <mat-label>СМР:</mat-label>
                        <input type="number" matInput formControlName="smr">
                      </mat-form-field>

                      <mat-form-field appearance="outline" >
                        <mat-label>Оборудование:</mat-label>
                        <input type="number" matInput formControlName="equipment">
                      </mat-form-field>

                      <mat-form-field appearance="outline" >
                        <mat-label>Прочее:</mat-label>
                        <input type="number" matInput formControlName="other">
                      </mat-form-field>

                      <div class="col-12">
                        <button type="submit" class="button" [disabled]="!FormEditContractPackagesItemTender.valid"
                          mat-stroked-button class="mat-btn-recolor">
                          <span class="align-text-center">
                            Изменить
                          </span>
                        </button>
                      </div>

                    </div>
                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <ng-template #loadingContent>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-template>
  </div>
</div>