<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addPortfolio" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling">
            <span class="d-flex align-items-center" (click)="add()">Добавить портфель
              <mat-icon>library_add</mat-icon>
            </span>
          </button>

          <button mat-stroked-button class="chevron" matBadge="{{comparisonList.length}}" [matBadgeHidden]="comparisonList.length === 0"  type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling">
            <span class="d-flex align-items-center"> Сравнение
              <mat-icon>compare</mat-icon>
            </span>
          </button>




        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Отчет по портфелю</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">

              <table mat-table [dataSource]="dataProjectsPortfolioTable" multiTemplateDataRows>

                <!--  -->
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row"
                      (click)="toggleExpand(element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElements.indexOf(element) === -1">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElements.indexOf(element) !== -1">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!--  -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef style="width: 90%;"> Название портфеля</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>



                <!-- Expanded Content Column -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                      [@detailExpand]="expandedElements.indexOf(element) !== -1 ? 'expanded' : 'collapsed'">
                      <app-inner-table [addToComparison]="addToComparison.bind(this)"
                        [addedToComparisonFlag]='addedToComparison' [projects]="element.projects"
                        [columnsToDisplay]="{'Название проекта': 'name', 'Плановый бюджет': 'base_budget','Текущий бюджет': 'current_budget','Фактический бюджет':'actual_budget' ,'Отклонение': 'deviation'}"
                        [toggleExpand]="toggleExpand" style="width: 100%;"></app-inner-table>
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Действие </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menuPortfel">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuPortfel="matMenu">
                      <button mat-menu-item type="button" (click)="editPortfolio(element)" data-bs-toggle="offcanvas"
                        data-bs-target="#addPortfolio" aria-controls="addScrolling">
                        <mat-icon>edit</mat-icon>
                        <span>Изменить</span>
                      </button>
                      <button mat-menu-item type="button" (click)="delPortfolio(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Удалить портфель</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                  [class.example-expanded-row]="expandedElements.indexOf(element) !== -1">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
              <br>






              
              <!-- Сравнение -->
              <div class="offcanvas offcanvas-end" #addScrolling1 data-bs-scroll="true" data-bs-backdrop="false"
                tabindex="-1" id="addScrolling" aria-labelledby="addScrollingLabel" style="width: 100%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="addScrolling">Сравнение</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body " *ngIf="comparisonList.length<=0">
                  <h5 class="card-title">Нет данных для сравнения </h5>
                </div>

                <div class="offcanvas-body " *ngIf="comparisonList.length>0">
                  <mat-tab-group>
                    <mat-tab *ngFor="let project of comparisonList; let index = index">
                      <ng-template mat-tab-label>
                        {{ project.name }}
                        <button mat-icon-button color="primary" (click)="removeProject(project.id, index)"
                          aria-label="Удалить">
                          <mat-icon>close</mat-icon>
                        </button>
                      </ng-template>
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Выберите версию для проекта "{{ project.name }}":</h5>
                          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="project.selectedKeyValueId" (change)="addToFinalList()">
                            <mat-radio-button class="example-radio-button"
                              *ngFor="let keyValue of project.keyprojectvalues" [value]="keyValue.id">
                              {{keyValue.title}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                  <br>

                  <!-- Select для переключения столбцов -->
                  <mat-form-field appearance="outline" class="col-3">
                    <mat-label>Параметры для сравнения</mat-label>
                    <mat-select [formControl]="selectedColumns" multiple (selectionChange)="updateDisplayedColumns()">
                      <mat-option *ngFor="let col of cols" [value]="col.field">{{ col.header }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- Отображение таблицы -->
                  <table mat-table [dataSource]="finalList" class="mat-elevation-z8">

                    <ng-container *ngFor="let col of cols" [matColumnDef]="col.field">
                      <th mat-header-cell *matHeaderCellDef> {{ col.header }} </th>
                      <td mat-cell *matCellDef="let item">
                        <ng-container *ngIf="col.field.includes('.'); else normalField">
                          {{ item[col.field.split('.')[0]][col.field.split('.')[1]] }}
                        </ng-container>
                        <ng-template #normalField>
                          {{ item[col.field] }}
                        </ng-template>
                      </td>
                    </ng-container>

                    <!-- ID -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> №  </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsComparison"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsComparison;"></tr>
                  </table>
                </div>
              </div>


              <!-- Добавить Изменить портфель -->
              <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="addPortfolio" aria-labelledby="addScrollingLabel" style="width: 30%;">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="EditAddScrolling">{{ editMode ? 'Изменить портфель' : 'Добавить портфель' }}</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                </div>
                <div class="offcanvas-body ">
                  <form [formGroup]="FormAddEditPortfolio">
                    <div class="container row gx-3">

                      <!-- Названия портфеля -->
                      <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Названия портфеля: </mat-label>
                        <input matInput formControlName="name" required>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Проект</mat-label>
                        <mat-select formControlName="projects" multiple required>
                          <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{ project.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="col-4">
                        <button (click)="createOrUpdateProjectsPortfolio()" mat-stroked-button 
                        aria-label="Close">
                          <span class="align-text-center">
                            {{ editMode ? 'Сохранить' : 'Добавить' }}
                          </span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>


              </div>

            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>