<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <div class="button-tools">
            <!-- <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
              (click)="theme.setWidthMin()">
              <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
              <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
            </button> -->
            <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
              <mat-icon>reply_all</mat-icon>
            </button>
            <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
              (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
          </div>


        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Новый модуль смет</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <ng-container>
                        <td> № П.П. </td>
                        <td style="width: 40%;"> Наименование </td>
                      </ng-container>
                      <ng-container *ngFor="let h of header; let i = index">
                        <td>{{h.cost_name_title}}</td>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let d of data; let i = index">
                      <tr>
                        <td>{{ i+1 }}</td>
                        <td>
                          {{ d.caption }}
                          <button mat-button (click)="onShowSource(d.id)">
                            <mat-icon aria-hidden="false" aria-label="Expand icon">
                              {{ isCollapseArray[i] ? 'expand_less' : 'expand_more' }}
                            </mat-icon>
                          </button>
                        </td>
                        <td *ngFor="let c of d.costs">{{ c.value }}</td>
                      </tr>
                      <tr *ngIf="isCollapseArray[i]">
                        <td colspan="8">
                          <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  <h2>Ресурсы</h2>
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                                <h2>Трудозатраты машинистов</h2>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <td>Описание</td>
                                      <td>Ед.</td>
                                      <td>Количество</td>
                                      <td>Стоимость</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <ng-container *ngFor="let chapterResources of resource[i].tzm">
                                        <td>{{ chapterResources.caption }}</td>
                                        <td>{{ chapterResources.units }}</td>
                                        <td>{{ chapterResources.quantity }}</td>
                                        <td>{{ chapterResources.value }}</td>
                                      </ng-container>
                                    </tr>
                                  </tbody>
                                </table>
                                <h2>Транспортно-заготовительные расходы</h2>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <td>Описание</td>
                                      <td>Ед.</td>
                                      <td>Количество</td>
                                      <td>Стоимость</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <ng-container *ngFor="let chapterResources of resource[i].tzr">
                                        <td>{{ chapterResources.caption }}</td>
                                        <td>{{ chapterResources.units }}</td>
                                        <td>{{ chapterResources.quantity }}</td>
                                        <td>{{ chapterResources.value }}</td>
                                      </ng-container>
                                    </tr>
                                  </tbody>
                                </table>
                                <h2>Стоимость материалов</h2>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <td>Описание</td>
                                      <td>Ед.</td>
                                      <td>Количество</td>
                                      <td>Стоимость</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let chapterResources of resource[i].mat">
                                        <td>{{ chapterResources.caption }}</td>
                                        <td>{{ chapterResources.units }}</td>
                                        <td>{{ chapterResources.quantity }}</td>
                                        <td>{{ chapterResources.value }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <h2>Машиночасы</h2>
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <td>Описание</td>
                                      <td>Ед.</td>
                                      <td>Количество</td>
                                      <td>Стоимость</td>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let chapterResources of resource[i].mch">
                                        <td>{{ chapterResources.caption }}</td>
                                        <td>{{ chapterResources.units }}</td>
                                        <td>{{ chapterResources.quantity }}</td>
                                        <td>{{ chapterResources.value }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </mat-expansion-panel>
                          </mat-accordion>
                          <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  <h2>Виды работ</h2>
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>№ П.П.</th>
                                    <th>Описание</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let chapterWorkList of worklist[i]; let i = index">
                                      <td>{{ i+1 }}</td>
                                      <td>{{ chapterWorkList.caption }}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>


                <!-- <mat-tab-group>

                   <mat-tab class="mat-elevation-z8" label="Объектный сметный расчёт">
                    <table mat-table [dataSource]="dataRegisterEstimatesGSFX" class="mat-elevation-z8">
                      <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef> № П/П </th>
                        <td mat-cell *matCellDef="let i = index">
                          <span>
                            {{i+1}}
                          </span>
                        </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="constr">
                        <th mat-header-cell *matHeaderCellDef> Номера сметных расчётов(смет) </th>
                        <td mat-cell *matCellDef="let element"> {{element.constr}} </td>
                      </ng-container>

                      
                      <ng-container matColumnDef="stage">
                        <th mat-header-cell *matHeaderCellDef> Наименование работ и затрат </th>
                        <td mat-cell *matCellDef="let element"> {{element.stage}} </td>
                      </ng-container>



                      <tr mat-header-row *matHeaderRowDef="displayedColumnsGSFX"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsGSFX;"></tr>
                    </table>
                  </mat-tab>


                  
                </mat-tab-group> -->

                <!-- <p-table [value]="sales" [tableStyle]="{'min-width': '50rem'}"   >
                  <ng-template pTemplate="header" >
                    <tr >
                      <th rowspan="2" style="width: 5%;">№ п/п(1)</th>
                      <th rowspan="2">Наименование работ и затрат (3)</th>
                      <th colspan="4">Сметная стоймость, руб</th> 
                    </tr>
                    <tr>
                      <th>This Year</th>
                      <th>Last Year</th>
                      <th>This Year</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-sale>
                    <tr>
                      <td>{{sale.index}}</td>
                      <td>{{sale.lastYearSale}}%</td>
                      <td>{{sale.thisYearSale}}%</td>
                      <td>{{sale.lastYearProfit | currency: 'USD'}}</td>
                      <td>{{sale.thisYearProfit | currency: 'USD'}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <tr>
                      <td colspan="3" class="text-right">Totals</td>
                      <td>{{lastYearTotal | currency: 'USD'}}</td>
                      <td>{{thisYearTotal | currency: 'USD'}}</td>
                    </tr>
                  </ng-template>
                </p-table> -->
              </mat-card-content>



              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>



          </div>
        </div>
      </div>





    </div>
  </div>
</div>