<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>

          <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#addScrolling" style="margin-bottom: 15px;  margin-right: 5px;"
            aria-controls="addScrolling">
            <!-- (click)="add()" -->
            <span class="d-flex align-items-center">Добавить разделительную ведомость
              <mat-icon>library_add</mat-icon>
            </span>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Разделительная ведомость</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-tab-group>
                  <!-- План  -->
                  <mat-tab class="mat-elevation-z8" label="План">

                    <table *ngIf="dataPlanTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="dataPlanTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Название</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="estimate_name">
                        <th mat-header-cell *matHeaderCellDef>Смета</th>
                        <td mat-cell *matCellDef="let element"> {{element.estimate_name}} </td>
                      </ng-container>
                      <!-- Code WBS Column -->
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР</th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="updated">
                        <th mat-header-cell *matHeaderCellDef> Дата обновления </th>
                        <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <!-- <p>{{element.id}}</p> -->
                            <button mat-menu-item type="button" (click)="moreeparationSheetPlan(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                            <button mat-menu-item (click)="delSeparationSheetPlan(element.id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button>

                            <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#editSeparationShee" (click)="editSeparationShee(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Привязка договора</span>
                            </button>

                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id','name', 'estimate_name', 'code_wbs', 'updated', 'action']"></tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id','name', 'estimate_name', 'code_wbs', 'updated', 'action']">
                      </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorPlan>
                    </mat-paginator>

                  </mat-tab>

                  <!-- Факт  -->
                  <mat-tab class="mat-elevation-z8" label="Факт">
                    <table *ngIf="dataFactTableSource.data?.length > 0 ; else noData" mat-table
                      [dataSource]="dataFactTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № п.п. </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Название</th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <ng-container matColumnDef="estimate_name">
                        <th mat-header-cell *matHeaderCellDef>Смета</th>
                        <td mat-cell *matCellDef="let element"> {{element.estimate_name}} </td>
                      </ng-container>

                      Code WBS Column
                      <ng-container matColumnDef="code_wbs">
                        <th mat-header-cell *matHeaderCellDef> Код СДР</th>
                        <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                      </ng-container>

                      <ng-container matColumnDef="contract">
                        <th mat-header-cell *matHeaderCellDef> Договор</th>
                        <td mat-cell *matCellDef="let element"> {{element.contract}} </td>
                      </ng-container>

                      <!-- Updated Date Column -->
                      <ng-container matColumnDef="updated">
                        <th mat-header-cell *matHeaderCellDef> Дата обновления </th>
                        <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
                      </ng-container>

                      <!-- Action Column -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действие </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <p>{{element.id}}</p>

                          <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button" (click)="moreeparationSheetPlan(element.id)">
                              <mat-icon>sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                            <!-- <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                              data-bs-target="#addScrolling" (click)="editRequest(element)">
                              <mat-icon>edit</mat-icon>
                              <span>Изменить</span>
                            </button>
                            <button mat-menu-item (click)="removeRequest(element.request_id)">
                              <mat-icon>clear</mat-icon>
                              <span>Удалить</span>
                            </button> -->
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id', 'name', 'estimate_name', 'code_wbs', 'updated', 'contract','action']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id','name', 'estimate_name', 'code_wbs', 'updated', 'contract', 'action']">
                      </tr>
                    </table>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                    <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                      aria-label="Select page of periodic elements" #PaginatorFact>
                    </mat-paginator>
                  </mat-tab>
                </mat-tab-group>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <!-- Добавить План -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="addScrolling" aria-labelledby="addScrollingLabel" style="width: 25%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="addScrolling">Добавить разделительную ведомость</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
                <form [formGroup]="FormAddSeparationSheetPlan">
                  <div class="container row gx-3">
                    <!-- Name -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="name" required>
                    </mat-form-field>



                    <!-- Estimate -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Cмета:</mat-label>
                      <mat-select formControlName="estimate" required>

                        <mat-option *ngFor="let estimate of EstimatesData" [value]="estimate.id">
                          {{ estimate.estimate_name }}-{{ estimate.code_number_estimate_total }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>


                    <div class="col-12">
                      <button (click)="createSeparationSheetPlan()" mat-stroked-button class="mat-btn-recolor"
                        [disabled]="!FormAddSeparationSheetPlan.valid">
                        <span class="align-text-center">
                          Добавить
                        </span>
                      </button>
                    </div>

                  </div>
                </form>

              </div>
            </div>

            <!-- Изменить план,подготовка к переносу в Факт -->
            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
              id="editSeparationShee" aria-labelledby="addScrollingLabel" style="width: 25%;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="editSeparationShee">Привязка договора</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ">
                <form [formGroup]="FormEditSeparationSheet"
                  (ngSubmit)="updateSeparationSheet(FormEditSeparationSheet.value)">
                  <div class="container row gx-3">
                    <!-- Name -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="name" required>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Договор:</mat-label>
                      <input matInput formControlName="contract" required>
                    </mat-form-field> -->
                    <!-- contracts -->
                    <mat-form-field appearance="outline" class="col-12">
                      <mat-label>Договор:</mat-label>
                      <mat-select formControlName="contract" required>

                        <mat-option *ngFor="let contract of contractsData" [value]="contract.id">
                          {{ contract.code_contract }} - {{ contract.subject }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-12">
                      <button type="submit" class="button" [disabled]="!FormEditSeparationSheet.valid"
                        mat-stroked-button class="mat-btn-recolor">
                        <span class="align-text-center">
                          Изменить
                        </span>
                      </button>
                    </div>

                  </div>
                </form>

              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>