<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Обновить факт" mat-stroked-button (click)="updateFact()" class="more">
            <span class="d-flex align-items-center"> Обновить
              <mat-icon>autorenew</mat-icon>
            </span>
          </button>
          <mat-form-field class="select-create setting-field" appearance="outline">
            <mat-label>Фильтр по году</mat-label>
            <mat-select matTooltip="Раскрыть факт по месяцам">
              <mat-option (click)="getFact()">
                Сбросить фильтр
              </mat-option>
              <mat-option *ngFor="let year of filterYears" (click)="getAnnualFact(year['year'])">
                {{year['year']}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Освоение факт</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div style="height: auto; padding: 10px 10px 50px;">
        <mat-card>
          <mat-card-header *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-header>
          <mat-card-content *ngIf="!loading">
            <div class="col" style="padding: 10px;overflow-x: hidden;">
              <div class="row">
                <div class="col" style="overflow-x: scroll; transform: rotateX(180deg)">
                  <table mat-table [dataSource]="factData" style="transform: rotateX(180deg)">

                    <ng-container matColumnDef="wbs_id">
                      <th mat-header-cell *matHeaderCellDef>
                        № СДР
                      </th>
                      <td style="padding-right: 20px" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                        {{element.code_wbs}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>
                        Название
                      </th>
                      <td style="padding-right: 20px" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                        {{element.name_wbs}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_start">
                      <th class="text-center" mat-header-cell *matHeaderCellDef>
                        Дата начала
                      </th>
                      <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                        {{element.date_start}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_end">
                      <th class="text-center" mat-header-cell *matHeaderCellDef>
                        Дата окончания
                      </th>
                      <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                        {{element.date_end}}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                      <th class="text-center" mat-header-cell *matHeaderCellDef>
                        Стоимость
                      </th>
                      <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level)">
                        {{element.amount | customNumber}}
                      </td>
                    </ng-container>

                    <ng-container *ngFor="let year of years, let i = index" matColumnDef="{{year}}">
                      <th class="text-center" [ngClass]="{'monthsColumn': (isNaN(Number(year)))}" mat-header-cell *matHeaderCellDef>
                        {{year}}
                      </th>
                      <td class="monetary-column-cell-content" mat-cell *matCellDef="let element" [ngClass]="getSelection(element.level, year)">
                        {{element.plan_fin[i].amount | customNumber}}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer *ngIf="!loading">
            <div class="border-card"></div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
