<!-- <div class="card text-center" style="height: 100%;">
  <div class="card-header list-group list-group-flush">
    <div class="row">
      <div class="col-9 d-flex justify-content-center align-items-center">{{details?.title}}</div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <td mat-cell>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!details.editing" (click)="editCardPackage(details)" class="chevron">
              <mat-icon>sort</mat-icon>
              <span>Редактировать</span>
            </button>

            <button mat-menu-item (click)="deleteCard()">
              <mat-icon>close</mat-icon>
              <span>Удалить</span>
            </button>
            <button mat-menu-item *ngIf="details.editing">
              <mat-icon>done</mat-icon>
              <span>Сохранить</span>
            </button>
          </mat-menu>
        </td>
      </div>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.NPV}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>NPV</mat-label>
        <input matInput [(ngModel)]="details.NPV" placeholder="Введите NPV">
      </mat-form-field>
      <p class="card-text sub-title"><strong>NPV проекта</strong></p>
    </li>

    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.IRR}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>IRR</mat-label>
        <input matInput [(ngModel)]="details.IRR" placeholder="Введите IRR">
      </mat-form-field>
      <p class="card-text sub-title">%</p>
      <p class="card-text sub-title"><strong>IRR проекта</strong></p>
    </li>

    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.budget}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Бюджет</mat-label>
        <input matInput [(ngModel)]="details.budget" placeholder="Введите бюджет">
      </mat-form-field>
      <p class="card-text sub-title">млрд руб.</p>
      <p class="card-text sub-title"><strong>Бюджет проекта строительства</strong></p>
    </li>

    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.production_volume}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Объем производства</mat-label>
        <input matInput [(ngModel)]="details.production_volume" placeholder="Введите объем производства">
      </mat-form-field>
      <p class="card-text sub-title">млн тонн ВМТ</p>
    </li>
  </ul>
</div> -->


<!-- <div class="card mb-2">
  <div class="card-header">
    <div class="row">
      <div class="col-9 text-left">{{details?.title}}</div>
      <div class="col-2 text-left">
        <td mat-cell>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!details.editing" (click)="editCardPackage(details)" class="chevron">
              <mat-icon>sort</mat-icon>
              <span>Редактировать</span>
            </button>

            <button mat-menu-item *ngIf="!details.editing"  (click)="deleteCard()">
              <mat-icon>close</mat-icon>
              <span>Удалить</span>
            </button>
            <button mat-menu-item *ngIf="details.editing" (click)="saveCardPackage(details)" >
              <mat-icon>done</mat-icon>
              <span>Сохранить</span>
            </button>
          </mat-menu>
        </td>
      </div>
    </div>
  </div>

  <ul class="list-group list-group-flush text-center ">
    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.NPV}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>NPV</mat-label>
        <input matInput [(ngModel)]="details.NPV" placeholder="Введите NPV">
      </mat-form-field>
      <p class="card-text sub-title"><strong>NPV проекта</strong></p>
    </li>

    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.IRR}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>IRR</mat-label>
        <input matInput [(ngModel)]="details.IRR" placeholder="Введите IRR">
      </mat-form-field>
      <p class="card-text sub-title">%</p>
      <p class="card-text sub-title"><strong>IRR проекта</strong></p>
    </li>
    
    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.effective_plan_date | date:'shortDate'}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="details.effective_plan_date" placeholder="Выберите дату" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </li>
    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.budget}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Бюджет</mat-label>
        <input matInput type="number" [(ngModel)]="details.budget" placeholder="Введите бюджет">
      </mat-form-field>
      <p class="card-text sub-title">млрд руб.</p>
      <p class="card-text sub-title"><strong>Бюджет проекта строительства</strong></p>
    </li>

    <li class="list-group-item">
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.production_volume}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Объем производства</mat-label>
        <input matInput [(ngModel)]="details.production_volume" placeholder="Введите объем производства">
      </mat-form-field>
      <p class="card-text sub-title">млн тонн ВМТ</p>
    </li>

  </ul>
</div> -->


<div class="card text-center shadow">
  <div class="card-header">
    <div class="row">
      <div class="col-9 d-flex align-items-center text-left"><strong>{{details?.title}}</strong></div>
      <div class="col-2 d-flex align-items-center text-left">
        <td mat-cell>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="!details.editing" (click)="editCardPackage(details)" class="chevron">
              <mat-icon>sort</mat-icon>
              <span>Редактировать</span>
            </button>

            <button mat-menu-item *ngIf="!details.editing" (click)="deleteCard()">
              <mat-icon>close</mat-icon>
              <span>Удалить</span>
            </button>
            <button mat-menu-item *ngIf="details.editing" (click)="saveCardPackage(details)">
              <mat-icon>done</mat-icon>
              <span>Сохранить</span>
            </button>
          </mat-menu>
        </td>
      </div>
    </div>
  </div>

  <!-- <div class="card-body">
    <h5 class="card-title">For individuals</h5>
    <p class="card-text">Great for personal projects</p>
  </div> -->

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>Бюджет проекта</strong></p>
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.budget}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Бюджет проекта(млрд руб.)</mat-label>
        <input matInput type="number" [(ngModel)]="details.budget" placeholder="Введите бюджет">
      </mat-form-field>
      <p class="card-text sub-title">млрд руб.</p>
      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_budget">*{{details.comment_budget| number:'1.2-2'}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к бюджету проекта</mat-label>
        <input matInput [(ngModel)]="details.comment_budget">
      </mat-form-field>
    </li>

    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>IRR проекта</strong></p>
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.IRR}} %</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>IRR проекта(%)</mat-label>
        <input matInput [(ngModel)]="details.IRR" placeholder="IRR проекта (%)">
      </mat-form-field>

      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_IRR">*{{details.comment_IRR}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к IRR проекта</mat-label>
        <input matInput [(ngModel)]="details.comment_IRR">
      </mat-form-field>
    </li>

    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>NPV проекта</strong></p>
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.NPV}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>NPV проекта</mat-label>
        <input matInput [(ngModel)]="details.NPV" placeholder="NPV проекта">
      </mat-form-field>


      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_NPV">*{{details.comment_NPV}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к NPV проекта</mat-label>
        <input matInput [(ngModel)]="details.comment_NPV">
      </mat-form-field>
    </li>

    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>Приоритет проекта</strong></p>
      <p *ngIf="!details.editing" class="card-text value_num">{{details?.priority}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Приоритет проекта</mat-label>
        <input matInput [(ngModel)]="details.priority" placeholder="Приоритет проекта">
      </mat-form-field>
      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_priority">*{{details.comment_priority}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к приоритету проекта</mat-label>
        <input matInput [(ngModel)]="details.comment_priority">
      </mat-form-field>
    </li>

    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>Категория проекта</strong></p>

      <p *ngIf="!details.editing" class="card-text value_num">{{details?.category}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Категория проекта</mat-label>
        <input matInput [(ngModel)]="details.category" placeholder="Категория проекта">
      </mat-form-field>

      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_category">*{{details.comment_category}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к категории проекта</mat-label>
        <input matInput [(ngModel)]="details.comment_category">
      </mat-form-field>
    </li>


    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>Вехи проекта</strong></p>

      <p *ngIf="!details.editing" class="card-text value_num">{{details?.effective_plan_date | date:'shortDate'}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="details.effective_plan_date" placeholder="Выберите дату">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_effective_plan_date">*{{details.comment_effective_plan_date}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к вехам проекта</mat-label>
        <input matInput [(ngModel)]="details.comment_effective_plan_date">
      </mat-form-field>
    </li>

    <li class="list-group-item">
      <p class="card-text sub-title" *ngIf="!details.editing"><strong>Объём добычи</strong></p>

      <p *ngIf="!details.editing" class="card-text value_num">{{details?.production_volume}}</p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label>Объем производства</mat-label>
        <input matInput [(ngModel)]="details.production_volume" placeholder="Введите объем производства">
      </mat-form-field>
      <p class="card-text sub-title">млн тонн ВМТ</p>
      <p *ngIf="!details.editing" class="card-text value_num font-italic"><em
          *ngIf="details.comment_production_volume">*{{details.comment_production_volume}}</em></p>
      <mat-form-field *ngIf="details.editing" class="input-group" appearance="legacy">
        <mat-label style="color: rgb(187, 187, 187);">Комментарий к объёмам добычи</mat-label>
        <input matInput [(ngModel)]="details.comment_production_volume">
      </mat-form-field>
    </li>
  </ul>
</div>