 /* p{
    padding: 0;
    margin: 0;
} */
.card-header{
    background-color: rgb(225, 112, 0); 
}
::ng-deep .mat-form-field-wrapper .ng-tns-c68-38{
    padding: 0 !important;
    margin: 0 !important;
}
/* .value_num{
    font-weight:400;
    font-size: 200%;
    padding-bottom: 20px;
} */

