<app-header></app-header>
<app-alert></app-alert>
<!-- <div class="container-fluid"> -->
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать общепроектную" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(6); wbsSource.getSelect4()">
            <mat-icon>library_add</mat-icon>
          </button>
          <button matTooltip="Создать НМА" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(4); wbsSource.getSelect1()">
            <mat-icon>library_add</mat-icon>
          </button>
          <button matTooltip="Синхронизировать" class="chevron bnt-help--tools"  style="margin-left: 5px;">
            <mat-icon>autorenew</mat-icon>
          </button>
          <mat-form-field class="select-create setting-field" appearance="outline">
            <mat-label>Выбрать вид</mat-label>
            <mat-select>
              <mat-option (click)="changeCurrentView(0)">Структурный вид
              </mat-option>
              <mat-option (click)="changeCurrentView(1)">Табличный вид
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="currentViewIndex == 0" class="select-create setting-field"
                      appearance="outline"
            >
            <mat-label>Раскрыть до уровня</mat-label>
            <mat-select>
            <mat-option *ngFor="let levelName of this.tablesViewColumns[this.getSelectedWbsSource], let i = index"
                      (click)="toggleToLevel(i-1)"
            >
            {{levelName}}
            </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field  *ngIf="currentViewIndex == 0" class="select-create setting-field" id="find-field" appearance="outline">
            <input matInput placeholder="Введите название или код сдр" oninput=""
                  [(ngModel)]="nameFilter"
            >
            <button title="Сбросить" mat-icon-button matSuffix
                    (click)="resetFound()">
              <mat-icon matSuffix >delete_outline</mat-icon>
            </button>
          </mat-form-field>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Структурная декомпозиция работ</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <div class="row">
                  <mat-tab-group (selectedIndexChange)="setSelectedWbsSource = $event">
                    <mat-tab label="Объектная СДР">
                      <table *ngIf="currentViewIndex == 0" mat-table [dataSource]="structureViewDataSource[0]"
                        class="mat-elevation-z8"
                        style="width: 100%;box-shadow:none">
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>
                            <span [style.paddingLeft.px]="40"> Наименование </span>
                          </th>
                          <td mat-cell *matCellDef="let data" 
                            [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                            [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                            >
                            <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                                    [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)"
                            >
                              <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                              </mat-icon>
                            </button>

                              {{data.code_wbs}}. {{data.name}}

                            <button *ngIf="tablesViewColumns[0].length > data.level + 1"
                                    title="Добавить {{clueViewButtons[0][data.level + 1]}}"
                                    mat-icon-button class="row-button"
                                    (click)="toggleCreatingForm(data)"
                            >
                              <mat-icon>add</mat-icon>
                            </button>
                            <button *ngIf="tablesViewColumns[0].length > data.level"
                                    title="Редактировать {{clueViewButtons[0][data.level]}}"
                                    mat-icon-button class="row-button"
                                    (click)="toggleUpdatingForm(data)"
                            >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                    (click)="togglePackagesList(data)"
                            >
                              <mat-icon>
                                play_arrow
                              </mat-icon>
                            </button>  
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="type_node">
                          <th mat-header-cell *matHeaderCellDef> Уровень </th>
                          <td mat-cell *matCellDef="let data" 
                            [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                            [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                          > 
                            {{data.type_node}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="start_date">
                          <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                          <td mat-cell *matCellDef="let data" 
                            [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                            [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                          >
                            
                              <span>{{data.start_date}}</span>
                              <span *ngIf="!data.start_date && data.type_node == 'Объекты'">Дата не указана</span>
                            
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="end_date">
                          <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                          <td mat-cell *matCellDef="let data" 
                            [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                            [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"  
                          >
                            
                              <span>{{data.end_date}}</span>
                              <span *ngIf="!data.end_date && data.type_node == 'Объекты'">Дата не указана</span>
                            
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef> Категория </th>
                          <td mat-cell *matCellDef="let data" 
                            [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                            [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"  
                          >
                            
                              {{data.category}}
                            
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="structureViewColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: structureViewColumns;" style="height: auto;"></tr>
                      </table>
                      <table *ngIf="currentViewIndex == 1" mat-table [dataSource]="tableViewDataSources[0]" class="mat-elevation-z8 tableData"
                            style="width: 100%;box-shadow:none"
                        >
                        <ng-container matColumnDef="{{this.tablesViewColumns[0][0]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[0][0]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan(0, i, 0)"
                              [style.display]="(getRowspan(0, i, 0)) ? '' : 'none'"
                          >
                            <span *ngIf="data[0].name != ''">
                              {{data[0].wbs.code_wbs}}. {{data[0].name}}
                            </span>
                            <div *ngIf="data[0].name != ''">
                              <button *ngIf="tablesViewColumns[0].length > 1"
                                      title="Добавить {{clueViewButtons[0][1]}}"
                                      mat-icon-button class="row-button"
                                      (click)="toggleCreatingForm(data[0].wbs)"
                              >
                                <mat-icon>add</mat-icon>
                              </button>
                              <button
                                      title="Редактировать {{clueViewButtons[0][0]}}"
                                      mat-icon-button class="row-button"
                                      (click)="toggleUpdatingForm(data[0].wbs)"
                              >
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                      (click)="togglePackagesList(data[0].wbs)"
                              >
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data[0].name != ''">{{data[0].wbs.start_date}} - {{data[0].wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle" *ngIf="data[0].name != ''">{{data[0].wbs.category}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="{{this.tablesViewColumns[0][1]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[0][1]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan(1, i, 0)"
                              [style.display]="(getRowspan(1, i, 0)) ? '' : 'none'"
                          >
                            <div *ngIf="data[1].name != ''">
                              <span>{{data[1].wbs?.code_wbs}}. {{data[1].name}}</span>
                              <button *ngIf="tablesViewColumns[0].length > 2"
                                      title="Добавить {{clueViewButtons[0][2]}}"
                                      mat-icon-button class="row-button"
                                      (click)="toggleCreatingForm(data[1].wbs)"
                              >
                                <mat-icon>add</mat-icon>
                              </button>
                              <button
                                title="Редактировать {{clueViewButtons[0][1]}}"
                                mat-icon-button class="row-button"
                                (click)="toggleCreatingForm(data[1].wbs)"
                              >
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                      (click)="togglePackagesList(data[1].wbs)"
                              >
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data[1].name != ''">{{data[1].wbs.start_date}} - {{data[1].wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle" *ngIf="data[1].name != ''">{{data[1].wbs.category}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="{{this.tablesViewColumns[0][2]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[0][2]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan(2, i, 0)"
                              [style.display]="(getRowspan(2, i, 0)) ? '' : 'none'"
                          >
                            <div *ngIf="data[2].name != ''">
                              <span>{{data[2].wbs?.code_wbs}}. {{data[2].name}}</span>
                              <button *ngIf="tablesViewColumns[0].length > 3"
                                      title="Добавить {{clueViewButtons[0][3]}}"
                                      mat-icon-button class="row-button"
                                      (click)="toggleCreatingForm(data[2].wbs)"
                              >
                                <mat-icon>add</mat-icon>
                              </button>
                              <button
                                title="Редактировать {{clueViewButtons[0][2]}}"
                                mat-icon-button class="row-button"
                                (click)="toggleUpdatingForm(data[2].wbs)"
                              >
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                      (click)="togglePackagesList(data[2].wbs)"
                              >
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data[2].name != ''">{{data[2].wbs.start_date}} - {{data[2].wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle" *ngIf="data[2].name != ''">{{data[2].wbs.category}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="{{this.tablesViewColumns[0][3]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[0][3]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan(3, i, 0)"
                              [style.display]="(getRowspan(3, i, 0)) ? '' : 'none'"
                          >
                            <div *ngIf="data[3].name != ''">
                              <span>{{data[3].wbs?.code_wbs}}. {{data[3].name}}</span>
                              <button *ngIf="tablesViewColumns[0].length > 4"
                                      title="Добавить {{clueViewButtons[0][4]}}"
                                      mat-icon-button class="row-button"
                                      (click)="toggleCreatingForm(data[3].wbs)"
                              >
                                <mat-icon>add</mat-icon>
                              </button>
                              <button
                                title="Редактировать {{clueViewButtons[0][3]}}"
                                mat-icon-button class="row-button"
                                (click)="toggleUpdatingForm(data[3].wbs)"
                              >
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                      (click)="togglePackagesList(data[3].wbs)"
                              >
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data[3].name != ''">{{data[3].wbs.start_date}} - {{data[3].wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle" *ngIf="data[3].name != ''">{{data[3].wbs.category}}</span>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="{{this.tablesViewColumns[0][4]}}">
                          <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[0][4]}} </th>
                          <td mat-cell *matCellDef="let data, let i = index"
                              [attr.rowspan]="getRowspan(4, i, 0)"
                              [style.display]="(getRowspan(4, i, 0)) ? '' : 'none'"
                          >
                            <div *ngIf="data[4].name != ''">
                              <span>{{data[4].wbs?.code_wbs}}. {{data[4].name}}</span>
                              <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                      (click)="togglePackagesList(data[4].wbs)"
                              >
                                <mat-icon>
                                  play_arrow
                                </mat-icon>
                              </button>
                            </div>
                            <span class="date_subtitle" *ngIf="data[4].name != ''">{{data[4].wbs.start_date}} - {{data[4].wbs.end_date}}</span>
                            <br>
                            <span class="date_subtitle" *ngIf="data[4].name != ''">{{data[4].wbs.category}}</span>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tablesViewColumns[0]"></tr>

                        <tr mat-row *matRowDef="let row; columns: tablesViewColumns[0]"></tr>
                      </table>
                    </mat-tab>
                    <!-- !Temp -->
                    <mat-tab label="Общепроектная">
                      
                        <!-- <app-total-project-costs></app-total-project-costs> -->
                      <ng-template matTabContent>
                        <div class="col" style="padding: 20px;">
                          <mat-slide-toggle [(ngModel)]="showGeneralToggle">Общепроектный бюджет</mat-slide-toggle>
                        </div>
                        <div *ngIf="showGeneralToggle">
                          <app-total-project-costs></app-total-project-costs>
                        </div>
                        <div *ngIf="!showGeneralToggle">
                          <table *ngIf="currentViewIndex == 0" mat-table [dataSource]="structureViewDataSource[1]"
                                class="mat-elevation-z8" style="width: 100%;box-shadow:none">
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef>
                                <span [style.paddingLeft.px]="40"> Наименование </span>
                              </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              >
                                <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                                        [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
                                  <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                                  </mat-icon>
                                </button>

                                {{data.code_wbs}}. {{data.name}}

                                <button *ngIf="tablesViewColumns[1].length > data.level + 1"
                                        title="Добавить {{clueViewButtons[1][data.level + 1]}}" mat-icon-button
                                        class="row-button" (click)="toggleCreatingForm(data)">
                                  <mat-icon>add</mat-icon>
                                </button>
                                <button *ngIf="tablesViewColumns[1].length > data.level"
                                        title="Редактировать {{clueViewButtons[1][data.level]}}" mat-icon-button
                                        class="row-button" (click)="toggleUpdatingForm(data)">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                        (click)="togglePackagesList(data)">
                                  <mat-icon>
                                    play_arrow
                                  </mat-icon>
                                </button>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="type_node">
                              <th mat-header-cell *matHeaderCellDef> Уровень </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.type_node}} </td>
                            </ng-container>

                            <ng-container matColumnDef="start_date">
                              <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.start_date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="end_date">
                              <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.end_date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                              <th mat-header-cell *matHeaderCellDef> Категория </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.category}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="structureViewColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: structureViewColumns;" style="height: auto;"></tr>
                          </table>
                          <table *ngIf="currentViewIndex == 1" mat-table [dataSource]="tableViewDataSources[1]"
                            class="mat-elevation-z8 tableData" style="width: 100%;box-shadow:none"
                          >

                            <ng-container matColumnDef="{{this.tablesViewColumns[1][0]}}">
                              <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[1][0]}} </th>
                              <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan(0, i, 1)"
                                  [style.display]="(getRowspan(0, i, 1)) ? '' : 'none'">
                                <span *ngIf="data[0].name != ''">{{data[0].wbs.code_wbs}}.
                                  {{data[0].name}}</span>
                                <div *ngIf="data[0].name != ''">
                                  <button *ngIf="tablesViewColumns[1].length > 1"
                                          title="Добавить {{clueViewButtons[1][1]}}" mat-icon-button class="row-button"
                                          (click)="toggleCreatingForm(data.level0.wbs)">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                  <button title="Редактировать {{clueViewButtons[1][0]}}" mat-icon-button
                                          class="row-button" (click)="toggleUpdatingForm(data.level0.wbs)">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                          (click)="togglePackagesList(data.level0.wbs)">
                                    <mat-icon>
                                      play_arrow
                                    </mat-icon>
                                  </button>
                                </div>
                                <span class="date_subtitle" *ngIf="data[0].name != ''">{{data[0].wbs.start_date}} -
                                  {{data[0].wbs.end_date}}</span>
                                <br>
                                <span class="date_subtitle"
                                      *ngIf="data[0].name != ''">{{data[0].wbs.category}}</span>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="{{this.tablesViewColumns[1][1]}}">
                              <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[1][1]}} </th>
                              <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan(1, i, 1)"
                                  [style.display]="(getRowspan(1, i, 1)) ? '' : 'none'">
                                <div *ngIf="data[1].name != ''">
                                  <span>{{data[1].wbs?.code_wbs}}. {{data[1].name}}</span>
                                  <button *ngIf="tablesViewColumns[1].length > 2"
                                          title="Добавить {{clueViewButtons[1][2]}}" mat-icon-button class="row-button"
                                          (click)="toggleCreatingForm(data[1].wbs)">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                  <button title="Редактировать {{clueViewButtons[1][1]}}" mat-icon-button
                                          class="row-button" (click)="toggleUpdatingForm(data.level1.wbs)">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                          (click)="togglePackagesList(data[1].wbs)">
                                    <mat-icon>
                                      play_arrow
                                    </mat-icon>
                                  </button>
                                </div>
                                <span class="date_subtitle" *ngIf="data[1].name != ''">{{data[1].wbs.start_date}} -
                                  {{data[1].wbs.end_date}}</span>
                                <br>
                                <span class="date_subtitle"
                                      *ngIf="data[1].name != ''">{{data[1].wbs.category}}</span>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="{{this.tablesViewColumns[1][2]}}">
                              <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[1][2]}} </th>
                              <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan(2, i, 1)"
                                  [style.display]="(getRowspan(2, i, 1)) ? '' : 'none'">
                                <div *ngIf="data[2].name != ''">
                                  <span>{{data[2].wbs?.code_wbs}}. {{data[2].name}}</span>
                                  <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                          (click)="togglePackagesList(data[2].wbs)">
                                    <mat-icon>
                                      play_arrow
                                    </mat-icon>
                                  </button>
                                </div>
                                <span class="date_subtitle" *ngIf="data[2].name != ''">{{data[2].wbs.start_date}} -
                                  {{data[2].wbs.end_date}}</span>
                                <br>
                                <span class="date_subtitle"
                                      *ngIf="data[2].name != ''">{{data[2].wbs.category}}</span>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tablesViewColumns[1]"></tr>

                            <tr mat-row *matRowDef="let row; columns: tablesViewColumns[1]"></tr>
                          </table>
                        </div>

                      </ng-template>
                    </mat-tab>
                    <mat-tab label="НМА">
                      <!-- <app-intangible></app-intangible> -->

                      <ng-template matTabContent>
                        <div class="col" style="padding: 20px;">
                          <mat-slide-toggle [(ngModel)]="showNmaToggle">НМА бюджет</mat-slide-toggle>
                        </div>
                        <div *ngIf="showNmaToggle">
                          <app-intangible></app-intangible>
                        </div>
                        <div *ngIf="!showNmaToggle">
                          <table *ngIf="currentViewIndex == 0" mat-table [dataSource]="structureViewDataSource[2]"
                            class="mat-elevation-z8" style="width: 100%;box-shadow:none">
                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef>
                                <span [style.paddingLeft.px]="40"> Наименование </span>
                              </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              >
                                <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                                  [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)">
                                  <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                                  </mat-icon>
                                </button>

                                {{data.code_wbs}}. {{data.name}}

                                <button *ngIf="tablesViewColumns[2].length > data.level + 1"
                                  title="Добавить {{clueViewButtons[data.level + 1]}}" mat-icon-button
                                  class="row-button" (click)="toggleCreatingForm(data)">
                                  <mat-icon>add</mat-icon>
                                </button>
                                <button *ngIf="tablesViewColumns[2].length > data.level"
                                  title="Редактировать {{clueViewButtons[data.level]}}" mat-icon-button
                                  class="row-button" (click)="toggleUpdatingForm(data)">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                  (click)="togglePackagesList(data)">
                                  <mat-icon>
                                    play_arrow
                                  </mat-icon>
                                </button>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="type_node">
                              <th mat-header-cell *matHeaderCellDef> Уровень </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.type_node}} </td>
                            </ng-container>

                            <ng-container matColumnDef="start_date">
                              <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.start_date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="end_date">
                              <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.end_date}} </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                              <th mat-header-cell *matHeaderCellDef> Категория </th>
                              <td mat-cell *matCellDef="let data"
                                [style.display]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 'none' : 'table-cell'"
                                [style.height.px]="(filterLeafNode(data) && filterLeafParentNode(data)) ? 0 : 48"
                              > {{data.category}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="structureViewColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: structureViewColumns;" style="height: auto;"></tr>
                          </table>
                          <table *ngIf="currentViewIndex == 1" mat-table [dataSource]="tableViewDataSources[2]"
                            class="mat-elevation-z8 tableData" style="width: 100%;box-shadow:none">

                            <ng-container matColumnDef="{{this.tablesViewColumns[2][0]}}">
                              <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[2][0]}} </th>
                              <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan(0, i, 2)"
                                [style.display]="(getRowspan(0, i, 2)) ? '' : 'none'">
                                <span *ngIf="data[0].name != ''">{{data[0].wbs.code_wbs}}.
                                  {{data[0].name}}</span>
                                <div *ngIf="data[0].name != ''">
                                  <button *ngIf="tablesViewColumns[2].length > 1"
                                    title="Добавить {{clueViewButtons[2][1]}}" mat-icon-button class="row-button"
                                    (click)="toggleCreatingForm(data[0].wbs)">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                  <button title="Редактировать {{clueViewButtons[2][0]}}" mat-icon-button
                                    class="row-button" (click)="toggleUpdatingForm(data[0].wbs)">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                    (click)="togglePackagesList(data[0].wbs)">
                                    <mat-icon>
                                      play_arrow
                                    </mat-icon>
                                  </button>
                                </div>
                                <span class="date_subtitle" *ngIf="data[0].name != ''">{{data[0].wbs.start_date}} -
                                  {{data[0].wbs.end_date}}</span>
                                <br>
                                <span class="date_subtitle"
                                  *ngIf="data[0].name != ''">{{data[0].wbs.category}}</span>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="{{this.tablesViewColumns[2][1]}}">
                              <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[2][1]}} </th>
                              <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan(1, i, 2)"
                                [style.display]="(getRowspan(1, i, 2)) ? '' : 'none'">
                                <div *ngIf="data[1].name != ''">
                                  <span>{{data[1].wbs?.code_wbs}}. {{data[1].name}}</span>
                                  <button *ngIf="tablesViewColumns[2].length > 2"
                                    title="Добавить {{clueViewButtons[2][2]}}" mat-icon-button class="row-button"
                                    (click)="toggleCreatingForm(data[1].wbs)">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                  <button title="Редактировать {{clueViewButtons[2][1]}}" mat-icon-button
                                    class="row-button" (click)="toggleUpdatingForm(data[1].wbs)">
                                    <mat-icon>edit</mat-icon>
                                  </button>
                                  <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                    (click)="togglePackagesList(data[1].wbs)">
                                    <mat-icon>
                                      play_arrow
                                    </mat-icon>
                                  </button>
                                </div>
                                <span class="date_subtitle" *ngIf="data[1].name != ''">{{data[1].wbs.start_date}} -
                                  {{data[1].wbs.end_date}}</span>
                                <br>
                                <span class="date_subtitle"
                                  *ngIf="data[1].name != ''">{{data[1].wbs.category}}</span>
                              </td>
                            </ng-container>

                            <ng-container matColumnDef="{{this.tablesViewColumns[2][2]}}">
                              <th mat-header-cell *matHeaderCellDef> {{this.tablesViewColumns[2][2]}} </th>
                              <td mat-cell *matCellDef="let data, let i = index" [attr.rowspan]="getRowspan(2, i, 2)"
                                [style.display]="(getRowspan(2, i, 2)) ? '' : 'none'">
                                <div *ngIf="data[2].name != ''">
                                  <span>{{data[2].wbs?.code_wbs}}. {{data[2].name}}</span>
                                  <button title="Раскрыть карточку" mat-icon-button class="row-button"
                                    (click)="togglePackagesList(data[2].wbs)">
                                    <mat-icon>
                                      play_arrow
                                    </mat-icon>
                                  </button>
                                </div>
                                <span class="date_subtitle" *ngIf="data[2].name != ''">{{data[2].wbs.start_date}} -
                                  {{data[2].wbs.end_date}}</span>
                                <br>
                                <span class="date_subtitle"
                                  *ngIf="data[2].name != ''">{{data[2].wbs.category}}</span>
                              </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="tablesViewColumns[2]"></tr>

                            <tr mat-row *matRowDef="let row; columns: tablesViewColumns[2]"></tr>
                          </table>  
                        </div>

                    </ng-template>
                    
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </mat-card-content>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': show.showBlock[0]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="this.show.closedAdd(0);">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h1 class="element_title">{{getSelectedWbs?.name}}</h1>
        <div>
          <h2 class="element_title">Пакеты:</h2>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let packet of this.getSelectedWbs?.children">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{packet.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div>
                <mat-list>
                  <mat-list-item>
                    Версия: {{packet.code_wbs}}
                  </mat-list-item>
                  <mat-list-item>
                    Категория: {{packet.category}}
                  </mat-list-item>
                  <mat-list-item>
                    Готовность: {{packet.percent_date}}%
                  </mat-list-item>
                </mat-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <h3 *ngIf="this.getSelectedWbs?.children?.length == 0">Нет пакетов</h3>
        </div>
        <button style="margin-right: 5px;width: 100%;margin-top: 5px;" mat-stroked-button class="mat-btn-danger"
                    (click)="deletePackage(this.getSelectedWbs)"
            >Удалить</button>
      </div>

      <div class="create" [ngClass]="{'show': show.showBlock[1]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeForm(CreatedPackage, 1)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Создать {{this.clueViewButtons[this.getSelectedWbsSource][getSelectedWbs?.level + 1]}}</h2>

        <div class="col-12">
          <form [formGroup]="CreatedPackage" (ngSubmit)="addPackage(CreatedPackage, getSelectedWbs?.level)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название {{clueFormHeader[this.getSelectedWbsSource][getSelectedWbs?.level + 1]}}:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="CreatedPackage.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР:</mat-label>
                <span matTextPrefix style="color: grey;">{{getSelectedWbs?.code_wbs + "."}} &nbsp;</span>
                <input matInput formControlName="part_code_wbs" style="width: 50%;">
                <mat-error *ngIf="CreatedPackage.get('part_code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput type="date" formControlName="start_date">
                <mat-error *ngIf="CreatedPackage.get('start_date').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата конца:</mat-label>
                <input matInput type="date" formControlName="end_date">
                <mat-error *ngIf="CreatedPackage.get('end_date').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select  formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="CreatedPackage.get('category').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                [disabled]="CreatedPackage.get('name').invalid
                || CreatedPackage.get('part_code_wbs').invalid
                || CreatedPackage.get('category').invalid"
              >Создать</button>
            </div>
          </form>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': show.showBlock[2]}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeForm(UpdatedPackage, 2)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Обновить {{this.clueViewButtons[this.getSelectedWbsSource][getSelectedWbs?.level]}}</h2>


        <div class="col-12">
          <form [formGroup]="UpdatedPackage" (ngSubmit)="updatePackage(UpdatedPackage, getSelectedWbs?.level)" class="row">
            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="UpdatedPackage.get('name').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Код СДР:</mat-label>
                <span matTextPrefix style="color: grey;">{{getSelectedWbs?.level !== 0 ? "P" + getSelectedWbs?.ancestor_code_wbs + ".": "P"}} &nbsp;</span>
                <input matInput formControlName="part_code_wbs" style="width: 50%;">
                <mat-error *ngIf="UpdatedPackage.get('part_code_wbs').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput type="date" formControlName="start_date">
                <mat-error *ngIf="UpdatedPackage.get('start_date').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата конца:</mat-label>
                <input matInput type="date" formControlName="end_date">
                <mat-error *ngIf="UpdatedPackage.get('end_date').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Категория:</mat-label>
                <mat-select formControlName="category_id">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="UpdatedPackage.get('category_id').errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                      [disabled]="UpdatedPackage.get('name').invalid
                || UpdatedPackage.get('part_code_wbs').invalid
                || UpdatedPackage.get('category_id').invalid"
              >Сохранить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
