<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="addSection_1(); show.toggleShowBlock(1)">
            <mat-icon>library_add</mat-icon>
          </button>
          <button matTooltip="Сравнить" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(2)" style="margin-bottom: 15px;" >
              <mat-icon>compare</mat-icon>
          </button>
          <!-- (click)="compared()" -->
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Оценочный бюджет</span>
          <span class="tools-inner">Реестр оценочных бюджетов: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header>
                <!-- <mat-card-title>Создать карточку объекта</mat-card-title> -->
              </mat-card-header>
              <mat-card-content>

                <div class="table-responsive">
                  <!-- <table mat-table [dataSource]="dataSource" style="width: 100%;box-shadow: none;">

                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="toggleAllRows(); updateArray()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleRow(row); updateArray()"
                          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="serial_number">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>№</span>
                      </th>
                      <td mat-cell *matCellDef="let i = index">
                        <span>
                          {{i+1}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Название </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.title }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.title" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="version">
                      <th mat-header-cell *matHeaderCellDef> Версия </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.version }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.version" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                      <th mat-header-cell *matHeaderCellDef> Комментарии </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.comments }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.comments" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef> Стоимость текущая </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.cost }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.cost" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_start_plan">
                      <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.date_start_plan }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.date_start_plan" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_end_plan">
                      <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.date_end_plan }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.date_end_plan" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="currency">
                      <th mat-header-cell *matHeaderCellDef> Валюта </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="!element.editing">{{ element.currency }}</span>
                        <input matInput *ngIf="element.editing" [(ngModel)]="element.currency" class="editing">
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Действие </th>
                      <td mat-cell *matCellDef="let element" class="edit">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu class="customize" #menu="matMenu">
                          <button mat-menu-item *ngIf="!element.editing" (click)="showDetails(element)">
                            <mat-icon class="mat-menu-icon">sort</mat-icon>
                            <span>Подробнее</span>
                          </button>
                          <button mat-menu-item *ngIf="!element.editing" (click)="editBudget(element); show.toggleShowBlock(3)">
                            <mat-icon class="mat-menu-icon">edit</mat-icon>
                            <span>Редактировать</span>
                          </button>
                          <button mat-menu-item *ngIf="element.editing" (click)="saveBudget(element)">
                            <mat-icon class="mat-menu-icon">done</mat-icon>
                            <span>Сохранить</span>
                          </button>
                          <button mat-menu-item *ngIf="element.editing" (click)="show.cancel(element)">
                            <mat-icon class="mat-menu-icon">block</mat-icon>
                            <span>Отменить</span>
                          </button>
                          <button mat-menu-item *ngIf="!element.editing" (click)="delBudget(element)">
                            <mat-icon class="mat-menu-icon">clear</mat-icon>
                            <span>Удалить</span>
                          </button>
                        </mat-menu>
                        
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table> -->

                  <table mat-table [dataSource]="dataSources">
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <!-- <mat-checkbox (change)="updateArray()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox> -->
                      </th>
                      <td mat-cell *matCellDef="let row; let node">
                        <mat-checkbox *ngIf="row.level !== 1 && row.level !== 2 && row.level !== 3" 
                          (click)="$event.stopPropagation()" 
                          (change)="toggleRow(node); updateArray();"
                          [checked]="selection.isSelected(node)" [aria-label]="checkboxLabel(node)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                      <th mat-header-cell *matHeaderCellDef> Наименование </th>
                      <td mat-cell *matCellDef="let node;">
                        <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
                        {{node.title}}
                      </td>
                    </ng-container>
                
                    <ng-container matColumnDef="serial_number">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>№</span>
                      </th>
                      <td mat-cell *matCellDef="let i = index">
                        <span>
                          {{i+1}}
                        </span>
                      </td>
                    </ng-container>
    
                    <ng-container matColumnDef="date_start_plan">
                      <th mat-header-cell *matHeaderCellDef> Дата начала прогноз </th>
                      <td mat-cell *matCellDef="let node"> 
                        
                          {{node.date_start_plan}} 
                        
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_end_plan">
                      <th mat-header-cell *matHeaderCellDef> Дата окончания прогноз </th>
                      <td mat-cell *matCellDef="let node"> 
                        
                          {{node.date_end_plan}} 
                        
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="comments">
                      <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                      <td mat-cell *matCellDef="let node"> 
                        
                          {{node.comments}} 
                        
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="version">
                      <th mat-header-cell *matHeaderCellDef> Версия </th>
                      <td mat-cell *matCellDef="let node"> 
                        
                          {{node.version}} 
                        
                      </td>
                    </ng-container>
    
                    <ng-container matColumnDef="level_name">
                      <th mat-header-cell *matHeaderCellDef> Уровень </th>
                      <td mat-cell *matCellDef="let node"> 
                        
                          {{node.level_name}} 
                        
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Действия</span>
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.level !== 1 && element.level !== 2 && element.level !== 3">
                        <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                          <mat-icon>
                            more_vert
                          </mat-icon>
                        </button>
                      </div>
                        <mat-menu #actions_menu="matMenu">
                          <button mat-menu-item (click)="showElement(element)">
                            <mat-icon>sort</mat-icon>
                            Подробнее
                          </button>
                          <button mat-menu-item (click)="editEstimated(element); addSection_2(); show.toggleShowBlock(1)">
                            <mat-icon>edit</mat-icon>
                            Редактировать
                          </button>
                          <button mat-menu-item (click)="delEstimated(element)">
                            <mat-icon>clear</mat-icon>
                            Удалить
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[30, 35, 40]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>

                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

                <p-dialog header="Header" 
                          styleClass="modal-element" 
                          [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" 
                          [(visible)]="show.showBlock[1]" 
                          [position]="theme.position" 
                          [draggable]="false" 
                          [maximizable]="false" 
                          [closable]="false" 
                          [modal]="false"
                          (onHide)="show.closedAdd(0)">
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>{{ section === 'section-1' ? 'Добавить оценочный бюджет' : 'Редактировать оценочный бюджет' }}</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[1] = false;">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                <div *ngIf="section == 'section-1'">
                  <form [formGroup]="estimatedForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">
                      <mat-error *ngIf="estimatedForm.get('title').hasError('required')">Обязательное поле</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Дата начала прогноз:</mat-label>
                      <input matInput [matDatepicker]="picker1" class="example-full-color" formControlName="date_start_plan" placeholder="дд-мм-гггг">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="estimatedForm.hasError('dateRangeError')">
                        Дата начала не может быть позже даты окончания
                      </mat-error>
                      <mat-error *ngIf="estimatedForm.get('date_start_plan').hasError('required')">Обязательное поле</mat-error>
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Дата окончания прогноз:</mat-label>
                      <input matInput [matDatepicker]="picker2" class="example-full-color" formControlName="date_end_plan" placeholder="дд-мм-гггг">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-error *ngIf="estimatedForm.hasError('dateRangeError')">
                        Дата окончания не может быть раньше даты начала
                      </mat-error>
                      <mat-error *ngIf="estimatedForm.get('date_end_plan').hasError('required')">Обязательное поле</mat-error>
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Версия:</mat-label>
                      <input matInput formControlName="version">
                      <mat-error *ngIf="estimatedForm.get('version').hasError('required')">Обязательное поле</mat-error>
                      <mat-error *ngIf="estimatedForm.get('version').hasError('maxlength') && estimatedForm.get('version').touched">
                        Максимум длина 3 символа.
                      </mat-error>
                      <mat-error *ngIf="estimatedForm.get('version').hasError('pattern') && estimatedForm.get('version').touched">
                        Допускаются только числа с точками или запятыми.
                      </mat-error>
                    </mat-form-field>
      
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Комментарии:</mat-label>
                      <textarea matInput formControlName="comments"></textarea>
                    </mat-form-field>
      
                    <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                        <mat-label>Валюта:</mat-label>
                        <mat-select formControlName="currency" [(ngModel)]="selectRub">
                            <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="d-flex justify-content-start">
                      <button (click)="addEstimated()" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor" [disabled]="!estimatedForm.valid">
                        <span class="d-flex align-items-center">Добавить</span>
                      </button>
                    </div>
                  </form>
                </div>
                <div *ngIf="section == 'section-2'">
                  <form [formGroup]="estimatedForm">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Название:</mat-label>
                      <input matInput formControlName="title">
                      <mat-error *ngIf="estimatedForm.get('title').hasError('required')">Обязательное поле</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Дата начала прогноз:</mat-label>
                      <input matInput [matDatepicker]="picker1" class="example-full-color" formControlName="date_start_plan" placeholder="дд-мм-гггг">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="estimatedForm.hasError('dateRangeError')">
                        Дата начала не может быть позже даты окончания
                      </mat-error>
                      <mat-error *ngIf="estimatedForm.get('date_start_plan').hasError('required')">Обязательное поле</mat-error>
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Дата окончания прогноз:</mat-label>
                      <input matInput [matDatepicker]="picker2" class="example-full-color" formControlName="date_end_plan" placeholder="дд-мм-гггг">
                      <mat-hint>{{getDateFormatString()}}</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-error *ngIf="estimatedForm.hasError('dateRangeError')">
                        Дата окончания не может быть раньше даты начала
                      </mat-error>
                      <mat-error *ngIf="estimatedForm.get('date_end_plan').hasError('required')">Обязательное поле</mat-error>
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Версия:</mat-label>
                      <input matInput formControlName="version">
                      <mat-error *ngIf="estimatedForm.get('version').hasError('required')">Обязательное поле</mat-error>
                      <mat-error *ngIf="estimatedForm.get('version').hasError('maxlength') && estimatedForm.get('version').touched">
                        Максимум длина 3 символа.
                      </mat-error>
                      <mat-error *ngIf="estimatedForm.get('version').hasError('pattern') && estimatedForm.get('version').touched">
                        Допускаются только числа с точками или запятыми.
                      </mat-error>
                    </mat-form-field>
      
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Комментарии:</mat-label>
                      <textarea matInput formControlName="comments"></textarea>
                    </mat-form-field>
      
                    <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                        <mat-label>Валюта:</mat-label>
                        <mat-select formControlName="currency">
                            <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="d-flex justify-content-start">
                      <button (click)="saveEstimated()" style="margin-bottom: 15px;"  mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить</span>
                      </button>
                    </div>
                  </form>
                </div>
                </p-dialog>

                <p-dialog header="Header" 
                          styleClass="modal-element" 
                          [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" 
                          [(visible)]="show.showBlock[2]" 
                          [position]="theme.position" 
                          [draggable]="false" 
                          [maximizable]="false" 
                          [closable]="false" 
                          [modal]="false"
                          (onHide)="show.closedAdd(0)">
                  <ng-template pTemplate="header">
                    <div class="col-12 d-flex">
                      <div class="col">
                        <h2>Сравнение</h2>
                      </div>
                      <div class="d-flex text-end">
                        <div class="col">
                          <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                            <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                            <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                          </button>    
                        </div>
                        <div class="col">
                          <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[2] = false;">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                <div>
                  <div *ngIf="!clickedRows.size">
                    Выбранные строки будут занесены в журнал
                  </div>
                  <section class="example-container mat-elevation-z8" tabindex="0">

                    <table class="table">
                      <thead>
                        <tr>
                          <ng-container *ngFor="let element of clickedRowsArray; let rowIndex = index">
                            <th scope="col" colspan="3">{{rowIndex + 1}} {{element.title}}</th>
                          </ng-container>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <ng-container *ngFor="let element of clickedRowsArray">
                            <th scope="col">№ п/п</th>
                            <td>Наименование</td>
                            <td>Сумма итого</td>
                          </ng-container>
                        </tr>
                        <ng-container *ngFor="let project of clickedRowsArray; let rowIndex = index">
                          <td colspan="3">
                          <mat-accordion>
                            <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  {{project.level_name}} 
                                </mat-panel-title>
                                <mat-panel-description>
                                  {{project.title}} 
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <table class="table" >
                                
                                  <tbody>
                                    <ng-container *ngFor="let direction of project.children">
                                      <tr>
                                        <td>{{direction.level_name}} </td>
                                        <td>{{direction.title}} </td>
                                        <td>{{direction.cost_total}} </td>
                                      </tr>
                                    <ng-container *ngFor="let object of direction.children; let i = index">
                                      <tr>
                                        <td *ngIf="object.children[i] && object.children[i].type === clickedRowsArray[rowIndex].children[i].type">{{object.level_name}} </td>
                                        <td *ngIf="object.children[i] && object.children[i].type === clickedRowsArray[rowIndex].children[i].type">{{object.type}} </td>
                                        <td *ngIf="object.children[i] && object.children[i].type === clickedRowsArray[rowIndex].children[i].type">{{object.cost_total.with_factor.total_cost}} </td>
                                      </tr>
                                      <ng-container *ngFor="let item of object.children;">
                                        <tr>
                                          <td>{{item.title}} </td>
                                          <td>{{item.type}} </td>
                                          <td>{{item.cost_total}} </td>
                                        </tr>
                                      </ng-container>
                                  </ng-container>
                                </ng-container>
                                <ng-container>
                                    <ng-container>
                                      <th>итого</th>
                                      <th></th>
                                      <th>{{ project.cost_total }}</th>
                                    </ng-container>
                                </ng-container>
                                </tbody>
                              </table>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </td>
                        </ng-container>
                        <tr>
                          <th>итого</th>
                          <th></th>
                          <th>{{ totalCost }}</th>
                        </tr>
                      </tbody>
                    </table>
                    
                    
                    <!-- <table mat-table [dataSource]="clickedRowsArray" style="width: 100%;">
        
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Название </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>
                
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Действия </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="menu2">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu class="customize" #menu2="matMenu">
                            <button mat-menu-item *ngIf="!element.editing" (click)="showMore(element)">
                              <mat-icon class="mat-menu-icon">sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>
        
                      <tr mat-header-row *matHeaderRowDef="['title', 'action']">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: ['title',  'action'];">
                      </tr>
                    </table> -->
                  </section>
                </div>
                </p-dialog>

      <!-- Оценочный бюджет (Гл.) -->
      <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить оценочный бюджет</h2>

        <form [formGroup]="estimatedForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="title">
                <mat-error *ngIf="estimatedForm.get('title').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата начала прогноз:</mat-label>
                <input matInput [matDatepicker]="picker1" class="example-full-color" formControlName="date_start_plan" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="estimatedForm.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
                <mat-error *ngIf="estimatedForm.get('date_start_plan').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата окончания прогноз:</mat-label>
                <input matInput [matDatepicker]="picker2" class="example-full-color" formControlName="date_end_plan" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="estimatedForm.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
                <mat-error *ngIf="estimatedForm.get('date_end_plan').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Версия:</mat-label>
                <input matInput formControlName="version">
                <mat-error *ngIf="estimatedForm.get('version').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="estimatedForm.get('version').hasError('maxlength') && estimatedForm.get('version').touched">
                  Максимум длина 3 символа.
                </mat-error>
                <mat-error *ngIf="estimatedForm.get('version').hasError('pattern') && estimatedForm.get('version').touched">
                  Допускаются только числа с точками или запятыми.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарии:</mat-label>
                <textarea matInput formControlName="comments"></textarea>
              </mat-form-field>

              <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                  <mat-label>Валюта:</mat-label>
                  <mat-select formControlName="currency" [(ngModel)]="selectedRegion">
                      <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <div class="d-flex justify-content-end">
                <button style="margin-bottom: 15px;" (click)="addEstimated()" mat-stroked-button [disabled]="!estimatedForm.valid"
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">
                    Добавить
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <!-- Сравнение -->
      <div class="col card-add-details">
        <div class="col compared" [ngClass]="{'show': show.showBlock[0]}">
          <div class="col text-end">
            <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <h2>Сравнение</h2>
          <div *ngIf="!clickedRows.size">
            Выбранные строки будут занесены в журнал
          </div>
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="clickedRowsArray" style="width: 100%;">

              <!-- Название Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Название </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <ng-container matColumnDef="discription">
                <th mat-header-cell *matHeaderCellDef> Описание </th>
                <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
              </ng-container>

              <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> Версия </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> Версия </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
              </ng-container>

              
              <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Комментарии </th>
                <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
              </ng-container> -->

              <!-- Применяемые макропоказатели Column -->
              <ng-container matColumnDef="macro">
                <th mat-header-cell *matHeaderCellDef> Применяемые макропоказатели </th>
                <td mat-cell *matCellDef="let element"> {{element.macro}} </td>
              </ng-container>

              <!-- Стоимость текущая Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Стоимость текущая </th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Действия </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu2">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu class="customize" #menu2="matMenu">
                    <button mat-menu-item *ngIf="!element.editing" (click)="showMore(element)">
                      <mat-icon class="mat-menu-icon">sort</mat-icon>
                      <span>Подробнее</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['title', 'macro', 'cost', 'discription', 'version', 'action']">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['title',  'macro', 'cost', 'discription', 'version', 'action'];">
              </tr>
            </table>
          </section>

        </div>
      </div>

      <div class="col card-add-details">
        <div class="form-budget col details" [ngClass]="{'show': show.showBlock[3]}">
          <h2>Детали</h2>
          <section class="example-container mat-elevation-z8" tabindex="0">
            <table class="table table-striped table-hover dark-table">
              <thead>
                <tr>
                  <th>Наименование</th>
                  <th>Стоимость</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" style="font-weight: bold;">Оборудование</td>
                </tr>
                <tr *ngFor="let item of estimated.getEquipment">
                  <td>{{ item.title }}</td>
                  <td>{{ item.cost }}</td>
                </tr>
                <tr>
                  <td colspan="2" style="font-weight: bold;">Пакет работ</td>
                </tr>
                <tr *ngFor="let item of estimated.getWorkPackage">
                  <td>{{ item.title }}</td>
                  <td>{{ item.cost_total }}</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>

 <!-- Редактирование -->
      <div class="col create" [ngClass]="{'show': show.showBlock[3]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(3)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать оценочный</h2>

        <form [formGroup]="editEstimatedForm">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата начала прогноз:</mat-label>
                <input matInput [matDatepicker]="picker3" class="example-full-color" formControlName="date_start_plan">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="editEstimatedForm.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
                <mat-error *ngIf="editEstimatedForm.get('date_start_plan').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Дата окончания прогноз:</mat-label>
                <input matInput [matDatepicker]="picker4" class="example-full-color" formControlName="date_end_plan">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
                <mat-error *ngIf="editEstimatedForm.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
                <mat-error *ngIf="editEstimatedForm.get('date_end_plan').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>

            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Название:</mat-label>
              <input matInput formControlName="title">
              <mat-error *ngIf="editEstimatedForm.get('title').hasError('required')">Обязательное поле</mat-error>
            </mat-form-field>
            
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Версия:</mat-label>
                <input matInput formControlName="version">
                <mat-error *ngIf="editEstimatedForm.get('version').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="editEstimatedForm.get('version').hasError('maxlength') && editEstimatedForm.get('version').touched">
                  Максимум длина 3 символа.
                </mat-error>
                <mat-error *ngIf="editEstimatedForm.get('version').hasError('pattern') && editEstimatedForm.get('version').touched">
                  Допускаются только числа с точками или запятыми.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарии:</mat-label>
                <textarea matInput formControlName="comments"></textarea>
              </mat-form-field>

              <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                  <mat-label>Валюта:</mat-label>
                  <mat-select formControlName="currency" [(ngModel)]="selectedRegion">
                      <mat-option *ngFor="let option of getSelect" [value]="option.id">{{ option.title}}</mat-option>
                  </mat-select>
              </mat-form-field>

              <div class="d-flex justify-content-end">
                <button style="margin-bottom: 15px;" (click)="saveEstimated()" mat-stroked-button [disabled]="!editEstimatedForm.valid"
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">
                    Сохранить
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>