<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>
    <div class="col section content" *ngIf="SdrToContractsItemDataTable.data ; else loadingContent">

      <div class="col section content">
        <div class="tools">
          <div class="button-tools">
            <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
              (click)="theme.toggleCollapseFull()">
              <mat-icon>compare_arrows</mat-icon>
            </button>
            <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
              <mat-icon>reply_all</mat-icon>
            </button>
            
          </div>
          <div class="col tools-wrapper">
            <span class="tools-title">СДР по договорам</span>
 
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb tools-inner">
                <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/sdr-contracts">СДР по договорам</a>
                </li>
                <li class="breadcrumb-item actived" aria-current="page">Детали</li>
              </ol>
            </nav>

            <!-- <span class="tools-inner">Информационный раздел</span> -->
          </div>


          <table mat-table [dataSource]="SdrToContractsItemDataTable">
            <!-- Name Column -->
            <ng-container matColumnDef="code_wbs">
              <th mat-header-cell *matHeaderCellDef>Код СДР</th>
              <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
            </ng-container>

            <!-- Название проекта -->
            <ng-container matColumnDef="name_wbs">
              <th mat-header-cell *matHeaderCellDef>Наименование СДР</th>
              <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="['code_wbs', 'name_wbs' ]">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['code_wbs', 'name_wbs']">
            </tr>
          </table>

        </div>

        <div class="col" style="padding: 10px;overflow-x: hidden;">
          <div class="row">
            <div class="col">
              <mat-card class="example-card widget change-pass">
                <mat-card-content>

                  <mat-tab-group>

                    <!--Документация по проекту-->
                    <mat-tab class="mat-elevation-z8" label="Документация по проекту">
                      <table *ngIf="dataSdrToContractsDocument.data?.length > 0 ; else noData" mat-table
                        [dataSource]="dataSdrToContractsDocument">


                       
                        <ng-container matColumnDef="code_wbs">
                          <th mat-header-cell *matHeaderCellDef> Код СДР</th>
                          <td mat-cell *matCellDef="let element"> {{element.code_wbs}} </td>
                        </ng-container>

                        
                        <ng-container matColumnDef="name_wbs">
                          <th mat-header-cell *matHeaderCellDef> Наименование СДР</th>
                          <td mat-cell *matCellDef="let element"> {{element.name_wbs}} </td>
                        </ng-container>


                        <ng-container matColumnDef="code_contract">
                          <th mat-header-cell *matHeaderCellDef> Код договора</th>
                          <td mat-cell *matCellDef="let element"> {{element.code_contract}} </td>
                        </ng-container>

                        <ng-container matColumnDef="legal_number">
                          <th mat-header-cell *matHeaderCellDef> Юр. номер договора</th>
                          <td mat-cell *matCellDef="let element"> {{element.legal_number}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="num_contr_SAP">
                          <th mat-header-cell *matHeaderCellDef> Номер договора (SAP)</th>
                          <td mat-cell *matCellDef="let element"> {{element.num_contr_SAP}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="legal_code_SAP">
                          <th mat-header-cell *matHeaderCellDef> Юр. номер (SAP)</th>
                          <td mat-cell *matCellDef="let element"> {{element.legal_code_SAP }} </td>
                        </ng-container>
                        <ng-container matColumnDef="counterparty">
                          <th mat-header-cell *matHeaderCellDef> Контрагент</th>
                          <td mat-cell *matCellDef="let element"> {{element.counterparty  }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="[ 'code_wbs','name_wbs','code_contract','legal_number','num_contr_SAP','legal_code_SAP','counterparty']">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['code_wbs','name_wbs','code_contract','legal_number','num_contr_SAP','legal_code_SAP','counterparty']">
                        </tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                        aria-label="Select page of periodic elements" #PaginatorPlan>
                      </mat-paginator>
                    </mat-tab>

                    <ng-template #noData>
                      <mat-card>
                        Данные отсутствуют
                      </mat-card>
                    </ng-template>

                  </mat-tab-group>
                </mat-card-content>

           
              </mat-card>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <ng-template #loadingContent>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </ng-template>
</div>