table {
    width: 100%
  }
  
  .monetary-column-cell-content {
    padding-right: 20px;
    padding-left: 20px;
    text-align: right
  }
  
  ::-webkit-scrollbar { width: 6px; height: 7px;}
  ::ng-deep.select-create .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
  ::ng-deep.select-create .mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep.select-create .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
  }
  
  .setting-field {
    margin-top: -5px;
    margin-left: 5px;
  }
  
  .monthsColumn {
    color: #eb8b2d;
  }
  
  .more {
    margin-bottom: 15px;
    height: 35px;
    color: #6c6c6c;
  }
  
  .more:hover {
    margin-bottom: 15px;
    height: 35px;
    background: #B5DCA4;
  }
  
  .level0Selection {
    background: #D3D3D3;
  }
  
  .level1Selection {
    background: #DCDCDC;
  }
  
  .level2Selection {
    background: #E8E8E8;
  }
  
  .level3Selection {
    background: #F5F5F5;
  }
  
  .level4Selection {
    background: #FFFFFF;
  }
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #eb8b2d;
  }
  