<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>
    <div class="col section content" *ngIf="!isLoading; else loadingContent">
      <div class="col section content">
        <div class="tools">
          <div class="button-tools">
            <!-- <button matTooltip="Свернуть/Развернуть боковое меню" class="chevron bnt-help--tools" #btn_1
              (click)="theme.setWidthMin()">
              <mat-icon *ngIf="!theme.isCollapsed">keyboard_arrow_left</mat-icon>
              <mat-icon *ngIf="theme.isCollapsed">keyboard_arrow_right</mat-icon>
            </button> -->
            <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
              <mat-icon>reply_all</mat-icon>
            </button>
            <button matTooltip="Отправить в реестр смет" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(1); getNode(getID)">
              <mat-icon>open_in_browser</mat-icon>
            </button>
            <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools"
              (click)="theme.toggleCollapseFull()"><mat-icon>compare_arrows</mat-icon></button>
          </div>

          <div class="col tools-wrapper">
            <div class="col tools-wrapper">
              <span class="tools-title">Метаданные файла ГРАНД-сметы</span>
              <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
            </div>
          </div>
        </div>

        <div class="col" style="padding: 10px;overflow-x: hidden;">
          <div class="row">
            <div class="col">
              <mat-card class="example-card widget change-pass">
                
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <ng-container>
                        <td> № П.П. </td>
                        <td style="width: 40%;"> Наименование </td>
                      </ng-container>
                      <ng-container *ngFor="let h of header; let i = index">
                        <td>{{h.cost_name_title}}</td>
                      </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let d of data; let i = index">
                      <tr>
                        <td>{{ i+1 }}</td>
                        <td>
                          {{ d.caption }}
                          <button mat-button (click)="onShowSource(d.id)">
                            <mat-icon aria-hidden="false" aria-label="Expand icon">
                              {{ isCollapseArray[i] ? 'expand_less' : 'expand_more' }}
                            </mat-icon>
                          </button>
                        </td>
                        <td *ngFor="let c of d.costs">{{ c.value }}</td>
                      </tr>
                      <tr *ngIf="isCollapseArray[i]">
                        <td colspan="8">
                          <h2>Трудозатраты машинистов</h2>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td>Описание</td>
                                <td>Ед.</td>
                                <td>Количество</td>
                                <td>Стоимость</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <ng-container *ngFor="let chapterResources of resource[i].tzm">
                                  <td>{{ chapterResources.caption }}</td>
                                  <td>{{ chapterResources.units }}</td>
                                  <td>{{ chapterResources.quantity }}</td>
                                  <td>{{ chapterResources.value }}</td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                          <h2>Транспортно-заготовительные расходы</h2>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td>Описание</td>
                                <td>Ед.</td>
                                <td>Количество</td>
                                <td>Стоимость</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <ng-container *ngFor="let chapterResources of resource[i].tzr">
                                  <td>{{ chapterResources.caption }}</td>
                                  <td>{{ chapterResources.units }}</td>
                                  <td>{{ chapterResources.quantity }}</td>
                                  <td>{{ chapterResources.value }}</td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                          <h2>Стоимость материалов</h2>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td>Описание</td>
                                <td>Ед.</td>
                                <td>Количество</td>
                                <td>Стоимость</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let chapterResources of resource[i].mat">
                                  <td>{{ chapterResources.caption }}</td>
                                  <td>{{ chapterResources.units }}</td>
                                  <td>{{ chapterResources.quantity }}</td>
                                  <td>{{ chapterResources.value }}</td>
                              </tr>
                            </tbody>
                          </table>
                          <h2>Машиночасы</h2>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <td>Описание</td>
                                <td>Ед.</td>
                                <td>Количество</td>
                                <td>Стоимость</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let chapterResources of resource[i].mch">
                                  <td>{{ chapterResources.caption }}</td>
                                  <td>{{ chapterResources.units }}</td>
                                  <td>{{ chapterResources.quantity }}</td>
                                  <td>{{ chapterResources.value }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              
              </mat-card>
            </div>
          </div>
        </div>


      </div>
    </div>

    <ng-template #loadingContent>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-template>

    <p-dialog header="Header" 
    styleClass="modal-element" 
    [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" 
    [visible]="show.showBlock[1]" 
    [position]="theme.position" 
    [draggable]="false" 
    [maximizable]="false" 
    [closable]="false" 
    (onHide)="show.closedAdd(0)">
      <ng-template pTemplate="header">
        <div class="col-12 d-flex">
          <div class="col">
            <h2>
              Отправить в реестр смет
            </h2>
          </div>
          <div class="d-flex text-end">
            <div class="col">
              <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
              </button>    
            </div>
            <div class="col">
              <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[1] = false">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
      
        <form [formGroup]="documentGsfxForm">
          <mat-form-field appearance="outline" style="width: 100%" class="example-full-width">
            <mat-label>Наименование:</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%" class="example-full-width" style="display: none;">
            <mat-label>document_gsfx:</mat-label>
            <input matInput formControlName="document_gsfx" [ngModel]="getID">
          </mat-form-field>

          <mat-form-field class="select-create" style="width: 100%" appearance="outline">
            <mat-label>Проект:</mat-label>
            <mat-select (selectionChange)="directionOptionSelected($event)">
                <mat-option *ngFor="let option of getNodeFlat" [value]="option.id">{{ option.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="directionOptionId" style="width: 100%" appearance="outline">
            <mat-label>Направление:</mat-label>
            <mat-select (selectionChange)="objectOptionSelected($event)">
              <mat-option *ngFor="let option of directionOptionId" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="objectOptionId" style="width: 100%" appearance="outline">
            <mat-label>Объект:</mat-label>
            <mat-select (selectionChange)="systemOptionSelected($event)">
              <mat-option *ngFor="let option of objectOptionId" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="systemOptionId" style="width: 100%" appearance="outline">
            <mat-label>Системы:</mat-label>
            <mat-select formControlName="wbs_system" (selectionChange)="workPackagesOptionSelected($event)">
              <mat-option *ngFor="let option of systemOptionId" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="workPackagesOptionId" style="width: 100%" appearance="outline">
            <mat-label>Пакеты работы:</mat-label>
            <mat-select formControlName="wbs_work_package">
              <mat-option *ngFor="let option of workPackagesOptionId" [value]="option.id">{{ option.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="d-flex justify-content-start">
            <button style="margin-bottom: 15px;" (click)="addDocumentGsfx()" mat-stroked-button class="mat-btn-recolor" [disabled]="!documentGsfxForm.valid">
              <span class="d-flex align-items-center">Добавить</span>
            </button>
          </div>
        </form>
      
    </p-dialog>

  </div>
</div>