::ng-deep .p-element.ng-trigger.ng-trigger-animation {
  width: 30vw;
  z-index: 1101;
  position: absolute;
  right: 0px;
  height: 100%;
  max-height: 100%;
  margin: 0;
}
::ng-deep.p-dialog .p-dialog-content {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
::ng-deep.p-dialog .p-dialog-header {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}