<app-header></app-header>
<div class="container-row-wrapper">
  <app-menu class="menu"></app-menu>
  <div class="col section content">
    <div class="tools">
      <div class="button-tools">

        <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
          (click)="theme.toggleCollapseFull()">
          <mat-icon>compare_arrows</mat-icon>
        </button>

        <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#addEditUnits" style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="addEditUnits"
          (click)="add()">
          <span class="d-flex align-items-center">Добавить еденицу измерения
            <mat-icon>library_add</mat-icon>
          </span>
        </button>
        <!-- createOperatingCosts() -->

      </div>
      <div class="col tools-wrapper">
        <span class="tools-title">Справочник едениц измерения</span>
        <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
      </div>
    </div>

    <div class="col" style="padding: 10px;overflow-x: hidden;">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <table mat-table [dataSource]="dataUnitsTableSource">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> № </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Единица измерения </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

             

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Действие </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item type="button" data-bs-toggle="offcanvas" data-bs-target="#addEditUnits"
                      (click)="editUnits(element)">
                      <mat-icon>edit</mat-icon>
                      <span>Изменить</span>
                    </button>
                    <button mat-menu-item (click)="removeUnit(element.id)">
                      <mat-icon>clear</mat-icon>
                      <span>Удалить</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['id', 'title','action']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['id', 'title','action'];"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
              aria-label="Select page of periodic elements" #PaginatorUnits>
            </mat-paginator>

          </mat-card>

          <!-- Изменить/Добавить План -->
          <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="addEditUnits" aria-labelledby="addScrollingLabel" style="width: 25%;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="addEditUnits">{{ editMode ? 'Изменить' : 'Добавить' }}
                еденицу измерения</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
              <form [formGroup]="FormAddEditUnits">
                <div class="container row gx-3">

                  <!-- Operating Cost Item -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Наименование еденицы измерения: </mat-label>
                    <input matInput formControlName="title" required>
                  </mat-form-field>


                  <div class="col-12">
                    <button (click)="createOrUpdateUnits()" mat-stroked-button class="mat-btn-recolor">
                      <span class="align-text-center">
                        {{ editMode ? 'Сохранить' : 'Добавить' }}
                      </span>
                    </button>
                  </div>



                </div>
              </form>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>