<app-header></app-header>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Добавить объект" class="chevron bnt-help--tools" (click)="openCreateForm()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Формы</span>
          <span class="tools-inner">Сводная ведомость затрат</span>
        </div>
        <div class="col">
          <div class="alert alert-success" *ngIf="theme.access">
            {{ theme.access }}
          </div>
          <div class="alert alert-danger" *ngIf="theme.error">
            {{ theme.error }}
          </div>
          <div class="alert alert-info" *ngIf="theme.info">
            {{ theme.info }}
          </div>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-header *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </mat-card-header>
              <mat-card-content *ngIf="!loading">
                <div class="row">
                  <table mat-table [dataSource]="svzRegistries" class="mat-elevation-z8" style="width: 100%;box-shadow: none">
                    <ng-container matColumnDef="serial_number">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>№</span>
                      </th>
                      <td mat-cell *matCellDef="let i = index">
                        <span>
                          {{i+1}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Наименование объекта строительства</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <span>
                          {{data.name}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Дата создания документа</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <span>
                          {{data.date}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="budget">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Название бюджета</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <span>
                          {{data.budget_name}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Действия</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                          <mat-icon>
                            more_vert
                          </mat-icon>
                        </button>
                        <mat-menu class="customize" #actions_menu="matMenu">
                          <form [formGroup]="getSvzId">
                            <button mat-menu-item *ngIf="!data.editing" (click)="showDetails(data.id); show.toggleShowBlock(0)">
                              <mat-icon class="mat-menu-icon">sort</mat-icon>
                              <span>Подробнее</span>
                            </button>
                          </form>
                          <button mat-menu-item (click)="openEditForm(data)">
                            <mat-icon class="mat-menu-icon">edit</mat-icon>
                            Редактировать
                          </button>
                          <button mat-menu-item (click)="deleteObject(data.id)">
                            <mat-icon class="mat-menu-icon">clear</mat-icon>
                            Удалить
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsName"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                                 showFirstLastButtons
                                 #paginator
                                 aria-label="Select page">
                  </mat-paginator>
                </div>
              </mat-card-content>
              <mat-card-footer *ngIf="!loading">
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': getCreateFormVisible()}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeCreateForm()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Создать СВЗ</h2>

        <div class="col-12">
          <form [formGroup]="ObjectCreate" (ngSubmit)="addObject()" class="row">

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Наименование документа</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="_nameCreate.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
              [disabled]="_nameCreate.invalid"
              >Создать</button>
            </div>

          </form>
        </div>
      </div>

      <div class="create" [ngClass]="{'show': getEditFormVisible()}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeEditForm()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать СВЗ</h2>

        <div class="col-12">
          <form [formGroup]="ObjectEdit" (ngSubmit)="editObject()" class="row">

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Наименование документа</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="_nameEdit.errors?.['required']">Обязательное поле</mat-error>
              </mat-form-field>
            </div>



            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
              [disabled]="_nameEdit.invalid"
              >Сохранить</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

