a {
    color: #000;
    height: 6cqh;
    display: flex;
    align-items: center;
}
.title-logo {
  display: flex;
  flex-direction: column;
  padding: 22px;
  font-size: 20px;
}
.logo-wrapper {
  width: 45px;
  display: flex;
  align-items: center;
}
.image {
  display: inline-block;
  width: 100%;
}
.setting {
  /* width: 100%; */
  height: 50px;
  position: relative;
  margin-right: 15px;
  /* background: #fff; */
  /* padding: 0 24px; */
  display: flex;
  align-items: center;
}
.setting:hover {
  cursor: pointer;
  color: #fff;
}
.type-a-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 81px;
  margin-top: -108px;
}
.type-a-dropbtn {
  background-color: #fff;
  color: white;
  padding: 16px;
  width: 81px;
  font-size: 0px;
  border: none;
}
.type-a-dropdown {
  display: inline-block;
  position: absolute;
  left: 5px;
}
.item-menu {
  color: var(--theme-context-text);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
::ng-deep .customize {
  background: var(--theme-context-background) !important;
}
::ng-deep .mat-menu-item {
  color: var(--theme-context-color) !important;
}
::ng-deep .mat-menu-item:hover {
  background: var(--theme-context-hover) !important;
}

.type-a-dropdown-content.show a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.type-a-dropdown-content.show {display: block;}
.type-a-dropdown:hover .type-a-dropbtn {background-color: #f3f3f3;}
.brand-logo {
  width: 220px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all .2s ease-in-out;
}
.btn-brand-close {
  width: 87px;
}
:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #EB8B2D !important;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: rgb(235 139 45 / 50%) !important;
}
::ng-deep.select-filter-header .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
::ng-deep.select-filter-header .mat-form-field-label-wrapper { top: -0.7em; }

::ng-deep.select-filter-header .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}