<div class="container-fluid text-center" style="background: #eb8b2d;padding: 0px;">
<nav class="navbar navbar-expand-lg" style="height: 55px;">
  <div class="brand-logo" [ngClass]="{ 'btn-brand-close': themeService.isMenu }">
  <div class="logo-wrapper">
    <img src="../../../../assets/img/logo.png" class="image" />
    <div class="title-logo">
      <img src="../../assets/img/text-logo.png" class="image" style="width: 65px;" />
      <!-- <span style="color: #fff;">UMMC</span>
      <span>УГМК</span> -->
    </div>
  </div>
</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <button matTooltip="Скрыть боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
      <mat-icon>compare_arrows</mat-icon>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="height: 50px;">
        <li class="nav-item" style="background: #eb8b2d;">
          <button mat-button style="padding: 0 5px;">
            <a class="nav-link" aria-current="page" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Главная</a>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button style="padding: 0 5px;">
            <a class="nav-link">Пользователи</a>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button style="padding: 0 5px;">
            <a class="nav-link" routerLink="/registry">Текущий бюджет</a>
          </button>
        </li>
        <li class="nav-item">
          <button mat-button style="padding: 0 5px;">
            <a class="nav-link" routerLink="/primavera">Синхр. primavera</a>
          </button>
        </li>
        <li class="nav-item">
          <mat-form-field class="select-filter-header" style="margin: 0px 0px -17px 0px" appearance="fill">
            <mat-label>Справочники</mat-label>
            <mat-select>
              <mat-option><a class="text-link" routerLink="/analogy">Справочник объектов аналогов</a></mat-option>
              <mat-option><a class="text-link" routerLink="/difficulty-factor">Справочник коэффициентов сложности</a></mat-option>
              <mat-option><a class="text-link" routerLink="/source-value">Справочник источников стоимости</a></mat-option>
              <mat-option><a class="text-link" routerLink="/macro">Справочник макропоказателей</a></mat-option>
              <mat-option><a class="text-link" routerLink="/general-project-costs">Справочник общепроектных затрат</a></mat-option>
              <mat-option><a class="text-link" routerLink="/category">Справочник категорий</a></mat-option>
              <mat-option><a class="text-link" routerLink="/currency">Справочник валюты</a></mat-option>
              <mat-option><a class="text-link" routerLink="/regions">Справочник регионов</a></mat-option>
              <mat-option><a class="text-link" routerLink="/intangible-assets">Справочник нематериальных активов</a></mat-option>
              <mat-option><a class="text-link">Справочник укрупнения сметных позиций</a></mat-option>
              <mat-option><a class="text-link">Справочник типовых пакетов работ</a></mat-option>
              <mat-option><a class="text-link" routerLink="/role-reference">Справочник ролей</a></mat-option>
              <mat-option><a class="text-link" routerLink="/directory-unit-prices">Справочник единичных расценок</a></mat-option>
            </mat-select>
          </mat-form-field>
      </li>
      <li class="nav-item">
          <mat-form-field class="select-filter-header" style="margin: 0px 0px -17px 0px" appearance="fill">
            <mat-label>Документы</mat-label>
            <mat-select>
              <mat-option> <a class="text-link" routerLink="/gpcs">ГПКС</a></mat-option>
              <mat-option><a class="text-link" routerLink="/gpfcs">ГПФКС</a></mat-option>
              <mat-option><a class="text-link" routerLink="/svz-documents">СВЗ</a></mat-option>
            </mat-select>
          </mat-form-field>
      </li>
      </ul>
        <div class="navbar-text">
          <div class="col set-wrapper">

            <button mat-button class="setting" [matMenuTriggerFor]="menu">Настройки
              <mat-icon style="margin-left: 15px;">settings</mat-icon>
            </button>
            <mat-menu class="customize" #menu="matMenu" class="customize">
              <button mat-menu-item>
                <a routerLink="/profile" class="item-menu"><mat-icon class="mat-menu-icon" style="margin-right: 15px;">person_outline</mat-icon>Профиль</a>
              </button>
              <button mat-menu-item>
                <div class="toggle">
                  <mat-slide-toggle name="dark" [(ngModel)]="dark" id="dark">Тёмный режим</mat-slide-toggle>
                </div>
              </button>
              <button mat-menu-item>
                <a href="#" class="item-menu"><mat-icon class="mat-menu-icon" style="margin-right: 15px;">message</mat-icon>Сообщения</a>
              </button>
              <button mat-menu-item>
                <a (click)="logout()" class="item-menu"><mat-icon class="mat-menu-icon" style="margin-right: 15px;">exit_to_app</mat-icon>Выход</a>
              </button>
            </mat-menu>

            <!-- <div (click)="setting()" class="setting">Настройки
              <mat-icon style="margin-left: 15px;" class="icon-no-active">settings</mat-icon>
              <div>
                <div class="type-a-dropdown-content" [ngClass]="{'show': openSetting}">
                  <a routerLink="/profile"><mat-icon style="margin-right: 15px;">person_outline</mat-icon>Профиль</a>
                  <div class="toggle">
                    <mat-slide-toggle name="dark" [(ngModel)]="dark" id="dark">Тёмный режим</mat-slide-toggle>
                  </div>
                  <a href="#"><mat-icon style="margin-right: 15px;">message</mat-icon>Сообщения</a>
                  <a (click)="logout()"><mat-icon style="margin-right: 15px;">exit_to_app</mat-icon>Выход</a>

                </div>
              </div>
            </div> -->
          </div>
          <div class="col-sm">
          </div>
      </div>
    </div>
  </nav>
</div>