<div class="card-body">
    <h3 class="card-title">Удалить ?</h3>
    <div class="row">
        <div class='col-6'><button mat-raised-button (click)="onYesClick()">Да</button></div>
        <div class='col-6'><button mat-raised-button (click)="onNoClick()">Нет</button></div>
    </div>
</div>