@keyframes hidden{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  .mat-form-field {
    padding: 5px;
  }
  .content {
    overflow-y: scroll;
    height: 93vh;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  .btn-table {
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 50px;
    padding: 0px;
  }
  .done{
    color: #4da958;
  }
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #eb8b2d;
  }
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #eb8b2d;
  } 
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #eb8b2d !important;
  }
  ::ng-deep.mat-panel-title:hover {
    color: red; /* Измените цвет текста на желаемый */
  }
  ::ng-deep.select-edit .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
  ::ng-deep.select-edit .mat-form-field-label-wrapper { top: -1.3em; }
  
  ::ng-deep.select-edit .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1.1em) scale(.75);
      width: 133.33333%;
  }
  table {
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .mat-header-cell,
  .mat-cell {
    border-color: var(--theme-mat-cell-header-border-bg);
    color: var(--theme-mat-cell-header-color-bg);
  }
  .mat-cell {
    color: var(--theme-mat-cell-bg);
  }
  .mat-table {
    background: var(--theme-mat-table-bg);
  }
  .mat-paginator {
    display: block;
    background: var(--theme-mat-paginator-bg);
    color: var(--theme-mat-paginator-color-bg);
  }
  
  .mat-cell, .mat-header-cell {
    /* height: 50px; */
    width: 50px;
    text-align: center;
  }
  .mat-cell input, .mat-header-cell input {
    width: 90%;
    /* height: 100%; */
    padding: 0 ;
    margin: 0;
    border-bottom: 1px solid rgba(90, 90, 90, 0.295);
  }
  .add-file {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 5px 0px 0px 5px;
  }
  .upload-file {
    margin-top: 15px; 
    margin-bottom: 15px;
    margin-left: -1px;
    border-radius: 0px 5px 5px 0px;
  }
  .recolor {
    color: #4da958;
  }
  
  .content {
    overflow-y: scroll;
    height: 94vh;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  .box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .smoll-inp {
    width: 255px;
    margin: 5px;
  }
  .box-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .more {
    color: #6c6c6c;
  }
  .more:hover {
    background: #B5DCA4;
  }
  .form-budget {
    width: 100%;
  }
  textarea {
    height: 100px;
  }
  textarea::-webkit-resizer {
    background-color: #fff;
  }
  .budget {
    display: none;
    transition: opacity 0.3s ease;
  }
  .budget.show {
    display: block;
  }
  @keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes hide {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  .compared {
    position: fixed;
    overflow: auto;
    padding: 25px;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 100vh;
    background: rgb(255 255 255);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    transform: translateX(750px);
  }
  .compared.show {
    display: block;
    transform: translateX(0px);
    z-index: 1;
  
  }
  