<app-header></app-header>
<div class="container-row-wrapper">
  <app-menu class="menu"></app-menu>
  <div class="col section content">
    <div class="tools">
      <div class="button-tools">

        <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
          <mat-icon>compare_arrows</mat-icon>
        </button>

        <button mat-stroked-button class="chevron" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#addScrolling" style="margin-bottom: 15px;  margin-right: 5px;" aria-controls="addScrolling"
          (click)="add()">
          <span class="d-flex align-items-center">Добавить пакет операционных затрат
            <mat-icon>library_add</mat-icon>
          </span>
        </button>
        <!-- createOperatingCosts() -->

      </div>
      <div class="col tools-wrapper">
        <span class="tools-title">Операционные затраты</span>
        <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
      </div>
    </div>

    <div class="col" style="padding: 10px;overflow-x: hidden;">
      <div class="row">
        <div class="col">
          <mat-card class="example-card">
            <mat-tab-group>
              <mat-tab class="mat-elevation-z8" label="План">
                <table mat-table [dataSource]="dataPlanTableSource">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- WBS_code Item Column -->
                  <ng-container matColumnDef="WBS_code">
                    <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                    <td mat-cell *matCellDef="let element"> {{element.WBS_code}} </td>
                  </ng-container>

                  <!-- Operating Cost Item Column -->
                  <ng-container matColumnDef="operating_cost_item">
                    <th mat-header-cell *matHeaderCellDef> Статья оперционных затрат</th>
                    <td mat-cell *matCellDef="let element"> {{element.operating_cost_item}} </td>
                  </ng-container>

                  <!-- Planned Cost Column -->
                  <ng-container matColumnDef="planned_cost">
                    <th mat-header-cell *matHeaderCellDef> Стоимость плановая, тыс.руб</th>
                    <td mat-cell *matCellDef="let element"> {{element.planned_cost| customNumber}} </td>
                  </ng-container>

                  <!-- Start Plan Column -->
                  <ng-container matColumnDef="start_plan">
                    <th mat-header-cell *matHeaderCellDef> Начало план </th>
                    <td mat-cell *matCellDef="let element"> {{element.start_plan}} </td>
                  </ng-container>

                  <!-- Ending Plan Column -->
                  <ng-container matColumnDef="ending_plan">
                    <th mat-header-cell *matHeaderCellDef> Окончание план </th>
                    <td mat-cell *matCellDef="let element"> {{element.ending_plan}} </td>
                  </ng-container>

                  <!-- Description Column -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Описание статьи</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" data-bs-toggle="offcanvas" data-bs-target="#addScrolling"
                          (click)="editOperatingCostPlan(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>
                        <button mat-menu-item (click)="removeOperatingCost(element.id)">
                          <mat-icon>clear</mat-icon>
                          <span>Удалить</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsPlan"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsPlan;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                  aria-label="Select page of periodic elements" #PaginatorPlan>
                </mat-paginator>
              </mat-tab>





              <!-- Факт  -->
              <mat-tab class="mat-elevation-z8" label="Факт">
                <table mat-table [dataSource]="dataActualTableSource">
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> № </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>

                  <!-- WBS_code Item Column -->
                  <ng-container matColumnDef="WBS_code">
                    <th mat-header-cell *matHeaderCellDef> Код СДР</th>
                    <td mat-cell *matCellDef="let element"> {{element.WBS_code}} </td>
                  </ng-container>


                  <!-- Operating Cost Item Column -->
                  <ng-container matColumnDef="operating_cost_item">
                    <th mat-header-cell *matHeaderCellDef> Статья оперционных затрат</th>
                    <td mat-cell *matCellDef="let element"> {{element.operating_cost_item}} </td>
                  </ng-container>

                  <!-- Planned Cost Column -->
                  <ng-container matColumnDef="planned_cost">
                    <th mat-header-cell *matHeaderCellDef> Стоимость плановая, тыс.руб</th>
                    <td mat-cell *matCellDef="let element"> {{element.planned_cost| customNumber}} </td>
                  </ng-container>

                  <!-- Start Actual Column -->
                  <ng-container matColumnDef="start_plan">
                    <th mat-header-cell *matHeaderCellDef> Начало план </th>
                    <td mat-cell *matCellDef="let element"> {{element.start_plan}} </td>
                  </ng-container>

                  <!-- Ending Actual Column -->
                  <ng-container matColumnDef="ending_plan">
                    <th mat-header-cell *matHeaderCellDef> Окончание план </th>
                    <td mat-cell *matCellDef="let element"> {{element.ending_plan}} </td>
                  </ng-container>

                  <!-- Ending Actual Column -->
                  <ng-container matColumnDef="actual_cost">
                    <th mat-header-cell *matHeaderCellDef> Факт накопительно, тыс. руб </th>
                    <td mat-cell *matCellDef="let element"> {{element.actual_cost| customNumber}}</td>
                  </ng-container>

                  <!-- Description Column -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Описание статьи</th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Действие </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item type="button" data-bs-toggle="offcanvas"
                          data-bs-target="#editActualScrolling" (click)="editOperatingCostActual(element)">
                          <mat-icon>edit</mat-icon>
                          <span>Изменить</span>
                        </button>

                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsActual"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsActual;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons
                  aria-label="Select page of periodic elements" #PaginatorAnalog>
                </mat-paginator>
              </mat-tab>
            </mat-tab-group>
          </mat-card>

          <!-- Изменить/Добавить План -->
          <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="addScrolling" aria-labelledby="addScrollingLabel" style="width: 25%;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="addScrolling">{{ editMode ? 'Изменить' : 'Добавить' }}
                операционную затрату</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
              <form [formGroup]="FormAddEditOperatingCostsPlan">
                <div class="container row gx-3">

                  <!-- Operating Cost Item -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Статья оперционных затрат: </mat-label>
                    <input matInput formControlName="operating_cost_item" required>
                  </mat-form-field>

                  <!-- Planned Cost -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Стоимость плановая, тыс.руб:</mat-label>
                    <input type="number" matInput formControlName="planned_cost" required>
                  </mat-form-field>

                  <!-- Start Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Начало план:</mat-label>
                    <input matInput [matDatepicker]="startPickerPlan" formControlName="start_plan" required>
                    <mat-datepicker-toggle matSuffix [for]="startPickerPlan"></mat-datepicker-toggle>
                    <mat-datepicker #startPickerPlan></mat-datepicker>
                  </mat-form-field>


                  <!-- Ending Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Окончание план:</mat-label>
                    <input matInput [matDatepicker]="endPickerPlan" formControlName="ending_plan" required>
                    <mat-datepicker-toggle matSuffix [for]="endPickerPlan"></mat-datepicker-toggle>
                    <mat-datepicker #endPickerPlan></mat-datepicker>
                  </mat-form-field>

                  <!-- Description -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Описание статьи:</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>

                  <div class="col-12">
                    <button (click)="createOrUpdateOperatingCost()" mat-stroked-button class="mat-btn-recolor">
                      <span class="align-text-center">
                        {{ editMode ? 'Сохранить' : 'Добавить' }}
                      </span>
                    </button>
                  </div>



                </div>
              </form>
            </div>
          </div>

          <!-- Изменить Факт -->
          <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="editActualScrolling" aria-labelledby="addScrollingLabel" style="width: 25%;">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="addScrolling">Изменить</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
              <form [formGroup]="FormEditOperatingCostsActual">
                <div class="container row gx-3">

                  <!-- Operating Cost Item -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Статья оперционных затрат: </mat-label>
                    <input matInput formControlName="operating_cost_item" required>
                  </mat-form-field>

                  <!-- Planned Cost -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Стоимость плановая, тыс.руб:</mat-label>
                    <input type="number" matInput formControlName="planned_cost" required>
                  </mat-form-field>

                  <!-- Start Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Начало план:</mat-label>
                    <input matInput [matDatepicker]="startPickerActual" formControlName="start_plan">
                    <mat-datepicker-toggle matSuffix [for]="startPickerActual"></mat-datepicker-toggle>
                    <mat-datepicker #startPickerActual></mat-datepicker>
                  </mat-form-field>


                  <!-- Ending Plan -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Окончание план:</mat-label>
                    <input matInput [matDatepicker]="endPickerActual" formControlName="ending_plan">
                    <mat-datepicker-toggle matSuffix [for]="endPickerActual"></mat-datepicker-toggle>
                    <mat-datepicker #endPickerActual></mat-datepicker>
                  </mat-form-field>


                  <!-- Acttual Cost -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Факт накопительно, тыс. руб</mat-label>
                    <input type="number" matInput formControlName="actual_cost" required>
                  </mat-form-field>

                  <!-- Description -->
                  <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Описание статьи:</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                  </mat-form-field>

                  <div class="col-12">
                    <button (click)="UpdateOperatingCostActual()" mat-stroked-button class="mat-btn-recolor">
                      <span class="align-text-center">
                        Сохранить
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>