<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Вернутся назад" class="chevron bnt-help--tools" (click)="show.goBack()">
            <mat-icon>reply_all</mat-icon>
          </button>
          <button matTooltip="Скрыть боковое меню" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать на основании теукщий бюджет" class="chevron bnt-help--tools"
            (click)="show.toggleShowBlock(3)">
            <mat-icon>unarchive</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(2); getSelect0()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Бюджет проекта</span>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb tools-inner">
              <li class="breadcrumb-item"><a class="text-link tools-inner" routerLink="/project-budget">Бюджет
                  проекта</a></li>
              <li class="breadcrumb-item actived d-flex" aria-current="page">
                <div class="d-flex" *ngFor="let item of getName">
                  <div class="col" *ngIf="item.id == getId">
                    Детали: {{ item.name }}
                  </div>
                </div>
              </li>
            </ol>
          </nav>
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="link_general" (change)="ngOnInit()">С общепроектными </mat-checkbox>
          </section>
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="transaction_reserve" (change)="ngOnInit()">С резервами </mat-checkbox>
          </section>
          <!-- <span class="tools-inner">Сводная ведомость затрат</span> -->
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">

            <mat-card  class="example-card widget change-pass">
              <mat-card-content>
                
                <table mat-table [dataSource]="dataSources">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let node;">
                      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''"
                        [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.code_wbs}} . {{node.name}}

                      <input [ngModel]="node.wbs_id" style="display: none;">
                      <!-- <button mat-button *ngIf="node.level === 0" (click)="show.toggleShowBlock(0); getId1(node.id); getSelect1()">
                        <mat-icon matTooltip="Добавить направление" class="material-symbols-outlined">add</mat-icon>
                      </button> -->
                      <!-- <button mat-button *ngIf="node.level === 1" (click)="show.toggleShowBlock(1); getId2(node.id); getSelect2()">
                        <mat-icon matTooltip="Добавить объект" class="material-symbols-outlined">add</mat-icon>
                      </button> -->
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>№</span>
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_end">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Дата конца </th>
                    <td mat-cell *matCellDef="let node"> {{ node.date_end }} </td>
                  </ng-container>

                  <ng-container matColumnDef="date_start">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Дата начала </th>
                    <td mat-cell *matCellDef="let node"> {{ node.date_start }} </td>
                  </ng-container>

                  <ng-container matColumnDef="total_price">
                    <th mat-header-cell *matHeaderCellDef> Итого </th>
                    <td mat-cell *matCellDef="let node"> {{node.total_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="smr_price">
                    <th mat-header-cell *matHeaderCellDef> СМР </th>
                    <td mat-cell *matCellDef="let node"> {{node.smr_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="pir_price">
                    <th mat-header-cell *matHeaderCellDef> ПИР </th>
                    <td mat-cell *matCellDef="let node"> {{node.pir_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="oto_price">
                    <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                    <td mat-cell *matCellDef="let node"> {{node.oto_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="other_price">
                    <th mat-header-cell *matHeaderCellDef> Прочее </th>
                    <td mat-cell *matCellDef="let node"> {{node.other_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="reserve_price">
                    <th mat-header-cell *matHeaderCellDef> Резерв </th>
                    <td mat-cell *matCellDef="let node"> {{node.reserve_price | customNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="end">
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="start">
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="title">
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="pir">
                    <td mat-footer-cell *matFooterCellDef>{{ total?.smr_price }}</td>
                  </ng-container>
                  <ng-container matColumnDef="smr">
                    <td mat-footer-cell *matFooterCellDef>{{ total?.pir_price }}</td>
                  </ng-container>
                  <ng-container matColumnDef="oto">
                    <td mat-footer-cell *matFooterCellDef>{{ total?.oto_price }}</td>
                  </ng-container>
                  <ng-container matColumnDef="other">
                    <td mat-footer-cell *matFooterCellDef>{{ total?.other_price }}</td>
                  </ng-container>

                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let transaction"> {{ total }} </td>
                    <td mat-footer-cell *matFooterCellDef> Итого </td>
                  </ng-container>

                  <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-footer-cell *matFooterCellDef> {{ total?.total_price }} </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu #actions_menu="matMenu">
                        <!-- <button mat-menu-item *ngIf="!element.editing" (click)="showDetails(element.id)">
                            <mat-icon>sort</mat-icon>
                            <span>Подробнее</span>
                          </button> -->
                        <!-- <button mat-menu-item (click)="editRegisterBudget(element); show.toggleShowBlock(1)">
                          <mat-icon>edit</mat-icon>
                          Редактировать
                        </button> -->
                        <!-- <button mat-menu-item (click)="deleteRegisterBudget(element.id)">
                          <mat-icon>clear</mat-icon>
                          Удалить
                        </button> -->
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumnsTotal"></tr>
                </table>

                <!-- Создать направление -->
                <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h2>Добавить направление</h2>

                  <form [formGroup]="createCommonObjectBudgetForm">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата начала факт:</mat-label>
                          <input matInput [matDatepicker]="picker5" formControlName="date_start">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                          <mat-datepicker #picker5></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата окончания факт:</mat-label>
                          <input matInput [matDatepicker]="picker6" formControlName="date_end">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Общая сумма:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>СМР сумма:</mat-label>
                          <input matInput formControlName="smr_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>ПИР сумма:</mat-label>
                          <input matInput formControlName="pir_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Оборудование сумма:</mat-label>
                          <input matInput formControlName="oto_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Прочее сумма:</mat-label>
                          <input matInput formControlName="other_price">

                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Итоговая сумма:</mat-label>
                          <input matInput formControlName="total_price">

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Описания проблемы в текущей строке:</mat-label>
                          <input matInput formControlName="problem">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                          <mat-label>Register budget:</mat-label>
                          <input matInput formControlName="register_budget" [ngModel]="getId">

                        </mat-form-field>

                        <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                          <mat-label>Узел СДР:</mat-label>
                          <mat-select formControlName="wbs" [(ngModel)]="wbsList1">
                            <mat-option *ngFor="let option of getWbsLevel1"
                              [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                          <button (click)="addRegisterBudget()" style="margin-bottom: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>

                <!-- Создать объект -->
                <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h2>Добавить объект</h2>

                  <form [formGroup]="createCommonObjectBudgetForm">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата начала факт:</mat-label>
                          <input matInput [matDatepicker]="picker1" formControlName="date_start">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата окончания факт:</mat-label>
                          <input matInput [matDatepicker]="picker2" formControlName="date_end">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Общая сумма:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>СМР сумма:</mat-label>
                          <input matInput formControlName="smr_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>ПИР сумма:</mat-label>
                          <input matInput formControlName="pir_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Оборудование сумма:</mat-label>
                          <input matInput formControlName="oto_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Прочее сумма:</mat-label>
                          <input matInput formControlName="other_price">

                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Итоговая сумма:</mat-label>
                          <input matInput formControlName="total_price">

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Описания проблемы в текущей строке:</mat-label>
                          <input matInput formControlName="problem">

                        </mat-form-field>

                        <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                          <mat-label>Узел СДР:</mat-label>
                          <mat-select formControlName="wbs" [(ngModel)]="wbsList2">
                            <mat-option *ngFor="let option of getWbsLevel2"
                              [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                          <mat-label>Register budget:</mat-label>
                          <input matInput formControlName="register_budget" [ngModel]="getId">

                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                          <button (click)="addRegisterBudget()" style="margin-bottom: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>

                <!-- Создать проект -->
                <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h2>Добавить проект</h2>

                  <form [formGroup]="createCommonObjectBudgetForm">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата начала факт:</mat-label>
                          <input matInput [matDatepicker]="picker3" formControlName="date_start">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                          <mat-label>Дата окончания факт:</mat-label>
                          <input matInput [matDatepicker]="picker4" formControlName="date_end">
                          <mat-hint>{{getDateFormatString()}}</mat-hint>
                          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                          <mat-datepicker #picker4></mat-datepicker>
                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Общая сумма:</mat-label>
                          <input matInput formControlName="comment">

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>СМР сумма:</mat-label>
                          <input matInput formControlName="smr_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>ПИР сумма:</mat-label>
                          <input matInput formControlName="pir_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Оборудование сумма:</mat-label>
                          <input matInput formControlName="oto_price">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Прочее сумма:</mat-label>
                          <input matInput formControlName="other_price">

                        </mat-form-field>

                        <!-- <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Итоговая сумма:</mat-label>
                          <input matInput formControlName="total_price">

                        </mat-form-field> -->

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Описания проблемы в текущей строке:</mat-label>
                          <input matInput formControlName="problem">

                        </mat-form-field>

                        <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                          <mat-label>Узел СДР:</mat-label>
                          <mat-select formControlName="wbs" [(ngModel)]="wbsList0">
                            <mat-option *ngFor="let option of getWbsLevel0"
                              [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                          <mat-label>Register budget:</mat-label>
                          <input matInput formControlName="register_budget" [ngModel]="getId">

                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                          <button (click)="addRegisterBudget()" style="margin-bottom: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>

                <!-- Создать на основании теукщий бюджет -->
                <div class="col create" [ngClass]="{'show': show.showBlock[3]}">
                  <div class="col text-end" style="margin-bottom: 15px;">
                    <button class="mat-btn-exit" mat-stroked-button (click)="closedAdd()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                  <h3>Создать на основании текущий бюджет</h3>

                  <form [formGroup]="createBaseToCurrent" style="width: 100%;">
                    <div class="row">
                      <div class="col">

                        <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                          <mat-label>Register budget:</mat-label>
                          <input matInput formControlName="register_budget_id" [ngModel]="getId">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование бюджета:</mat-label>
                          <input matInput formControlName="name_current_register_budget">

                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                          <button (click)="addBaseToCurrent()" style="margin-bottom: 15px;" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h2>Нематериальные активы</h2>
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <app-nma></app-nma>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- <h2>Инфляция</h2> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass"  *ngIf="!link_general">
              <mat-card-content>

                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h2>Общепроектные затраты</h2>
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <app-total-costs></app-total-costs>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- <h2>Общепроектные затраты</h2> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass">
              <mat-card-content>

                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h2>Операционные затраты</h2>
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataOperatingCostsPlanTableSource">
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef style="width: 8%;"> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>

                      <!-- WBS_code Item Column -->
                      <!-- <ng-container matColumnDef="WBS_code">
                        <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                        <td mat-cell *matCellDef="let element"> {{element.WBS_code}} </td>
                      </ng-container> -->

                      <!-- Operating Cost Item Column -->
                      <ng-container matColumnDef="operating_cost_item">
                        <th mat-header-cell *matHeaderCellDef  style="width: 20%;"> Наименование</th>
                        <td mat-cell *matCellDef="let element">  {{element.WBS_code}} . {{element.operating_cost_item}}</td>
                      </ng-container>

                      <ng-container matColumnDef="date_end">
                        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Дата конца </th>
                        <td mat-cell *matCellDef="let element"> {{ element.ending_plan }} </td>
                      </ng-container>
    
                      <ng-container matColumnDef="date_start">
                        <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Дата начала </th>
                        <td mat-cell *matCellDef="let element"> {{ element.start_plan }} </td>
                      </ng-container>
                      
                      <!-- Planned Cost Column -->
                      <ng-container matColumnDef="planned_cost" style="width: 5%;">
                        <th mat-header-cell *matHeaderCellDef> Итого</th>
                        <td mat-cell *matCellDef="let element"> {{element.planned_cost| customNumber}} </td>
                      </ng-container>


                      <tr mat-header-row *matHeaderRowDef="['id', 'operating_cost_item', 'date_start', 'date_end', 'planned_cost']"></tr>
                      <tr mat-row *matRowDef="let row; columns: ['id','operating_cost_item', 'date_start', 'date_end', 'planned_cost'];"></tr>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- <h2>Общепроектные затраты</h2> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>



            <mat-card class="example-card widget change-pass">
              <mat-card-content>

                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h2>Бюджет рисков</h2>
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <table mat-table [dataSource]="dataRiskPlanTableSource">

                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> № </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                      </ng-container>

                      <!-- WBS_code Column -->
                      <ng-container matColumnDef="WBS_code">
                        <th mat-header-cell *matHeaderCellDef>Код СДР </th>
                        <td mat-cell *matCellDef="let element"> {{element.WBS_code}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Название </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>

                      <!-- Planned Cost Column -->
                      <ng-container matColumnDef="planned_cost">
                        <th mat-header-cell *matHeaderCellDef> Стоимость базовая </th>
                        <td mat-cell *matCellDef="let element"> {{element.planned_cost | customNumber}} </td>
                      </ng-container>

                      <!-- Start Plan Column -->
                      <ng-container matColumnDef="start_plan">
                        <th mat-header-cell *matHeaderCellDef> Начало план </th>
                        <td mat-cell *matCellDef="let element"> {{element.start_plan}} </td>
                      </ng-container>

                      <!-- Ending Plan Column -->
                      <ng-container matColumnDef="ending_plan">
                        <th mat-header-cell *matHeaderCellDef> Окончание план </th>
                        <td mat-cell *matCellDef="let element"> {{element.ending_plan}} </td>
                      </ng-container>

                      <!-- Risk Description Column -->
                      <ng-container matColumnDef="risk_description">
                        <th mat-header-cell *matHeaderCellDef> Описание риска </th>
                        <td mat-cell *matCellDef="let element"> {{element.risk_description}} </td>
                      </ng-container>

                      <!-- Estimated Cost Column -->
                      <ng-container matColumnDef="estimated_cost">
                        <th mat-header-cell *matHeaderCellDef> Стоимость текущая </th>
                        <td mat-cell *matCellDef="let element"> {{element.estimated_cost | customNumber}} </td>
                      </ng-container>

                      <!-- Risk Description Column -->
                      <ng-container matColumnDef="source">
                        <th mat-header-cell *matHeaderCellDef> Источник </th>
                        <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                      </ng-container>


                      <!-- Plan Deviation Column -->
                      <ng-container matColumnDef="plan_deviation">
                        <th mat-header-cell *matHeaderCellDef> Отклонение от плана</th>
                        <td mat-cell *matCellDef="let element"> {{element.plan_deviation | customNumber}} </td>
                      </ng-container>

                      <tr mat-header-row
                        *matHeaderRowDef="['id', 'WBS_code', 'name', 'planned_cost', 'start_plan', 'ending_plan', 'risk_description', 'estimated_cost', 'source', 'plan_deviation']">
                      </tr>
                      <tr mat-row
                        *matRowDef="let row; columns: ['id', 'WBS_code', 'name', 'planned_cost', 'start_plan', 'ending_plan', 'risk_description', 'estimated_cost', 'source', 'plan_deviation']">
                      </tr>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- <h2>Общепроектные затраты</h2> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>


            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h2>Инфляция</h2>
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <app-inflation-budget></app-inflation-budget>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- <h2>Инфляция</h2> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>

            <mat-card class="example-card widget change-pass" style="margin-bottom: 55px;">
              <mat-card-content>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h2>Итого</h2>
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col">Итого</th>
                          <th scope="col">ПИР</th>
                          <th scope="col">СМР</th>
                          <th scope="col">Оборудование</th>
                          <th scope="col">Прочее</th>
                          <th scope="col" style="width: 10%;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1</td>
                          <td style="width: 38%;"></td>
                          <td>{{ getInfo.summ?.total_price | customNumber }}</td>
                          <td>{{ getInfo.summ?.smr_price | customNumber }}</td>
                          <td>{{ getInfo.summ?.pir_price | customNumber }}</td>
                          <td>{{ getInfo.summ?.oto_price | customNumber }}</td>
                          <td>{{ getInfo.summ?.other_price | customNumber }}</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </mat-expansion-panel>
                </mat-accordion>
                <!-- <h2>Итого</h2> -->

              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>