table {
    width: 100%;
}
.tree-border {
    border-bottom: 1px solid #d5d5d5;
    margin: 0px 25px 0px 25px;
}
/* .mat-header-cell,
.mat-cell {
  border-color: var(--theme-mat-cell-header-border-bg);
  color: var(--theme-mat-cell-header-color-bg);
}
.mat-cell {
  color: var(--theme-mat-cell-bg);
}
.mat-table {
  background: var(--theme-mat-table-bg);
}
.mat-paginator {
  display: block;
  background: var(--theme-mat-paginator-bg);
  color: var(--theme-mat-paginator-color-bg);
} */
/* .create {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: translateX(1920px);
  z-index: 2;
}
.create.show {
  display: block;
  transform: translateX(0px);
} */
.example-full-width {
  width: 100%;
}
/* ::ng-deep .mat-tree-node {
    padding-left: 0px !important;
} */

.mat-column-WBS_code{
  text-align:left;
  min-width: 100px;
  /* color: rgb(255, 0, 0); */
}
.mat-column-plan_deviation,
.mat-column-start_plan,
.mat-column-ending_plan{
  text-align:center ;
  min-width: 100px;
  /* color: rgb(255, 0, 0); */
}
.mat-column-id{
  text-align:left ;
  min-width: 50px;
  /* color: rgb(255, 0, 0); */
}