.content {
    overflow-y: scroll;
    height: 94vh;
  }
  .container-row-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
  }
  .tools-wrapper {
    display: flex;
    flex-direction: column;
  }
  .tools-title {
    color: #eb8b2d;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .tools-inner {
    color: #9f9d9d;
  }
  .border-card {
    background: #eb8b2d;
    width: 100%;
    height: 5px;
  }
  .box-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .smoll-inp {
    width: 255px;
    margin: 5px;
  }
  .box-column {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .more {
    color: #6c6c6c;
  }
  .more:hover {
    background: #B5DCA4;
  }
  .form-budget {
    width: 100%;
  }
.block {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  transform: translateX(750px);
}
.block.show {
  display: block;
  transform: translateX(0px);
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #eb8b2d!important;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #eb8b2d !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #eb8b2d;
}
/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:rgba(0,0,0,.25) !important;
}

/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}