<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Добавить объект" class="chevron bnt-help--tools" (click)="openCreateForm()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Текущий бюджет</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="row">
          <div class="col">
            <mat-card class="example-card widget change-pass">
              <mat-card-content>
                <div class="row">
                  <table mat-table [dataSource]="budgets" class="mat-elevation-z8" style="width: 100%;box-shadow: none">
                    <ng-container matColumnDef="serial_number">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>№</span>
                      </th>
                      <td mat-cell *matCellDef="let i = index">
                        <span>
                          {{i+1}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Наименование бюджета</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <span>
                          {{data.name}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="date_year">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Год бюджетирования</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <span>
                          {{data.date_year}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="comment">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Комментарий</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <span>
                          {{data.comment}}
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>Действия</span>
                      </th>
                      <td mat-cell *matCellDef="let data">
                        <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                          <mat-icon>
                            more_vert
                          </mat-icon>
                        </button>
                        <mat-menu #actions_menu="matMenu">
                          <button mat-menu-item (click)="openEditForm(data)">
                            <mat-icon>edit</mat-icon>
                            Редактировать
                          </button>
                          <button mat-menu-item (click)="deleteObject(data.id)">
                            <mat-icon>clear</mat-icon>
                            Удалить
                          </button>
                        </mat-menu>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsName"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10, 15, 20]" 
                                 showFirstLastButtons
                                 #paginator
                                 aria-label="Select page">
                  </mat-paginator>
                </div>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': getCreateFormVisible()}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeCreateForm()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить бюджет</h2>

        <div class="col">
          <form [formGroup]="ObjectCreate" (ngSubmit)="addObject()" class="row" novalidate>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Наименование бюджета:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="_nameCreate.errors?.['required']">Обязательное поле</mat-error>
                <mat-error *ngIf="_nameCreate.errors?.['maxLength']">Максимальное число символов - 256</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Год бюджетирования:</mat-label>
                <input type="number" matInput formControlName="date_year">
                <mat-error *ngIf="_yearCreate.errors?.['required']">Обязательное поле</mat-error>
                <mat-error *ngIf="_yearCreate.errors?.['max']">Максимальный год - 2100</mat-error>
                <mat-error *ngIf="_yearCreate.errors?.['min']">Минимальный год - 1980</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Комментарий:</mat-label>
                <textarea maxlength="1024" 
                          matInput 
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                          formControlName="comment">
                </textarea>
                <mat-error *ngIf="_commentCreate.errors?.['required']">Обязательное поле</mat-error>
                <mat-error *ngIf="_commentCreate.errors?.['maxLength']">Максимальное число символов - 1024</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-checkbox formControlName="is_base">Сравнение</mat-checkbox>
            </div>

            <div class="mb-3 col-12">
              <mat-checkbox formControlName="is_current">Текущий редактируемый</mat-checkbox>
            </div>

            <div class="mb-3 col-12">
              <mat-checkbox formControlName="is_active">Активный внутри года</mat-checkbox>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
              [disabled]="_nameCreate.invalid || _yearCreate.invalid || _commentCreate.invalid"
              >
                Создать</button>
            </div>

          </form>
        </div>
      </div>

      <div class="block" [ngClass]="{'show': getEditFormVisible()}">
        <div class="col text-end">
          <button class="mat-btn-exit" mat-stroked-button (click)="closeEditForm()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать бюджет</h2>

        <div class="col">
          <form [formGroup]="ObjectEdit" (ngSubmit)="editObject()" class="row">

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Наименование бюджета:</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="_nameEdit.errors?.['required']">Обязательное поле</mat-error>
                <mat-error *ngIf="_nameEdit.errors?.['maxLength']">Максимальное число символов - 256</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Год бюджетирования:</mat-label>
                <input type="number" matInput formControlName="date_year">
                <mat-error *ngIf="_yearEdit.errors?.['required']">Обязательное поле</mat-error>
                <mat-error *ngIf="_yearEdit.errors?.['max']">Максимальный год - 2100</mat-error>
                <mat-error *ngIf="_yearEdit.errors?.['min']">Минимальный год - 1980</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Комментарий:</mat-label>
                <textarea maxlength="1024" 
                          matInput 
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"
                          formControlName="comment">
                </textarea>
                <mat-error *ngIf="_commentEdit.errors?.['required']">Обязательное поле</mat-error>
                <mat-error *ngIf="_commentEdit.errors?.['maxLength']">Максимальное число символов - 1024</mat-error>
              </mat-form-field>
            </div>

            <div class="mb-3 col-12">
              <mat-checkbox formControlName="is_base">Сравнение</mat-checkbox>
            </div>

            <div class="mb-3 col-12">
              <mat-checkbox formControlName="is_current">Текущий редактируемый</mat-checkbox>
            </div>

            <div class="mb-3 col-12">
              <mat-checkbox formControlName="is_active">Активный внутри года</mat-checkbox>
            </div>

            <div class="col-12">
              <button mat-stroked-button class="mat-btn-recolor" type="submit"
                [disabled]="_nameEdit.invalid || _yearEdit.invalid || _commentEdit.invalid"
              >
                Сохранить</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
