<!-- <app-header></app-header>
<app-alert></app-alert> -->
<!-- <div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper"> -->
    <!-- <app-menu class="menu"></app-menu> -->

    <!-- <div class="col section content"> -->
      <!-- <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Создать" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(4); wbsServer.getSelect1()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Нематериальные активы</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div> -->
      <!-- <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="col">
          <div class="col">

            <mat-card class="example-card widget change-pass">
              <mat-card-content> -->

                <table mat-table [dataSource]="dataSources">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let node;">
                      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''" [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.code_wbs}} . {{node.name}} 
                      <!-- getSelect1(node.wbs_id) -->
                      <input [ngModel]="node.wbs_id" style="display: none;">
                      <button mat-button *ngIf="node.level === 0" (click)="show.toggleShowBlock(3); getId2(node.id); getSelect2()">
                        <mat-icon matTooltip="Добавить категорию" class="material-symbols-outlined">add</mat-icon>
                      </button>
                      <button mat-button *ngIf="node.level === 1" (click)="show.toggleShowBlock(5); getId3(node.id); getSelect3()">
                        <mat-icon matTooltip="Добавить тип" class="material-symbols-outlined">add</mat-icon>
                      </button>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>№</span>
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_end">
                    <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.date_end}} 
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_start">
                    <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.date_start}} 
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="smr_price">
                    <th mat-header-cell *matHeaderCellDef> СМР </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.smr_price}} 
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="pir_price">
                    <th mat-header-cell *matHeaderCellDef> ПИР </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.pir_price}} 
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="oto_price">
                    <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.oto_price}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="other_price">
                    <th mat-header-cell *matHeaderCellDef> Прочее </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.other_price}} 
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="total_price">
                    <th mat-header-cell *matHeaderCellDef> Итого </th>
                    <td mat-cell *matCellDef="let node"> 
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.total_price}} 
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu #actions_menu="matMenu">
                        <button mat-menu-item (click)="editCommonCostsDirectory(element); show.toggleShowBlock(10)">
                          <mat-icon>edit</mat-icon>
                          Редактировать
                        </button>
                        <button mat-menu-item (click)="delCommonCosts(element.common_budget_id)">
                          <mat-icon>clear</mat-icon>
                          Удалить
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

              <!-- </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card> -->

<!-- Добавить категорию -->
      <div class="col create" [ngClass]="{'show': show.showBlock[3]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(3)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить категорию</h2>

        <form [formGroup]="createCommonCosts">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date_start">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="date_end">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
                <!-- <mat-error *ngIf="createCommonCosts.get('name').hasError('required')">Обязательное поле</mat-error> -->
              </mat-form-field>

              <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                <mat-label>Категория НМА:</mat-label>
                <mat-select formControlName="wbs" [(ngModel)]="wbsList2">
                  <mat-option *ngFor="let option of getWbsLevel2" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createCommonCosts.get('wbs').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>

              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <input matInput formControlName="register_budget" [ngModel]="setIsCurrent" style="display: none;">

              <div class="d-flex justify-content-end">
                <button (click)="addCommonCosts()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor" [disabled]="!createCommonCosts.valid">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

<!-- Добавить НМА -->
      <div class="col create" [ngClass]="{'show': show.showBlock[4]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(4)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить НМА</h2>

        <form [formGroup]="createCommonCosts">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="date_start">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="picker4" formControlName="date_end">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Наименование:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
                <!-- <mat-error *ngIf="createCommonCosts.get('name').hasError('required')">Обязательное поле</mat-error> -->
              </mat-form-field>

              <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                <mat-label>Проект:</mat-label>
                <mat-select formControlName="wbs" [(ngModel)]="wbsServer.wbsList1">
                  <mat-option *ngFor="let option of wbsServer.getWbsLevel1" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createCommonCosts.get('wbs').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>

              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <input matInput formControlName="register_budget" [ngModel]="setIsCurrent" style="display: none;">
              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Бюджет:</mat-label>
                <mat-select formControlName="register_budget" [(ngModel)]="budgetList">
                  <mat-option *ngFor="let option of getBudget" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class="d-flex justify-content-end">
                <button (click)="addCommonCosts()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor" [disabled]="!createCommonCosts.valid">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

<!-- Создать тип -->
      <div class="col create" [ngClass]="{'show': show.showBlock[5]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(5)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить тип</h2>

        <form [formGroup]="createCommonCosts">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="picker5" formControlName="date_start">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="picker6" formControlName="date_end">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
                <!-- <mat-error *ngIf="createCommonCosts.get('name').hasError('required')">Обязательное поле</mat-error> -->
              </mat-form-field>

              <div class="d-flex col">
                <div class="col-10" style="margin-right: 5px;width: 90%;">
                  <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                    <mat-label>Тип:</mat-label>
                    <mat-select formControlName="wbs" [(ngModel)]="wbsList3">
                      <mat-option *ngFor="let option of getWbsLevel3" [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="createCommonCosts.get('wbs').hasError('required')">Обязательное поле</mat-error>
                  </mat-form-field>
                </div>
                <div class="col" style="height: 53px;">
                  <button style="margin-bottom: 15px;" matTooltip="Добавить тип в НМА" mat-stroked-button class="add-button" (click)="show.toggleShowBlock(7)">
                    <span class="d-flex align-items-center" style="height: 37px;"><mat-icon>library_add</mat-icon></span>
                  </button>
                </div>
              </div>
              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <input matInput formControlName="register_budget" [ngModel]="setIsCurrent" style="display: none;">
              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Бюджет:</mat-label>
                <mat-select formControlName="register_budget" [(ngModel)]="budgetList">
                  <mat-option *ngFor="let option of getBudget" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class="d-flex justify-content-end">
                <button (click)="addCommonCosts()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor" [disabled]="!createCommonCosts.valid">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

<!-- Редактировать Бюджет проекта -->
      <div class="col create" [ngClass]="{'show': show.showBlock[10]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(10)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать элемент</h2>

        <form [formGroup]="editCommonCosts">
          <div class="row">
            <div class="col">


              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

 

              <!-- <input matInput formControlName="register_budget" [ngModel]="setIsCurrent"> -->

              <div class="d-flex justify-content-end">
                <button (click)="saveCommonCostsDirectory()" style="margin-bottom: 15px;margin-top: 15px;" mat-stroked-button class="mat-btn-recolor">
                  <span class="d-flex align-items-center">Сохранить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="col create" [ngClass]="{'show': show.showBlock[7]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.toggleShowBlock(7)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2 class="text-start">Добавить тип в НМА</h2>
  
        <form [formGroup]="createSystem">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Дата начала:</mat-label>
            <input matInput [matDatepicker]="picker17" formControlName="date_start">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
            <mat-datepicker #picker17></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Дата окончания:</mat-label>
            <input matInput [matDatepicker]="picker18" formControlName="date_end">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
            <mat-datepicker #picker18></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Название:</mat-label>
            <input matInput formControlName="name">
  
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Код НМА:</mat-label>
            <input matInput formControlName="code_wbs">
  
          </mat-form-field>
  
          <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
            <mat-label>Категория:</mat-label>
            <mat-select formControlName="category" [(ngModel)]="categoryList">
              <mat-option *ngFor="let option of getCategory" [value]="option.id">{{option.name}}</mat-option>
            </mat-select>
          </mat-form-field> -->
  
          <div class="d-flex justify-content-end">
            <button (click)="addBudget4()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
              <span class="d-flex align-items-center">Добавить</span>
            </button>
          </div>
        </form>
  
      </div>