<mat-dialog-content class="mat-typography">
    <h3>{{data.element.name}}</h3>
    <form [formGroup]="editRateForm">
        <div class="container row gx-3">
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Доля(%):</mat-label>
                <input type="number" matInput formControlName="rate">
            </mat-form-field>

        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Закрыть</button>

    <button (click)="updateRate(editRateForm.value)" mat-button cdkFocusInitial>Сохранить</button>
</mat-dialog-actions>
