table {
    width: 100%;
}
.example-full-width {
  width: 100%;
}
.add-button {
  min-width: 25px;
  padding: 5px;
  margin-top: 3px;
  border-color: var(--theme-modal-button-recolor) !important;
  color: #4da958;
}