<!-- <app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools"
            (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Добавить" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(6); getSelect1()">
            <mat-icon>library_add</mat-icon>
          </button>

        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Общепроектные затраты</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="budget">
              <mat-card-content> -->

                <table mat-table [dataSource]="dataSources">
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Наименование </th>
                    <td mat-cell *matCellDef="let node;">
                      <button mat-icon-button [style.visibility]="!node.expandable ? 'hidden' : ''"
                        [style.marginLeft.px]="node.level * 32" (click)="treeControl.toggle(node)">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.code_wbs}} . {{node.name}}
                      <!-- getSelect1(node.wbs_id) -->
                      <input [ngModel]="node.wbs_id" style="display: none;">
                      <button mat-button *ngIf="node.level === 0"
                        (click)="show.toggleShowBlock(8); getId2(node.id); getSelect2()">
                        <mat-icon matTooltip="Добавить категорию" class="material-symbols-outlined">add</mat-icon>
                      </button>
                      <button mat-button *ngIf="node.level === 1"
                        (click)="show.toggleShowBlock(10); getId3(node.id); getSelect3()">
                        <mat-icon matTooltip="Добавить пакет работ" class="material-symbols-outlined">add</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="serial_number">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>№</span>
                    </th>
                    <td mat-cell *matCellDef="let i = index">
                      <span>
                        {{i+1}}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="smr_price">
                    <th mat-header-cell *matHeaderCellDef> СМР </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.smr_price|customNumber}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_end">
                    <th mat-header-cell *matHeaderCellDef> Дата окончания </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.date_end}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="date_start">
                    <th mat-header-cell *matHeaderCellDef> Дата начала </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.date_start}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="pir_price">
                    <th mat-header-cell *matHeaderCellDef> ПИР </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.pir_price|customNumber}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="oto_price">
                    <th mat-header-cell *matHeaderCellDef> Оборудование </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.oto_price|customNumber}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="other_price">
                    <th mat-header-cell *matHeaderCellDef> Прочее </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.other_price|customNumber}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="total_price">
                    <th mat-header-cell *matHeaderCellDef> Итого </th>
                    <td mat-cell *matCellDef="let node">
                      <div *ngIf="node.level === 0 || node.level === 2">
                        {{node.total_price|customNumber}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                      <span>Действия</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                        <mat-icon>
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu #actions_menu="matMenu">
                        <button mat-menu-item (click)="editCommonCostsDirectory(element); show.toggleShowBlock(12)">
                          <mat-icon>edit</mat-icon>
                          Редактировать
                        </button>
                        <button mat-menu-item (click)="delCommonCosts(element.common_budget_id)">
                          <mat-icon>clear</mat-icon>
                          Удалить
                        </button>
                        <button mat-menu-item type="button" (click)='linkCommonCosts(element)'
                          data-bs-toggle="offcanvas" data-bs-target="#linkCommonCosts">
                          <mat-icon>link</mat-icon>
                          <span>Связать</span>
                        </button>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div> -->

      <!-- Создать категорию -->
      <div class="col create" [ngClass]="{'show': show.showBlock[8]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(8)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить категорию</h2>

        <form [formGroup]="createCommonCosts">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="date_start" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="date_end" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
              </mat-form-field>

              <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                <mat-label>Категория общепроектных затрат:</mat-label>
                <mat-select formControlName="wbs" [(ngModel)]="wbsList2">
                  <mat-option *ngFor="let option of getWbsLevel2"
                    [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createCommonCosts.get('wbs').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>

              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createCommonCosts.get('budget_source').hasError('dateRangeError')">Обязательное поле</mat-error>
              </mat-form-field> -->

              <input matInput formControlName="register_budget" [ngModel]="setIsCurrent" style="display: none;">

              <div class="d-flex justify-content-end">
                <button (click)="addCommonCosts()" style="margin-bottom: 15px;" mat-stroked-button
                  class="mat-btn-recolor" [disabled]="!createCommonCosts.valid">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <!-- Создать проект -->
      <div class="col create" [ngClass]="{'show': show.showBlock[6]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(6)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить Общепроектную</h2>

        <form [formGroup]="createCommonCosts">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="date_start" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="picker4" formControlName="date_end" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
                <!-- <mat-error *ngIf="createCommonCosts.get('name').hasError('required')">Обязательное поле</mat-error> -->
              </mat-form-field>

              <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                <mat-label>Проект:</mat-label>
                <mat-select formControlName="wbs" [(ngModel)]="wbsList1">
                  <mat-option *ngFor="let option of wbsServer.getWbsLevel1"
                    [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="createCommonCosts.get('wbs').hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>

              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <input matInput formControlName="register_budget" [ngModel]="setIsCurrent" style="display: none;">
              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Бюджет:</mat-label>
                <mat-select formControlName="register_budget" [(ngModel)]="budgetList">
                  <mat-option *ngFor="let option of getBudget" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class="d-flex justify-content-end">
                <button (click)="addCommonCosts()" style="margin-bottom: 15px;" mat-stroked-button
                  class="mat-btn-recolor" [disabled]="!createCommonCosts.valid">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <!-- Создать пакет работ -->
      <div class="col create" [ngClass]="{'show': show.showBlock[10]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(10)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Добавить пакет работ</h2>

        <form [formGroup]="createCommonCosts">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата начала:</mat-label>
                <input matInput [matDatepicker]="picker5" formControlName="date_start" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата начала не может быть позже даты окончания
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;">
                <mat-label>Дата окончания:</mat-label>
                <input matInput [matDatepicker]="picker6" formControlName="date_end" placeholder="дд-мм-гггг">
                <mat-hint>{{getDateFormatString()}}</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
                <mat-error *ngIf="createCommonCosts.hasError('dateRangeError')">
                  Дата окончания не может быть раньше даты начала
                </mat-error>
              </mat-form-field>

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input matInput formControlName="smr_price">
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input matInput formControlName="pir_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input matInput formControlName="oto_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input matInput formControlName="other_price">
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Комментарий:</mat-label>
                <input matInput formControlName="comment">
                <!-- <mat-error *ngIf="createCommonCosts.get('name').hasError('required')">Обязательное поле</mat-error> -->
              </mat-form-field>

              <div class="d-flex col">
                <div class="col-10" style="margin-right: 5px;width: 90%;">
                  <mat-form-field class="select-create" style=" width: 100%" appearance="outline">
                    <mat-label>Пакет работ:</mat-label>
                    <mat-select formControlName="wbs" [(ngModel)]="wbsList3">
                      <mat-option *ngFor="let option of getWbsLevel3"
                        [value]="option.id">{{option.code_wbs}}.{{option.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="createCommonCosts.get('wbs').hasError('required')">Обязательное поле</mat-error>
                  </mat-form-field>
                </div>
                <div class="col" style="height: 53px;">
                  <button style="margin-bottom: 15px;" matTooltip="Добавить пакет работ в общепроектную СДР"
                    mat-stroked-button class="add-button" (click)="show.toggleShowBlock(11)">
                    <span class="d-flex align-items-center"
                      style="height: 37px;"><mat-icon>library_add</mat-icon></span>
                  </button>
                </div>
              </div>

              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Источник:</mat-label>
                <mat-select formControlName="budget_source" [(ngModel)]="sourceList">
                  <mat-option *ngFor="let option of getSource" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <input matInput formControlName="register_budget" [ngModel]="setIsCurrent" style="display: none;">
              <!-- <mat-form-field class="select-create" style="width: 100%" appearance="outline">
                <mat-label>Бюджет:</mat-label>
                <mat-select formControlName="register_budget" [(ngModel)]="budgetList">
                  <mat-option *ngFor="let option of getBudget" [value]="option.id">{{option.name}}</mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class="d-flex justify-content-end">
                <button (click)="addCommonCosts()" style="margin-bottom: 15px;" mat-stroked-button
                  class="mat-btn-recolor" [disabled]="!createCommonCosts.valid">
                  <span class="d-flex align-items-center">Добавить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <!-- Редактировать Бюджет проекта -->
      <div class="col create" [ngClass]="{'show': show.showBlock[12]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(12)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Редактировать элемент</h2>

        <form [formGroup]="editCommonCosts">
          <div class="row">
            <div class="col">


              <!-- <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Общая сумма:</mat-label>
                <input matInput formControlName="total_price">
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_project').hasError('maxlength')">Не более двух символов</mat-error>
              </mat-form-field> -->

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>СМР сумма:</mat-label>
                <input type="number" matInput formControlName="smr_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('type_general_project').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>ПИР сумма:</mat-label>
                <input type="number" matInput formControlName="pir_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Оборудование сумма:</mat-label>
                <input type="number" matInput formControlName="oto_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Прочее сумма:</mat-label>
                <input type="number" matInput formControlName="other_price">
                <!-- <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('required')">Обязательное поле</mat-error>
                <mat-error *ngIf="createCommonCosts.get('code_work_package').hasError('maxlength')">Не более двух символов</mat-error> -->
              </mat-form-field>


              <mat-checkbox formControlName="auto">Рассчитать по дочерним</mat-checkbox>

              <!-- <input matInput formControlName="register_budget" [ngModel]="setIsCurrent"> -->

              <div class="d-flex justify-content-end">
                <button (click)="saveCommonCostsDirectory()" style="margin-bottom: 15px;margin-top: 15px;"
                  mat-stroked-button class="mat-btn-recolor">
                  <span class="d-flex align-items-center">Сохранить</span>
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="col create" [ngClass]="{'show': show.showBlock[11]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.toggleShowBlock(10); show.closedAdd(11)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h4 class="text-start">Добавить пакет работ в общепроектную СДР</h4>

        <form [formGroup]="createSystem">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Дата начала:</mat-label>
            <input matInput [matDatepicker]="picker17" formControlName="date_start">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker17"></mat-datepicker-toggle>
            <mat-datepicker #picker17></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Дата окончания:</mat-label>
            <input matInput [matDatepicker]="picker18" formControlName="date_end">
            <mat-hint>{{getDateFormatString()}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker18"></mat-datepicker-toggle>
            <mat-datepicker #picker18></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Название:</mat-label>
            <input matInput formControlName="name">

          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Код общепроектных затрат:</mat-label>
            <input matInput formControlName="code_wbs">

          </mat-form-field>

          <mat-form-field class="select-create" style="width: 100%" appearance="outline">
            <mat-label>Категория:</mat-label>
            <mat-select formControlName="category" [(ngModel)]="categoryList">
              <mat-option *ngFor="let option of getCategory" [value]="option.id">{{option.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="d-flex justify-content-end">
            <button (click)="addBudget4()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
              <span class="d-flex align-items-center">Добавить</span>
            </button>
          </div>
        </form>

      </div>

      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="linkCommonCosts" aria-labelledby="addScrollingLabel" style="width: 60%;">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title" id="linkCommonCosts">Связать
          </h2>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form [formGroup]="LinkForm">
            <div class="container row gx-3">

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Доля(%):</mat-label>
                <input type="number" matInput formControlName="rate">
                <mat-error *ngIf="LinkForm.get('rate').hasError('min')">Значение не должно быть меньше 0</mat-error>
                <mat-error *ngIf="LinkForm.get('rate').hasError('max')">Значение не должно быть больше 100</mat-error>
              </mat-form-field>



              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Объекты текущего бюджета:</mat-label>
                <mat-select formControlName="common_id">
                  <mat-option *ngFor="let object of CurrentBudgetObjectsData" [value]="object.id">
                    {{ object.wbs_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>



              <div class="col-6">
                <button (click)="LinkCommonCostsDirectory(LinkForm.value)" mat-stroked-button class="mat-btn-recolor">
                  <span class="align-text-center">Сохранить
                  </span>
                </button>
              </div>
              <br>
              <mat-card-content>
                <mat-tab-group>
                  <mat-tab class="mat-elevation-z8" label="Привязанные объекты">
                    <ng-container *ngIf="isLoadingListLink; else dataLoaded">
                      <br>
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </ng-container>
                    <ng-template #dataLoaded>
                      <ng-container *ngIf="dataLinkBudgetList.data.length; else noData">

                        <table mat-table [dataSource]="dataLinkBudgetList">
                          <ng-container matColumnDef="serial_number">
                            <th mat-header-cell *matHeaderCellDef> № </th>
                            <td mat-cell *matCellDef="let i = index">
                              <span>
                                {{i+1}}
                              </span>
                            </td>
                          </ng-container>
                          <!-- Код СДР -->
                          <ng-container matColumnDef="code_wbs">
                            <th mat-header-cell *matHeaderCellDef> Код СДР </th>
                            <td mat-cell *matCellDef="let element">{{ element?.code_wbs }}</td>
                          </ng-container>

                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Наименование</th>
                            <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
                          </ng-container>

                          <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef> Доля(%) </th>
                            <td mat-cell *matCellDef="let element">{{ element?.rate }} %</td>
                          </ng-container>


                          <ng-container matColumnDef="pir">
                            <th mat-header-cell *matHeaderCellDef> ПИР</th>
                            <td mat-cell *matCellDef="let element">{{ element?.pir |customNumber}}</td>
                          </ng-container>

                          <ng-container matColumnDef="smr">
                            <th mat-header-cell *matHeaderCellDef> СМР</th>
                            <td mat-cell *matCellDef="let element">{{ element?.smr |customNumber}}</td>
                          </ng-container>


                          <ng-container matColumnDef="oto">
                            <th mat-header-cell *matHeaderCellDef> ОТО</th>
                            <td mat-cell *matCellDef="let element">{{ element?.oto |customNumber}}</td>
                          </ng-container>


                          <ng-container matColumnDef="other">
                            <th mat-header-cell *matHeaderCellDef> Прочее</th>
                            <td mat-cell *matCellDef="let element">{{ element?.other |customNumber}}</td>
                          </ng-container>


                          <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Всего</th>
                            <td mat-cell *matCellDef="let element">{{ element?.total |customNumber}}</td>
                          </ng-container>


                          <!-- Действие -->
                          <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Действие </th>
                            <td mat-cell *matCellDef="let element" class="edit">
                              <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <mat-menu #menu="matMenu">

                                <button mat-menu-item type="button" (click)='editRateLinkBudgetList(element)'>
                                  <mat-icon>link</mat-icon>
                                  <span>Изменить долю</span>
                                </button>

                                <button mat-menu-item (click)="delElementLinkBudgetList(element.id)">
                                  <mat-icon>clear</mat-icon>
                                  <span>Удалить</span>
                                </button>

                              </mat-menu>
                            </td>
                          </ng-container>

                          <tr mat-header-row
                            *matHeaderRowDef="['serial_number', 'code_wbs', 'name','rate', 'pir', 'smr', 'oto', 'other', 'total', 'actions']">
                          </tr>
                          <tr mat-row
                            *matRowDef="let row; columns: ['serial_number', 'code_wbs', 'name', 'rate', 'pir', 'smr', 'oto', 'other', 'total', 'actions']">
                          </tr>
                        </table>
                      </ng-container>
                      <ng-template #noData>
                        <p>Нет привязанных объектов.</p>
                      </ng-template>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>

              <!-- </mat-card-content>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->