<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <button matTooltip="Добавить" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(0); getMacro.isSection_1()">
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Макропараметры</span>
          <span class="tools-inner">Текущий проект: {{ isTitle.isName }}</span>
        </div>
      </div>
      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="budget">
              <mat-card-content>
                <mat-tab-group animationDuration="0ms">
                  <mat-tab label="Курсы валют">

                    <app-currency-macro></app-currency-macro>

                  </mat-tab>
                  <mat-tab label="Металлы">
                    
                    <app-metals></app-metals>

                  </mat-tab>
                  <mat-tab label="Инфляция ИЦП">

                    <app-inflation></app-inflation>

                  </mat-tab>
                  <mat-tab label="Инфляция ИПЦ">

                    <app-inflation-ipc></app-inflation-ipc>

                  </mat-tab>
                  <mat-tab label="Ключ">

                    <table mat-table [dataSource]="dataSource1">
                      <ng-container matColumnDef="param_1">
                        <th mat-header-cell *matHeaderCellDef> Категория </th>
                        <td mat-cell *matCellDef="let element"> {{element.param_1}} </td>
                      </ng-container>

                      <ng-container matColumnDef="parameter">
                        <th mat-header-cell *matHeaderCellDef> Параметр </th>
                        <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
                      </ng-container>

                      <ng-container matColumnDef="param_3">
                        <th mat-header-cell *matHeaderCellDef> Тип </th>
                        <td mat-cell *matCellDef="let element"> {{element.param_3}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2024">
                        <th mat-header-cell *matHeaderCellDef> 2024 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2024']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2025">
                        <th mat-header-cell *matHeaderCellDef> 2025 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2025']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2026">
                        <th mat-header-cell *matHeaderCellDef> 2026 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2026']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2027">
                        <th mat-header-cell *matHeaderCellDef> 2027 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2027']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2028">
                        <th mat-header-cell *matHeaderCellDef> 2028 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2028']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2029">
                        <th mat-header-cell *matHeaderCellDef> 2029 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2029']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2030">
                        <th mat-header-cell *matHeaderCellDef> 2030 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2030']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2031">
                        <th mat-header-cell *matHeaderCellDef> 2031 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2031']}} </td>
                      </ng-container>

                      <ng-container matColumnDef="2032">
                        <th mat-header-cell *matHeaderCellDef> 2032 </th>
                        <td mat-cell *matCellDef="let element"> {{element['2032']}} </td>
                      </ng-container>
                      
                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                            <mat-icon>
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu class="customize" #actions_menu="matMenu">
                            <button mat-menu-item (click)="edit(element); show.toggleShowBlock(2)">
                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                              Редактировать
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                    </table>
                    <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                  </mat-tab>
                  <mat-tab label="WACC">
                    <table mat-table [dataSource]="dataSource2">
                      <ng-container matColumnDef="param_1">
                        <th mat-header-cell *matHeaderCellDef> Показатель </th>
                        <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
                      </ng-container>

                      <ng-container matColumnDef="parameter">
                        <th mat-header-cell *matHeaderCellDef> Источник </th>
                        <td mat-cell *matCellDef="let element"> {{element.source}} </td>
                      </ng-container>

                      <ng-container matColumnDef="param_3">
                        <th mat-header-cell *matHeaderCellDef> Процент </th>
                        <td mat-cell *matCellDef="let element"> {{element.value}} %</td>
                      </ng-container>

                      <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>
                          <span>Действия</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                            <mat-icon>
                              more_vert
                            </mat-icon>
                          </button>
                          <mat-menu class="customize" #actions_menu="matMenu">
                            <button mat-menu-item (click)="editWacc(element); show.toggleShowBlock(0)">
                              <mat-icon class="mat-menu-icon">edit</mat-icon>
                              Редактировать
                            </button>
                            <button mat-menu-item (click)="delWacc(element)">
                              <mat-icon class="mat-menu-icon">clear</mat-icon>
                              <span>Удалить</span>
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                   <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </mat-tab>
                  <mat-tab label="Значение параметров">
                    <app-param></app-param>
                  </mat-tab>
                </mat-tab-group>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>

          <p-dialog header="Header" styleClass="modal-element" [style]="{ 'width': theme.isMaximized ? '100vw' : '30vw' }" [visible]="show.showBlock[0]" [position]="theme.position" [draggable]="false" [maximizable]="false" [closable]="false" >
            <ng-template pTemplate="header">
              <div class="col-12 d-flex">
                <div class="col">
                  <h2>{{ getMacro.section === 'level-1' ? 'Добавить' : 'Редактировать'}}</h2>
                </div>
                <div class="d-flex text-end">
                  <div class="col">
                    <button class="mat-btn-resize" style="margin-right: 5px;" (click)="theme.toggleMaximize()">
                      <mat-icon *ngIf="theme.isMaximized">call_received</mat-icon>
                      <mat-icon *ngIf="!theme.isMaximized">call_made</mat-icon>
                    </button>    
                  </div>
                  <div class="col">
                    <button class="mat-btn-exit" mat-stroked-button (click)="show.showBlock[0] = false">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
           <div *ngIf="getMacro.section == 'level-1'">
            <mat-tab-group animationDuration="0ms" #tabs>
              <mat-tab label="Параметры">

                <form [formGroup]="addParametersForm">
                  <div class="d-flex flex-sm-column">
                    <mat-form-field class="select-create" appearance="outline">
                      <mat-label>Тип параметра:</mat-label>
                      <mat-select formControlName="type_parameter" [ngModel]="selectedType">
                        <mat-option *ngFor="let option of getMacro.getType" [value]="option">{{ option }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Наименование:</mat-label>
                      <input matInput formControlName="name">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Основание:</mat-label>
                      <input matInput formControlName="base">

                    </mat-form-field>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-end">
                      <button (click)="Parameters()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Добавить
                        </span>
                      </button>
                    </div>
                  </div>
                </form>


              </mat-tab>
              <mat-tab label="Значение">

                <form [formGroup]="addParameterValueForm">
                  <div class="d-flex flex-sm-column">
                    <mat-form-field class="select-create" appearance="outline">
                      <mat-label>Параметр:</mat-label>
                      <mat-select formControlName="parameter" [ngModel]="selectedName">
                        <mat-option *ngFor="let option of getMacro.getName" [value]="option.id">{{ option.names }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="select-create" appearance="outline">
                      <mat-label>год</mat-label>
                      <mat-select formControlName="year" [ngModel]="selectedYear">
                        <mat-option *ngFor="let year of yearsRange" [value]="year">{{ year }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Значение:</mat-label>
                      <input matInput formControlName="value">

                    </mat-form-field>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-end">
                      <button (click)="ParameterValue()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Сохранить
                        </span>
                      </button>
                    </div>
                  </div>
                </form>

              </mat-tab>
              <mat-tab label="Ставка дисконтирования">

                <form [formGroup]="addDiscountRateForm">
                  <div class="d-flex flex-sm-column">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Параметр:</mat-label>
                      <input matInput formControlName="parameter">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Источник:</mat-label>
                      <input matInput formControlName="source">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Значение:</mat-label>
                      <input matInput formControlName="value">

                    </mat-form-field>
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-end">
                      <button (click)="DiscountRate()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                        <span class="d-flex align-items-center">Добавить
                        </span>
                      </button>
                    </div>
                  </div>
                </form>

              </mat-tab>
            </mat-tab-group>
          </div>
          <div *ngIf="getMacro.section == 'level-2'">
            
            <form [formGroup]="addParametersForm">
              <div class="row">
                <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Процент:</mat-label>
                <input matInput formControlName="parameter">
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Источник:</mat-label>
                <input matInput formControlName="source">
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Показатель:</mat-label>
                <input matInput formControlName="value">
              </mat-form-field>

              <div class="d-flex justify-content-end">
                <button style="margin-bottom: 15px;" (click)="saveWacc()" mat-stroked-button
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">
                    Сохранить
                  </span>
                </button>
              </div>
            </div>
          </div>
            </form>

          </div>
          <div *ngIf="getMacro.section == 'level-3'">
          
            <form [formGroup]="waccForm">
              <div class="row">
                <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Процент:</mat-label>
                <input matInput formControlName="parameter">
              </mat-form-field>
            
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Источник:</mat-label>
                <input matInput formControlName="source">
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Показатель:</mat-label>
                <input matInput formControlName="value">
              </mat-form-field>

              <div class="d-flex justify-content-end">
                <button style="margin-bottom: 15px;" (click)="saveWacc()" mat-stroked-button
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">
                    Сохранить
                  </span>
                </button>
              </div>
            </div>
          </div>
            </form>

          </div>
          <div *ngIf="getMacro.section == 'level-4'">
          
            <form [formGroup]="getMacro.currencyForm">
              <mat-form-field class="select-create" class="example-full-width" appearance="outline">
                <mat-label>Год:</mat-label>
                <mat-select (selectionChange)="getMacro.onYearChange($event.value)">
                  <mat-option *ngFor="let option of getMacro.dataSourceYear" [value]="option.year_id">{{ option.year }}</mat-option>
                </mat-select>
                <mat-hint>Выберети год</mat-hint>
              </mat-form-field>

              <mat-form-field class="select-create" class="example-full-width" appearance="outline">
                <mat-label>Показатели:</mat-label>
                <mat-select formControlName="parameter">
                  <mat-option *ngFor="let option of getMacro.dataSourceName" [value]="option.parameter_id">{{ option.parameter_name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Значение:</mat-label>
                <input matInput formControlName="value">
              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width" style="display: none;">
                <mat-label>year:</mat-label>
                <input matInput formControlName="year">
              </mat-form-field>

              <button style="margin-bottom: 15px;" (click)="getMacro.createLead()" mat-stroked-button class="mat-btn-recolor">
                <span class="d-flex align-items-center">
                  Сохранить
                </span>
              </button>
              <!-- <button mat-raised-button color="primary" (click)="getMacro.createLead()">Сохранить</button> -->
            </form>

          </div>
          </p-dialog>

<!-- Добавление -->
          <!-- <div class="col">
            <div class="col create" [ngClass]="{'show': show.showBlock[0]}">
              <div class="col text-end" style="margin-bottom: 15px;">
                <button class="mat-btn-exit exit-recolor" mat-stroked-button (click)="show.closedAdd(0)">
                  <mat-icon>close</mat-icon>
                </button>
        
                <mat-tab-group animationDuration="0ms" #tabs>
                  <mat-tab label="Параметры">
                    <h2 class="text-start">Параметры</h2>
      
                    <form [formGroup]="addParametersForm">
                      <div class="d-flex flex-sm-column">
                        <mat-form-field class="select-create" appearance="outline">
                          <mat-label>Тип параметра:</mat-label>
                          <mat-select formControlName="type_parameter" [(ngModel)]="selectedType">
                            <mat-option *ngFor="let option of getMacro.getType" [value]="option">{{ option }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Наименование:</mat-label>
                          <input matInput formControlName="name">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Основание:</mat-label>
                          <input matInput formControlName="base">

                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-end">
                          <button (click)="Parameters()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>

                  </mat-tab>
                  <mat-tab label="Значение">
                    <h2 class="text-start">Значение</h2>
                    
                    <form [formGroup]="addParameterValueForm">
                      <div class="d-flex flex-sm-column">
                        <mat-form-field class="select-create" appearance="outline">
                          <mat-label>Параметр:</mat-label>
                          <mat-select formControlName="parameter" [(ngModel)]="selectedName">
                            <mat-option *ngFor="let option of getMacro.getName" [value]="option.id">{{ option.names }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field class="select-create" appearance="outline">
                          <mat-label>год</mat-label>
                          <mat-select formControlName="year" [(ngModel)]="selectedYear">
                            <mat-option *ngFor="let year of yearsRange" [value]="year">{{ year }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Значение:</mat-label>
                          <input matInput formControlName="value">

                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-end">
                          <button (click)="ParameterValue()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>

                  </mat-tab>
                  <mat-tab label="Ставка дисконтирования">
                    <h2 class="text-start">Ставка дисконтирования</h2>
      
                    <form [formGroup]="addDiscountRateForm">
                      <div class="d-flex flex-sm-column">
                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Параметр:</mat-label>
                          <input matInput formControlName="parameter">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Источник:</mat-label>
                          <input matInput formControlName="source">

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Значение:</mat-label>
                          <input matInput formControlName="value">

                        </mat-form-field>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-end">
                          <button (click)="DiscountRate()" style="margin-bottom: 15px;" mat-stroked-button class="mat-btn-recolor">
                            <span class="d-flex align-items-center">Добавить
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>

          </div> -->

<!-- Редактирование -->
          <div class="col create" [ngClass]="{'show': show.showBlock[1]}">
            <div class="col text-end" style="margin-bottom: 15px;">
              <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(1)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <h2>Редактировать значение</h2>
            
                  <form [formGroup]="waccForm">
                    <div class="row">
                      <div class="col">
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Процент:</mat-label>
                      <input matInput formControlName="parameter">
                    </mat-form-field>
                  
                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Источник:</mat-label>
                      <input matInput formControlName="source">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="example-full-width">
                      <mat-label>Показатель:</mat-label>
                      <input matInput formControlName="value">
                    </mat-form-field>

                    <div class="d-flex justify-content-end">
                      <button style="margin-bottom: 15px;" (click)="saveWacc()" mat-stroked-button
                        class="mat-btn-recolor">
                        <span class="d-flex align-items-center">
                          Сохранить
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
          </div>

          <div class="col create" [ngClass]="{'show': show.showBlock[2]}">
            <div class="col text-end" style="margin-bottom: 15px;">
              <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(2)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <h2>Редактировать ключ</h2>
            
                  <form [formGroup]="valForm">
                    <div class="row">
                      <div class="col">
                        <mat-form-field class="select-create" appearance="outline">
                          <mat-label>Выберите год</mat-label>
                          <mat-select formControlName="year" [(ngModel)]="selectedYear" (selectionChange)="onYearChange($event)">
                            <mat-option *ngFor="let year of yearsRange" [value]="year">{{ year }}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Параметр:</mat-label>
                          <input matInput formControlName="parameter">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="example-full-width">
                          <mat-label>Показатель:</mat-label>
                          <input matInput formControlName="value">
                        </mat-form-field>

                        <div class="d-flex justify-content-end">
                          <button style="margin-bottom: 15px;" (click)="saveVal()" mat-stroked-button
                            class="mat-btn-recolor">
                            <span class="d-flex align-items-center">
                              Сохранить
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>
