table {
  width: 100%;
}
::ng-deep .p-element.ng-trigger.ng-trigger-animation {
  width: 30vw;
  z-index: 1101;
  position: absolute;
  right: 0px;
  height: 100%;
  max-height: 100%;
  margin: 0;
}
::ng-deep.p-dialog .p-dialog-content {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
::ng-deep.p-dialog .p-dialog-header {
  background: var(--theme-modal-background) !important;
  color: var(--theme-modal-color) !important;
}
::ng-deep div.col.create.show > div > mat-tab-group > .mat-tab-header,
::ng-deep div.col.create.show.smoll-create > div > mat-tab-group > .mat-tab-header {
  top: -40px;
}
/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:var(--theme-modal-border) !important;
}
/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#eb8b2d) !important;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: var(--theme-tab-active-color) !important;
}
::ng-deep .mat-tab-label {
  color: var(--theme-tab-color) !important;
}
/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:rgba(0,0,0,.25) !important;
}
/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  color: #eb8b2d !important;
}
::ng-deep .mat-stroked-button-green {
  border: var(--theme-modal-button-recolor) !important;
}
.mat-header-cell,
.mat-cell {
  border-color: var(--theme-mat-cell-header-border-bg);
  color: var(--theme-mat-cell-header-color-bg);
}
.mat-cell {
  color: var(--theme-mat-cell-bg);
}
.mat-table {
  background: var(--theme-mat-table-bg);
}
.mat-paginator {
  display: block;
  background: var(--theme-mat-paginator-bg);
  color: var(--theme-mat-paginator-color-bg);
}
.mat-cell input, .mat-header-cell input {
  width: 90%;
  /* height: 100%; */
  padding: 0 ;
  margin: 0;
  border-bottom: 1px solid rgba(90, 90, 90, 0.295);
}
.content {
  overflow-y: scroll;
  height: 94vh;
}
.container-row-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
}
.tools-wrapper {
  display: flex;
  flex-direction: column;
}
.tools-title {
  color: #eb8b2d;
  font-size: 1.5rem;
  line-height: 1.1;
}
.tools-inner {
  color: #9f9d9d;
}
.more {
  color: #6c6c6c;
  border: var(--theme-nav-border) !important;
}
.more:hover {
  background: #B5DCA4;
}
.border-card {
  background: #eb8b2d;
  width: 100%;
  height: 5px;
}
.box-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.smoll-inp {
  width: 255px;
  margin: 5px;
}
.box-column {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.add {
  position: fixed;
  overflow: auto;
  padding: 25px;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 100vh;
  background: rgb(255 255 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
  transform: translateX(750px);
}
.add.show {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: flex-start;
  transform: translateX(0px);
}
/* .create {
  width: 35%;
} */
.example-full-width {
  width: 100%;
}
.select-create {
  width: 100%;
}
@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
