<!-- Пакет работ2 (Вывод) -->
<div class="card col" style="margin-top: 15px;padding: 15px" >
  <h2>Пакет работ</h2>
  <div class="col" >

    <table class="table table-striped" style="font-size: 12px;" *ngIf="estimated.getWorkPackage.length > 0">
      <thead>
        <tr>
          <th scope="col-4">№</th>
          <th scope="col-4">Название</th>
          <th scope="col">Подрядчик</th>
          <th scope="col">Стоимость итого</th>
          <th scope="col">Трудозатраты</th>
          <th scope="col">Описание</th>
          <th scope="col">Физ.объем</th>
          <th scope="col">Единица измерения</th>
          <th scope="col">Стоимость удельная</th>
          <th scope="col">Типовой раздел</th>
          <th scope="col">Регион</th>
          <th scope="col">Валюта</th>
          <th scope="col">Действия</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let item of estimated.getWorkPackage; let i = index">
          <th scope="row"><span >{{i+1}}</span></th>
          <td><span >{{ item.title }}</span></td>
          <td><span >{{ item.contractor }}</span></td>
          <td><span >{{ item.cost_total }}</span></td>
          <td><span >{{ item.mh }}</span></td>
          <td><span >{{ item.comments }}</span></td>
          <td><span >{{ item.volume }}</span></td>
          <td><span >{{ item.unit_of_measure }}</span></td>
          <td><span >{{ item.cost_pp }}</span></td>
          <td><span >{{ item.type }}</span></td>
          <td><span >{{ item.region }}</span></td>
          <td><span >{{ item.currency }}</span></td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  (click)="editWorkPackage(item); show.toggleShowBlock(9); estimated.toggleStyleFalse()">
                <mat-icon>edit</mat-icon>
                <span>Редактировать</span>
              </button>
              <button mat-menu-item (click)="delWorkPackage(item)">
                <mat-icon>clear</mat-icon>
                <span>Удалить</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- <p style="color: red;"> {{ item.title }}</p> -->
  </div>
</div>

<!-- Пакет работ (Редактирование2) -->
<div class="col create" [ngClass]="{'show': show.showBlock[9]}">
  <div class="d-flex col-12 justify-content-between">
    <div class="col">
      <h2>Пакет работ</h2>
    </div>
    <div class="col text-end">
      <button class="btn-table mat-btn-exit" mat-stroked-button (click)="closed()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

      <form [formGroup]="editWorkPackageForm">
        <div class="col">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Название:</mat-label>
                <input matInput formControlName="title">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Подрядчик:</mat-label>
                <input matInput formControlName="contractor">

              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Стоимость итого:</mat-label>
                <input matInput formControlName="cost_total">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Трудозатраты:</mat-label>
                <input matInput formControlName="mh">

              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Описание:</mat-label>
                <input matInput formControlName="comments">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Физ.объем:</mat-label>
                <input matInput formControlName="volume">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Единица измерения:</mat-label>
                <input matInput formControlName="unit_of_measure">

              </mat-form-field>

              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Стоимость удельная:</mat-label>
                <input matInput formControlName="cost_pp">

              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Типовой раздел:</mat-label>
                <mat-select formControlName="type" [(ngModel)]="TypePackageList">
                  <mat-option *ngFor="let option of getTypePackageList" [value]="option.id">{{option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Регион:</mat-label>
                <mat-select formControlName="region" [(ngModel)]="RegionList">
                  <mat-option *ngFor="let option of getRegionList" [value]="option.id">{{ option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Валюта:</mat-label>
                <mat-select formControlName="currency" [(ngModel)]="CurrencyList">
                  <mat-option *ngFor="let option of getCurrencyList" [value]="option.id">{{option.title}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-12">
              <div class="d-flex justify-content-start">
                <button (click)="saveWorkPackage(estId)" style="margin-bottom: 15px;" mat-stroked-button
                  class="mat-btn-recolor">
                  <span class="d-flex align-items-center">Сохранить</span>
                </button>
              </div>
            </div>
          </div>
      </form>

</div>