.more {
  color: #6c6c6c;
}
.changes-box {
  background-color: #b5dca4;
  color: #6c6c6c;
}
.added-box {
  background-color: #38824e;
  color: #fff;
}
.update-box {
  background-color: #eb8b2d;
  color: #fff;
}
.changes-no-box {
  background-color: #6c6c6c;
  color: #fff;
}
.knot {
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #6c6c6c!important;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #6c6c6c;
  }
}
.wbs {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: var(--theme-modal-background);
    color: var(--theme-modal-color);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 2;
} 
.wbs.show {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: start;
    /* transform: translateX(0px); */
    /* transition: margin-right .5s; */
    width: 85em;
    padding: 25px;
} 
::ng-deep .p-element.ng-trigger.ng-trigger-animation {
    width: 30vw;
    z-index: 1101;
    position: absolute;
    right: 0px;
    height: 100%;
    max-height: 100%;
    margin: 0;
  }
  ::ng-deep.p-dialog .p-dialog-content {
    background: var(--theme-modal-background) !important;
    color: var(--theme-modal-color) !important;
  }
  ::ng-deep.p-dialog .p-dialog-header {
    background: var(--theme-modal-background) !important;
    color: var(--theme-modal-color) !important;
  }