<app-header></app-header>
<app-alert></app-alert>
<div class="container-fluid" style="padding: 0px;">
  <div class="container-row-wrapper">
    <app-menu class="menu"></app-menu>

    <div class="col section content">
      <div class="tools">
        <div class="button-tools">
          
          <button matTooltip="Показать боковое меню" *ngIf="theme.isFull" class="chevron bnt-help--tools" (click)="theme.toggleCollapseFull()">
            <mat-icon>compare_arrows</mat-icon>
          </button>
          <!-- <button matTooltip="Добавить" class="chevron bnt-help--tools" (click)="show.toggleShowBlock(2);">
            <mat-icon>library_add</mat-icon>
          </button> -->
          <!-- <div class="mb-3">
            <input class="form-control" style="height: 35px;border-radius: 3px;" type="file" (change)="onChange($event)" id="formFile">
          </div>
          <button matTooltip="Синхронизировать" class="chevron bnt-help--tools" (click)="onUpload();" style="margin-left: 5px;">
            <mat-icon>autorenew</mat-icon>
          </button> -->
          <button matTooltip="Получить из primavera" class="chevron bnt-help--tools" (click)="onDown();" style="margin-left: 5px;">
            <mat-icon>vertical_align_bottom</mat-icon>
          </button>
          <button matTooltip="Отправить в primavera" class="chevron bnt-help--tools" (click)="toWbsPrimavera();" style="margin-left: 5px;">
            <mat-icon>vertical_align_top</mat-icon>
          </button>
          <button mat-stroked-button style="margin: 0px 5px 15px 0px;" class="more" (click)="fullLoad()">
            <span class="d-flex align-items-center">В СДР
              <mat-icon>vertical_align_top</mat-icon>
            </span> 
          </button>
          <button mat-stroked-button style="margin: 0px 5px 15px 0px;" class="more" (click)="fullUpload()">
            <span class="d-flex align-items-center">Из СДР
              <mat-icon>vertical_align_bottom</mat-icon>
            </span> 
          </button>
        </div>
        <div class="col tools-wrapper">
          <span class="tools-title">Синхронизация с primavera</span>
          <span class="tools-inner">Информационный раздел</span>
        </div>
      </div>

      <div class="col" style="padding: 10px;overflow-x: hidden;">
        <div class="d-flex flex-column">
          <div class="col">
            <mat-card class="budget" *ngIf="loading">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card>
            <mat-card class="budget" style="margin-bottom: 50px;" *ngIf="!loading">
              <mat-card-content style="overflow-x: scroll;">
 

                
                <!-- <mat-tree [dataSource]="structureViewDataSource[0]" [treeControl]="treeControl">
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                      <button mat-icon-button disabled></button>
                      <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)" (change)="todoLeafItemSelectionToggle(node);">
                        {{node.code_wbs}}. {{node.name}}
                      </mat-checkbox>
                  </mat-tree-node>
              
                  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
                  </mat-tree-node>
              
                  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                          <mat-icon class="mat-icon-rtl-mirror">
                              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                          </mat-icon>
                      </button>
                      <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                        {{node.code_wbs}}. {{node.name}}
                      </mat-checkbox>
                  </mat-tree-node>
              </mat-tree> -->

                <table *ngIf="currentViewIndex == 0" mat-table [dataSource]="structureViewDataSource[0]"
                class="mat-elevation-z8"
                style="width: 120%;box-shadow:none">
           <ng-container matColumnDef="name">
             <th mat-header-cell *matHeaderCellDef>
               <span [style.paddingLeft.px]="40"> Наименование </span>
             </th>
             <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'">
               <button mat-icon-button [style.visibility]="!data.expandable ? 'hidden' : ''"
                       [style.marginLeft.px]="data.level * 32" (click)="treeControl.toggle(data)"
               >
                 <mat-icon class="mat-icon-rtl-mirror">
                   {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
                 </mat-icon>
               </button>
    
               <span class="knot">
                  <mat-checkbox
                    style="padding-right: 10px;"
                    *ngIf="data.expandable"
                    (click)="showKnotAll(data)"
                    [checked]="descendantsAllSelected(data)"
                    [indeterminate]="descendantsPartiallySelected(data)"
                    (change)="todoItemSelectionToggle(data)">
                    {{data.item}}
                  </mat-checkbox>
                </span>

               <mat-checkbox
                  class="checklist-leaf-node"
                  (click)="showKnotSingle(data)"
                  [checked]="checklistSelection.isSelected(data)"
                  (change)="todoLeafItemSelectionToggle(data)">
                  {{data.item}}
                </mat-checkbox>

                 {{data.code_wbs}}. {{data.name}}

               <!-- <button *ngIf="tablesViewColumns[this.selectedTableId].length > data.level + 1"
                       title="Добавить {{clue[this.selectedTableId][data.level + 1]}}"
                       mat-icon-button class="row-button"
                       (click)="toggleFormVisibility(data.level, data)"
               >
                 <mat-icon>add</mat-icon>
               </button> -->
               <!-- <button *ngIf="tablesViewColumns[this.selectedTableId].length > data.level"
                       title="Редактировать {{clue[this.selectedTableId][data.level]}}"
                       mat-icon-button class="row-button"
                       (click)="toggleUpdateVisibility(data.level, data)"
               >
                 <mat-icon>edit</mat-icon>
               </button> -->
               <!-- <button title="Раскрыть карточку" mat-icon-button class="row-button"
                       (click)="toggleElementsListVisible(data, data.level, data.id)"
               >
                 <mat-icon>
                   play_arrow
                 </mat-icon>
               </button> -->
             </td>
           </ng-container>
          
          <ng-container matColumnDef="wbs_id">
            <th mat-header-cell *matHeaderCellDef> Статус </th>
            <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'">
                <mat-chip-list aria-label="Fish selection" *ngIf="(data.wbs_id == null) && (data.is_updated == false) && (data.guid !== '')">
                  <mat-chip class="added-box">Добавлен</mat-chip>
                </mat-chip-list>

                <mat-chip-list aria-label="Fish selection" *ngIf="(data.wbs_id !== null) && (data.is_updated == false) && (data.guid !== '')">
                  <mat-chip class="changes-box">Нет изменений</mat-chip>
                </mat-chip-list>

                <mat-chip-list aria-label="Fish selection" *ngIf="(data.is_updated == true) && (data.guid !== '')">
                  <mat-chip class="update-box">Обновлен</mat-chip>
                </mat-chip-list>

                <mat-chip-list aria-label="Fish selection" *ngIf="data.guid == ''">
                  <mat-chip class="changes-no-box">Нет в primavera</mat-chip>
                </mat-chip-list>
            </td>
          </ng-container>
           
           <ng-container matColumnDef="guid">
             <th mat-header-cell *matHeaderCellDef> Руководство </th>
             <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.guid}} </td>
           </ng-container>

           <ng-container matColumnDef="planned_start_date">
             <th mat-header-cell *matHeaderCellDef>  Дата начала primavera </th>
             <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.start_date}} </td>
           </ng-container>

           <ng-container matColumnDef="planned_end_date">
             <th mat-header-cell *matHeaderCellDef> Дата окончания primavera </th>
             <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.end_date}} </td>
           </ng-container>

           <ng-container matColumnDef="actual_start_date">
             <th mat-header-cell *matHeaderCellDef> Дата начал система </th>
             <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.start_date_node}} </td>
           </ng-container>

           <ng-container matColumnDef="actual_end_date">
            <th mat-header-cell *matHeaderCellDef> Дата окончания система </th>
            <td mat-cell *matCellDef="let data" [style.background-color]="data.filtered ? '#ffb374' : 'white'"> {{data.end_date_node}} </td>
          </ng-container>

           <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
              <span>Действия</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="actions_menu">
                <mat-icon>
                  more_vert
                </mat-icon>
              </button>
              <mat-menu #actions_menu="matMenu">
                <!-- <button mat-menu-item (click)="toggleUpdateVisibility(element.level, element); show.toggleShowBlock(0);">
                  <mat-icon>edit</mat-icon>
                  Редактировать
                </button> -->
                <!-- <button mat-menu-item (click)="delCommonCosts(element.common_budget_id)">
                  <mat-icon>clear</mat-icon>
                  Удалить
                </button> -->
              </mat-menu>
            </td>
          </ng-container>

           <tr mat-header-row *matHeaderRowDef="structureViewColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: structureViewColumns;"></tr>
         </table>
                
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-footer>
                <div class="border-card"></div>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="col wbs" [ngClass]="{'show': show.showBlock[0]}">
        <div class="col text-end" style="margin-bottom: 15px;">
          <button class="mat-btn-exit" mat-stroked-button (click)="show.closedAdd(0)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <h2>Найденные соотвествия</h2>
        <app-synch-primavera style="width: 100%;"></app-synch-primavera>
      </div>